@charset "utf-8";
/* CSS Document */

/*폰트*/
*, html, body {
	font-family:"맑은 고딕", "돋움", Verdana, Malgun Gothic, Arial !important;
	font-size:12px !important;
}
/*폰트 끝*/

body {
	margin:0;
	padding:0;
	background:#ECF0F3 url(../../images/background/body-patterngray-bg.png) !important;
	width:100%;
	height:100%;
	overflow-x:hidden;
	/*overflow-y:auto;*/ 
	min-height:10px;
	font-size:12px;
}
.bg {
	min-height:100%;
	min-width:100%;
	position:fixed;
	top:0;
	left:0;
	position:absolute;
	z-index:1;
}
img {
	border:0;
	vertical-align: middle;
}
/*label, input{
	vertical-align:middle;
}
*/
p {
	word-break:break-all;
}
ul, li, ol {
	list-style:none;
}
a {
	color:#222222;
	text-decoration:none;
}

/*wrap*/
.wrap {
	width:98% !important;
	height:100%;
	position:relative;
	z-index:50;
	margin:0;/*overflow:hidden*/

}
.headertop {
	border-top:1px solid #6B7A90 !important;
	border-right:1px solid #6B7A90 !important;
	border-bottom:1px solid #475365 !important;
	border-left:1px solid #808080 !important;
	padding:10px 0;
	border-radius:5px;
	/*background:#CFE0F7 ;*/
	border:1px solid #b5caca;
	background:#B1BAC7 url(../../images/background/headertop_bg.png) 50% 50% repeat-x !important;
}
.label-1 {
	margin-left:10px;
}
.label-2, .label-3 {
	background:url(../../images/img_icons/simple-dot-violet-icon.png) left no-repeat !important;
	padding-left:10px !important;
}
.label-4 .iwidget_grid_tip {
	height:28px;
	font-size:12px;
	background:url(../../images/img_icons/simple-Comment-blue-icon.png) left no-repeat !important;
	padding-left:25px;
	color:#30638D;
}
.i-DQ .label-bg {
	background:url(../../images/img_icons/simple-arrow-blue-icon.png) left no-repeat;
	font-size:12px !important;
	padding-left:15px;
	padding-bottom:3px;
	line-height:24px !important;
	color:#103da4 !important;
	margin-right:2px;
	font-weight:bold;
}
.i-DQ .label-2 {
	padding-right:20px;
}
.label-2 {
	padding-right:5px;
	padding-left:10px;
	font-size:12px;
	margin-right:2px;
	font-weight:bold;
	padding-bottom:2px;
	vertical-align:middle;
	line-height:24px;
	color:#103da4;
}
.label-5 {
	background:url(../../images/img_icons/bu_sqr_blue.gif) left no-repeat !important;
	padding-left:7px !important;
	margin-right:25px !important;
	font-size:13px !important;
	line-height:24px !important;
	color:#103da4 !important;
	font-weight:bold;
}
.label-table {
	background:none !important;
	font-size:12px !important;
	padding:0;
	margin:0;
	padding-bottom:3px;
	line-height:24px !important;
	color:#505050 !important;
	margin-right:0px;
	font-weight:normal;
}
.label-6 {
	line-height:21px;
	font-size:12px;
	color:#303030;
	background:url(../../images/img_icons/label-icon.png) left no-repeat;
	padding-left:10px !important;
	padding-bottom:3px !important;
}
.colorchange {
	font-size:12px !important;
	color:#202020 !important;
	font-weight:bold !important;
	padding:0 5px;
}
.colorchange1 {
	font-size:12px !important;
	color:#202020 !important;
	font-weight:bold !important;
	padding:0 5px;
}
.colorchange2 {
	color:#C00 !important;
	font-size:13px;
}
.label-colorchange {
	color:#112E77 !important;
	font-weight:normal;
	vertical-align:baseline;
}
.table_edit_label {
	color:#cb0606;
	background:url(../../images/img_icons/simple-required-red-icon.png) left no-repeat;
	padding-left:7px !important;
	font-weight:normal;
}
.iwidget_grid {
	margin-bottom:45px !important;
}
/*table*/
.table_Area .i-DQ-table {
	border-top:3px solid #30638d !important;
	border-right:1px solid #A1BAD9 !important;
	border-left:1px solid #A1BAD9 !important;
	border-bottom:1px solid #A1BAD9 !important;
	background:#ffffff;
}
.i-DQ-table input {
	text-align:left;
	text-indent:5px;
}
.i-DQ-table2 th {
	font-weight:bold !important;   /*????: boldo??*/
}
.inputNormal {
	border: 0px !important;
	padding-left: 5px;
	font-size:12px;
}
.i-DQ-table .textareaStyle {
	line-height:1.5em;
	background:#fefee8;
	text-align:left !important;
	text-indent:5px !important;
	border:1px solid #eeeeee !important;
	padding:0 !important;
	font-size:12px;
	width:100%;
	height:100%;
}
.textareaStyle2 {
	line-height:1.5em;
	background:#fefee8;
	text-align:left !important;
	text-indent:5px !important;
	height:70px !important;
	border:1px solid #eeeeee !important;
	padding:0 !important;
	font-size:12px;
}
.table_textarea {
	line-height:1.5em;
	background:#fefee8;
	text-align:left !important;
	height:70px !important;
	border:1px solid #eeeeee !important;
	padding:0 !important;
	font-size:12px;
	word-break:break-all;
	text-indent:10px;
}
.table_edit_textarea {
	line-height:1.5em;
	background:#fefee8;
	text-align:left !important;
	text-indent:5px !important;
	height:70px !important;
	border:1px solid #cccccc !important;
	padding:0 !important;
	font-size:12px;
}
.i-DQ-table .activetable {
	border-bottom:1px solid #A1BAD9 !important;
}
.inputtable {
	background:#fefee8;
	text-align:left;
	color:#2a2f3f !important;
	vertical-align:middle;
	border:1px solid #eeeeee !important;
	float:left;
	vertical-align:middle;
	margin:5px;
	font-size:12px;
}
.inputColorStyle {
	height:22px;
	line-height:1.5em;
	background:#fefee8;
	text-align:left !important;
	text-indent:5px !important;
	border:1px solid #eeeeee !important;
	padding:0 !important;
	font-size:12px;
	float:left;
}
.inputPercent {
	text-align:center !important;
	text-indent:0 !important;
	width:35px !important;
}
.inputLineStyle {
	height:22px;
	line-height:1.5em;
	background:#ffffff;
	text-align:left !important;
	text-indent:5px !important;
	border:1px solid #cccccc !important;
	padding:0 !important;
	font-size:12px;
	float:left;
}
.inputEditStyle {
	/*height:22px;
	line-height:1.5em;
	 background:#FDFDF3;
	 text-align:left !important;
	 text-indent:5px !important;
	 border:1px solid #d5c268 !important;
	 padding:0 !important;
	 font-size:12px;
	 float:left;
	 color:#444444;*/
	 float:left;
	height:22px;
	line-height:1.5em;
	background:#fefee8;
	color:#2a2f3f !important;
	border:1px solid #cccccc !important;
	text-indent:5px !important;
	font-size:12px;
	padding:0 !important;
	text-align:left !important;
}
.inputtable img {
	cursor:pointer !important;
}
/*.table_Area .i-DQ-table tr:nth-child(even) {
	background:#F0F5F9 !important;
}*/
.table_Area .i-DQ-table th {
	height:25px;
	font-size:12px !important;
	color:#223648;
	font-weight:normal !important;
	border-right:1px solid #91a3b4 ;
	border-bottom:1px solid #A1BAD9;
	background:#B8D2EB;
	text-align:center;
}
.table_Area .i-DQ-table th .text_left {
	text-align:center;
}
.table_Area .i-DQ-table td.text_left {
	text-align:left;
	padding-left:2% !important;
}
.textareaHeight {
	height:100px !important;
}
.textareaHeight_act {
	height:230px !important;
}
.dhtmlHeight {
	min-height:50px !important;
}
.td_number {
	text-align:ccenter !important;
}
.letterSpacing {
	letter-spacing:-1px;
}
.button_plus_minus {
	cursor:pointer;
}
.button_minus_minus {
	cursor:pointer;
}
.table_Area .i-DQ-table td {
	/*height:25px;*/
	font-size:12px !important;
	border-right:1px solid #e1e1e1;
	border-bottom:1px solid #e1e1e1;
	color:#010101;
	background:#ffffff;
	/*padding:5px;*/
	vertical-align:middle;
	/*padding-left:5px !important;*/
	padding:0 5px;
}
.table_box_bottom td{
	padding:0px 5px !important;
}
.td_side_left {
	padding-left:10px !important;
}
.td_side_left img {  /*달력이미지 위치조정*/
	float:left;
	padding-top: 4px;
	padding-left: 5px;
	cursor: pointer;
}
.td_side_center {
	text-align:center !important;
}
.activeStyle {
	background:#e4e9ee !important;
	color:#53687c !important;
}
.i-DQ-table .imagetable, .i-DQ-table2 .imagetable {
	width:8% !important;
	cursor:pointer;
	text-align:center !important;
	padding:0 !important;
}
/*셀렉트옵션*/
.styled_select {
	text-align:left !important;
	text-indent:5px !important;
	border: 1px solid #dadada !important;
	margin:0 auto;
	background:#FEFEE8;
	color:#000000 !important;
	float:left;
	vertical-align:middle;
	width:120px;
	font-size:12px;
	margin:5px;
}
.table_Area .i-DQ-table2 {
	border-top:3px solid #30638d !important;
	border-right:1px solid #A1BAD9 !important;
	border-left:1px solid #A1BAD9 !important;
	border-bottom:1px solid #A1BAD9 !important;
	background:#ffffff;
}
.i-DQ-table2 {
	margin-bottom:20px !important;
}
.i-DQ-table2 input {
	text-align:left !important;
	text-indent:5px;
	/* 	line-height:1.5em; 제거*/
	vertical-align: middle;
	border: 1px solid #dadada;
}
.i-DQ-table2 .textareaStyle {
	line-height:1.5em;
	/*border-left:2px solid #c3b389 !important;
	 border-top:1px solid #c3b389 !important;
	  border-right:none !important;
	  border-bottom:none !important; */
/* 	 background:#fefee8; */
	 background:#fefee8;
	text-align:left !important;
	text-indent:5px !important;
	height:100px !important;
	border:1px solid #eeeeee !important;
	padding:0 !important;
}
.i-DQ-table2 .activetable {
	/*background:#dbe8f2  !important;*/
	border-bottom:1px solid #A1BAD9 !important;
}
.i-DQ-table2 .activetable input[type=button] { /* 테이블 셀 안 버튼 디자인*/
	padding: 2px 9px 4px 5px !important;
	background: #E2EFFF !important;
	border: 1px solid #A1BAD9 !important;
	vertical-align: middle !important;
	text-align: center !important;
	color: #204aaa !important;
	font-weight: normal !important;
}
.table_Area .i-DQ-table2 th {
	height:30px;
	font-size:12px !important;
	color:#223648 !important;
	font-weight:normal !important;
	border-right:1px solid #91a3b4 !important;
	border-right:1px solid #91a3b4 !important;
	border-bottom:1px solid #A1BAD9 !important;
	background:#B8D2EB;
	text-align: center;
	padding-left: 2%;
}
 .table_Area .i-DQ-table2 th::first-line::after {
 content: "          ";
}
.i-DQ-table2 th {
	font-weight:normal !important;
}
.table_Area .i-DQ-table2 .th_height1 {
	height:100px !important;
}
.table_Area .i-DQ-table2 .th_height2 {
	height:90px !important;
}
.table_Area .i-DQ-table2 td {
	height:30px;
	font-size:12px !important;
	text-align:left;
	border-right:1px solid #e1e1e1 !important;
	border-bottom:1px solid #e1e1e1;/*padding-left: 5px;*/

}
.table_input_style {
	width:100%;
	height:100%;
	padding:0 !important;
	border:1px solid #dadada !important;
	vertical-align:middle;
	font-size:12px !important;
	color:#444444 !important;
}
.table_Area .textarea {
	width:100%;
	height:30px;
	font-size:12px !important;
	text-align:left;
	border-right:1px solid #e1e1e1 !important;
	border-bottom:1px solid #e1e1e1;
	padding-left:0px !important;
	margin:5px 0 5px 5px !important;
}
/*테이블 textarea 스타일*/
.table_Area .i-DQ-table-textarea {
	border-top:3px solid #30638d !important;
	border-right:1px solid #A1BAD9 !important;
	border-left:1px solid #A1BAD9 !important;
	border-bottom:1px solid #A1BAD9 !important;
	background:#ffffff;
}
.i-DQ-table-textarea {
	margin-bottom:20px !important;
}
.i-DQ-table-textarea input {
	text-align:left !important;
	text-indent:5px;
	/* 	line-height:1.5em; 제거*/
	vertical-align: middle;
	border: 1px solid #dadada;
}
.i-DQ-table-textarea .textareaStyle {
	line-height:1.5em;
	/*border-left:2px solid #c3b389 !important;
	 border-top:1px solid #c3b389 !important;
	  border-right:none !important;
	  border-bottom:none !important; */
	 background:#fefee8;
	text-align:left !important;
	text-indent:5px !important;
	height:100px !important;
	border:1px solid #eeeeee !important;
	padding:0 !important;
}
.textareaStyle4 {
	line-height:1.5em;
	/*border-left:2px solid #c3b389 !important;
	 border-top:1px solid #c3b389 !important;
	  border-right:none !important;
	  border-bottom:none !important; */
	 background:#fefee8;
	text-align:left !important;
	text-indent:5px !important;
	height:100px !important;
	border:1px solid #eeeeee !important;
	padding:0 !important;
}
.i-DQ-table-textarea .activetable {
	/*background:#dbe8f2  !important;*/
	border-bottom:1px solid #A1BAD9 !important;
}
/*셀이동 테이블*/
.move_table tr:hover td {
	background:#2b6897 !important;
	color:#ffffff !important;
	border-color:#2b6897 !important;
}
.move_button_align {
	text-align:center;
	padding:0;
	padding-top:50% !important;
}
/*이동테이블*/
.table_Area2 td:hover {
	background:#2b6897;
	color:#ffffff;
}
.table_Area2 td:active, .table_Area2 td:visited, .table_Area2 td:pressed {
 background:#2b6897;
}
/*.move_button li{
	margin:10px 0 !important;
}*/

/*calendar*/
.ui-datepicker {
	font-size: 12px !important;
}
/*리스트테이블 */
.table_Area .i-DQ-table-list {
	border-top:3px solid #30638d !important;
	border-right:0 !important;
	border-left:1px solid #A1BAD9 !important;
	border-bottom:1px solid #A1BAD9 !important;
	background:#ffffff;
}
.i-DQ-table-list {
	margin-bottom:20px !important;
}
.i-DQ-table-list .textareaStyle {
	line-height:1.5em;
	background:#fefee8;
	text-align:left !important;
	text-indent:5px !important;
	height:100px !important;
	border:1px solid #eeeeee !important;
	padding:0 !important;
}
.i-DQ-table-list .activetable {
	border-bottom:1px solid #A1BAD9 !important;
}
/* button in the table cell*/
.i-DQ-table-list .activetable input[type=button] {
	padding: 2px 9px 4px 5px !important;
	background: #E2EFFF !important;
	border: 1px solid #A1BAD9 !important;
	vertical-align: middle !important;
	text-align: center !important;
	color: #204aaa !important;
	font-weight: normal !important;
}
.table_Area .i-DQ-table-list th {
	height:30px;
	font-size:13px;
	color:#223648;
	font-weight:normal;
	border-right:1px solid #91a3b4;
	border-right:1px solid #91a3b4;
	border-bottom:1px solid #A1BAD9;
	background:#B8D2EB;
	text-align:center !important;
}
.table_Area .i-DQ-table-list td {
	height:20px;
	padding:5px 0;
	vertical-align:middle;
	font-size:12px !important;
	text-align:center !important;
	border-right:1px solid #e1e1e1 !important;
	border-bottom:1px solid #e1e1e1;
	margin: 5px !important;
}
.table_Area .i-DQ-table-list td.text_left {
	text-align:left !important;
	padding-left:10px !important;
	cursor:pointer;
}
.table_Area .i-DQ-table-list td.text_left {
	text-align:left !important;
	padding-left:10px !important;
	cursor:pointer;
}
.table_Area .i-DQ-table-list td.text_left:hover {
	color:darkblue;
	text-decoration:underline;
}
.table_Area .i-DQ-table-list tr:nth-child(odd) td {
	background:#F0F5F9 !important;
}
.table_Area .i-DQ-table-list td .inputtable {
	width:95%;
	margin:0 5px !important;
}
.table_Area .i-DQ-table-list .imagetable {
	width:10% !important;
	cursor:pointer;
	padding: 0 !important;
}
.table_Area .i-DQ-table-list .imagetable img {
	text-align: center !important;
}
.popup_top_title {
	font-size:13px;
	color:#223648 !important;
	background:url(../../images/img_icons/popup_List_icon.png) left no-repeat;
	padding-left:20px;
	vertical-align:middle;
}
.th_left_line {
	border-left:1px solid #91a3b4 !important;
}
.th_header_top_line {
	border-top:3px double #4C709C !important;
}
/*테이블 헤더영역 고정*/

.wrap_table {
	width:100%;
	height:455px;
	margin:0 auto;
	position:relative;
	border-top:1px solid #30638d !important;
	border-right:1px solid #A1BAD9 !important;
	border-left:1px solid #A1BAD9 !important;
	border-bottom:1px solid #A1BAD9 !important;
	background:#ffffff;
}
.header_table {
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:35px !important;
	border:0!important;
	background:#0E508D url(../../images/background/softgray-gradient-bg.png) 50% 50% repeat-x !important;
	border-bottom:1px solid #a9a9a9 !important;
}
.body_table {
	overflow-x:hidden;
	overflow-y:scroll;
	width:100%;
	height:100%;
}
.i-DQ-table-list {
	background-color: white;
	width: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
}
.th-inner {
	position: absolute;
	top:0;
	line-height: 35px;
	text-align: left;
	vertical-align:middle;
	font-size:13px !important;
	color:#30638D !important;
	font-weight:bold !important;
	padding-left:10px;
	margin-left:10px;
	background:url(../../images/img_icons/two_circel_blue_icon.png) left no-repeat;
	left:5px;
}
.i-DQ-table-list th {
	height:35px;
}
/*테이블 헤더영역 고정2*/
.t_header_fix {
	position:absolute;
	left:0;
	top:0;
	width:100%;
	border:0!important;
	background:none;
}
.t_table_fix th {
	font-size:12px;
	color:#223648;
	font-weight:normal;
	border-right:1px solid #91a3b4;
	border-right:1px solid #91a3b4;
	border-bottom:1px solid #A1BAD9;
	background:#B8D2EB;
	/* 	text-align: center !important; */
/*  	padding: 2px 0 !important; */
	text-align:center !important;
}
.t_table_fix th .th-inner {
	top:-5px;
	text-align: center !important;
	vertical-align:middle;
	font-size:12px !important;
	color:#30638D !important;
	font-weight:bold !important;
	padding-left:0px;
	margin-left:0px;
	position:relative;
	height:25px;
}
.t_table_fix td {
	height:20px;
	vertical-align:middle;
	font-size:12px !important;
	text-align:center !important;
	border-right:1px solid #e1e1e1 !important;
	border-bottom:1px solid #e1e1e1;
}
/*테이블조회스타일*/
.search_table tr:hover td {
	background:#2b6897 !important;
	border-right:1px solid transparent !important;
	color:#ffffff !important;
}
.search_table tr:nth-child(odd) td {
	background:#F0F5F9 !important;
}
.search_table tr:nth-child(odd):hover td {
	background:#2b6897 !important;
}
.search_table tr:hover td a {
	color:#ffffff !important;
	text-decoration:underline !important;
	cursor:pointer;
}
.underline-t {
	color:#007755 !important;
	font-size:12px;
	text-decoration:underline !important;
	cursor:pointer;
}
.underline-t:hover {
	/*color:#ffffff !important;
	font-size:12px;
	text-decoration:underline !important;
	cursor:pointer;*/
}
.search_table td, .search_table2 td {
	letter-spacing:-1px;
}
.underline-d {
	color:#007755 !important;
	font-size:12px;
	text-decoration:underline !important;
	cursor:pointer;
}
.underline-d:hover {
	color:red !important;
	font-size:12px;
	text-decoration:underline !important;
	cursor:pointer;
}
/*다국어 버튼*/
.language_btn {
	float:left;
	cursor:pointer;
	text-indent:0 !important;
	padding:2px 5px !important;
	border:1px solid #cccccc !important;
	background:url(../../images/background/softgray-gradient-bg.png) 50% 50% repeat-x !important;
	border-radius:5px;
	margin:0 10px !important;
}
.language_btn img {
	padding-left:0 !important;
	padding-right:5px;
}
.inputSideStyle {
	margin-bottom:5px;
	margin-left:10px;
}
.table-in-table {
	border:1px solid #cccccc !important;
	border-right:0 !important;
}
.table-in-table td {
	border-top:0 !important;
	border-left:0 !important;
	border-bottom:0 !important;
	border-right:0 !important;
}
.table-in-tlabe-caption {
	text-align:left;
	padding-left:0px;
	padding-bottom:5px;
}
.language_label {
	width:96%;
	float:left;
	border:1px solid #99BBED;
	padding:5px;
	padding-right:0 !important;
	padding-bottom:0 !important;
	border-radius:5px;
	background:#DFE8F8;
}
.language_font {
	/* color:#B1405C;*/
	color:#034491;
	vertical-align:middle;
	padding-left:3px;
}
/*시스템관리*/
/*.iwidget_label{
 	background:#dce7eb ;
	border:1px solid #b5caca;
	border-radius:5px ;
	padding:10px 0;;
	margin-bottom:10px;

}*/
.iwidget_label_group {
	background:#ffffff url(../../images/background/bg_fill.png) 50% 50% repeat-x;
	border-top:0;
	border-top:1px solid #E9E9E9;
	border-bottom:1px solid #b5caca;
	padding:10px 0 0 0;
	margin-bottom:10px;
}
.group_wrap_table {
	width:100%;
	height:100%;
	margin:0 auto;
	position:relative;
	border:0 !important;
	border:1px solid #E9E9E9 !important;
	background:#ffffff;
	border-radius:5x;
	-moz-border-radius:5x;
	-ms-border-radius:5x;
	-o-border-radius:5x;
	-webkit-border-radius:5x;
	border-top-left-radius:10px;
	-moz-border-top-left-radius:10px;
	-ms-border-top-left-radius:10px;
	-o-border-top-left-radius:10px;
	-webkit-border-top-left-radius:10px;
	border-top-right-radius:10px;
	-moz-border-top-right-radius:10px;
	-ms-border-top-right-radius:10px;
	-o-border-top-right-radius:10px;
	-webkit-border-top-right-radius:10px;
}
.group_header_table {
	position:relative;
	left:0;
	top:0;
	width:100%;
	height:35px !important;
	border:0 !important;
	background:#ced7e1 !important;
	border:1px solid #bbc2ca !important;
	border-bottom: 1px solid #cccccc !important;
	border-top-left-radius:10px;
	-moz-border-top-left-radius:10px;
	-ms-border-top-left-radius:10px;
	-o-border-top-left-radius:10px;
	-webkit-border-top-left-radius:10px;
	border-top-right-radius:10px;
	-moz-border-top-right-radius:10px;
	-ms-border-top-right-radius:10px;
	-o-border-top-right-radius:10px;
	-webkit-border-top-right-radius:10px;
}
.group_body_table {
	overflow-x:hidden;
	overflow-y:scroll;
	width:100%;
	height:482px;
}
.group_move_button_align {
	text-align:center;
	padding:0;
	padding-top:0% !important;
}
.group_move_button li {
	margin:10px 0 !important;
}
/*table_Area*/
/*.i-DQ-table-group*/
.i-DQ-table-group-list {
	background-color: white;
	width: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
}
.i-DQ-table-group-list th-inner {
	position: absolute;
	top:0;
	line-height: 35px;
	text-align: left;
	vertical-align:middle;
	font-size:13px !important;
	color:#30638D !important;
	font-weight:bold !important;
	padding-left:10px;
	margin-left:10px;
	background:url(../../images/img_icons/two_circel_blue_icon.png) left no-repeat;
	left:5px;
}
.table_Area .i-DQ-table-group-list td {
	padding:7px 3px 11px 25px !important;
	vertical-align:middle !important;
	text-align:left !important;
	border:0 !important;
	border-bottom:1px solid #e9e9e9 !important;
	list-style:none;
}
.table_Area .i-DQ-table-group-list td a {
	text-decoration:none !important;
	font-size:12px !important;
	color:#3f3f3f;
}
.table_Area .i-DQ-table-group-list td a:hover {
	text-decoration:underline !important;
	font-size:12px !important;
	color:#00a2e8 !important;
}
.table_Area .i-DQ-table-group-list td.text_left:hover {
	background:#f7f7f7 !important;
	color:#00a2e8 !important;
}
.table_Area .i-DQ-table-group-list td.text_left {
	text-align:left !important;
	padding-left:20px !important;
	cursor:pointer;
}
.table_Area .i-DQ-table-group-list td .inputtable {
	width:95%;
	margin:0 5px !important;
}
.table_Area .i-DQ-table-group-list .imagetable {
	width:10% !important;
	cursor:pointer;
	padding: 0 !important;
}
.table_Area .i-DQ-table-group-list .imagetable img {
	text-align: center !important;
}
.activeColor {
	background:#2e7ed8 !important;
}
/*컨텐츠관리*/
.iwidget_label_contents {
	padding:5px;
}
.iwidget_label_contents h1 {
	font-size:13px;
	color:#225E8E;
	text-align:left;
	padding-right:5px;
	padding-left:10px;
	padding-bottom:5px;
	border-bottom:1px solid #A1BAD9;
}
.iwidget_label_contents span {
	font-size:13px;
	vertical-align:inherit !important;
}
.label_contents {
	width:100%;
	min-height:72px;
}
.label_contents h4 {
	font-size:12px;
	color:#c0c2c6;
	font-weight:700;
	margin-bottom:0;
}
.label_contents p {
	width:100%;
	position:relative;
	padding-left:10px;
	margin:0;
}
.label_font_active {
	font-weight:bold;
}
/*contentsArea*/
.contentsArea {
	width:96%;
	height:100%;
	margin:10px auto;
	text-align:center;
	background:#ffffff;
	border-radius:10px;
	position:relative;
	box-shadow:0px 1px 3px rgba(0,0,0,0.1);
	-moz-box-shadow:0px 1px 3px rgba(0,0,0,0.1);
	-webkit-box-shadow:0px 1px 3px rgba(0,0,0,0.1);
}
.contentsArea h2 {
	padding:10px 20px;
	text-align:left !important;
	color:#aaaaaa;
	line-height:36px;
	font-size:17px;
	font-weight:normal;
	border-top:1px dashed #cccccc;
}
.con {
	display:inline-block;
	padding:10px;
	margin:10px 0;
}
.layout {
	width:100%;
	padding-top:10px;
}
.layoutbox_check {
	float:left;
	margin:10px;
	border:2px solid #cccccc;
	padding:5px;
	background:url(../../images/background/contentsArea_bg.png);
	border-radius:5px;
}
.layoutbox_check:hover {
	border:2px solid #A1BAD9;
	padding:5px;
	border-radius:5px;
}
.check_radio {
	margin-top:3px;
}
.layoutbox {
	width:98%;
	margin:0 auto;
}
/*평가*/
.survey_Area {
	border-top:1px solid #cccccc;
	border-left:1px solid #cccccc;
	border-right:1px solid #cccccc;
	height:100%;
	border-top-left-radius:8px;
	-moz-border-top-left-radius:8px;
	-ms-border-top-left-radius:8px;
	-o-border-top-left-radius:8px;
	-webkit-border-top-left-radius:8px;
	border-top-right-radius:8px;
	-moz-border-top-right-radius:8px;
	-ms-border-top-right-radius:8px;
	-o-border-top-right-radius:8px;
	-webkit-border-top-right-radius:8px;
}
.survey_Area_totalscore {
	margin-top:20px;
}
.survey_Area_totalscore th {
	text-align:center;
	color:#ffffff !important;
	font-size:14px;
	padding:6px 0;
	background:#007FB7 url(../../images/background/contents_total_title_bg.png) 50% 50% repeat-x;
	border-bottom:1px solid #007FB7;
	border-top:1px solid #007FB7;
	border-left:1px solid #007FB7;
	border-top-left-radius:8px;
	-moz-border-top-left-radius:8px;
	-ms-border-top-left-radius:8px;
	-o-border-top-left-radius:8px;
	-webkit-border-top-left-radius:8px;
	border-bottom-left-radius:8px;
	-moz-border-bottom-left-radius:8px;
	-ms-border-bottom-left-radius:8px;
	-o-border-bottom-left-radius:8px;
	-webkit-border-bottom-left-radius:8px;
}
.border-round {
	border-top-right-radius:8px;
	-moz-border-top-right-radius:8px;
	-ms-border-top-right-radius:8px;
	-o-border-top-right-radius:8px;
	-webkit-border-top-right-radius:8px;
	border-bottom-right-radius:8px;
	-moz-border-bottom-right-radius:8px;
	-ms-border-bottom-right-radius:8px;
	-o-border-bottom-right-radius:8px;
	-webkit-border-bottom-right-radius:8px;
}
.survey_Area_totalscore td {
	border-bottom:1px solid #007FB7;
	border-top:1px solid #007FB7;
	border-right:1px solid #007FB7;
	text-align:center;
	padding:6px 0;
	font-size:13px;
	color:#332929;
	table-layout:fixed;
	word-break:break-all;
	white-space:nowrap;
}
.survey_Area_totalscore span {
	font-size:14px !important;
	padding-right:10px;
	color:#FF0000;
	font-weight:bold;
}
.pageIMFE0059 .label-1 {
	margin-left:10px;
}
.survey_table {
	margin:10px auto;
	margin-top:25px !important;
}
.survey_table th {
	height:30px;
	font-size:13px;
	color:#2A2B2D;
}
.survey_table_check {
	margin:3p x0;
	padding:0;
	border:1px solid #C5CBD7;
	border-radius:5px;
	-moz-border-radius:5px;
	-ms-border-radius:5px;
	-o-border-radius:5px;
	-webkit-border-radius:5px;
}
.survey_table_check td {
	height:30px;
	font-size:12px;
	color:#222222;
	padding:0 10px;
	vertical-align:middle;
}
.survey_table_check input {
	vertical-align:middle;
	margin:0px;
}
.qNumber {
	font-size:16px;
	font-weight:normal;
	color:#7a7a7a;
	position:relative;
	top:1px;
}
.survey_table_check_text th {
	width:10%;
	margin-left:20px !important;
	padding:0 10px;
	color:#007FB7;
	font-weight:normal;
	text-align:center;
	font-size:13px;
	vertical-align:middle;
	line-height:19px;
	background:url(../../images/background/contents_table_inputstyle_title_bg.png) 50% 50% repeat-x;
	height:50px;
	border:1px solid #8eb4d2;
	border-right:0 !important;
}
.survey_table_check_text td {
	height:50px;
	margin-left:0px !important;
	padding-left:0px !important;
}
.survey_table_check_text textarea {
	border:1px solid #8eb4d2 !important;
	margin:0 auto !important;
	width:100% !important;
	vertical-align:middle;
	color:#505050 !important;
	word-break:break-all;
	height:50px;
	min-height:22px;
	text-indent:5px;
	text-align:justify;
}
.survey_table_check_text {
	margin-top:20px;
	margin-left:10px !important;
}
/*total table*/
.total_table {
	border-top:1px solid #516D82 !important;
	border-right:1px solid #91a3b4 !important;
	border-left:1px solid #91a3b4 !important;
	border-bottom:1px solid #A1BAD9 !important;
	background:#ffffff;
	border-top-left-radius:5px;
	-moz-border-top-left-radius:5px;
	-ms-border-top-left-radius:5px;
	-o-border-top-left-radius:5px;
	-webkit-border-top-left-radius:5px;
	border-top-right-radius:5px;
	-moz-border-top-right-radius:5px;
	-ms-border-top-right-radius:5px;
	-o-border-top-right-radius:5px;
	-webkit-border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	-moz-border-bottom-left-radius:5px;
	-ms-border-bottom-left-radius:5px;
	-o-border-bottom-left-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	-moz-border-bottom-right-radius:5px;
	-ms-border-bottom-right-radius:5px;
	-o-border-bottom-right-radius:5px;
	-webkit-border-bottom-right-radius:5px;
}
.total_table th {
	height:20px;
	padding:5px;
	font-size:13px;
	color:#ffffff;
	font-weight:bold;
	border-right:1px solid #91a3b4;
	border-right:1px solid #3C5265;
	border-bottom:1px solid #2D3B43;
	background:#3C5265 url(../../images/background/total_bg_top.png) 50% 50% repeat-x;
	text-align:center;
	vertical-align:middle;
}
.header_bg_sec {
	background:url(../../images/background/total_bg_top2.png) 50% 50% repeat-x !important;
}
.total_table td {
	height:30px;
	padding:5px;
	vertical-align:middle;
	background:#ffffff url(../../images/background/jqxNavigationBar_header_bg.gif) repeat-x;
	border-right:1px solid #cfcfcf;
}
.total_table td span {
	font-size:13px;
	font-weight:bold;
	color:#000000;
}
/*label new*/
.label-a {
	padding-right:0px;
	padding-left:12px;
	font-size:0.9em;
	margin-right:0px;
	font-weight:bold;
	padding-bottom:	3px !important;
	vertical-align:middle;
	color:#092c4f;
	background:#a3bdd5;
	border:1px solid #728ca5;
	border-radius:20px;
	-moz-border-radius:20px;
	-ms-border-radius:20px;
	-o-border-radius:20px;
	-webkit-border-radius:20px;
	border-top-right-radius:0px !important;
	border-bottom-right-radius:0px !important;
	text-align:left;
	margin-top:0px !important;
	border-right:0 !important;
	margin-right:0 !important;
}
.label-b {
	font-size:12px;
	color:#0067af;
	background:none;
	vertical-align:middle;
	padding-left:15px;
	padding-bottom:3px !important;
	margin:0 0 0 0px !important;
	margin-left:25px !important;
	font-weight:bold;
	background:url(../../images/img_icons/right_arrow_icon.png) left no-repeat;
}
.label-c {
	font-size:12px;
	color:#202020;
	background:none;
	vertical-align:middle;
	padding-left:10px;
	padding-bottom:3px !important;
	margin:0 0 0 0px !important;
	margin-left:40px !important;
	font-weight:normal;
	background:url(../../images/img_icons/icon_sqare_dot.gif) left no-repeat;
}
.label-d{
	font-size:12px;
	color:#202020 ;  
	background:none;
	vertical-align:middle;
	padding-left:10px;	
	padding-bottom:3px !important;
	margin:0 0 0 0px !important;
	margin-left:0px !important;
	font-weight:normal;
	background:url(../images/img_icons/sqare_blue_icon.png) left no-repeat;
	
}
.txt_style {
	line-height:1.2em;
	background:#ffffff;
	text-align:left;
	text-indent:5px;
	height:150px;
	border:1px solid #aebecc;
	padding:0;
	overflow-y:scroll;
	font-size:12px;
	margin:0px;
	width:100%;
	margin-left:40px !important;
}
.txt_style_readonly {
	line-height:1.2em;
	background:#f3f3f3;
	text-align:left;
	text-indent:5px;
	height:150px;
	border:1px solid #aebecc;
	padding:0;
	overflow-y:scroll;
	font-size:12px;
	margin:0px;
	width:630px !important;
	margin-left:25px !important;
}
.label-chk {
	vertical-align:middle;
	margin:0;
	padding:0;
	float:left;
	display:inline-table;
	font-size:12px;
	margin-left:0px;
	color:#202020;
	font-weight:normal;
	margin-right:5px;
}
.label-link {
	vertical-align:middle;
	margin:0;
	padding:0;
	float:left;
	display:inline-table;
	font-size:12px;
	margin-left:50px !important;
	color:#202020;
	font-weight:normal;
}
.label-link a {
	font-size:12px;
	color:#204B76;
	text-decoration:underline;
}
.label-link a:hover {
	font-size:12px;
	color:#0090ff;
	text-decoration:underline;
}
.label-link img {
	padding:0 5px 0 0;
	vertical-align:middle;
}
.table-style td {
	height:24px !important;
}
.table-style td:last-child {
	border-right:0 !important;
	border-bottom-right-radius:5px;
	-moz-border-bottom-right-radius:5px;
	-ms-border-bottom-right-radius:5px;
	-o-border-bottom-right-radius:5px;
	-webkit-border-bottom-right-radius:5px;
}
.table-style td img {
	cursor:pointer;
}
.table-style .table_input_style {
	width:100%;
	height:17px;
	padding:0 !important;
	border:1px solid #dadada !important;
	vertical-align:middle;
	font-size:12px !important;
	background:#FFFFCB !important;
	color:#444444 !important;
	border-radius:0px !important;
}
.con_table p {
	margin:0;
	padding-top:0;
	padding-bottom:0;
}
.con_table .label-2 {
	float:left;
	margin-right:10px;
}
.con_table .colorchange_top {
	margin-left:5px !important;
	color:#000000 !important;
	font-weight:bold;
}
.con_table .colorchange {
	margin-left:20px !important;
	color:#000000 !important;
}
.left_aj {
	margin-left:40px !important;
	color:#202020 !important;
	font-size:12px;
	font-weight:bold;
}
.label_01 {
	width:100%;
	margin:0 !important;
	padding: 10px 0px 0 0;
	border-bottom:0;
}
.label_02 {
	width:100%;
	margin:0 !important;
	padding: 10px 0px 0 0;
	border-bottom:0;
}
.label_03 {
	width:100%;
	margin:0 !important;
	padding: 10px 0px 0 0;
	;
}
.label_04 {
	width:100%;
	margin:0 !important;
}
.label_04 .label-b {
	float:left;
}
.table_bg .i-DQ-table {
	border:0 !important;
}
.table_bg {
	border-top:3px solid #30638d !important;
	border-right:1px solid #A1BAD9 !important;
	border-left:1px solid #A1BAD9 !important;
	border-bottom:1px solid #A1BAD9 !important;
	background:#ffffff;
	border-radius:3px !important;
	-moz-border-radius:3px !important;
	-ms-border-radius:3px !important;
	-o-border-radius:3px !important;
	-webkit-border-radius:3px !important;
}
.table_Area .table_box th.table_title {
	border-bottom:1px solid #6895ba !important;
	font-weight:bold;
	height:30px;
	padding-left:0 !important;
	text-align: center !important;
}
.table_Area .table_box th.table_title_s {
	width:12% !important;
	padding:0 10px !important;
	text-align:right !important;
	padding-right:10px !important;
}
.table_Area .table_box td .table_input {
	height:17px !important;
	background:#ffffff !important;
	border:1px solid #dadada !important;
	text-indent:5px !important;
	vertical-align:middle !important;
	text-align:left !important;
	float:left !important;
	margin:0 1% !important;
	display:inline-table !important;
}
.table_Area .table_box td .table_combobox {
	margin:0 1% !important;
	height:19px !important;
}
.table_combo .jqx-combobox-input {
	height:19px !important;
	background:#ffffff !important;
	font-size:12px;
}
.table_Area .table_box td.table_textarea_1 {
	height:100px !important;
	padding:5px !important;
}
.table_Area .table_box td.table_textarea_2 {
	height:30px !important;
	padding:5px !important;
}
.table_Area .table_box td.table_textarea_1 textarea, .table_Area .i-DQ-table2 td.table_textarea_2 textarea {
	width:100% !important;
	height:100% !important;
}
.table_Area .table_box th.table_mix {
	width:12% !important;
	padding:0 10px !important;
	text-align:right !important;
}
.table_Area .table_box th.table_mix .table_mix_title {
	font-size:12px !important;
	font-weight:bold !important;
	color:#223648 !important;
	padding-right:0px !important;
	text-align:right !important;
}
/*인사정보*/
.iwidget_tableform_head {
	padding:7px 0;
	background:#0A3B63;
	width:100%;
	border:1px solid #0A3B63;
	border-bottom:0 !important;
}
.table_info .table_box {
	border-left:1px solid #91A3B4;
	border-right:1px solid #91A3B4;
	border-bottom:1px solid #91A3B4;
	padding:0;
	background:#B8D2EB;
	margin-bottom:10px !important;
	padding:7px 0;
}
.table_info .table_box tbody {
	background:#B8D2EB;
}
.table_info .table_box .table_box_headtitle {
	background:#0a3b63;
	color:#ffffff;
	padding:7px 0;
	font-size:13px;
}
.table_info .table_box .table_box_photo {
	/*background:#C6CDE0;
	width:60px;
	height:100%:*/
	padding:0 10px;
}
.table_info .table_box .table_box_photo img {
	text-align:center;
	border:2px solid #ffffff;
}
.table_info .table_box th.table_title {
	border-bottom:1px solid #6895ba !important;
	font-weight:bold;
	height:30px;
	padding-left:0 !important;
	text-align: center !important;
}
/*.table_Area .table_box td.table_title_s {
	width:12% !important;
	padding:0 10px !important;
	text-align:right !important;	
	padding-right:10px !important;
	border:0;
	
}*/
.table_info .table_box td.table_title_s {
	padding:5px !important;
	text-align:right !important;
	border-right:0 !important;
}
.table_info .table_box td .table_input {
	background:#e7eef5 !important;
	border:1px solid #94a7b8 !important;
	padding-left:5px !important;
	vertical-align:middle !important;
	text-align:left !important;
	float:left !important;
	margin:0;
	/*display:inline-table !important;*/
	font-weight:normal !important;
	font-size:12px;
	border-radius:3px;
	-moz-border-radius:3px;
	-ms-border-radius:3px;
	-o-border-radius:3px;
	-webkit-border-radius:3px;
	width:80px;
	height:14px;
	padding:2px 5px 4px 5px !important;
}
.table_info .table_box td .table_combobox {
	margin:0 1% !important;
	height:19px !important;
}
.table_info .table_box td.table_textarea_1 {
	height:100px !important;
	padding:5px !important;
}
.table_info .table_box td.table_textarea_2 {
	height:30px !important;
	padding:5px !important;
}
.table_info .table_box td.table_textarea_1 textarea, .table_Area .i-DQ-table2 td.table_textarea_2 textarea {
	width:100% !important;
	height:100% !important;
}
.table_info .table_box th.table_mix {
	padding:0px !important;
	text-align:right !important;
	border:0 !important;
	padding:0 !important;
	height:30px;
}
.table_info .table_box th.table_mix .table_mix_title {
	font-size:12px !important;
	font-weight:bold !important;
	color:#223648 !important;
	padding-right:0px !important;
	text-align:right !important;
}
/*탭*/
.tab_Area .jqx-tabs-header-SophisticatedLayout {
	height:28px !important;
}
.tab_Area .jqx-tabs-content-element {
	background:#aabbcb;
	padding-bottom:10px;
	height:385px;
	border-bottom:1px solid #91A3B4;
	border-left:1px solid #91A3B4;
	border-right:1px solid #91A3B4;
}
.table_box_div {
	border:1px solid #91A3B4;
	background:#ffffff;
	border-radius:5px;
}
.tab_table_box {
	border:0 !important;
	background:none !important;
}
.tab_table_box th {
	border:0 !important;
	background:none !important;
	padding:5px 3px 2px 0px;
	font-weight:bold !important;
	min-width:80px !important;
	text-align:right !important;
	color:#223648;
	font-size:12px;
}
.tab_table_box td {
	padding:3px 2px;
	font-weight:bold !important;
	color:#000000 !important;
	width:auto;
}
.tab_table_box td .tab_input {
	float:left;
	-webkit-appearance: none;
	padding: 0 0 0 0;
	outline: none;
	border-width: 1px;
	border-style: solid;
	-moz-background-clip: padding;
	background-clip: padding-box;
	-webkit-background-clip: padding-box;
	padding: 0 0 !important;
	margin:0 !important;
	vertical-align:middle !important;
	border:1px solid #4e8ac5 !important;
	border-radius:3px !important;
	-moz-border-radius:3px !important;
	-ms-border-radius:3px !important;
	-o-border-radius:3px !important;
	-webkit-border-radius:3px !important;
	background:#E3F1FE url(../../images/background/bg_grid_header.png) 50% 50% repeat-x !important;
	text-indent:0px !important;
	padding:2px 5px 4px 5px !important;
	width:80px;
	height:14px;
}
.tab_table_box td .tab_input_normal {
	float:left;
	-webkit-appearance: none;
	padding: 0 0 0 0;
	outline: none;
	border-width: 1px;
	border-style: solid;
	-moz-background-clip: padding;
	background-clip: padding-box;
	-webkit-background-clip: padding-box;
	padding: 0 0 !important;
	margin:0 !important;
	vertical-align:middle !important;
	border:1px solid #4e8ac5 !important;
	border-radius:3px !important;
	-moz-border-radius:3px !important;
	-ms-border-radius:3px !important;
	-o-border-radius:3px !important;
	-webkit-border-radius:3px !important;
	background:#E3F1FE url(../../images/background/bg_grid_header.png) 50% 50% repeat-x !important;
	text-indent:0px !important;
	padding:4px 5px 2px 5px !important;
	width:70%;
	height:15px;
	font-weight:normal;
}
.tab_input_Unit {
	float:left;
	-webkit-appearance: none;
	padding: 0 0 0 0;
	outline: none;
	border-width: 1px;
	border-style: solid;
	-moz-background-clip: padding;
	background-clip: padding-box;
	-webkit-background-clip: padding-box;
	padding: 0 0 !important;
	margin:0 !important;
	vertical-align:middle !important;
	border:1px solid #4e8ac5 !important;
	border-radius:3px !important;
	-moz-border-radius:3px !important;
	-ms-border-radius:3px !important;
	-o-border-radius:3px !important;
	-webkit-border-radius:3px !important;
	background:#E3F1FE url(../../images/background/bg_grid_header.png) 50% 50% repeat-x !important;
	text-indent:0px !important;
	padding:2px 5px 4px 5px !important;
	width:40px;
	height:14px;
	text-align:center;
	font-weight:normal;
}
.tab_Unit {
	float:left;
	vertical-align:middle;
	padding:0 5px;
	margin-top:5px;
	font-weight:normal;
}
.tab_table_box td .tab_input span {
	color:#302020 !important;
	font-weight:normal !important;
}
.tab_Area .jqx-tabs-title {
	padding-right:6px !important;
	padding-left:6px !important;
	border-top-left-radius:5px !important;
	-moz-border-top-left-radius:5px !important;
	-ms-border-top-left-radius:5px !important;
	-o-border-top-left-radius:5px !important;
	-webkit-border-top-left-radius:5px !important;
	border-top-right-radius:5px !important;
	-moz-border-top-right-radius:5px !important;
	-ms-border-top-right-radius:5px !important;
	-o-border-top-right-radius:5px !important;
	-webkit-border-top-right-radius:5px !important;
}
/*table box*/
.table_box {
	background:#dce7eb;
	border:1px solid #b5caca;
	border-radius:3px;
}

/*input type='file'*/
.file_input_textbox {
	float:left;
	width:350px;
	border:1px solid #cccccc;
	resize:none;
	line-height:14px;
	background:#FEFEE8;
	border-top-left-radius:3px;
	-moz-border-top-left-radius:3px;
	-ms-border-top-left-radius:3px;
	-o-border-top-left-radius:3px;
	-webkit-border-top-left-radius:3px;
	border-bottom-left-radius:3px;
	-moz-border-bottom-left-radius:3px;
	-ms-border-bottom-left-radius:3px;
	-o-border-bottom-left-radius:3px;
	-webkit-border-bottom-left-radius:3px;
}
.file_input_wide_textbox{
	float:left;
	width:760px;
	border:1px solid #cccccc;
	resize:none;
	line-height:14px;
	background:#FEFEE8;
	border-top-left-radius:3px;
	-moz-border-top-left-radius:3px;
	-ms-border-top-left-radius:3px;
	-o-border-top-left-radius:3px;
	-webkit-border-top-left-radius:3px;
	border-bottom-left-radius:3px;
	-moz-border-bottom-left-radius:3px;
	-ms-border-bottom-left-radius:3px;
	-o-border-bottom-left-radius:3px;
	-webkit-border-bottom-left-radius:3px;
}
.file_input_div {
	position:relative;
	width:100px;
	height:23px;
	overflow: hidden;
}
.file_input_button {
	width:100px!important;
	position:absolute!important;
	top:0px!important;
	background:#dadada url(../../images/background/jqxNavigationBar_button_hover_bg.png) 50% 50% repeat-x!important;
	color:#333333!important;
	border:1px solid #cccccc!important;
	border-bottom:1px solid #afafaf!important;
	font-size:12px!important;
	/*height:22px!important;*/
	text-align:center !important;
	text-indent:inherit !important;
	border-left:0 !important;
	border-top-right-radius:3px!important;
	border-bottom-right-radius:3px!important;
}
.file_input_hidden {
	font-size:45px;
	position:absolute;
	right:0px;
	top:0px;
	opacity:0;
	filter:alpha(opacity=0);
	-ms-filter:"alpha(opacity=0)";
	-khtml-opacity:0;
	-moz-opacity:0;
	cursor:pointer !important;
}
/*table alt, hover bg*/
.tr_hover:hover td, .tr_hover:hover td input{
	background:#376BA1 !important;
	color:#ffffff !important;
	border-color:#376BA1 !important;
}
.t_alt_bg{
	background:#F0F5F9 !important;
}
.t_alt_bg input{
	background:#F0F5F9 !important;
}
.t_alt_bg:hover, .t_alt_bg:hover input {
	background:#376BA1 !important;
}

/*추가*/
.active_t{
	background:#396CA2 !important;
	color:#ffffff !important;
	border-color:#396CA2 !important;
	border-radius:0 !important;
}

.label-link-table{
	vertical-align:middle;
	margin:0;
	padding:0;
	float:left;
	display:inline-table;
	font-size:12px;
	margin-left:5px !important;
	color:#202020;
	font-weight:normal;
}
.label-link-table a{
	font-size:12px;
	color:#204B76;
	text-decoration:underline;
}
.label-link-table a:hover{
	font-size:12px;
	color:#2121FF;
	text-decoration:underline;
}
.label-link-table  img{
	margin-right:5px !important;
}
::selection{
	background:;
}
.file_play{
	padding-left:5px;
	cursor:pointer;
	color:#000000;
	text-decoration:underline;
}
.file_play:hover{
	color:blue;
}
.file_display{
	padding-left:5px;
	cursor:text;
	color:#aaaaaa;
	text-decoration:underline;
}

/*추가(2015.04.21)*/
.iwidget_label2{
	border:1px solid #cccccc;
	border-radius:5px;
	background:#f2f6f8;
}
.table_box_label{
	font-size:13px !important;
	font-weight:bold !important;
	color:#000000 !important;
}
.table_box_label2{
	font-size:12px !important;
	font-weight:normal !important;
	color:#000000 !important;
	letter-spacing:-1px;
	vertical-align:top !important;

}
.treeGrid_table_box{
	
}
.treeGrid_table{

}
.treeGrid_table th{
	height:31px;
	border:1px solid #0A3B63;
	border-left:1px solid #91A3B4  !important;
	background:#0A3B63;
	font-size:12px;
	color:#ffffff;
}
.treeGrid_table td{
	border-left:1px solid #91A3B4;
	border-right:1px solid #91A3B4;
	border-bottom:1px solid #91A3B4;
	background:#FEFEFE;
	color:#222222;
}
table_Area .table_txt_th, .table_txt_th{
	border:0 !important;
	background:#e7eff7 !important;
	border-right:1px solid #d2d7db !important;
	border-bottom:1px solid #d2d7db !important;
}
.txt_style_txt {
	line-height:1.2em;
	background:#fefee8 !important;
	text-align:left;
	text-indent:5px;
	height:150px;
	border:1px solid #e1e1e1;
	padding:0;
	overflow-y:scroll;
	font-size:12px;
	margin:0px;
	width:100%;
}