@charset "utf-8";
/* CSS Document */
html, body {
	width:100%;
	height:100%;
	text-shadow:none;
}
*, html, body, div, img, p, span, a, b, strong, table, thead, tbody, tfoot, tr, th, td, iframe, textarea, ul, ol, dl, li, dt, dd, h1, h2, h3, h4, h5, h6 {
	margin:0;
	padding:0;
	outline:none;
	border:0;
	font-size:100%;
}
body {
	background:none !important;
	text-shadow:none;
}
a {
	text-decoration:none;
	color:#000000;
	text-shadow:none;
	font-weight:normal !important;
}
a, a:link, a:hover, a:visited, a:active {
	outline:none;
}
ul, li, ol {
	list-style:none;
}
img {
	border:0;
	max-width:100%;
}
/*font*/
*, html, body {
	font-family:"나눔고딕", "NanumGothic", "돋움", "Arial";
}
@font-face {
 font-family:NanumGothic;
 src: url('font/NanumGothic.ttf'), url('font/NanumGothic.eot'), url('font/NanumGothic.woff');
}
/*nav popup clase button*/
.close {
	height:24px !important;
	position:relative !important;
	z-index:9998 !important;
	float:right !important;
}
.close-button-i_mobile {
	background-image:url(../../images/login/mobile/img_icons/report_icon.png) !important;
	background-repeat: no-repeat;
	background-position: left center;
	height: 24px !important;
	width: 24px !important;
	padding: 0px !important;
	margin-right: 7px !important;
	margin-top: 4px !important;
	float : right !important;
	cursor:pointer;
	position:absolute !important;
	right:0px !important;
	z-index:9999 !important;
}
/* css demo modify*/
#demoToolbar {
	visibility:hidden;
}
.mobile-container {
	padding-top:42px !important;
}
.default {
	background:#dddddd !important;
}
.detail {
	background:#343947 !important;
	background:#ffffff !important;
}
.detail .cons {
	background:#343947 !important;
	background:#ffffff !important;
}
.login {
	background:#f2f2f2 !important
}
.container {
	position:absolute;
	width:100%;
	top:42px;/*margin-top:42px;*/
}
/*index*/
.index {
	/*background:#00aad2 url(../../images/background/index_bg.png)  !important;*/
background: #d9dcdf !important
}
.index_contents {
	background:none !important;
	position:absolute;
	top:70px;
	left:0px;
	width:100%;
	overflow:hidden;
}
.index_contents .view_box {
	background:transparent url(../../images/login/mobile/background/index_line_bg.png) bottom repeat-x;
	background:#ffffff;
	width:96%;
	height:auto;
	min-height:250px;
	margin:5px 2%;
	border-radius:4px;
	padding-bottom:0px;
	float:left;/*	max-width:96%;
	min-width:300px;
	border:1px solid #CCCCCC;*/
}
.index_contents .view_box ul {
	background:none !important;
}
.index_contents .view_box ul li {
	background:none !important;
	border:0 !important;
}
.index_contents .header {
	background:none;
	padding:10px 0;
	border:0;
	margin:20px 0;
}
.index_contents .header h1 {
	text-indent:10px;
	text-align:center;
	font-size:11pt;
	font-weight:normal;
	color:#8E8E8E;
	background:none;
}
.index_contents .header .system_title {
	text-align:center;
	font-size:14pt;
	margin:0.5em 0;
}
.index_contents ul {
	background:#ffffff;
	padding: 0;
}
.index_contents ul li {
	background:#ffffff;
	height:80px;
	padding:5px;
	text-indent:10px;
	border-bottom:1px solid #EEEEEE;
}
.index_contents .view_box ul li h1.table_title {
	margin-top:0.5em;
	color:#202020;
	font-weight:600;
	font-size:1.5em;
	margin-bottom:0.5em;
	text-align:left;
}
/*menu*/
.menu_header {
	float:left;
	width:100%;
	height:100px !important;
	padding: 0;
	margin-bottom:10px;
}
/*menu*/
.navBar_header {
	float:left;
	width:100%;
	height:80px !important;
	padding: 0;
	padding-bottom:10px;
}
.navBar_header p {
}
.navBar_header .login, .menu_header .login {
	float:right !important;
	padding:0;
	padding-right:0px;
	height:100%;
}
.navBar_header .home, .menu_header .home {
	float:left !important;
	padding:0;
	font-size:9pt;
	color:#eeeeee;
}
.navBar_header .logout, .menu_header .logout {
	float:right !important;
	padding:0;
	font-size:9pt;
	color:#eeeeee !important;
	text-align:right;
}
.navBar_header .jqx-navbar-block-i_mobile .navBar_pop_title, .menu_header .menu_header_title {
	padding-top:0px !important;
	padding:0 !important;
	text-align:center !important;
	color:#ffffff;
	font-size:16px;
	font-weight:normal;
	float:left;
	width:100%;
	background:#212633;
	text-shadow:none;
}
.navBar_header .jqx-navbar-block-i_mobile {
	float:left;
	width:100%;
	height:0 !important;
	padding: 0 !important;
	background:none !important;
}
.navBar_header .icon_link {
	margin:0 4px;
	float:left;
	cursor:pointer;
	font-size:30px;
	color:#ffffff;
}
.navBar_title {
	position: absolute;
	top: 11px;
	left: 40px;
	font-size: 13pt;
	font-weight: normal;
	color: #ffffff;
	text-shadow:none;
}
.navbarMenu img {
	vertical-align:middle;
	padding-top:17px;
	padding-right:20px;
	padding-left:0px;
	padding-bottom:0px;
	float:left;
}
.navBar_head_back {
	position:absolute;
	left:10px;
	top:12px;
}
.navBar_head_back img {
}
.navBar_head_icon {
	position:absolute;
	right:10px;
	top:10px;
}
.navBar_head_icon img {
	float:left;
	margin:4px 5px;
	background:none;/*	background:url(../../images/background/navbar_minimized_bg.png) 50% 50% repeat-x;
	margin:0px;
	padding:9px 7px;
	border:1px solid #cccccc;
	border-right:0;*/
}
.close_menu {
	position:absolute;
	z-index:9999;
	top:10px;
	right:10px;
	background:none;
}
.close_menu .jqx-button-i_mobile {
	box-shadow:none !important;
	padding:5px !important;
	background:none !important;
	border:none !important;
	cursor:pointer;
}
/*footer*/
.navBar_footer {
	clear:both;
	width:100%;
	height:0px !important;
	background:#000000;
	margin-top:0px;
}
.navBar_footer .jqx-navbar-block-i_mobile {
	padding:0 !important;
	margin:0 !important;
}
.navBar_footer .link_nav {
	float:left;
	margin:0;
}
.navBar_footer .btn_link {
	float:left !important;
	width:50% !important;
	margin:0 !important;
	padding:32px 0 !important;
	cursor:pointer;
	background:#000000 !important;
	color:#ffffff !important;
	border-right:1px solid #2F2F2F;
}
.navBar_footer .btn_link:last-child {
	border-right:0 !important;
}
/*header*/
.index #title {
	background:#105d93 !important;
	border:0 !important;
	z-index:9998;
}
#title {
	width:100%;
	height: 42px !important;
	position: fixed !important;
	top: 0px;
	left: 0px;
	z-index:9999;
	background: #34373c !important;
}
.detail #title {
	width:100%;
	height: 42px !important;
	position: fixed !important;
	top: 0px;
	left: 0px;
	z-index:9999;
	background:none;
}
/*contents*/
.contents {
	/*position:absolute;
	margin-top:42px;*/
	top:42px;
	left:0px;
	width:100%;
	/*height:100%;
	background:#D9DCDF ;
	background:#ffffff;*/
	overflow:hidden;
}
.cons {
	background:#dddddd !important;
}
.detail_contents {
	background:#ffffff !important;
}
.contents .header {
	background:#ffffff;
	padding:10px 0;
	border-bottom:1px solid #dddddd;
}
.contents .header h1 {
	text-indent:10px;
	text-align:left;
	font-size:10pt;
	font-weight:normal;
	color:#8E8E8E;
	background:#ffffff;
}
.contents ul {
	background:#ffffff;
	padding: 0;
}
.contents ul li.list {
	background:#ffffff;
	height:100%;
	width:96%;
	padding:0px 2%;
	text-indent:10px;
	border-bottom:1px solid #EEEEEE;
	display:inline-block;
	float:left;
	position:relative;
	border-radius:0;
	box-shadow:none;
}
.contents .con_Box {
	background:#ffffff;
	height:100%;
	width:92%;
	margin:0 2% 10px 2%;
	padding:5px 2% 10px 2%;
	text-indent:10px;
	border:0;
	display:inline-block;
	float:left;
	position:relative;
	border-radius:3px;
	box-shadow:0px 0px 10px 1px #cccccc;
}
.contents .con_Box .table_title {
	color:#212633;
	font-weight:600;
	font-size:11pt;
	margin:0 !important;
	margin-bottom:5px !important;
	padding:0 0 10px 0;
	text-align:left !important;
	letter-spacing:-1px;
	font-weight:bold;
}
.contents .con_Box_detail {
	background:#fff !important;
	height:100%;
	width:100%;
	margin:0;
	padding:0px;
	text-indent:10px;
	border:0;
	display:inline-block;
	float:left;
	position:relative;
	border-radius:0px;
	box-shadow:none;
}
.grid_style {
	text-indent:0 !important;
	font-size:9pt !important;
}
.contents .con_Box_detail .table_title {
	color:#212633;
	font-weight:400;
	font-size:100%;
	margin-bottom:10px;
	padding:10px 0;
	text-align:left;
}
.contents ul li a.menu_title {
	font-size:12pt;
	float:left;
	width:100%;
	padding:25px 0 20px 0;
	background:#ffffff;
	text-indent:3px;
	letter-spacing:-1px;
	color:#059;
	position:relative;
}
.contents ul li span.icon {
	width:100%;
	float:left;
	font-size:9pt;
	color:#707070;
	padding:5px;
}
.icon-favorite {
	position:absolute;
	left:9px;
	top:17px;
}
/*chartbox*/
.detail_chartBox {
	background:#ffffff !important;
}
/*popup*/

/*popup button*/
.con_Box .listbox_btn {
	position:absolute;
	z-index:9998;
	right:0px;
	top:5px;
}
.listbox_btn {
	position:absolute;
	z-index:9998;
	right:5px;
	top:17px;
}
.listbox_btn button.jqx-button-i_mobile {
	background:none !important;
	border-radius:0;
	padding:10px 10px 10px 3px;
	margin:0 !important;
}
.listbox_btn button {
	margin:0 !important;
}
/*top button*/
#back-top {
	position: fixed;
	bottom: 30px;
	right: 10px;
	z-index:9999;
}
#back-top a {
	width: 60px;
	display: block;
	text-align: center;
	font: 13px/100% Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	color: #ffffff;
	background:#00AEEF;
	padding:5px 0 4px 0;
	border-radius:30px;
	/* transition */
    -webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
#back-top a:hover {
	color: #000;
}
/* arrow icon (span tag) */
#back-top span {
	width: 108px;
	height: 108px;
	display: block;
	margin-bottom: 7px;
	background: #ddd url(up-arrow.png) no-repeat center center;
	/* rounded corners */
    -webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	/* transition */
    -webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
#back-top a:hover span {
	background-color: #777;
}
.btnStyle {
	margin-top:50px;
	text-align:center;
}
.btn {
	display: inline-block;
	border: none;
	text-align: center;
	font-weight: normal;
	text-transform: uppercase;
	padding: 10px 20px 11px;
	font-size: 0.938em;
	border-radius: 3px;
	cursor: pointer;
	margin-bottom: 20px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.btn.yellow {
	background-color: #ffd21e;
	color: #5c5c5c;
}
.btn.skyblue {
	background-color: #00ACE4;
	color: #ffffff;
}
/*index top info icon*/
.notification {
	overflow: hidden;
	position:absolute;
	left:38px;
	top:-3px;
}
.notification .ic-check-circle-blank {
	margin-left:3px;
}
.info {
	position:absolute;
	right:15px;
	top:7px;
	z-index:9999;
}
.info_count {
	float:left;
	position:relative;
}
.btn_icon {
	display: inline-block;
	border: none;
	text-align: center;
	font-weight: normal;
	text-transform: uppercase;
	padding: 0px;
	font-size: 0.938em;
	cursor: pointer;
	margin: 0 10px;
	width:100%;
	margin-top:2px;
	margin-left:10px;
}
.btn_icon .icon_title {
	font-size:75%;
	width:100%;
	font-weight:normal;
	color:#eeeeee;
}
/*icon hover*/
.icon_hover:hover, .navBar_head_icon .icon_hover:hover {
	color:#c2c7cd !important;
}
.header_icon {
	background:#ffffff;
	padding:25px 5px 17px 10px;
	border-right:1px solid #e3e3e3;
	border-left:1px solid #e3e3e3;
}
/*main search*/
.main_search {
	text-align:center;
	margin:10px 0;
}
.main_search .search {
	width: 180px;
	margin: 0 5px;
	padding: 2px 5px;
	font-size: 10pt;
	height: 20px;
	background: #fff;
	border:0;
}
.main_search button {
	padding: 0px 10px;
	font-size: 10pt;
	height: 24px;
	background:#3681ba;
	cursor:pointer;
	color:#fff;
	margin-right:10px;
}
/* board, notice*/
.p-content {
	padding: 0;
	position: absolute !important;
	top: 40px !important;
	right: 0;
	/*bottom: 40px !important;*/
	bottom: 0px !important;
	left: 0 !important;
/* 	overflow: hidden !important; */
}
.p-footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 40px;
	border:0;
	background:#efefef;
}
.list_board, .listmenu {
}
.list_board img {
	width: 50px;
	height: 55px;
	display:none;
}
.list_board div, .list_board .listTitle {
	margin-top: 10px;
	margin-left: 15px;
	font-weight: normal;
	font-size: 10.5pt;
	clear: none;
	float: left;
	color: #000;
	letter-spacing: 0px;
	text-shadow: none;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.list_board .new_listTitle {
	float:left;
	padding-left:5px;
	position:absolute;
	left:0;
}
.list_board .new_listTitle .ic-check-circle-blank {
	width: 12px;
	font-size: 8px;
	padding-top: 3px;
	color:#00aeef;
}
.list_board .listTitle .listTitle_wrap {
	width: 210px;
	float: left;
	margin-left: 0px;
	margin-top: 0px;
	color: #000;
	font-weight:bold;
}
.list_board div, .list_board .listTitle .listInfo {
	float:left;
	width:100%;
}
.list_board .listTitle span.listDate {
	float:right;
	font-size:8.5pt;
	padding-top:0px;
	color:#888;
	font-weight:normal;
	margin-right:10px;
	letter-spacing:0px;
	width:80px;
}
.list_board .listTitle span.listCon {
	float:left;
	padding-top:20px;
}
.list_board div span, .list_board .listTitle span.listCon div {
	font-size: 9pt;
	float: left;
	color: #444;
	font-weight: normal;
	letter-spacing: 0px;
	margin: 0;
	width: 90%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.listNo {
	font-size:14px !important;
	font-weight:normal !important;
	color:#555555;
}
.list_board div td {
	padding-top: 5px;
	padding-bottom: 5px;
}
/*list menu table*/
.listmenu table thead td {
	padding:10px 0;
}
.listmenu table thead .table_info {
	border-bottom:1px solid #cccccc;
	padding-top:5px;
}
.listmenu table thead .table_info span {
	font-size:8pt;
	font-weight:normal;
	margin-right:5px;
	padding-right:5px;
	color:#808080;
	border-right:1px solid #ccc;
}
.listmenu table tbody td {
	padding:10px 5px;
}
.listmenu table tbody td.table_con {
	font-size:10pt;
	line-height:1.5em;
}
.table_btn button {
	padding:5px 20px 8px 20px;
	background:#0e3e74;
	font-size:10pt;
	cursor:pointer;
	color:#fff;
	margin-right:10px;
}
.visible_btn {
	clear:both;
	text-align:center;
	margin-left:0 !important;
	left:0;
	padding-left:0;
	margin-top:5px;
}
.visible_btn button {
    padding: 5px 20px 8px 20px;
    background: #f5f5f5;
    font-size: 9pt;
    cursor: pointer;
    color: #444;
    margin-right: 10px;
    border: 1px solid #dadada !important;
    box-shadow: none;
    border-radius: 3px;
}

.none {
	border:0 !important;
}
.ai-txt {
	margin-left:5px;
}
/*add text icon style*/
.notification .ic-check-circle-blank {
	font-size:9px !important;
	color:#fe6a50 !important;
}
.ic-arrow-back {
	font-size: 20px !important;
	color: #edeff0 !important;
	text-shadow: 1px 1px 1px 1px #222 !important;
}
.ic-share-alt, .ic-search, .ic-share, .ic-delete, .ic-star {
	background:none !important;
	font-size:16px !important;
	color:#000000 !important;
	text-shadow:none !important;
}
/*menu header*/
.menu_header {
	text-align:center;
}
.menu_header .logout, .left-panel-header .logout {
	padding:0;
	font-size:9pt;
	color:#eeeeee !important;
	text-align:right;
}
.left-panel-header .ic-exit-to-app {
	width: auto !important;
	font-size: 30px !important;
	color: #eebb13 !important;
	text-shadow: none !important;
	color: #ffffff !important;
	background: #2c313d;
	border-radius: 50%;
	padding:13px 10px 2px 10px !important;
	text-indent: 0px;
	margin:0 8px 0 0px;
	border: 2px solid #ffffff;
}
.left-panel-header .ic-exit-to-app:hover {
	color:#cccccc !important;
	border-color:#cccccc !important;
	background: #2c313d;
	transition:0.2s all ease-out
}
.left-panel-header .ic-notifications {
	width: auto !important;
	font-size: 30px !important;
	color: #eebb13 !important;
	text-shadow: none !important;
	color: #ffffff !important;
	background: #2c313d;
	border-radius: 50%;
	padding:13px 10px 2px 10px !important;
	text-indent: 0px;
	margin:0 8px 0 0px;
	border: 2px solid #ffffff;
}
.left-panel-header .ic-notifications:hover {
	color:#cccccc !important;
	border-color:#cccccc !important;
	background: #2c313d;
	transition:0.2s all ease-out
}
.left-panel-header .ic-settings {
	width: auto !important;
	font-size: 30px !important;
	color: #eebb13 !important;
	text-shadow: none !important;
	color: #ffffff !important;
	background: #2c313d;
	border-radius: 50%;
	padding:13px 10px 2px 10px !important;
	text-indent: 0px;
	margin:0 0px 0 0px;
	border: 2px solid #ffffff;
}
.left-panel-header .ic-settings:hover {
	color:#cccccc !important;
	border-color:#cccccc !important;
	background: #2c313d;
	transition:0.2s all ease-out
}
.info .ai-news, .info .ai-volume-up, .info .ic-news, .info .ic-notifications {
	font-size:26px !important;
	color:#ffffff !important;
	text-shadow:none !important;
}
.ic-drive-file {
	width:auto !important;
	font-size: 20px !important;
	color: #00b1ff !important;
	text-shadow: none !important;
	background: #d9ecf4;
	border-radius: 50%;
	text-indent: 0px !important;
	padding:7px 8px 3px 8px !important;
	margin-right:5px;
	margin-top:-7px !important;
}
.ic-folder {
	width:auto !important;
	font-size: 20px !important;
	color: #eebb13 !important;
	text-shadow: none !important;
	color: #eebb13 !important;
	background: #ffe9c3;
	border-radius: 50%;
	padding:7px 8px 3px 8px !important;
	text-indent: 0px;
	margin-right: 5px;
	margin-top:-7px !important;
}
.ai-overflow, .ic-more-vert {
	width: auto;
	font-size: 19px !important;
	margin-top: 0px;
	color: #666666;
	text-shadow: none;
	padding: 0;
}
.ai-bars {
	font-size:14px !important;
	color:#55bbe8 !important;
	text-shadow:none !important;
}
.navBar_head_icon .ic-home {
	font-size:25px !important;
	color: #edeff0 !important;
	text-shadow: 1px 1px 1px 1px #222 !important;
	transition:0.2s all ease-out
}
.navBar_head_icon .ic-share-alt {
	font-size:25px !important;
	color: #edeff0 !important;
	text-shadow: 1px 1px 1px 1px #222 !important;
	transition:0.2s all ease-out
}
.navBar_head_icon .ic-star {
	font-size:25px !important;
	color: #edeff0 !important;
	text-shadow: 1px 1px 1px 1px #222 !important;
	transition:0.2s all ease-out;
	padding-right:10px !important;
}
#title .navBar_head_back .ic-close {
	font-size:20px !important;
	color: #edeff0 !important;
	text-shadow: 1px 1px 1px 1px #222 !important;
}
.panel-header .ic-menu {
	font-size: 30px !important;
	color: #ffffff !important;
	text-shadow: none !important;
	padding-left: 0px;
	padding-top: 0px;
}
.left-panel-header .ai-cancel {
	font-size:20px !important;
	color: #edeff0 !important;
	text-shadow: 1px 1px 1px 1px #222 !important;
}
.left-panel-header .close_btn .ic-close {
	font-size:20px;
	color:#ffffff;
	text-shadow:none;
}
.ic-star-rate {
	position: absolute;
	left: 9px;
	top: 17px;
	font-size: 25px;
	color: #ffba00;
	z-index: 9999;
}
/*panel*/
.panel-header {
	background: #105d93 !important;
	border-color: #105d93 !important;
	height:40px !important;/*position: fixed;
	width: 100%;
	z-index: 9998;*/
}
.panel-header h1 {
	text-shadow:none;
	color:#ffffff;
}
/*left-panel*/
.left-panel {
	background:#212633 !important;
	z-index: 9999 !important;
    width:250px !important;
	box-shadow:none;
	text-shadow:none;/*z-index:9999;*/
}
.left-panel-header .close_btn {
	float: right;
	background:none;
}
.left-panel-menu {
	margin-top:20px;
}
.left-panel-menu ul li {
	height: 9% !important;
	line-height: 50px !important;
	border-bottom: 1px solid #2D323A !important;
	width: 100% !important;
	background: #212633 !important;
	padding: 0px !important;
	text-shadow: none !important;
	float: left;
	margin: 0;
	text-indent:5px;
}
.left-panel-menu ul li a {
	width: 100%;
	height:100%;
	float: left;
	text-shadow: none;
	color:#c7c9cc !important;
	font-size:16px;
}
.left-panel-menu ul li a:hover {
	color:#ffffff !important;
}
