﻿.jqx-rc-tl-i_mobile {
	-moz-border-radius-topleft: 0px;
	-webkit-border-top-left-radius: 0px;
	border-top-left-radius: 0px;
}
.jqx-rc-tr-i_mobile {
	-moz-border-radius-topright: 0px;
	-webkit-border-top-right-radius: 0px;
	border-top-right-radius: 0px;
}
.jqx-rc-bl-i_mobile {
	-moz-border-radius-bottomleft: 0px;
	-webkit-border-bottom-left-radius: 0px;
	border-bottom-left-radius: 0px;
}
.jqx-rc-br-i_mobile {
	-moz-border-radius-bottomright: 0px;
	-webkit-border-bottom-right-radius: 0px;
	border-bottom-right-radius: 0px;
}
/*top rounded Corners*/
.jqx-rc-t-i_mobile {
	-moz-border-radius-topleft: 0px;
	-webkit-border-top-left-radius: 0px;
	border-top-left-radius: 0px;
	-moz-border-radius-topright: 0px;
	-webkit-border-top-right-radius: 0px;
	border-top-right-radius: 0px;
}
/*bottom rounded Corners*/
.jqx-rc-b-i_mobile {
	-moz-border-radius-bottomleft: 0px;
	-webkit-border-bottom-left-radius: 0px;
	border-bottom-left-radius: 0px;
	-moz-border-radius-bottomright: 0px;
	-webkit-border-bottom-right-radius: 0px;
	border-bottom-right-radius: 0px;
}
/*right rounded Corners*/
.jqx-rc-r-i_mobile {
	-moz-border-radius-topright: 0px;
	-webkit-border-top-right-radius: 0px;
	border-top-right-radius: 0px;
	-moz-border-radius-bottomright: 0px;
	-webkit-border-bottom-right-radius: 0px;
	border-bottom-right-radius: 0px;
}
/*left rounded Corners*/
.jqx-rc-l-i_mobile {
	-moz-border-radius-topleft: 0px;
	-webkit-border-top-left-radius: 0px;
	border-top-left-radius: 0px;
	-moz-border-radius-bottomleft: 0px;
	-webkit-border-bottom-left-radius: 0px;
	border-bottom-left-radius: 0px;
}
/*all rounded Corners*/
.jqx-rc-all-i_mobile {
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
}
.jqx-widget-i_mobile {
	font-size: 16px;
	font-family: "나눔고딕", "NanumGothic", "돋움", "Arial";
	color: inherit;
}
input[type=text].jqx-input-i_mobile, input[type=password].jqx-input-i_mobile, .jqx-input-group-addon-i_mobile {
	font-size: 16px;
	font-family: "나눔고딕", "NanumGothic", "돋움", "Arial";
	border-color: #636466;
}
.jqx-widget-content-i_mobile {
	font-size: 16px;
	font-family: "나눔고딕", "NanumGothic", "돋움", "Arial";
	border-color: #fff;
	color: #222;
	background-color: #fff;
	
}
.jqx-widget-header-i_mobile {
	font-size: 16px;
	font-family: "나눔고딕", "NanumGothic", "돋움", "Arial";
	color: #222;
	border-color:#2a2f3b;
	border-bottom-color: #2a2f3b;
	background: #2a2f3b;
}
.jqx-fill-state-normal-i_mobile, .jqx-fill-state-hover-i_mobile {
	font-size: 16px;
	font-family: "나눔고딕", "NanumGothic", "돋움", "Arial";
	border-color: #1C1C1E;
	color: #222;
	background: #3E3E42;
}
.jqx-button-i_mobile, .jqx-grid-pager-number-i_mobile {
	background: #4b4c4e;
	border-color: #636466;
	color: #fbfbfd;
}
.jqx-fill-state-focus-i_mobile {
	border-color: #3C4648;
}
.jqx-listitem-state-normal-i_mobile, .jqx-listmenu-item-i_mobile {
	background: #fff;
	border-top: 1px solid #ffffff;
	border-color:#e5e5e5;
	padding: 0px;
	font-size: 11pt;
	min-height: 70px;
	letter-spacing:-1px;
}

.jqx-listmenu-header-label-i_mobile {
	font-size: 24px;
	margin-left: -5px;
}
.jqx-listmenu-item-label-i_mobile {
	display: inline-block;
	width: 100%;
	height: 100%;
}
.jqx-listmenu-item-i_mobile a:link, .jqx-listmenu-item-i_mobile a:visited {
	display: inline-block;
	text-decoration: none;
	color: inherit;
	font-size: 16px;
	font-family: "나눔고딕", "NanumGothic", "돋움", "Arial";
	color: #fff;
	width: 100%;
	height: 100%;
	padding: 15px;
}
.jqx-listmenu-separator-mobile {
	font-size: 16px;
	font-family: "나눔고딕", "NanumGothic", "돋움", "Arial";
}
.jqx-listmenu-item-i_mobile {
	padding: 0px;
}
.jqx-listitem-state-normal-touch-i_mobile {
	padding-top: 5px;
	padding-bottom: 5px;
}
.jqx-listitem-element:first-child .jqx-listitem-state-normal-i_mobile {
	border-top: 1px solid #000;
}
.jqx-listitem-state-hover-i_mobile {
	background: #000;
	border-color: #000;
	border-bottom-color: #191919;
}
.jqx-listmenu-auto-separator-i_mobile, .jqx-listitem-state-group-i_mobile {
	background: #293943 !important;
}
.jqx-fill-state-pressed-i_mobile {
	border-color:#e5e5e5;
	color: #000;
	background-color:#fff;
}
.jqx-fill-state-disabled-i_mobile {
	color: #898989;
}
.jqx-scrollbar-state-normal-i_mobile, .jqx-grid-bottomright-i_mobile, .jqx-panel-bottomright-i_mobile, .jqx-listbox-bottomright-i_mobile {
	background-color:#ffffff;
}
.jqx-widget-i_mobile .jqx-grid-column-header-i_mobile, .jqx-grid-cell-i_mobile, .jqx-widget-i_mobile .jqx-grid-cell-i_mobile, .jqx-widget-i_mobile .jqx-grid-group-cell-i_mobile, .jqx-grid-group-cell-i_mobile {
	font-size: 9pt !important;
	font-family: "나눔고딕", "NanumGothic", "돋움", "Arial";
	border-color: #1C1C1E;
	background-color: #fff;
	color: #222;
}
.jqx-widget-i_mobile .jqx-grid-cell-alt-i_mobile, .jqx-widget-i_mobile .jqx-grid-cell-sort-i_mobile, .jqx-widget-i_mobile .jqx-grid-cell-pinned-i_mobile, .jqx-widget-i_mobile .jqx-grid-cell-filter-i_mobile, .jqx-grid-cell-sort-alt-i_mobile, .jqx-grid-cell-filter-alt-i_mobile, .jqx-grid-cell-pinned-i_mobile, .jqx-grid-cell-alt-i_mobile, .jqx-grid-cell-sort-i_mobile {
	border-color: #202023;
	background-color:#f9f9f9 !important;
	color: #222;
}
.jqx-menu-vertical-i_mobile {
	background: #105d93 ;
	border-color: #3E3E42;
}
.jqx-widget-i_mobile .jqx-grid-cell-i_mobile, .jqx-widget-i_mobile .jqx-grid-column-header-i_mobile, .jqx-widget-i_mobile .jqx-grid-group-cell-i_mobile {
	border-color: #dddddd;
}
.jqx-widget-i_mobile .jqx-grid-column-menubutton-i_mobile, .jqx-widget-i_mobile .jqx-grid-column-sortascbutton-i_mobile, .jqx-widget-i_mobile .jqx-grid-column-sortdescbutton-i_mobile, .jqx-widget-i_mobile .jqx-grid-column-filterbutton-i_mobile {
	background-color: transparent;
	border-color: #010f18;
}
.jqx-grid-cell-filter-row-i_mobile, .jqx-grid-i_mobile .jqx-widget-header-i_mobile, .jqx-grid-header-i_mobile, .jqx-grid-column-header-i_mobile {
	font-size: 16px;
	font-family: "나눔고딕", "NanumGothic", "돋움", "Arial";
	border-color:#dddddd;
	border-bottom-color: #dddddd !important;
	background: #f5f6f8 !important;
	background:#eef2f8 !important;
	color:#004aa7 !important;
	font-weight:bold;
	line-height:1.7em;
}
.jqx-grid-cell-filter-row-i_mobile {
	border-top: 2px solid transparent;
	border-bottom: 1px solid #32b3e3 !important;
	margin-top: -1px;
}
.jqx-widget-header-i_mobile .jqx-calendar-title-header-i_mobile, .jqx-calendar-title-header-i_mobile, .jqx-input-button-header-i_mobile, .jqx-window-header-i_mobile {
	background: #262626;
	border-color: #262626;
	border-bottom-color: #262626 !important;
}
.jqx-window-content-i_mobile {
	background: #262626;
}
.jqx-calendar-month-i_mobile {
	border-top: 1px solid #262626;
	background: #262626;
}
.jqx-calendar-column-header-i_mobile {
	background: #262626;
	border-color: #262626;
}
.jqx-grid-column-menubutton-i_mobile {
	background-image: url('../../images/login/mobile/img_icons/i-mobile-icon-down.png');
}
.jqx-input-i_mobile {
	border-color: #3C4648;
}
.jqx-widget-i_mobile .jqx-grid-cell-selected-i_mobile, .jqx-grid-cell-selected-i_mobile {
	background-color:#fff !important;
	border-color: #ddd !important;
	font-size: 16px;
	color:#555 !important
}
.jqx-widget-i_mobile .jqx-grid-cell-hover-i_mobile, .jqx-grid-cell-hover-i_mobile {
	background-color:#3E3E42;
}
/*applied to the column's sort button when the sort order is ascending.*/
 .jqx-grid-column-sortascbutton-i_mobile {
	background-image: url('../../images/login/mobile/img_icons/i-mobile-icon-up.png');
}
.jqx-grid-column-sortdescbutton-i_mobile {
	background-image: url('../../images/login/mobile/img_icons/i-mobile-icon-down.png');
}
.jqx-checkbox-default-i_mobile {
    background: #fff;
    border-color: #aaaaaa;
    border-width: 1px;
    border-radius: 3px;
	margin-right:5px;
}
.jqx-checkbox-check-checked-i_mobile {
	position: relative;
	background:transparent  url(../../images/login/mobile/img_icons/check_lightblue.png) center center no-repeat;
	background-size:13px 13px;
}
.jqx-checkbox-check-indeterminate-i_mobile {
	background:transparent url(images/login/mobile/check_lightblue_indeterminate.png) center center no-repeat
}
.jqx-checkbox-hover-i_mobile, .jqx-radiobutton-hover-i_mobile {
}
.jqx-radiobutton-check-checked-i_mobile {
	background: #33b5e5;
	border-color: #33b5e5;
}
.jqx-scrollbar-thumb-state-normal-horizontal-i_mobile, .jqx-scrollbar-thumb-state-normal-i_mobile {
	background: #b5b5b6;
	border-color: #ffffff;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}
.jqx-scrollbar-thumb-state-hover-horizontal-i_mobile, .jqx-scrollbar-thumb-state-hover-i_mobile {
	background: #9E9E9E;
	border-color: #9E9E9E;
}
.jqx-scrollbar-thumb-state-pressed-horizontal-i_mobile, .jqx-scrollbar-thumb-state-pressed-i_mobile {
	background: #ffffff;
	border-color: #ffffff;
}
.jqx-scrollbar-button-state-normal-i_mobile {
	border:1px solid #ffffff !important;
	background: #ffffff !important;
}
/*applied to the scrollbar buttons in hovered state.*/
.jqx-scrollbar-button-state-hover-i_mobile {
	border: 1px solid #3E3E42;
	background: #3E3E42;
}
/*applied to the scrollbar buttons in pressed state.*/
.jqx-scrollbar-button-state-pressed-i_mobile {
	border: 1px solid #3E3E42;
	background: #3E3E42;
}
/*icons*/
.jqx-window-collapse-button-i_mobile {
	background-image: url('../../images/login/mobile/img_icons/i-mobile-icon-up.png');
}
.jqx-window-collapse-button-collapsed-i_mobile {
	background-image: url('../../images/login/mobile/img_icons/i-mobile-icon-down.png');
}
.jqx-icon-arrow-up-i_mobile, .jqx-expander-arrow-bottom-i_mobile, .jqx-menu-item-arrow-up-i_mobile {
	background-image: url('../../images/login/mobile/img_icons/i-mobile-icon-up.png');
}
.jqx-icon-arrow-down-i_mobile, .jqx-expander-arrow-top-i_mobile, .jqx-tree-item-arrow-expand-i_mobile, .jqx-tree-item-arrow-expand-hover-i_mobile, .jqx-menu-item-arrow-down-i_mobile {
	background-image: url('../../images/login/mobile/img_icons/i-mobile-icon-down.png');
}
.jqx-icon-arrow-left-i_mobile, .jqx-menu-item-arrow-left-i_mobile {
	background-image: url('../../images/login/mobile/img_icons/i-mobile-icon-left.png');
}
.jqx-icon-arrow-right-i_mobile, .jqx-menu-item-arrow-right-i_mobile, .jqx-tree-item-arrow-collapse-i_mobile, .jqx-tree-item-arrow-collapse-hover-i_mobile {
	background-image: url('../../images/login/mobile/img_icons/i-mobile-icon-right.png');
}
.jqx-tabs-arrow-left-i_mobile, .jqx-tree-item-arrow-collapse-rtl-i_mobile, .jqx-tree-item-arrow-collapse-hover-rtl-i_mobile {
	background-image: url('../../images/login/mobile/img_icons/i-mobile-icon-left.png');
}
.jqx-tabs-arrow-right-i_mobile {
	background-image: url('../../images/login/mobile/img_icons/i-mobile-icon-right.png');
}
.jqx-menu-item-arrow-up-selected-i_mobile, .jqx-icon-arrow-up-selected-i_mobile {
	background-image:url('../../images/login/mobile/img_icons/i-mobile-icon-up.png');
	background-repeat:no-repeat;
	background-position:center;
}
.jqx-menu-item-arrow-down-selected-i_mobile, .jqx-icon-arrow-down-selected-i_mobile {
	background-image:url('../../images/login/mobile/img_icons/i-mobile-icon-down.png');
	background-repeat:no-repeat;
	background-position:center;
}
.jqx-menu-item-arrow-left-selected-i_mobile, .jqx-icon-arrow-left-selected-i_mobile {
	background-image:url('../../images/login/mobile/img_icons/i-mobile-icon-left.png');
	background-repeat:no-repeat;
	background-position:center;
}
.jqx-menu-item-arrow-right-selected-i_mobile, .jqx-icon-arrow-right-selected-i_mobile {
	background-image:url('../../images/login/mobile/img_icons/i-mobile-icon-right.png');
	background-repeat:no-repeat;
	background-position:center;
}
.jqx-window-close-button-i_mobile, .jqx-icon-close-i_mobile, .jqx-tabs-close-button-i_mobile, .jqx-tabs-close-button-hover-i_mobile, .jqx-tabs-close-button-selected-i_mobile {
	background-image:none;
	font-size:16px;
	color:#9caaae;
	background-repeat:no-repeat;
	background-position:center
}
.jqx-listbox-feedback-i_mobile {
	border-top: 1px dashed #fff;
}
.jqx-scrollbar-i_mobile .jqx-icon-arrow-up-selected-i_mobile {
	background-image:url('../../images/login/mobile/img_icons/i-mobile-icon-up.png');
	background-repeat:no-repeat;
	background-position:center;
}
.jqx-scrollbar-i_mobile .jqx-icon-arrow-down-selected-i_mobile {
	background-image:url('../../images/login/mobile/img_icons/i-mobile-icon-down.png');
	background-repeat:no-repeat;
	background-position:center;
}
.jqx-scrollbar-i_mobile .jqx-icon-arrow-left-selected-i_mobile {
	background-image:url('../../images/login/mobile/img_icons/i-mobile-icon-left.png');
	background-repeat:no-repeat;
	background-position:center;
}
.jqx-scrollbar-i_mobile .jqx-icon-arrow-right-selected-i_mobile {
	background-image:url('../../images/login/mobile/img_icons/i-mobile-icon-right.png');
	background-repeat:no-repeat;
	background-position:center;
}
.jqx-input-button-content-i_mobile {
	background: #262626;
	border-color: #262626;
	font-size: 13px;
}
.jqx-input-button-header-i_mobile {
	padding-top: 2px !important;
	padding-bottom: 2px !important;
}
.jqx-button-i_mobile {
	padding: 10px 7px;
}
.jqx-slider-button-i_mobile {
	border-radius: 100%;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
	padding: 4px !important;
}
.jqx-slider-slider-i_mobile {
	width: 25px;
	height: 25px;
	margin-top: -10px;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
	border-radius: 100%;
	background: rgba(51, 181, 229, 0.6);
	background-image: -moz-radial-gradient(#33b5e5 10%, transparent 90%);
	background-image: radial-gradient(#33b5e5 10%, transparent 90%);
	border: none;
}
.jqx-slider-rangebar-i_mobile {
	background: rgba(51, 181, 229, 0.5);
}
.jqx-dropdownlist-state-normal-i_mobile, .jqx-dropdownlist-state-hover-i_mobile, .jqx-dropdownlist-state-selected-i_mobile, .jqx-scrollbar-button-state-hover-i_mobile, .jqx-scrollbar-button-state-normal-i_mobile, .jqx-scrollbar-button-state-pressed-i_mobile, .jqx-scrollbar-thumb-state-normal-horizontal-i_mobile, .jqx-scrollbar-thumb-state-hover-horizontal-i_mobile, .jqx-scrollbar-thumb-state-pressed-horizontal-i_mobile, .jqx-scrollbar-thumb-state-normal-i_mobile, .jqx-scrollbar-thumb-state-pressed-i_mobile, .jqx-button-i_mobile, .jqx-tree-item-hover-i_mobile, .jqx-tree-item-selected-i_mobile, .jqx-tree-item-i_mobile, .jqx-menu-item-i_mobile, .jqx-menu-item-hover-i_mobile, .jqx-menu-item-selected-i_mobile, .jqx-menu-item-top-i_mobile, .jqx-menu-item-top-hover-i_mobile, .jqx-menu-item-top-selected-i_mobile, .jqx-slider-button-i_mobile, .jqx-slider-slider-i_mobile {
	-webkit-transition: background-color 100ms linear;
	-moz-transition: background-color 100ms linear;
	-o-transition: background-color 100ms linear;
	-ms-transition: background-color 100ms linear;
	transition: background-color 100ms linear;
}
.jqx-switchbutton-i_mobile {
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	border: 2px solid #e4e4e4; 
	background: #fff;
}
.jqx-switchbutton-on-i_mobile{
	background: #fbeeb7;
	color: #fbeeb7;
}
.jqx-switchbutton-thumb-i_mobile {
	width: 16px;
    background: #edc411;
    border: 1px solid transparent;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    -webkit-box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 7px rgba(0,0,0,0.25);
    z-index: 99;
    left: 1px;
    position: relative;
	width:28px !important;
}
.jqx-switchbutton-label-on-i_mobile {
	background: #fbeeb7;
	color: #fbeeb7;
}
.jqx-switchbutton-label-off-i_mobile {
	background: #fff;
	color: #fff;
}
.jqx-tabs-i_mobile {
	border: 1px solid #1a1a1a;
}
.jqx-tabs-title-i_mobile {
	background: transparent;
	border-color: transparent;
	border-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	-webkit-border-radius: 0px;
	-webkit-border-top-left-radius: 0px;
	-webkit-border-top-right-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
	-moz-border-radius: 0px;
	-moz-border-top-left-radius: 0px;
	-moz-border-top-right-radius: 0px;
	-moz-border-bottom-left-radius: 0px;
	-moz-border-bottom-right-radius: 0px;
}
.jqx-tabs-header-i_mobile, .jqx-tabs-arrow-background {
	background: #000;
	color: #fff;
	border-bottom-color: #636466 !important;
}
.jqx-tabs-header-bottom-i_mobile {
	background: #000;
	color: #fff;
	border-top-color: #636466 !important;
	border-top-style: solid;
	border-top-width: 1px;
}
.jqx-tabs-title-selected-top-i_mobile, .jqx-tabs-selection-tracker-top-i_mobile {
	border-bottom: 1px solid #000;
	border-bottom: 2px solid #32b3e3;
	color: #fff;
	background: #000;
	box-shadow: 0 0px 5px #000;
	-webkit-box-shadow: 0 0px 5px #000;
	padding-top: 5px;
	padding-bottom: 5px;
}
.jqx-tabs-title-selected-bottom-i_mobile, .jqx-tabs-selection-tracker-bottom-i_mobile {
	border-top: 2px solid #32b3e3;
	color: #fff;
	background: #000;
	box-shadow: 0 0px 5px #000;
	-webkit-box-shadow: 0 0px 5px #000;
	padding-top: 6px;
	padding-bottom: 6px;
}
.jqx-tabs-title-hover-top-i_mobile, .jqx-tabs-title-hover-bottom-i_mobile, .jqx-tabs-header-i_mobile {
	color: #fff;
}
.jqx-switchbutton-wrapper-i_mobile {
}
.jqx-icon-arrow-first-i_mobile {
	background-image: url('images/icon-first-white.png');
	background-repeat: no-repeat;
	background-position: center;
}
.jqx-icon-arrow-last-i_mobile {
	background-image: url('images/icon-last-white.png');
	background-repeat: no-repeat;
	background-position: center;
}
.jqx-progressbar-text-i_mobile {
	font-size: 16px;
}
.jqx-grid-pager-i_mobile .jqx-button-i_mobile {
	padding: 3px !important;
}
.jqx-grid-pager-number-i_mobile {
	top: 2px;
	position: relative;
	padding: 1px 7px;
}
.jqx-widget-i_mobile .jqx-grid-groups-header-i_mobile, .jqx-grid-groups-header-i_mobile {
	border-bottom-color: #000 !important;
}
.jqx-grid-group-collapse-i_mobile {
	background-image: url(../../images/login/mobile/img_icons/i-mobile-icon-right.png);
	background-position: 50% 50%;
	background-repeat: no-repeat;
}
.jqx-grid-group-collapse-rtl-i_mobile {
	padding-right: 0px;
	background-image: url(../../images/login/mobile/img_icons/i-mobile-icon-left.png);
	background-position: 50% 50%;
	background-repeat: no-repeat;
}
.jqx-grid-group-expand-i_mobile, .jqx-grid-group-expand-rtl-i_mobile {
	padding-right: 0px;
	background-image: url(../../images/login/mobile/img_icons/i-mobile-icon-down.png);
	background-position: 50% 50%;
	background-repeat: no-repeat;
}
.jqx-tree-grid-expand-button-i_mobile {
	margin-top: 4px;
}
.jqx-tree-grid-checkbox-i_mobile {
	margin-top: 2px;
}
.jqx-grid-table-i_mobile {
	border-color: #000;
}
.jqx-icon-search-i_mobile {
	background-image: url(images/search_white.png);
	background-repeat: no-repeat;
	background-position: center;
}
.jqx-passwordinput-password-icon-i_mobile, .jqx-passwordinput-password-icon-rtl-i_mobile {
	background-image: url(images/icon-showpassword-white.png) !important;
	background-repeat: no-repeat !important;
}
.jqx-icon-calendar-i_mobile, .jqx-icon-calendar-hover-i_mobile, .jqx-icon-calendar-pressed-i_mobile {
	background-image: url('images/icon-calendar-white.png');
}
.jqx-icon-time-i_mobile, .jqx-icon-time-hover-i_mobile, .jqx-icon-time-pressed-i_mobile {
	background-image: url('images/icon-time-white.png');
}
.jqx-calendar-cell-today-i_mobile {
	color: black;
}
.jqx-editor-toolbar-icon-i_mobile {
	background: url('images/html_editor_white.png') no-repeat;
}
.jqx-menu-minimized-button-i_mobile {
	background-image:  url(../../images/login/mobile/img_icons/index_menu_minimized_icon.png);
	margin-left:10px !important;
	margin-top:10px;
	position:absolute;
	z-index:9999;
}
.jqx-file-upload-file-name-i_mobile {
	padding:3px;
}
.jqx-file-upload-file-row-i_mobile {
	height: 40px;
}
.jqx-layout-i_mobile {
	background-color: #000;
}
.jqx-layout-pseudo-window-pin-icon-i_mobile {
	background-image: url("images/pin-white.png");
}
.jqx-layout-pseudo-window-pinned-icon-i_mobile {
	background-image: url("images/pinned-white.png");
}
.jqx-scheduler-i_mobile, .jqx-scheduler-time-column-i_mobile, .jqx-scheduler-toolbar-details-i_mobile {
	color: white !important;
}
/*add css (IPANBIZ)*/
/*grid*/
.jqx-grid-header-i_mobile{
	/*border-width:2px 0px 1px 0px !important;
	border-color:#004aa7 !important;*/
    border-width: 1px 0px 1px 0px !important;
    border-color: #dddddd !important;
}
.con_Box_detail .jqx-widget-i_mobile .jqx-grid-column-header-i_mobile, .con_Box_detail .jqx-grid-cell-i_mobile, .jqx-widget-i_mobile .jqx-grid-cell-i_mobile, .con_Box_detail .jqx-widget-i_mobile .jqx-grid-group-cell-i_mobile, .con_Box_detail .jqx-grid-group-cell-i_mobile {
	font-size: 10pt !important;
	font-family: "나눔고딕", "NanumGothic", "돋움", "Arial";
	border-color: #dddddd;
	background-color: #fff;
	color: #222;
}
/*minimized*/
.jqx-navbar-minimized-i_mobile {
	height:50px !important;
	position:fixed !important;
	top:0;
	left:0;
	z-index:9999;
	background:#408cae !important;
}
.index .jqx-navbar-minimized-i_mobile {
    background:#015088 !important;
	border:0 !important;
}
/*.detail .jqx-navbar-minimized-i_mobile {
    background:#343947 !important;
	border:0 !important;
}*/
.hidden .jqx-menu-minimized-button-i_mobile{
	display:none;
}
/*menu*/
.jqx-menu-i_mobile ul {
    height: 100% !important;
    background: #212633 !important;
    border-color: #212633 !important;
    height: 100% !important; 
    z-index: 9999 !important;
    left: 0px !important;
    top: 50px !important;
}
.jqx-menu-item-top-i_mobile a{
    color: #c7c9cc !important;
    font-size: 11pt;
    width: 100%;
    height: 100%;
    float: left;
	text-shadow:none;
}
.jqx-menu-item-top-i_mobile a:hover{
	color:#ffffff !important;
}

/*navbar pop*/
.jqx-navbar-popup-i_mobile {
	width:250px  !important;
	height:100% !important;
	min-width:210px !important;
	/*width:319px !important;
	overflow-x:hidden;
	overflow-y:auto;*/
	background:#212633;
	border-color:#212633;
	height:100% !important;
	/*top:21px !important;*/
	position:absolute;
	z-index:9999 !important;
	left:0px !important;
	top:50px !important;
/*	min-height:1200px !important;*/
}
.jqx-navbar-popup-i_mobile ul {
	height:auto !important;
	margin-top:130px;
	width:100% !important;
}
.jqx-navbar-popup-i_mobile .jqx-navbar-block-i_mobile{	
	background:#212633 !important;
	border:0 !important;
	padding:0 15px !important;
	line-height:38px !important;
	height:30px !important;/*41*/
}
.jqx-navbar-block-i_mobile a.navbarMenu {
	color:#C7C9CC !important;
	font-size:12pt;
	width:100%;
	height:100%;
	float:left;
}
.jqx-navbar-block-i_mobile a:hover {
	color:#ffffff !important;
}
/*popover button*/
.jqx-notification-time, .jqx-inverse
{
  color: #ffffff  !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25)  !important;
  background-color: none  !important;
  *background-color: none  !important;
  background-repeat: repeat-x  !important;
    background-image: none  !important;
    border-left-color: none !important;
    border-right-color: none !important;
    border-top-color: none !important;
    border-bottom-color: none !important;
	background:none !important;
	border:none !important;
	text-shadow:none !important;
	box-shadow:none !important;
	cursor:pointer;
}
.jqx-inverse:hover,
.jqx-inverse:focus,
.jqx-inverse:active,
.jqx-inverse.active,
.jqx-inverse.disabled,
.jqx-inverse[disabled] {
  color: #ffffff  !important;
  background-color: none  !important;
  *background-color: none  !important;
  background:none !important;
	border:none !important;
	text-shadow:none !important;
	box-shadow:none !important;
}

.jqx-fill-state-pressed.jqx-inverse,
.jqx-inverse:active,
.jqx-inverse.active {
  background-color: #080808  !important;
  background-image: linear-gradient(to bottom, #444444, #080808)  !important;
    background:none !important;
	border:none !important;
	text-shadow:none !important;
	box-shadow:none !important;
}
.jqx-popover-i_mobile{
	margin-top:-10px !important;
	background:#f2f2f2 !important;
	border-color:#ffffff !important;
	border-radius:3px !important;
	/*box-shadow:none !important;*/
	z-index:9998;
}
.jqx-popover-title-i_mobile{
	/*display:none !important;*/
	padding-bottom:0;
	background:#f2f2f2;
}
.jqx-popover-content-i_mobile{
	padding:5px !important;
}
.jqx-popover-arrow-i_mobile{
	display:none !important;
}
.jqx-popover-content-i_mobile td{
	color:#606060 !important;
	font-size:11pt !important;
	background:#f2f2f2;
	padding:5px;
}
.ai-share a.ai-txt, .ai-goright a.ai-txt, .ai-star-10 a.ai-txt, .ai-trash a.ai-txt{
	padding-left:5px;
	width:100%;
	color:#606060 !important;
}
/*notification*/
.jqx-notification-icon-i_mobile {
	background-image:none !important;
	display:none !important;
}
.jqx-notification-i_mobile{
	padding:0px 3px !important;
	width:auto !important;
    color: #ffffff !important;
    text-shadow: 0px -1px 0px rgba(0,0,0,0.25) !important;
    background-color: #FF4011 !important;
    *background-color: #F33E11  !important: ;
    background-repeat: repeat-x !important;
    background-image: linear-gradient(to bottom, #FF5F38, #F33E11) !important;
    border-left-color: #F33E11 !important;
    border-right-color: #D8360F !important;
    border-top-color: #F33E11 !important;
    border-bottom-color: #CC2800 !important;
	border-radius:4px !important;
	font-size:9pt !important;
	
}
/*list menu*/
.jqx-listmenu-arrow-right-i_mobile{
	right:20px !important;
	display:none;
}
/*chart*/
.jqx-chart-axis-text {
	fill:#707070;
	color:#707070;
	font-size:8pt;
	font-family:"나눔고딕", "NanumGothic", "돋움", "Arial";
	font-weight:normal;
	letter-spacing:0px;
}
.con_Box_detail .jqx-chart-axis-text {
	fill:#222222;
	color:#222222;
	font-size:9pt;
	font-family:"나눔고딕", "NanumGothic", "돋움", "Arial";
	font-weight:normal;
	letter-spacing:0px;
}
.jqx-chart-legend-text {
	fill:#333333;
	color:#333333;
	font-size:9pt;
	font-family:"나눔고딕", "NanumGothic", "돋움", "Arial";
	font-weight:normal;
	letter-spacing:0px;
}
.con_Box_detail .jqx-chart-legend-text {
	fill:#222222;
	color:#222222;
	font-size:10pt;
	font-family:"나눔고딕", "NanumGothic", "돋움", "Arial";
	font-weight:normal;
	letter-spacing:0px;
}
.jqx-chart-label-text {
	fill:#000;
	color:#000;
	font-size:9pt;
	font-family:"나눔고딕", "NanumGothic", "돋움", "Arial";
	font-weight:normal;
	letter-spacing:0px;
}
.colorChart .jqx-chart-label-text {
	fill:#fff;
	color:#fff;
	font-size:9pt;
	font-family:"나눔고딕", "NanumGothic", "돋움", "Arial";
	font-weight:normal;
	letter-spacing:0px;
}
.con_Box_detail .jqx-chart-label-text {
	fill:#000;
	color:#000;
	/*fill:#1c0ec3;
	color:#1c0ec3;*/
	font-size:10pt;
	font-family:"나눔고딕", "NanumGothic", "돋움", "Arial";
	font-weight:normal;
	letter-spacing:0px;
}
.con_Box_detail .colorChart  .jqx-chart-label-text {
	fill:#fff;
	color:#fff;
	font-size:10pt;
	font-family:"나눔고딕", "NanumGothic", "돋움", "Arial";
	font-weight:normal;
	letter-spacing:0px;
}
.chart_label_text02 .jqx-chart-label-text {
	fill:#000000;
	color:#000000;
	font-size:10pt;
	font-family:"나눔고딕", "NanumGothic", "돋움", "Arial";
	font-weight:normal;
	letter-spacing:0px;
}
.detail_chartBox .jqx-chart-label-text {
	fill:#606060;
	color:#606060;
	font-size:11pt;
	font-family:"나눔고딕", "NanumGothic", "돋움", "Arial";
	font-weight:normal;
	letter-spacing:0px;
}
.index_contents .jqx-chart-label-text {
	fill:#606060;
	color:#606060;
	font-size:10pt;
	font-family:"나눔고딕", "NanumGothic", "돋움", "Arial";
	font-weight:normal;
	letter-spacing:0px;
}
.jqx-chart-tooltip-text {
	fill:#ffffff;
	color:#ffffff;
	font-size:9pt;
}
.detail_chartBox .jqx-chart-legend-text {
	fill:#333333;
	color:#333333;
	font-size:10pt;
	font-family:"나눔고딕", "NanumGothic", "돋움", "Arial" !important;
	font-weight:normal;
	letter-spacing:0px;
}