@charset "utf-8";
/* CSS Document */

.header_login {
	background:#314d68;
	padding:10px 0;
}
.header_login h1 {
	font-size:1.2em;
	line-height:1.2em;
	margin:0;
	text-align:left;
	margin-left:10px;
	color:#fff;
}
.login_form {
	background: #fff;
	width: 32%;
	margin: 15% auto 4% auto;
	position: relative;
	min-width:300px;
	border-radius:8px;
	-o-border-radius:8px;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	box-shadow:1px 1px 5px 0px #909090;
}
.head {
	position: absolute;
	top: -18%;
	left: 36%;
}
.head img{
	width:90px;
}
form {
	padding: 20% 2.5em;
}
form li {
	border: 1px solid #B4B2B2;
	list-style: none;
	margin-bottom: 10px;
	width: 100%;
	background: none;
	border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
 -o- border-radius: 0.3em:;
	-moz-border-radius: 0.3em;
	position:relative;
}
form p{
	color:#555;
}
input[type='text'], input[type='password'] {
	width: 80%;
	padding: 0.3em 2em 0.4em 2em;
	color: #858282;
	font-size: 16px;
	outline: none;
	background: none;
	border: none;
	font-weight: 600;
	font-weight:normal;
}
.user {
	background:url(../../images/login/mobile/img_icons/icons_user.png) no-repeat 12px 7px !important;
}
.user-icon{
    font-size: 20px;
    position: absolute;
    left: 10px;
    top: 6px;
    color: #aaa;
}

.lock {
	background:url(../../images/login/mobile/img_icons/icons_lock.png)  no-repeat 12px 7px !important;
}
.p-container {
	margin-top: 10px;
}
.p-container .checkbox {
	position: relative;
	display:inline-block;
	font-size:0.9em;
	color:#666;
}
.p-container .checkbox input {
}
input[type='button'] , .submitButton{
	float: right;
	font-size: 18px;
	display: inline-block;
	font-weight: 600;
	color: #fff;
	transition: 0.1s all;
	-webkit-transition: 0.1s all;
	-moz-transition: 0.1s all;
	-o-transition: 0.1s all;
	cursor: pointer;
	outline: none;
	padding: 10px 10px;
	margin-top: 3px;
	width: 45%;
	border: none;
	border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
 -o- border-radius: 0.3em:;
	-moz-border-radius: 0.3em;
	background: #ffe49e;
	background: -moz-linear-gradient(top, #ffe49e 0%, #ffb700 3%, #ffad00 35%, #ff9000 97%, #e27f00 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffe49e), color-stop(3%, #ffb700), color-stop(35%, #ffad00), color-stop(97%, #ff9000), color-stop(100%, #e27f00));
	background: -webkit-linear-gradient(top, #ffe49e 0%, #ffb700 3%, #ffad00 35%, #ff9000 97%, #e27f00 100%);
	background: -o-linear-gradient(top, #ffe49e 0%, #ffb700 3%, #ffad00 35%, #ff9000 97%, #e27f00 100%);
	background: -ms-linear-gradient(top, #ffe49e 0%, #ffb700 3%, #ffad00 35%, #ff9000 97%, #e27f00 100%);
	background: linear-gradient(to bottom, #ffe49e 0%, #ffb700 3%, #ffad00 35%, #ff9000 97%, #e27f00 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe49e', endColorstr='#e27f00', GradientType=0 );
}
.clear {
	clear: both;
}
#header {
	height: 90px;
	background: #ddd;
	position: relative;
	z-index: 1;
}
#content-box {
	min-height: 100%;
	margin: -100px 0 -50px;
	background:#d9dcdf;
}
*html #content-box {
	height: 100%;
}
#content {
	padding: 100px 0 50px;
}
#footer {
	height: 50px;
	padding:5px 0;
	background: #2f2f2f;
	position:relative;
	z-index:9999;
}
#footer  p{
	text-align:center;
	font-size:0.9em;
	color:#cccccc;
}