@charset "UTF-8";

@font-face {
  font-family: "material-icon-font";
  src:url("../../../icon-font/material-icon-font.eot");
  src:url("../../../icon-font/material-icon-font.eot?#iefix") format("embedded-opentype"),
    url("../../../icon-font/material-icon-font.woff") format("woff"),
    url("../../../icon-font/material-icon-font.ttf") format("truetype"),
    url("../../../icon-font/material-icon-font.svg#material-icon-font") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "material-icon-font" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="ic-"]:before,
[class*=" ic-"]:before {
  font-family: "material-icon-font" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ic-access-alarms:before {
  content: "\e000";
}
.ic-access-time:before {
  content: "\e001";
}
.ic-accessibility:before {
  content: "\e002";
}
.ic-account-box:before {
  content: "\e003";
}
.ic-account-circle:before {
  content: "\e004";
}
.ic-adb:before {
  content: "\e005";
}
.ic-add:before {
  content: "\e006";
}
.ic-add-alarm:before {
  content: "\e007";
}
.ic-add-box:before {
  content: "\e008";
}
.ic-add-circle:before {
  content: "\e009";
}
.ic-add-circle-outline:before {
  content: "\e00a";
}
.ic-airplane-mode-off:before {
  content: "\e00b";
}
.ic-airplane-mode-on:before {
  content: "\e00c";
}
.ic-android:before {
  content: "\e00d";
}
.ic-apps:before {
  content: "\e00e";
}
.ic-archive:before {
  content: "\e00f";
}
.ic-arrow-back:before {
  content: "\e010";
}
.ic-arrow-drop-down:before {
  content: "\e011";
}
.ic-arrow-drop-down-circle:before {
  content: "\e012";
}
.ic-arrow-drop-up:before {
  content: "\e013";
}
.ic-arrow-forward:before {
  content: "\e014";
}
.ic-attachment:before {
  content: "\e015";
}
.ic-auto-fix:before {
  content: "\e016";
}
.ic-backspace:before {
  content: "\e017";
}
.ic-backup:before {
  content: "\e018";
}
.ic-beenhere:before {
  content: "\e019";
}
.ic-block:before {
  content: "\e01a";
}
.ic-bluetooth:before {
  content: "\e01b";
}
.ic-bluetooth-audio:before {
  content: "\e01c";
}
.ic-bluetooth-connected:before {
  content: "\e01d";
}
.ic-bluetooth-disabled:before {
  content: "\e01e";
}
.ic-bluetooth-searching:before {
  content: "\e01f";
}
.ic-bold:before {
  content: "\e020";
}
.ic-book:before {
  content: "\e021";
}
.ic-bookmark:before {
  content: "\e022";
}
.ic-bookmark-outline:before {
  content: "\e023";
}
.ic-brightness-auto:before {
  content: "\e024";
}
.ic-brightness-high:before {
  content: "\e025";
}
.ic-brightness-low:before {
  content: "\e026";
}
.ic-brightness-medium:before {
  content: "\e027";
}
.ic-bug-report:before {
  content: "\e028";
}
.ic-cake:before {
  content: "\e029";
}
.ic-call:before {
  content: "\e02a";
}
.ic-call-end:before {
  content: "\e02b";
}
.ic-call-made:before {
  content: "\e02c";
}
.ic-call-merge:before {
  content: "\e02d";
}
.ic-call-missed:before {
  content: "\e02e";
}
.ic-call-received:before {
  content: "\e02f";
}
.ic-call-split:before {
  content: "\e030";
}
.ic-camera:before {
  content: "\e031";
}
.ic-camera-alt:before {
  content: "\e032";
}
.ic-camera-roll:before {
  content: "\e033";
}
.ic-cancel:before {
  content: "\e034";
}
.ic-cast:before {
  content: "\e035";
}
.ic-cast-connected:before {
  content: "\e036";
}
.ic-chat:before {
  content: "\e037";
}
.ic-check:before {
  content: "\e038";
}
.ic-check-box:before {
  content: "\e039";
}
.ic-check-box-blank:before {
  content: "\e03a";
}
.ic-check-box-outline:before {
  content: "\e03b";
}
.ic-check-box-outline-blank:before {
  content: "\e03c";
}
.ic-check-circle:before {
  content: "\e03d";
}
.ic-check-circle-blank:before {
  content: "\e03e";
}
.ic-check-circle-outline:before {
  content: "\e03f";
}
.ic-check-circle-outline-blank:before {
  content: "\e040";
}
.ic-chevron-left:before {
  content: "\e041";
}
.ic-chevron-right:before {
  content: "\e042";
}
.ic-chromecast:before {
  content: "\e043";
}
.ic-circles:before {
  content: "\e044";
}
.ic-circles-add:before {
  content: "\e045";
}
.ic-circles-extended:before {
  content: "\e046";
}
.ic-clear:before {
  content: "\e047";
}
.ic-close:before {
  content: "\e048";
}
.ic-close-caption:before {
  content: "\e049";
}
.ic-cloud:before {
  content: "\e04a";
}
.ic-cloud-circle:before {
  content: "\e04b";
}
.ic-cloud-done:before {
  content: "\e04c";
}
.ic-cloud-download:before {
  content: "\e04d";
}
.ic-cloud-off:before {
  content: "\e04e";
}
.ic-cloud-queue:before {
  content: "\e04f";
}
.ic-cloud-upload:before {
  content: "\e050";
}
.ic-comment:before {
  content: "\e051";
}
.ic-communities:before {
  content: "\e052";
}
.ic-content-copy:before {
  content: "\e053";
}
.ic-content-cut:before {
  content: "\e054";
}
.ic-content-paste:before {
  content: "\e055";
}
.ic-create:before {
  content: "\e056";
}
.ic-credit-card:before {
  content: "\e057";
}
.ic-crop:before {
  content: "\e058";
}
.ic-crop-free:before {
  content: "\e059";
}
.ic-crop-landscape:before {
  content: "\e05a";
}
.ic-crop-portrait:before {
  content: "\e05b";
}
.ic-crop-square:before {
  content: "\e05c";
}
.ic-data-usage:before {
  content: "\e05d";
}
.ic-delete:before {
  content: "\e05e";
}
.ic-developer-mode:before {
  content: "\e05f";
}
.ic-dialpad:before {
  content: "\e060";
}
.ic-directions:before {
  content: "\e061";
}
.ic-directions-bike:before {
  content: "\e062";
}
.ic-directions-bus:before {
  content: "\e063";
}
.ic-directions-car:before {
  content: "\e064";
}
.ic-directions-subway:before {
  content: "\e065";
}
.ic-directions-train:before {
  content: "\e066";
}
.ic-directions-transit:before {
  content: "\e067";
}
.ic-directionswalk:before {
  content: "\e068";
}
.ic-disc-full:before {
  content: "\e069";
}
.ic-do-not-disturb:before {
  content: "\e06a";
}
.ic-dock:before {
  content: "\e06b";
}
.ic-domain:before {
  content: "\e06c";
}
.ic-done:before {
  content: "\e06d";
}
.ic-done-all:before {
  content: "\e06e";
}
.ic-drafts:before {
  content: "\e06f";
}
.ic-drive:before {
  content: "\e070";
}
.ic-drive-apk:before {
  content: "\e071";
}
.ic-drive-audio:before {
  content: "\e072";
}
.ic-drive-code:before {
  content: "\e073";
}
.ic-drive-document:before {
  content: "\e074";
}
.ic-drive-drawing:before {
  content: "\e075";
}
.ic-drive-eta:before {
  content: "\e076";
}
.ic-drive-file:before {
  content: "\e077";
}
.ic-drive-font:before {
  content: "\e078";
}
.ic-drive-form:before {
  content: "\e079";
}
.ic-drive-fusiontable:before {
  content: "\e07a";
}
.ic-drive-image:before {
  content: "\e07b";
}
.ic-drive-ms-excel:before {
  content: "\e07c";
}
.ic-drive-ms-powerpoint:before {
  content: "\e07d";
}
.ic-drive-ms-word:before {
  content: "\e07e";
}
.ic-drive-pdf:before {
  content: "\e07f";
}
.ic-drive-presentation:before {
  content: "\e080";
}
.ic-drive-script:before {
  content: "\e081";
}
.ic-drive-site:before {
  content: "\e082";
}
.ic-drive-spreadsheet:before {
  content: "\e083";
}
.ic-drive-video:before {
  content: "\e084";
}
.ic-drive-zip:before {
  content: "\e085";
}
.ic-earth:before {
  content: "\e086";
}
.ic-email:before {
  content: "\e087";
}
.ic-error:before {
  content: "\e088";
}
.ic-event:before {
  content: "\e089";
}
.ic-exit-to-app:before {
  content: "\e08a";
}
.ic-expand-less:before {
  content: "\e08b";
}
.ic-expand-more:before {
  content: "\e08c";
}
.ic-explore:before {
  content: "\e08d";
}
.ic-extension:before {
  content: "\e08e";
}
.ic-fast-forward:before {
  content: "\e08f";
}
.ic-fast-rewind:before {
  content: "\e090";
}
.ic-favorite:before {
  content: "\e091";
}
.ic-favorite-outline:before {
  content: "\e092";
}
.ic-file-download:before {
  content: "\e093";
}
.ic-file-upload:before {
  content: "\e094";
}
.ic-filter:before {
  content: "\e095";
}
.ic-flag:before {
  content: "\e096";
}
.ic-flash-auto:before {
  content: "\e097";
}
.ic-flash-off:before {
  content: "\e098";
}
.ic-flash-on:before {
  content: "\e099";
}
.ic-flights:before {
  content: "\e09a";
}
.ic-flip-to-back:before {
  content: "\e09b";
}
.ic-flip-to-front:before {
  content: "\e09c";
}
.ic-folder:before {
  content: "\e09d";
}
.ic-folder-mydrive:before {
  content: "\e09e";
}
.ic-folder-shared:before {
  content: "\e09f";
}
.ic-forum:before {
  content: "\e0a0";
}
.ic-forward:before {
  content: "\e0a1";
}
.ic-fullscreen:before {
  content: "\e0a2";
}
.ic-fullscreen-exit:before {
  content: "\e0a3";
}
.ic-gamepad:before {
  content: "\e0a4";
}
.ic-games:before {
  content: "\e0a5";
}
.ic-gesture:before {
  content: "\e0a6";
}
.ic-glass:before {
  content: "\e0a7";
}
.ic-gmail:before {
  content: "\e0a8";
}
.ic-google:before {
  content: "\e0a9";
}
.ic-google-plus:before {
  content: "\e0aa";
}
.ic-gps-fixed:before {
  content: "\e0ab";
}
.ic-gps-not-fixed:before {
  content: "\e0ac";
}
.ic-gps-off:before {
  content: "\e0ad";
}
.ic-group:before {
  content: "\e0ae";
}
.ic-group-add:before {
  content: "\e0af";
}
.ic-hangout:before {
  content: "\e0b0";
}
.ic-hangout-video:before {
  content: "\e0b1";
}
.ic-hangout-video-off:before {
  content: "\e0b2";
}
.ic-headset:before {
  content: "\e0b3";
}
.ic-headset-mic:before {
  content: "\e0b4";
}
.ic-help:before {
  content: "\e0b5";
}
.ic-high-quality:before {
  content: "\e0b6";
}
.ic-history:before {
  content: "\e0b7";
}
.ic-home:before {
  content: "\e0b8";
}
.ic-hotel:before {
  content: "\e0b9";
}
.ic-https:before {
  content: "\e0ba";
}
.ic-image:before {
  content: "\e0bb";
}
.ic-import-export:before {
  content: "\e0bc";
}
.ic-inbox:before {
  content: "\e0bd";
}
.ic-info:before {
  content: "\e0be";
}
.ic-info-outline:before {
  content: "\e0bf";
}
.ic-invert-colors:before {
  content: "\e0c0";
}
.ic-italics:before {
  content: "\e0c1";
}
.ic-keep:before {
  content: "\e0c2";
}
.ic-keyboard:before {
  content: "\e0c3";
}
.ic-keyboard-alt:before {
  content: "\e0c4";
}
.ic-keyboard-arrow-down:before {
  content: "\e0c5";
}
.ic-keyboard-arrow-left:before {
  content: "\e0c6";
}
.ic-keyboard-arrow-right:before {
  content: "\e0c7";
}
.ic-keyboard-arrow-up:before {
  content: "\e0c8";
}
.ic-keyboard-backspace:before {
  content: "\e0c9";
}
.ic-keyboard-capslock:before {
  content: "\e0ca";
}
.ic-keyboard-control:before {
  content: "\e0cb";
}
.ic-keyboard-hide:before {
  content: "\e0cc";
}
.ic-keyboard-return:before {
  content: "\e0cd";
}
.ic-keyboard-tab:before {
  content: "\e0ce";
}
.ic-keyboard-voice:before {
  content: "\e0cf";
}
.ic-label:before {
  content: "\e0d0";
}
.ic-label-outline:before {
  content: "\e0d1";
}
.ic-landscape:before {
  content: "\e0d2";
}
.ic-language:before {
  content: "\e0d3";
}
.ic-laptop:before {
  content: "\e0d4";
}
.ic-launch:before {
  content: "\e0d5";
}
.ic-link:before {
  content: "\e0d6";
}
.ic-list:before {
  content: "\e0d7";
}
.ic-live-help:before {
  content: "\e0d8";
}
.ic-location:before {
  content: "\e0d9";
}
.ic-location-city:before {
  content: "\e0da";
}
.ic-location-disabled:before {
  content: "\e0db";
}
.ic-location-searching:before {
  content: "\e0dc";
}
.ic-lock:before {
  content: "\e0dd";
}
.ic-lock-open:before {
  content: "\e0de";
}
.ic-lock-outline:before {
  content: "\e0df";
}
.ic-loop:before {
  content: "\e0e0";
}
.ic-mail:before {
  content: "\e0e1";
}
.ic-map:before {
  content: "\e0e2";
}
.ic-mark-unread:before {
  content: "\e0e3";
}
.ic-memory:before {
  content: "\e0e4";
}
.ic-menu:before {
  content: "\e0e5";
}
.ic-message:before {
  content: "\e0e6";
}
.ic-messenger:before {
  content: "\e0e7";
}
.ic-mic:before {
  content: "\e0e8";
}
.ic-mic-none:before {
  content: "\e0e9";
}
.ic-mic-off:before {
  content: "\e0ea";
}
.ic-mms:before {
  content: "\e0eb";
}
.ic-mood:before {
  content: "\e0ec";
}
.ic-more:before {
  content: "\e0ed";
}
.ic-more-horiz:before {
  content: "\e0ee";
}
.ic-more-vert:before {
  content: "\e0ef";
}
.ic-mouse:before {
  content: "\e0f0";
}
.ic-movie:before {
  content: "\e0f1";
}
.ic-nest-protect:before {
  content: "\e0f2";
}
.ic-nest-thermostat:before {
  content: "\e0f3";
}
.ic-network-cell:before {
  content: "\e0f4";
}
.ic-network-wifi:before {
  content: "\e0f5";
}
.ic-news:before {
  content: "\e0f6";
}
.ic-nfc:before {
  content: "\e0f7";
}
.ic-notifications:before {
  content: "\e0f8";
}
.ic-notifications-none:before {
  content: "\e0f9";
}
.ic-notifications-off:before {
  content: "\e0fa";
}
.ic-notifications-on:before {
  content: "\e0fb";
}
.ic-notifications-paused:before {
  content: "\e0fc";
}
.ic-pages:before {
  content: "\e0fd";
}
.ic-palette:before {
  content: "\e0fe";
}
.ic-panorama:before {
  content: "\e0ff";
}
.ic-party-mode:before {
  content: "\e100";
}
.ic-pause:before {
  content: "\e101";
}
.ic-pause-circle-fill:before {
  content: "\e102";
}
.ic-pause-circle-outline:before {
  content: "\e103";
}
.ic-people:before {
  content: "\e104";
}
.ic-person:before {
  content: "\e105";
}
.ic-person-add:before {
  content: "\e106";
}
.ic-person-location:before {
  content: "\e107";
}
.ic-person-outline:before {
  content: "\e108";
}
.ic-phone:before {
  content: "\e109";
}
.ic-phone2:before {
  content: "\e10a";
}
.ic-phone-bluetooth-speaker:before {
  content: "\e10b";
}
.ic-phone-forwarded:before {
  content: "\e10c";
}
.ic-phone-in-talk:before {
  content: "\e10d";
}
.ic-phone-locked:before {
  content: "\e10e";
}
.ic-phone-missed:before {
  content: "\e10f";
}
.ic-phone-paused:before {
  content: "\e110";
}
.ic-photo:before {
  content: "\e111";
}
.ic-photo-album:before {
  content: "\e112";
}
.ic-photo-library:before {
  content: "\e113";
}
.ic-place:before {
  content: "\e114";
}
.ic-play-arrow:before {
  content: "\e115";
}
.ic-play-circle-fill:before {
  content: "\e116";
}
.ic-play-circle-outline:before {
  content: "\e117";
}
.ic-play-download:before {
  content: "\e118";
}
.ic-play-install:before {
  content: "\e119";
}
.ic-plus-one:before {
  content: "\e11a";
}
.ic-poll:before {
  content: "\e11b";
}
.ic-polymer:before {
  content: "\e11c";
}
.ic-portrait:before {
  content: "\e11d";
}
.ic-post-blogger:before {
  content: "\e11e";
}
.ic-post-facebook:before {
  content: "\e11f";
}
.ic-post-gplus:before {
  content: "\e120";
}
.ic-post-instagram:before {
  content: "\e121";
}
.ic-post-linkedin:before {
  content: "\e122";
}
.ic-post-pinterest:before {
  content: "\e123";
}
.ic-post-tumblr:before {
  content: "\e124";
}
.ic-post-twitter:before {
  content: "\e125";
}
.ic-print:before {
  content: "\e126";
}
.ic-public:before {
  content: "\e127";
}
.ic-queue:before {
  content: "\e128";
}
.ic-radio-button-off:before {
  content: "\e129";
}
.ic-radio-button-on:before {
  content: "\e12a";
}
.ic-receipt:before {
  content: "\e12b";
}
.ic-refresh:before {
  content: "\e12c";
}
.ic-reminder:before {
  content: "\e12d";
}
.ic-remove:before {
  content: "\e12e";
}
.ic-remove-circle:before {
  content: "\e12f";
}
.ic-remove-circle-outline:before {
  content: "\e130";
}
.ic-replay:before {
  content: "\e131";
}
.ic-reply:before {
  content: "\e132";
}
.ic-reply-all:before {
  content: "\e133";
}
.ic-report:before {
  content: "\e134";
}
.ic-ring-volume:before {
  content: "\e135";
}
.ic-rotate-left:before {
  content: "\e136";
}
.ic-rotate-right:before {
  content: "\e137";
}
.ic-satellite:before {
  content: "\e138";
}
.ic-save:before {
  content: "\e139";
}
.ic-schedule:before {
  content: "\e13a";
}
.ic-school:before {
  content: "\e13b";
}
.ic-screen-lock-landscape:before {
  content: "\e13c";
}
.ic-screen-lock-portrait:before {
  content: "\e13d";
}
.ic-screen-lock-rotation:before {
  content: "\e13e";
}
.ic-screen-rotation:before {
  content: "\e13f";
}
.ic-sd-card:before {
  content: "\e140";
}
.ic-sd-storage:before {
  content: "\e141";
}
.ic-search:before {
  content: "\e142";
}
.ic-select-all:before {
  content: "\e143";
}
.ic-send:before {
  content: "\e144";
}
.ic-settings:before {
  content: "\e145";
}
.ic-settings-application:before {
  content: "\e146";
}
.ic-settings-bluetooth:before {
  content: "\e147";
}
.ic-settings-cell:before {
  content: "\e148";
}
.ic-settings-phone:before {
  content: "\e149";
}
.ic-settings-power:before {
  content: "\e14a";
}
.ic-settings-voice:before {
  content: "\e14b";
}
.ic-share:before {
  content: "\e14c";
}
.ic-share-alt:before {
  content: "\e14d";
}
.ic-shopping-basket:before {
  content: "\e14e";
}
.ic-shopping-cart:before {
  content: "\e14f";
}
.ic-shuffle:before {
  content: "\e150";
}
.ic-signal-cellular-1-bar:before {
  content: "\e151";
}
.ic-signal-cellular-2-bar:before {
  content: "\e152";
}
.ic-signal-cellular-3-bar:before {
  content: "\e153";
}
.ic-signal-cellular-4-bar:before {
  content: "\e154";
}
.ic-signal-wifi-1-bar:before {
  content: "\e155";
}
.ic-signal-wifi-2-bar:before {
  content: "\e156";
}
.ic-signal-wifi-3-bar:before {
  content: "\e157";
}
.ic-signal-wifi-4-bar:before {
  content: "\e158";
}
.ic-sim-card-alert:before {
  content: "\e159";
}
.ic-skip-next:before {
  content: "\e15a";
}
.ic-skip-previous:before {
  content: "\e15b";
}
.ic-slideshow:before {
  content: "\e15c";
}
.ic-sms:before {
  content: "\e15d";
}
.ic-sms-failed:before {
  content: "\e15e";
}
.ic-sort:before {
  content: "\e15f";
}
.ic-speaker:before {
  content: "\e160";
}
.ic-star:before {
  content: "\e161";
}
.ic-star-half:before {
  content: "\e162";
}
.ic-star-outline:before {
  content: "\e163";
}
.ic-star-rate:before {
  content: "\e164";
}
.ic-stop:before {
  content: "\e165";
}
.ic-storage:before {
  content: "\e166";
}
.ic-store:before {
  content: "\e167";
}
.ic-swap-driving-apps:before {
  content: "\e168";
}
.ic-swap-horiz:before {
  content: "\e169";
}
.ic-swap-vert:before {
  content: "\e16a";
}
.ic-swap-vert-circle:before {
  content: "\e16b";
}
.ic-switch-camera:before {
  content: "\e16c";
}
.ic-switch-video:before {
  content: "\e16d";
}
.ic-sync:before {
  content: "\e16e";
}
.ic-sync-disabled:before {
  content: "\e16f";
}
.ic-sync-green:before {
  content: "\e170";
}
.ic-sync-problem:before {
  content: "\e171";
}
.ic-sync-problem-red:before {
  content: "\e172";
}
.ic-system-update:before {
  content: "\e173";
}
.ic-tab:before {
  content: "\e174";
}
.ic-tab-unselected:before {
  content: "\e175";
}
.ic-tablet:before {
  content: "\e176";
}
.ic-tag-faces:before {
  content: "\e177";
}
.ic-tap-and-play:before {
  content: "\e178";
}
.ic-terrain:before {
  content: "\e179";
}
.ic-text-format:before {
  content: "\e17a";
}
.ic-text-sms:before {
  content: "\e17b";
}
.ic-theaters:before {
  content: "\e17c";
}
.ic-thumbs-down:before {
  content: "\e17d";
}
.ic-thumbs-up:before {
  content: "\e17e";
}
.ic-time-to-leave:before {
  content: "\e17f";
}
.ic-timelapse:before {
  content: "\e180";
}
.ic-timer:before {
  content: "\e181";
}
.ic-today:before {
  content: "\e182";
}
.ic-traffic:before {
  content: "\e183";
}
.ic-translate:before {
  content: "\e184";
}
.ic-tv:before {
  content: "\e185";
}
.ic-underline:before {
  content: "\e186";
}
.ic-undo:before {
  content: "\e187";
}
.ic-unfold-less:before {
  content: "\e188";
}
.ic-unfold-more:before {
  content: "\e189";
}
.ic-unknown-1:before {
  content: "\e18a";
}
.ic-unknown-3:before {
  content: "\e18b";
}
.ic-unknown-4:before {
  content: "\e18c";
}
.ic-unknown-5:before {
  content: "\e18d";
}
.ic-unknown-6:before {
  content: "\e18e";
}
.ic-unknown-7:before {
  content: "\e18f";
}
.ic-unkown-2:before {
  content: "\e190";
}
.ic-usb:before {
  content: "\e191";
}
.ic-vibration:before {
  content: "\e192";
}
.ic-video-youtube:before {
  content: "\e193";
}
.ic-videocam:before {
  content: "\e194";
}
.ic-videocam-off:before {
  content: "\e195";
}
.ic-view-array:before {
  content: "\e196";
}
.ic-view-column:before {
  content: "\e197";
}
.ic-view-headline:before {
  content: "\e198";
}
.ic-view-list:before {
  content: "\e199";
}
.ic-view-module:before {
  content: "\e19a";
}
.ic-view-quilt:before {
  content: "\e19b";
}
.ic-view-stream:before {
  content: "\e19c";
}
.ic-visibility:before {
  content: "\e19d";
}
.ic-visibility-off:before {
  content: "\e19e";
}
.ic-voice:before {
  content: "\e19f";
}
.ic-voicemail:before {
  content: "\e1a0";
}
.ic-volume-down:before {
  content: "\e1a1";
}
.ic-volume-mute:before {
  content: "\e1a2";
}
.ic-volume-off:before {
  content: "\e1a3";
}
.ic-volume-up:before {
  content: "\e1a4";
}
.ic-vpn:before {
  content: "\e1a5";
}
.ic-warning:before {
  content: "\e1a6";
}
.ic-watch:before {
  content: "\e1a7";
}
.ic-wb-auto:before {
  content: "\e1a8";
}
.ic-wb-cloudy:before {
  content: "\e1a9";
}
.ic-wb-incandescent:before {
  content: "\e1aa";
}
.ic-wb-irradescent:before {
  content: "\e1ab";
}
.ic-wb-sunny:before {
  content: "\e1ac";
}
.ic-web:before {
  content: "\e1ad";
}
.ic-whatshot:before {
  content: "\e1ae";
}
.ic-wifi-tethering:before {
  content: "\e1af";
}
.ic-work:before {
  content: "\e1b0";
}
