@charset "utf-8";
/* CSS Document */

body, div, h1, p, img, ul, li, a, form, fieldset, label, input {
	margin:0;
	padding:0;
	font-size:12px;
	font-family: '돋움', 'Arial';
}
ul, li {
	list-style:none;
}
a {
	text-decoration:none;
	color:#333;
}
img {
	border:none;
	outline:0;
}
button, input{
	outline:0;
}
body {
	height:100%;
	width:100%;
	background:#ffffff;
	overflow:hidden;
	min-width:1040px;
	min-height:980px;
}
/* 배경이미지*/

#wrap {
	height:100%;
	/*min-height:493px;*/
	width:1040px;
	margin: 20px auto;
}
/*logo*/
#logo {
	padding-top:0px;
	padding-left:60px;
	position:relative;
	top:50px;
	z-index:9999 !important;
	height:42px;
}
/*image*/
#bg {
	position:absolute;
	top:0px !important;
	z-index:9990 !important;
}
/*login box*/
#box {
	position:relative;
	top:90px;
	height:368px;
	width:300px;
	float:right;
	margin-right:120px;
	z-index:9999;
}
#loginForm {
	margin-top:0px;
	margin-right:0px;
}
legend {
	display:none;
}
fieldset {
	border:none;
	/*border-radius:7px;
	-moz-border-radius:7px;
	-ms-border-radius:7px;
	-o-border-radius:7px;
	-webkit-border-radius:7px;
	padding:20px 17px;	*/
	background:none;
}
#login_box {
	margin-top:60px;
}
#login_box h1 span {
	visibility:visible;
}
#login_box h1 {
	padding-bottom:10px;
	margin-bottom:0px;
	font-size:15px;
	color:#ffffff;
	padding-left:10px;/*background:url(../../../img/login/idas_345/login_line.png) bottom no-repeat;*/
}
#login_box p {
	color:#ffffff;
	font-weight:normal;
	padding-top:10px;
	padding-left:10px;
}
.cust_title span {
	font-weight:bold;
}
.check_ID {
	padding-left:0px;
	vertical-align:middle;
	padding-top:5px !important;
}
.check_ID input {
	width:10px !important;
}
.labelStyle {
	display:block;/*width:70px;  
	float:left; */
}
.login_inputbox {
	color:#656a70;
	/*border-left:2px solid #888B8A;
	border-top:2px solid #888B8A;*/
	border:1px solid #fff;
	vertical-align:middle;
	padding:3px 0;
	width:170px;
	text-indent:5px;
	margin-top:3px;
}
#btn {
	text-align:left;
	margin-top:5px;
	position:absolute;
	right:0;
	top:96px;
}
.btn_login {
	border:none;
	border-radius:10px;
	-moz-border-radius:10px;
	-ms-border-radius:10px;
	-o-border-radius:10px;
	-webkit-border-radius:10px;
	width:85px;
	height:75px;
	color:#ffffff;
	background:url(../../../img/login/idas_345/bg_fill.png) 50% 50% repeat-x;
	font-weight:normal;
	cursor:pointer;
	border:0;
}
#btn .btn_login:hover {
	color:#ffffff;
	background:url(../../../img/login/idas_345/bg_fill.png) 50% 50% repeat-x;
}
/*bottom*/
#bottom {
	clear:both;
	margin-top:480px;
	z-index:9999;
	position:relative;
}
#bottom p {
	text-align:center;
	font-size:11px;
}
