@charset "utf-8";
/* CSS Document
dashboard css:대전대학교
*/
body {
	background:#edf2f6;
	
}
.hidden {
	visibility:hidden;
}
.kyungdong_portal .wrap_style {
	/*background:#fff;*/
	background:none !important;
	padding-top:0px !important;
}
.kyungdong_portal .header_style {
	float: left;
	width: 100% !important;
	height: 59px;
	margin: 0;
	background: #192b5b url(../../resource/custom/img/background/bg_header.png) no-repeat top left;
	border: 0;
	border-radius: 0;
	margin-bottom: 20px;
}
.kyungdong_portal .header_style h1 {
	text-align: left;
	font-family: "맑은 고딕";
	font-size: 28px;
	text-transform: uppercase;
	color: #fff;
	margin-top:15px;
	margin-left:20px;
	float:left;
}
.kyungdong_portal .header_style h2 {
	text-align: left;
	font-family: "맑은 고딕";
	font-size: 28px;
	text-transform: uppercase;
	color: #fff;
	margin-top:15px;
	margin-left:5px;
	float:left;
}
@media all and (max-width:1500px) {
.kyungdong_portal {
 font-size:100% !important;
}
.kyungdong_portal .container_style .content.visual .con img{
	max-width:700px !important;
}
}
/*container*/
.kyungdong_portal .container_style {
	float:left;
	width:98% !important;
	height:100%;
	padding:0px 0%;
	margin: 0px 1%;/*background:#fff;	position:absolute;
	top:50px;
	bottom:0;*/
}
.kyungdong_portal .container_style .container_title{
	float:left;
	width:100%;
	height:29px;
	border-bottom:1px solid #b72700;
	background:url(../../resource/custom/img/background/container_title.png) left no-repeat;
}
.kyungdong_portal .container_style .container_title h3{
	font-family:"맑은 고딕";
	font-size:24px;
	color:#b72700;
	margin-left:10px;
	margin-top:2px;
	float:left;
	letter-spacing:-1px;
}
.kyungdong_portal .container_style .container_title .date{
	float:right;
	margin-top:2px;
	font-size:15px;
	font-weight:bold;
	color:#454545;
}

/*contents*/
.kyungdong_portal .container_style .content {
	float: left;
	width: 49%;
	/*max-width:770px;*/
	height:;
	margin-right:1%;
	margin-top:20px;
	margin-bottom:20px;
}
.kyungdong_portal .container_style .content.last {
	float:right;
	margin-right:0% !important;
}
.kyungdong_portal .container_style .content .title {
	float: left;
	width: 100%;
	border-bottom: 0;
	padding-bottom: 0px;
}
.kyungdong_portal .container_style .content .title h2 {
	font-size:160%;
	font-size:26px;
	letter-spacing:-2px;
	color:#192b5a;
	font-weight:bold;
	height:25px;
	padding-bottom:0px;
	text-indent:25px;
	margin-top:5px;
	background:url(../../resource/custom/img/background/cotent_title.png) left no-repeat;
}
.kyungdong_portal .container_style .content .title h2 img {
	padding-right:3px;
}
.kyungdong_portal .container_style .content .con {
    float: left;
    width: 96%;
    padding: 2%;
    border: 1px solid #cbdbe7;
    margin: 10px 0;
    height: 270px;
	background:url(../../resource/custom/img/background/con_bg.png) repeat-x;
}
.kyungdong_portal .container_style .content.visual .title{
	visibility:hidden;
}
.kyungdong_portal .container_style .content.visual .con{
	border:0;
	background:none;
	text-align:center;
	margin:0;
}
.kyungdong_portal .container_style .content.visual .con img{
	width:100%;
	height:300px;
}
.kyungdong_portal .container_style .content .con_empty {
	float: left;
	width: 100%;
	height:110px;
	margin: 20px 0%;
	background: #f1f1f1;
}
.kyungdong_portal .container_style .content .con_empty .con_empty_txt {
	text-align:center;
	margin-top:40px;
	height:42px;
	font-size:14px;
	color:#808080;
}
.kyungdong_portal .container_style .content .con_empty .con_empty_txt img {
	margin-right:5px;
}
.kyungdong_portal .container_style .content .con .con_left {
	float: left;
	width: 30%;
	border: 0;
	margin-right: 0px;
	background: none;
}
.kyungdong_portal .container_style .content .con .con_left .date {
	height: 26px !important;
    padding-left: 0px;
    border-right: 0;
    background: none;
    border-bottom: 0;
}
.kyungdong_portal .container_style .content .con .con_left .date p {
	font-size: 12px;
    color: #606060;
    font-weight: normal;
    text-indent: 10px;
    letter-spacing: -0.5px;
    text-align: left;
    margin-right: 10px;
    background: none;
    padding-bottom: 0px;
    padding-top: 0px;
}
.kyungdong_portal .container_style .content .con .con_left .date span {
	font-size: 12px;
	color: #606060;
	font-weight: normal;
	margin-left: 5px;
	letter-spacing: -0.5px;
}
.kyungdong_portal .container_style .content .con .con_left ul.count {
	/*border:1px solid #d6d6d6;*/
	border:1px solid #0e3173;
	float:left;/*max-width:185px;*/
	height:245px;
}
.kyungdong_portal .container_style .content .con .con_left ul.count li {
    float: left;
    width: 100%;
    height: ;
	 background: #f1f1f1;
    border-bottom: 1px solid #dbdbdb;
    vertical-align: middle;
    color: #303030;
    font-size: 85%;
	font-size: 14px;
    letter-spacing: -1px;
    font-weight: normal;
    text-indent: 10px;
    line-height: 54px;
    vertical-align: middle;
    /* padding-top: 20px; */
}
.kyungdong_portal .container_style .content .con .con_left ul.count li.yoy {
    border-bottom: 0;
}
.kyungdong_portal .container_style .content .con .con_left ul.count li span {
    color: #192b5b;
    font-size: 160%;
	font-size: 24px;
    letter-spacing: -1px;
    font-weight: normal;
    float: right;
    margin-right: 10px;
}
.kyungdong_portal .container_style .content .con .con_left ul.count li.bold {
    background: #142233 url(../../resource/custom/img/background/bg_shy.png) left no-repeat;
    font-weight: normal;
    font-size: 100%;
    letter-spacing: -2px;
    height: 76px;
    line-height: 76px;
	color:#ffffff;
	font-size:18px;
}
.kyungdong_portal .container_style .content .con .con_left ul.count li span.txt_s{
	font-size:15px;
	color:#192b5b;
	font-weight:normal;
	margin:0;
}
.kyungdong_portal .container_style .content .con .con_left ul.count li.bold span {
	 color: #ffffff;
	 font-weight: bold;
	font-size:34px;
	font-size:200%;
}
.kyungdong_portal .container_style .content .con .con_left ul.count li.yoy {
}
.kyungdong_portal .container_style .content .con .con_left ul.count li.yoy span {
	font-size: 14px;
	color: #303030;
    margin-top: 0px;
    margin-left: 0px;
    text-align: center;
    letter-spacing: -1px;
    float: left;
    font-weight: normal;
}
.kyungdong_portal .container_style .content .con .con_left ul.count li span b.krw {
	font-size: 12px;
	font-weight:normal;
	padding-left:2px;
}
.kyungdong_portal .container_style .content .con .con_left ul.count li.yoy img.yoy_arrow {
	float:right;
	margin-left:0px;
	margin-top:15px;
	margin-right:15px;
}
.kyungdong_portal .container_style .content .con .con_left ul.count li.yoy span b {
	font-size:13px;
	padding:0px 3px;
	font-weight:bold;
}
.kyungdong_portal .container_style .content .con .con_left ul.count li.yoy b.yoy_txt_bold {
    color: #303030;
    font-size: 22px;
}
.kyungdong_portal .container_style .content .con .con_right {
	width:65%;
	padding: 0px 0px;
	background: none;
	float: right;
	margin:0;
}
.kyungdong_portal .container_style .content .con .con_right .formula {
    margin: 0;
    padding: 0px 0;
    float: left;
    margin-bottom: 0px;
    background: none;
    width: 100%;
    padding-bottom: 10px;
}
.kyungdong_portal .container_style .content .con .con_right .formula p {
    margin: 0;
    text-align: left;
    font-size: 12px;
    font-weight: normal;
    letter-spacing: -0.5px;
    color: #5f5f5f;
    text-indent: 0px;
	padding-left:10px;
}
.kyungdong_portal .container_style .content .con .con_right .years {
	width:98%;
	margin-left:2%;
}
.kyungdong_portal .container_style .content .con .con_right .years dl {
	float: left;
	margin: 0;
	padding: 0;
	min-width: 25%;
	height: 50px;
}
.kyungdong_portal .container_style .content .con .con_right .years dl dt {
	padding: 4px 10px;
	background: #edf1f3;
	font-size: 14px;
	color: #5f696f;
	text-align: center;
	border-right: 1px solid #dedede;
	border-top:2px solid #d3d8dc;
	letter-spacing:-0.5px;
}
.kyungdong_portal .container_style .content .con .con_right .years dl dt.bold {
	font-size:14px;
	color:#5f696f;
	font-weight:normal;
}
.kyungdong_portal .container_style .content .con .con_right .years dl dd {
	font-size: 17px;
	color: #252525;
	font-weight: normal;
	text-align: center;
	border-right: 1px solid #dedede;
	border-bottom: 1px solid #dedede;
	/*height: 17px;*/
	/* vertical-align: middle; */
    padding: 6px 0;
	background:#ffffff;
	letter-spacing:-0.5px;
}
.kyungdong_portal .container_style .content .con .con_right .years dl dd span {
	font-size: 17px;
}
.kyungdong_portal .container_style .content .con .con_right .years dl dd.bold {
	font-size:17px;
	color:#252525;
	font-weight:bold;
}
.kyungdong_portal .container_style .content .con .con_right .graph {
	float: left;
	position:relative;
	margin: 0;
	margin: 0px 0px;
	width: 100%;
	height: 204px;
	border-bottom: 0;
	border-left: 0;
	border-right: 0;
	border:0;
	background:none;
}
/*jqx chart text*/
.jqx-chart-axis-text, .jqx-chart-label-text, .jqx-chart-tooltip-text, .jqx-chart-legend-text {
	fill: #333333;
	color: #333333;
	font-size: 12px !important;
}
.jqx-chart-label-text {
	fill:#000 !important;
	font-family:"맑은 고딕" !important;
	font-size:13px !important;
	font-weight:normal;
	letter-spacing:-0.5px;
}
.jqx-chart-tooltip-text {
	fill:#202020 !important;
	color:#202020 !important;
	font-family:"맑은 고딕" !important;
	font-size:12px !important;
}
.jqx-chart-axis-text {
	fill:#303030 !important;
	color:#ffffff !important;
	font-family:"맑은 고딕" !important;
	font-size:12px !important;
}
.jqx-chart-legend-text {
	fill:#202020 !important;
	font-size:12px !important;
	font-family:"맑은 고딕" !important;
	font-weight:normal !important;
}
.jqx-chart-title-text {
	fill:#fff !important;
	font-size:12px !important;
	font-weight:bold !important;
	font-family:"맑은 고딕" !important;
	letter-spacing:0px !important;
	visibility:hidden !important;
}
/*legend*/
.kyungdong_portal .legend {
    clear: both;
    text-align: center;
    position: absolute;
    top: 30px;
    right: 20px;
}
.kyungdong_portal .legend ul {
}
.kyungdong_portal .legend ul li {
	display: inline-block;
	margin-left: 5px;
	color: #202020;
	font-size: 11px;
	font-family:"맑은 고딕", "돋움", Verdana, Malgun Gothic, Arial;
}
.kyungdong_portal .legend ul li img {
	padding-right: 3px;
}
