@charset "utf-8";
/* CSS Document */
body {
	font-size:12px;
	background:#eeefef url(../img/bg-body.png) !important;
	font-family:"맑은 고딕", "돋움", Verdana, Malgun Gothic, Arial;
}
/*wrap*/
/*header*/
.blueish .header {
	height:27px;
	border-top: 1px solid #6B7A90;
	border-right: 1px solid #6B7A90;
	border-bottom: 1px solid #475365;
	border-left: 1px solid #808080;
	padding: 10px 0;
	border-radius: 5px;
	background: #B1BAC7 url(../img/bg-header.png) 50% 50% repeat-x;
}
.blueish .header .label.type1 {
	background: url(../img/icon-title-blueish.png) left 7px no-repeat;
	font-size: 12px;
	padding-left: 15px;
	line-height: 24px;
	color: #103da4;
	margin-right: 2px;
	font-weight: bold;
}
.blueish .header .label.sublabel {
	background: none;
	font-size: 12px;
	line-height: 24px;
	color: #000;
	font-weight: bold;
	margin-left:5px;
}
/*content*/
/*label*/
.blueish .content .label.type1.edit {
	background: url(../../../../../image/icon-page-edit.png) left 5px no-repeat;
	font-size: 13px;
	padding-left: 20px;
	line-height: 24px;
	color: #000;
	margin-left: 0px;
	font-weight: bold;
}
.blueish .content .label.type2 {
	background: url(../img/icon-subtitle-blueish.png) left 9px no-repeat;
	font-size: 12px;
	padding-left: 10px;
	line-height: 24px;
	color: #103da4;
	margin-left: 0px;
	font-weight: bold;
	letter-spacing:-0.5px;
}
.blueish .content .type3.label {
    background: url(../../../../../image/icon-Comment-blue.png) left 4px no-repeat;
    font-size: 12px;
    padding-left: 20px;
    line-height: 24px;
    color: #606060;
    margin-left: 0px;
    font-weight: normal;
}
.blueish .content .type4.label {
    background: url(../../../../../image/icon-box-arrow-blue.png) left 1px no-repeat;
    font-size: 12px;
    padding-left: 15px;
    color: #045c9c;
    margin-left: 0px;
    font-weight: bold;
    white-space: normal;
    width: 48px;
}
.blueish .content .label.sublabel {
	background: none;
	font-size: 12px;
	line-height: 24px;
	color: #000;
	font-weight: bold;
}
.blueish .content .label.sublabel.type1 {
	background: none;
	font-size: 12px;
	line-height: 24px;
	color: #000;
	font-weight: bold;
}
.blueish .content .label.sublabel.type2 {
    background: url(../../../../../image/icon-right-basic.png) -2px 2px no-repeat;
    font-size: 12px;
    line-height: 24px;
    color: #000;
    font-weight: bold;
    margin-left: 2px;
    margin-right: 5px;
}
.blueish .content .type3.sublabel.label {
    background: none;
    font-size: 12px;
    line-height: 12px;
    color: red;
    font-weight: bold;
    margin-left: 0px;
	margin-right: 0px;
    padding-left: 0px;
}
.blueish .content .type4.sublabel.label {
    background: none;
    font-size: 12px;
    line-height: 12px;
    color: blue;
    font-weight: bold;
    margin-left: 0px;
	margin-right: 0px;
    padding-left: 0px;
}
.blueish .content .type5.sublabel.label {
    background: url(../../../../../image/icon-dot-gray.png) 0px 12px no-repeat;
    font-size: 12px;
    color: #222222;
    font-weight: normal;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 7px;
    line-height: 24px;
}

/*table*/
.blueish .table{
	border: 1px solid #a1bad9;
	border-top: 3px solid #30638d;
	border-bottom:0;
}
.blueish .table table {
	border: 0;
    background: #ffffff;
}
.blueish .table table th {
    font-weight:bold;
	font-size:12px;	
    height: 25px;
    color: #223648;
	border-right:1px solid #a1bad9;
	border-bottom:1px solid #a1bad9;
    background: #B8D2EB;
	vertical-align:middle;
	letter-spacing:-0.5px;
}
.blueish .table table td {
    font-weight:normal;
	font-size:12px;	
    height: 25px;
	padding:0;
    color: #000000;
    border-right: 1px solid #e1e1e1;
	 border-bottom: 1px solid #e1e1e1;
    background: #ffffff;
	vertical-align:middle;
	letter-spacing:-0.5px;
	cursor:default;
}
.blueish .th_view {
	width:100%;
	float:left;
	text-align:center;
	pointer:pointer;
	line-height:1.6em;
	color:blue;
}
.blueish .th_img {
    position: absolute;
    bottom: 7px;
	top:2px;
}
/*table paging*/
.blueish .paging{
    text-shadow: none;
    border-color: #91A3B4;
    background-color: #B8D2EB;
	background:url(../img/bg-pager.png) 50% 50% repeat-x;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
}
.blueish .paging .pager input, .blueish .label{
	font-size:12px;
	color: #223648;
	letter-spacing:0px;
	background:none;
	border:none;
	outline:none;
	text-align:center;
}
.blueish .paging .pager input:hover{
    color: #fff !important;
    background-color: #1ca8dd;
    border: none;
	border-radius:3px;
	outline:none;
}
.blueish .paging .pager input.pressed{
    color: #fff !important;
    background-color: #1ca8dd;
     border: none;
	border-radius:3px;
	outline:none;
}
/*datatable*/
.blueish .datatable{
	border: 1px solid #a1bad9;
	border-top: 3px solid #30638d;
	border-bottom:1px solid #b0c5df !important;
	border-bottom:0;
	background:#fff;
}
.blueish .datatable table {
	border: 0;
    background: #ffffff;
}
.blueish .datatable table th {
    font-weight:bold;
	font-size:12px;	
    height: 25px;
    color: #223648;
	border-right:1px solid #a1bad9;
	border-bottom:1px solid #a1bad9;
    background: #B8D2EB;
	vertical-align:middle;
	letter-spacing:-0.5px;
}
.blueish .datatable table td {
    font-weight:normal;
	font-size:12px;	
    height: 25px;
	padding:0;
    color: #223648;
    border-right: 1px solid #e1e1e1;
	 border-bottom: 1px solid #e1e1e1;
    background: #ffffff;
	vertical-align:middle;
	letter-spacing:-0.5px;
	cursor:pointer;
}
.blueish .datatable table tr:nth-child(even) td{
	background: #F0F5F9;
}
.blueish .datatable table tr:nth-child(odd) td {
	background: #fff;
}
.blueish .datatable table tr:hover td{
	background:#376BA1 !important;
	border-color:#376BA1  !important;
	border-right:1px solid #376BA1  !important;
	color:#fff;
}
.blueish .datatable table tr.clicked, .blueish .datatable table tr.clicked td {
      background: #376BA1  !important;
	  border-color:#376BA1  !important;
	  border-right:1px solid #376BA1  !important;
	  color:#fff;
}
.blueish .datatable table.none_hover tr:hover td{
	background:#ffffff;
	border-color:#e1e1e1  !important;
	color:#223648;
	cursor:default;
}
/*data table (fix header)*/
/*table*/
.blueish .datatable .datatable_fixed {
	padding:25px 0;
	position:relative;
	border-top:0;
	border-left:0;
	border-right:0;
	background:#fff;
}
.blueish .datatable .datatable_fixed > div {
	overflow:auto;
	overflow-y:scroll;
	/*border-bottom:1px solid #91a3b4;	*/
	background:#ffffff;
}
.blueish .datatable .datatable_fixed table caption {
	height:0;
	overflow:hidden;
}
.blueish .datatable .datatable_fixed table thead, .blueish .datatable .datatable_fixed table tfoot {
	position:absolute;
	display:table;
	/*width:281px;*/
	border-bottom:0;
}
.blueish .datatable .datatable_fixed table thead {
	top:0;
}
.blueish .datatable .datatable_fixed table tfoot {
	bottom:0;
}
.blueish .datatable .datatable_fixed table thead th{
 	font-weight:bold;
	font-size:12px;	
    height: 25px;
    color: #223648;
	border-right:1px solid #a1bad9;
	border-bottom:1px solid #a1bad9;
    background: #B8D2EB;
	vertical-align:middle;
	letter-spacing:-0.5px;
}
.blueish .datatable .datatable_fixed table tbody td {
	font-weight:normal;
	font-size:12px;	
    height: 25px;
	padding:0;
    color: #223648;
    border-right: 1px solid #e1e1e1;
	 border-bottom: 1px solid #e1e1e1;
    background: #ffffff;
	vertical-align:middle;
	letter-spacing:-0.5px;
	cursor:pointer;
}
.blueish .datatable .datatable_fixed table tbody td  div.cell{
	margin:2px 5px 2px 5px;
}
.blueish .datatable .datatable_fixed table tbody tr:first-child td {
	border-top:0;
}
.blueish .datatable .datatable_fixed table tbody  tr:nth-child(even) td{
	background: #f0f5f9 ;
	border-color:#e1e1e1  !important;
}
.blueish .datatable .datatable_fixed table tbody  tr:nth-child(odd) td{
	background: #ffffff !important;
	border-color:#e1e1e1  !important;
}
.blueish .datatable .datatable_fixed table tbody  tr:hover td{
	background:#376BA1 !important;
	border-color:#376BA1  !important;
	color:#fff;
	cursor:default;
}
.blueish .datatable .datatable_fixed table tbody  tr.clicked td{
	background:#376BA1 !important;
	border-color:#376BA1  !important;
	color:#fff;
	cursor:default;
}
.blueish .datatable .datatable_fixed table.none_hover tr:hover td{
	background:none !important;
	border-color:#e1e1e1  !important;
	color:#223648;
}
.blueish .datatable .datatable_fixed table.none_hover tbody  tr:nth-child(even) td{
	background: #f0f5f9 !important;
	border-color:#e1e1e1  !important;
}
.blueish .datatable .datatable_fixed table.none_alt tbody  tr:nth-child(even) td{
	background: #ffffff;
	border-color:#e1e1e1  !important;
}
/*textarea*/
.blueish .textarea {
    line-height: 1.5em;
    background: #fefee8;
    text-align: left;
    text-indent:0;
    border: 1px solid #eeeeee;
    padding: 0;
	padding-left:3px !important;
    font-size: 12px;
	letter-spacing:-0.5px;
	font-family:"맑은 고딕", "돋움", Verdana, Malgun Gothic, Arial;
}
.blueish .textarea.type1 {
    line-height: 1.5em;
    background: #fff;
    text-align: left !important;
    text-indent: 0 !important;
    border: 1px solid #fff !important;
    padding: 0;
	padding-left:3px !important;
    font-size: 12px;
	font-family:"맑은 고딕", "돋움", Verdana, Malgun Gothic, Arial;
}
/*dhtml*/
.blueish .dhtmlarea {
    line-height: 1.5em;
    background: none;
    text-align: left;
    text-indent: 0 ;
    border: 1px solid #eeeeee;
    padding: 0;
    font-size: 12px;
	font-family:"맑은 고딕", "돋움", Verdana, Malgun Gothic, Arial;
}
/*input*/
.blueish .input.type1 {
    border: 1px solid #ccc;
    font-size: 12px;
	color:#000; 
	background:#fff;
	height:100%;
}
.blueish .input.type2 {
    border: 1px solid #eee;
    font-size: 12px;
	color:#000; 
	background:#fefee8;
	height:100%;
}
.blueish .input_disabled , .blueish .textarea_disabled{
	background:#efefef;
}
/*combobox*/
/*.blueish .combobox.type1 {
    border: 1px solid #ccc !important;
    font-size: 12px;
	color:#000; 
	background:#eee;
	text-align: center;
}*/

/*tabs*/
.blueish .tabs_content{
	border:1px solid #91a3b4 ;
}
.blueish a{
	color:#222;
}
/* button */
.blueish .button.type2 input {
	display:inline-block;
	width:auto;
	font-family:'맑은 고딕', "돋움", Verdana, Malgun Gothic, Arial;
	text-align:center;
	margin: 0;
	background: #225886 url(../img/bg-btn-deepblue.png) 50% 50% repeat-x;
	color: #fff;
	border-top: 1px solid #729AC4;
	border-left: 1px solid #729AC4;
	border-right: 1px solid #729AC4;
	border-bottom: 1px solid #729AC4;
	font-weight: normal;
	font-size: 12px;
	cursor: pointer;
	border-radius: 6px ;
	padding: 3px 10px 5px 10px ;
	-moz-background-clip:padding;
	background-clip:padding-box;
	-webkit-background-clip:padding-box;
	 box-shadow: 0px 1px 0px rgba(0,0,0,0.08), inset 0px 1px 2px rgba(255,255,255,0.75);
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08), inset 0 1px 2px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08), inset 0 1px 2px rgba(255, 255, 255, 0.75);
}
.blueish .button.type3 input {
	display:inline-block;
	width:auto;
	font-family:'맑은 고딕', "돋움", Verdana, Malgun Gothic, Arial;
	text-align:center;
	margin: 0;
	background: #C00000 url(../img/bg-btn-deepred.png) 50% 50% repeat-x ;
	color: #fff;
	border-top: 1px solid #d46464 ;
	border-left: 1px solid #d46464 ;
	border-right: 1px solid #d46464 ;
	border-bottom: 1px solid #d46464 ;
	font-weight: normal;
	font-size: 12px;
	cursor: pointer;
	border-radius: 6px ;
	padding: 3px 10px 5px 10px ;
	-moz-background-clip:padding;
	background-clip:padding-box;
	-webkit-background-clip:padding-box;
	 box-shadow: 0px 1px 0px rgba(0,0,0,0.08), inset 0px 1px 2px rgba(255,255,255,0.75);
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08), inset 0 1px 2px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08), inset 0 1px 2px rgba(255, 255, 255, 0.75);
}
.blueish .button.type4 input {
	margin: 0 !important;
	background: #31aeaf;
	background-image:-moz-linear-gradient(top, #4db7b8, #31aeaf);
	background-image:-ms-linear-gradient(top, #4db7b8, #31aeaf);
	background-image:-o-linear-gradient(top, #4db7b8, #31aeaf);
	background-image:-webkit-gradient(linear, center top, center bottom, from(#4db7b8), to(#31aeaf));
	background-image:-webkit-linear-gradient(top, #4db7b8, #31aeaf);
	background-image:linear-gradient(top, #4db7b8, #31aeaf);
	background-image:linear-gradient(to bottom, #4db7b8, #31aeaf);
	color: #fff !important;
	border-top: 1px solid #2bacad !important;
	border-left: 1px solid #2bacad !important;
	border-right: 1px solid #2bacad !important;
	border-bottom: 1px solid #2bacad !important;
	font-weight: normal !important;
	font-size: 12px;
	cursor: pointer !important;
	border-radius: 6px !important;
	padding: 3px 10px 5px 10px !important;
	-moz-background-clip:padding;
	background-clip:padding-box;
	-webkit-background-clip:padding-box;
	 box-shadow: 0px 1px 0px rgba(0,0,0,0.08), inset 0px 1px 2px rgba(255,255,255,0.75);
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08), inset 0 1px 2px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08), inset 0 1px 2px rgba(255, 255, 255, 0.75);
}	
.blueish .button.type5 input {
		margin: 0 !important;
	background: #ffffff;
/*	background-image:-moz-linear-gradient(top, #4db7b8, #31aeaf);
	background-image:-ms-linear-gradient(top, #4db7b8, #31aeaf);
	background-image:-o-linear-gradient(top, #4db7b8, #31aeaf);
	background-image:-webkit-gradient(linear, center top, center bottom, from(#4db7b8), to(#31aeaf));
	background-image:-webkit-linear-gradient(top, #4db7b8, #31aeaf);
	background-image:linear-gradient(top, #4db7b8, #31aeaf);
	background-image:linear-gradient(to bottom, #4db7b8, #31aeaf);*/
	color: #333 !important;
	border-top: 1px solid #cbcbcb !important;
	border-left: 1px solid #cbcbcb !important;
	border-right: 1px solid #cbcbcb !important;
	border-bottom: 1px solid #cbcbcb !important;
	font-weight: bold !important;
	font-size: 12px;
	cursor: pointer !important;
	border-radius: 0px !important;
	padding: 3px 10px 5px 10px !important;
	-moz-background-clip:padding;
	background-clip:padding-box;
	-webkit-background-clip:padding-box;
	 box-shadow: 0;
    -webkit-box-shadow: 0;
    -moz-box-shadow: 0;
}	
/*.blueish input, .blueish select {
	padding:3px
}*/

/*input type='file'*/
.blueish .fileupload .file_input_button {
	width:100px!important;
	position:absolute!important;
	top:0px!important;
	background:#dadada  url(../img/bg-file-upload-btn.png) 50% 50% repeat-x !important;
	color:#333333!important;
	border:1px solid #cccccc!important;
	border-bottom:1px solid #afafaf!important;
	font-size:12px!important;
	/*height:22px!important;*/
	text-align:center !important;
	text-indent:0 !important;
	border-left:0 !importnt;
	border-top-right-radius:3px!important;
	border-bottom-right-radius:3px!important;
}
/*table_title*/
.blueish .table_title{
	background:#0E508D  url(../img/bg-table-title.png) 50% 50% repeat-x;
	border:1px solid #0e508d;
	margin:0;
	padding:0;
}
.blueish .table_title h1{
	margin-left:0px;
	color:#fff;
	font-size:13px;
	background:url(../img/icon-table-title.png) left 6px no-repeat;
	margin-top:8px;
	margin-left:10px;
	padding-left:10px;
	letter-spacing:-0.5px;
}
/*tree*/
.blueish .tree{
	border:1px solid #91a3b4 !important;
}
.blueish .tabs .tree{
	border:0 !important;
}

/*다국어 팝업*/
.language_label{
    background: #e3ebfa;
    border: 1px solid #b3c5db;
    padding: 10px;
}