@charset "utf-8";
/* CSS Document */

@import url("../button.css");/* css initialize */

/*reset*/
html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
b,u,i,center,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,embed, 
figure,figcaption,footer,header,hgroup, 
menu,nav,output,ruby,section,summary,
time,mark,audio,video,input,button{
outline:0px;
margin:0;
padding:0;
font-size:100%;
font:inherit;
vertical-align:baseline;
}
body{ 
	background:#fffffff; 
	font-family:Tahoma,Verdana,Arial,Helvetica,sans-serif, "돋움"; 
	font-size:12px; 
	font-style:normal;
	font-weight:normal;
	line-height:normal;
	letter-spacing:normal;
	position:relative;
}

img{ border:none;}
ol,ul{list-style:none;}
table {border-collapse: collapse;border-spacing:0;}


/*상단 바*/
#top_bar{ width:100%; background:#F4F4F4; height:33px; border-bottom:1px solid #dddddd;}
.top_btn{ float:right; position:relative; top:-27px; left:-30px;}

/* ************content************* */
#content{
	border-top:5px solid #b2bfcc; 
	margin-top:5px;
} 
#content_btn{}
#content h1{ font-weight:bold; color:#333333;}
#content p{font-weight:bold; color:#777777;}

/*테이블(Portlet Layout)*/
input[type="text"]{ padding:4px 10px 1px 10px; margin-left:5%;margin-right:5%; border:1px solid #cccccc;}
input[type="radio"]{margin-top:5px;}

/*left영역*/
.left{
}
.left form h1{
	width:100%;
	height:40px;
	background:rgb(189,201,212); /* Old browsers */
		background: -moz-linear-gradient(top,  rgba(189,201,212,1) 0%, rgba(189,201,212,1) 0%, rgba(180,189,199,1) 20%, rgba(242,242,242,1) 96%, rgba(119,119,119,1) 100%, rgba(119,119,119,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(189,201,212,1)), color-stop(0%,rgba(189,201,212,1)), color-stop(20%,rgba(180,189,199,1)), color-stop(96%,rgba(242,242,242,1)), color-stop(100%,rgba(119,119,119,1)), color-stop(100%,rgba(119,119,119,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(189,201,212,1) 0%,rgba(189,201,212,1) 0%,rgba(180,189,199,1) 20%,rgba(242,242,242,1) 96%,rgba(119,119,119,1) 100%,rgba(119,119,119,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(189,201,212,1) 0%,rgba(189,201,212,1) 0%,rgba(180,189,199,1) 20%,rgba(242,242,242,1) 96%,rgba(119,119,119,1) 100%,rgba(119,119,119,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(189,201,212,1) 0%,rgba(189,201,212,1) 0%,rgba(180,189,199,1) 20%,rgba(242,242,242,1) 96%,rgba(119,119,119,1) 100%,rgba(119,119,119,1) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(189,201,212,1) 0%,rgba(189,201,212,1) 0%,rgba(180,189,199,1) 20%,rgba(242,242,242,1) 96%,rgba(119,119,119,1) 100%,rgba(119,119,119,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bdc9d4', endColorstr='#777777',GradientType=0 ); /* IE6-8 */
}
.left form h1 span{
	position:relative;
	top:15px;
	left:7%;
}
.left form p{ 
	padding-top:20px;
	padding-bottom:20px;
	 border-bottom:1px solid #eeeeee; 
	 width:80%; 
	 margin:0 auto;
	 vertical-align:middle;
}

.apply_btn{
	text-align:center;
	clear:both;
}
/*rigth영역*/
.right{ /*border-left:1px solid #eeeeee; */margin-top:-13px; }
.layout1{
	text-align:center;
	vertical-align:middle; 
	margin:0 auto;
	
}
.layout2{
	text-align:center; 
	vertical-align:middle; 
	margin:0 auto;
	height:100px; 
	background:#F8F8F9; 
	padding-top:15px;
	overflow:scroll;
}
.layoutbox_right{
	display:inline-block; 
	float:left;
	margin-right:2%; 
	
}
.layoutbox{ 
	width:28%;
	padding:1%; 
	border:2px solid #eeeeee; 
	background:#F4F4F4; 
	display:inline-block; 
	float:left;
	margin-right:1%;
	margin-left:1%;
	margin-top:10px;
}
#previewBox{
	border-top:2px solid #B1B2B3;
	background:#C3C7CC; 
	width:100%;
	/* height:1024px; */ 
	height:804px; 
}

	
	
	/*transform:scale(0,0.8); 
	-moz-transform:scale(0,0.8); 
	-ms-transform:scale(0,0.8); 
	-o-transform:scale(0,0.8); 
	-webkit-transform:scale(0,0.8);*/
}