@charset "utf-8";
/* CSS Document */
/*css 추가*/
.jqx-grid-column-header-simple-gray, .jqx-grid-columngroup-header-simple-gray {
    font-size: 12px;
    text-shadow: none;
    border-color: #eeeeef !important;
    letter-spacing: -0.5px;
    font-weight: bold;
}
.jqx-grid-cell-simple-gray {
	font-size:12px;
}
.jqx-grid-simple-gray {
	border:1px solid #cccccc !important;
}
.jqx-fill-state-pressed-simple-gray a, .jqx-widget-simple-gray .jqx-grid-cell-selected-simple-gray a{
	color:#000 !important;
}
.jqx-fill-state-hover-simple-gray a, .jqx-widget-simple-gray .jqx-grid-cell-hover-simple-gray a{
	color:#000 !important;
}
.jqx-scrollbar-button-state-normal-simple-gray .jqx-icon-arrow-up-simple-gray {
	background-image:url(../../images/img_icons/icon-up-scroll-simple-gray.png) !important;
}
.jqx-scrollbar-button-state-normal-simple-gray .jqx-icon-arrow-down-simple-gray {
	background-image:url(../../images/img_icons/icon-down-scroll-simple-gray.png) !important;
}
.jqx-scrollbar-button-state-normal-simple-gray .jqx-icon-arrow-left-simple-gray {
	background-image:url(../../images/img_icons/icon-left-scroll-simple-gray.png) !important;
}
.jqx-scrollbar-button-state-normal-simple-gray .jqx-icon-arrow-right-simple-gray {
	background-image:url(../../images/img_icons/icon-right-scroll-simple-gray.png) !important;
}
.jqx-scrollbar-thumb-state-normal-simple-gray, .jqx-scrollbar-thumb-state-normal-horizontal-simple-gray{
	border-radius:2px !important;
}
.jqx-tree-grid-indent-simple-gray{
	/*width:10px !important;*/
}
/*.jqx-tree-grid-collapse-button-simple-gray, .jqx-tree-grid-expand-button-simple-gray{
	width:12px !important;
	height:12px !important;
}제거*/
.jqx-button-simple-gray{
	border:1px solid #7f838a !important;
	margin: 3px 0 0 10px !important;
	font-weight:normal !important;
	font-size:11px;
	cursor:pointer !important;
	border-radius:4px !important;
	padding:3px 10px 5px 10px !important;
	width:auto !important;
	}
.jqx-button-simple-gray:hover{
	border:1px solid #7f838a !important;
	margin: 3px 0 0 10px !important;
	font-weight:normal !important;
	font-size:11px;
	cursor:pointer !important;
	border-radius:4px !important;
	padding:3px 10px 5px 10px !important;
	width:auto !important;
	}	
.jqx-button-simple-gray.buttonStyle_deldete, .buttonStyle_deldete input[type=button].jqx-button-simple-gray, buttonStyle_deldete input[type=submit].jqx-button-simple-gray {
	color:#fff;
	border:1px solid #d46464 !important;
	margin: 3px 0 0 10px !important;
	font-weight:normal !important;
	font-size:11px;
	cursor:pointer !important;
	border-radius:4px !important;
	padding:3px 10px 5px 10px !important;
	width:auto !important;	
    background: #C00000 url(../../images/background/button-deepred-bg.png) 50% 50% repeat-x;
    font-weight: normal;
	-moz-background-clip:padding;
	background-clip:padding-box;
	-webkit-background-clip:padding-box;
}	
/*체크박스*/
.jqx-tree-grid-checkbox-empty-style{
	width:13px;
	height:13px;
}
/*treeGrid*/
.jqx-tree-item-simple-gray {
	padding:2px 3px !important;
}
.jqx-tree-item-simple-gray img{
	margin-right:3px !important;
}
.treegrid.jqx-widget-content-simple-gray{
	background:#fff !important;
}
/*css 추가 끝*/
.jqx-widget-simple-gray {
	font-family:'맑은 고딕', arial;
}
.jqx-widget-content-simple-gray {
	color:#222;
	text-shadow:none;
	/*border-color:#fff;*/
	background:#eee;
	font-family:'맑은 고딕', arial;
}
.jqx-widget-header-simple-gray, .jqx-grid-simple-gray .jqx-widget-header-simple-gray {
    color: #484848;
    text-shadow: none;
    border-color: #a1a5ad;
    background-color: #dddddd;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    font-family: "맑은 고딕", arial;
}
.jqx-grid-column-menubutton-simple-gray, .jqx-widget-simple-gray.jqx-grid-column-menubutton-simple-gray {
	border-color:#a4bdc9
}
.jqx-grid-cell-simple-gray, .jqx-widget-simple-gray .jqx-grid-cell-simple-gray {
	background-color:#f9f9f9;
	color:#484848;
	text-shadow:none;
	cursor:pointer; /*추가*/
}
.jqx-fill-state-normal-simple-gray {
    color: #fff;
    text-shadow: none;
    border-color: #A4A4A5 !important;
    background-color: #d9eae6;
    background-image: -moz-linear-gradient(top, #8d9198, #747981);
    background-image: -ms-linear-gradient(top, #8d9198, #747981);
    background-image: -o-linear-gradient(top, #8d9198, #747981);
    background-image: -webkit-gradient(linear, center top, center bottom, from(#8d9198), to(#747981));
    background-image: -webkit-linear-gradient(top, #8d9198, #747981);
    background-image: linear-gradient(top, #8d9198, #747981);
    background-image: linear-gradient(to bottom, #8d9198, #747981);
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-background-clip: padding-box;
    font-family: "맑은 고딕", arial;
}
.jqx-button-simple-gray {
	color:#fff !important;
	text-shadow:none;
	border-color:#7f838a !important;
	background-color:#a1a5ad;
	background-image:-moz-linear-gradient(top, #8d9198, #747981);
	background-image:-ms-linear-gradient(top, #8d9198, #747981);
	background-image:-o-linear-gradient(top, #8d9198, #747981);
	background-image:-webkit-gradient(linear, center top, center bottom, from(#8d9198), to(#747981));
	background-image:-webkit-linear-gradient(top, #8d9198, #747981);
	background-image:linear-gradient(top, #8d9198, #747981);
	background-image:linear-gradient(to bottom, #8d9198, #747981);
	-moz-background-clip:padding;
	background-clip:padding-box;
	-webkit-background-clip:padding-box;
	font-family:'맑은 고딕', arial;
}
.jqx-grid-selectionarea-simple-gray {
	border-color:#d6e4e9;
	background-color:#eaf3f9
}
.jqx-widget-simple-gray .jqx-grid-cell-sort-simple-gray, .jqx-widget-simple-gray .jqx-grid-cell-filter-simple-gray, .jqx-widget-simple-gray .jqx-grid-cell-pinned-simple-gray, .jqx-grid-cell-sort-simple-gray, .jqx-grid-cell-filter-simple-gray, .jqx-grid-cell-pinned-simple-gray {
	background-color:#f9f9f9; /*sorting시 cell색상 변경*/
	color:#202020;
	text-shadow:none
}
.jqx-widget-simple-gray .jqx-grid-cell-alt-simple-gray, .jqx-widget-simple-gray .jqx-grid-cell-sort-alt-simple-gray, .jqx-widget-simple-gray .jqx-grid-cell-pinned-alt-simple-gray, .jqx-widget-simple-gray .jqx-grid-cell-filter-alt-simple-gray, .jqx-grid-cell-alt-simple-gray, .jqx-grid-cell-sort-alt-simple-gray, .jqx-grid-cell-filter-alt-simple-gray {
	background-color:#f5f5f5;
	color:#202020;
	text-shadow:none
}
.jqx-fill-state-hover-simple-gray, .jqx-widget-simple-gray .jqx-grid-cell-hover-simple-gray {
	 color: #fff;/*변경*/
	text-shadow:none;
	border-color: #566274 !important;/*변경*/
    background-color: #566274;/*변경*/
	/*background-image:-moz-linear-gradient(top, #d9eae6, #d9eae6);
	background-image:-ms-linear-gradient(top, #d9eae6, #d9eae6);
	background-image:-o-linear-gradient(top, #d9eae6, #d9eae6);
	background-image:-webkit-gradient(linear, center top, center bottom, from(#d9eae6), to(#d9eae6));
	background-image:-webkit-linear-gradient(top, #d9eae6, #d9eae6);
	background-image:linear-gradient(top, #d9eae6, #d9eae6);
	background-image:linear-gradient(to bottom, #d9eae6, #d9eae6);*/
	-moz-background-clip:padding;
	background-clip:padding-box;
	-webkit-background-clip:padding-box;
	font-family:'맑은 고딕', arial;
}
.jqx-fill-state-pressed-simple-gray, .jqx-widget-simple-gray .jqx-grid-cell-selected-simple-gray {
    color: #fff;/*변경*/
    text-shadow: none;
    border-color: #566274 !important;/*변경*/
    background-color: #566274;/*변경*/
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-background-clip: padding-box;
    font-family: "맑은 고딕", arial;
    font-weight: normal;
/*	text-decoration:underline;추가 -> 뺌*/
}
.jqx-switchbutton-label-on-simple-gray {
	color:#fff;
	text-shadow:none;
	border-color:#cccccc;
	background-color:#dadada;
	background-image:-moz-linear-gradient(top, #d9eae6, #d9eae6);
	background-image:-ms-linear-gradient(top, #d9eae6, #d9eae6);
	background-image:-o-linear-gradient(top, #d9eae6, #d9eae6);
	background-image:-webkit-gradient(linear, center top, center bottom, from(#d9eae6), to(#d9eae6));
	background-image:-webkit-linear-gradient(top, #d9eae6, #d9eae6);
	background-image:linear-gradient(top, #d9eae6, #d9eae6);
	background-image:linear-gradient(to bottom, #d9eae6, #d9eae6);
	-moz-background-clip:padding;
	background-clip:padding-box;
	-webkit-background-clip:padding-box
}
.jqx-tabs-title-selected-top-simple-gray, .jqx-tabs-selection-tracker-top-simple-gray {
	color:#222;
	text-shadow:none;
	border-color:#cccccc;
	border-bottom:1px solid #fff;
	background-image:none;
	background-color:#fff
}
.jqx-tabs-title-selected-bottom-simple-gray, .jqx-tabs-selection-tracker-bottom-simple-gray {
	color:#222;
	text-shadow:none;
	border-color:#cccccc;
	border-top:1px solid #fff;
	background-image:none;
	background-color:#fff
}
.jqx-splitter-splitbar-hover-simple-gray {
	background:#d5edf5
}
.jqx-splitter-splitbar-vertical-simple-gray, .jqx-splitter-splitbar-horizontal-simple-gray, .jqx-slider-track-horizontal-simple-gray, .jqx-slider-track-vertical-simple-gray {
	background:#eaf3f9
}
.jqx-splitter-collapse-button-horizontal-simple-gray, .jqx-splitter-collapse-button-vertical-simple-gray, .jqx-slider-rangebar-simple-gray {
	background:#d9eae6
}
.jqx-scrollbar-state-normal-simple-gray {
	background-color:#ebebeb;
	border-color:#ebebeb
}
.jqx-grid-bottomright-simple-gray, .jqx-panel-bottomright-simple-gray, .jqx-listbox-bottomright-simple-gray {
	background-color:#dedede
}
.jqx-scrollbar-thumb-state-normal-simple-gray {
	background-color:#d6d6d6;
	background-color:#d6d6d6;
	border-color:#A4A4A5 ;
	background-image:-moz-linear-gradient(left, #d6d6d6, #d6d6d6);
	background-image:-ms-linear-gradient(left, #d6d6d6, #d6d6d6);
	background-image:-o-linear-gradient(left, #d6d6d6, #d6d6d6);
	background-image:-webkit-gradient(linear, left top, right top, from(#d6d6d6), to(#d6d6d6));
	background-image:-webkit-linear-gradient(left, #d6d6d6, #d6d6d6);
	background-image:linear-gradient(left, #d6d6d6, #d6d6d6);
	background-image:linear-gradient(left right, #d6d6d6, #d6d6d6);
	background:#cccccc url(../../images/background/scrollbar-move-button-image.png) repeat-y !important;
}
.jqx-scrollbar-thumb-state-normal-horizontal-simple-gray {
	background-color:#d6d6d6;
	background-color:#d6d6d6;
	border-color:#A4A4A5;
	background-image:-moz-linear-gradient(left, #d6d6d6, #d6d6d6);
	background-image:-ms-linear-gradient(left, #d6d6d6, #d6d6d6);
	background-image:-o-linear-gradient(left, #d6d6d6, #d6d6d6);
	background-image:-webkit-gradient(linear, left top, right top, from(#d6d6d6), to(#d6d6d6));
	background-image:-webkit-linear-gradient(left, #d6d6d6, #d6d6d6);
	background-image:linear-gradient(left, #d6d6d6, #d6d6d6);
	background-image:linear-gradient(left right, #d6d6d6, #d6d6d6);
	-moz-background-clip:padding;
	background-clip:padding-box;
	-webkit-background-clip:padding-box;
	background:#cccccc url(../../images/background/scrollbar-horizontal-move-button-image.png) repeat-x !important;
}
.jqx-scrollbar-thumb-state-hover-simple-gray {
	background-color:#d6d6d6;
	background-color:#d6d6d6;
	border-color:#A4A4A5 !important;
	background-image:-moz-linear-gradient(left, #d6d6d6, #d6d6d6);
	background-image:-ms-linear-gradient(left, #d6d6d6, #d6d6d6);
	background-image:-o-linear-gradient(left, #d6d6d6, #d6d6d6);
	background-image:-webkit-gradient(linear, left top, right top, from(#d6d6d6), to(#d6d6d6));
	background-image:-webkit-linear-gradient(left, #d6d6d6, #d6d6d6);
	background-image:linear-gradient(left, #d6d6d6, #d6d6d6);
	background-image:linear-gradient(left right, #d6d6d6, #d6d6d6);
	background:#cccccc url(../../images/background/scrollbar-move-button-image.png) repeat-y !important;
}
.jqx-scrollbar-thumb-state-hover-horizontal-simple-gray {
	background-color:#d6d6d6;
	background-color:#d6d6d6;
	border-color:#A4A4A5 !important;
	background-image:-moz-linear-gradient(left, #d6d6d6, #d6d6d6);
	background-image:-ms-linear-gradient(left, #d6d6d6, #d6d6d6);
	background-image:-o-linear-gradient(left, #d6d6d6, #d6d6d6);
	background-image:-webkit-gradient(linear, left top, right top, from(#d6d6d6), to(#d6d6d6));
	background-image:-webkit-linear-gradient(left, #d6d6d6, #d6d6d6);
	background-image:linear-gradient(left, #d6d6d6, #d6d6d6);
	background-image:linear-gradient(left right, #d6d6d6, #d6d6d6);
	background:#cccccc url(../../images/background/scrollbar-horizontal-move-button-image.png) repeat-x !important;
	-moz-background-clip:padding;
	background-clip:padding-box;
	-webkit-background-clip:padding-box;
}
.jqx-scrollbar-thumb-state-pressed-simple-gray {
background-color:#d6d6d6;
	background-color:#d6d6d6;
	border-color:#A4A4A5;
	background-image:-moz-linear-gradient(left, #d6d6d6, #d6d6d6);
	background-image:-ms-linear-gradient(left, #d6d6d6, #d6d6d6);
	background-image:-o-linear-gradient(left, #d6d6d6, #d6d6d6);
	background-image:-webkit-gradient(linear, left top, right top, from(#d6d6d6), to(#d6d6d6));
	background-image:-webkit-linear-gradient(left, #d6d6d6, #d6d6d6);
	background-image:linear-gradient(left, #d6d6d6, #d6d6d6);
	background-image:linear-gradient(left right, #d6d6d6, #d6d6d6);
	background:#cccccc url(../../images/background/scrollbar-move-button-image.png) repeat-y !important;
}
.jqx-scrollbar-thumb-state-pressed-horizontal-simple-gray {
	background-color:#d6d6d6;
	background-color:#d6d6d6;
	border-color:#A4A4A5;
	background-image:-moz-linear-gradient(left, #d6d6d6, #d6d6d6);
	background-image:-ms-linear-gradient(left, #d6d6d6, #d6d6d6);
	background-image:-o-linear-gradient(left, #d6d6d6, #d6d6d6);
	background-image:-webkit-gradient(linear, left top, right top, from(#d6d6d6), to(#d6d6d6));
	background-image:-webkit-linear-gradient(left, #d6d6d6, #d6d6d6);
	background-image:linear-gradient(left, #d6d6d6, #d6d6d6);
	background-image:linear-gradient(left right, #d6d6d6, #d6d6d6);
	background:#cccccc url(../../images/background/scrollbar-horizontal-move-button-image.png) repeat-x !important;
	-moz-background-clip:padding;
	background-clip:padding-box;
	-webkit-background-clip:padding-box;
}
.jqx-scrollbar-button-state-normal-simple-gray {
	background-color:#bfbfbf;
	border-color:#aaaaaa !important;
	background-image:-moz-linear-gradient(top, #bfbfbf, #bfbfbf);
	background-image:-ms-linear-gradient(top, #bfbfbf, #bfbfbf);
	background-image:-o-linear-gradient(top, #bfbfbf, #bfbfbf);
	background-image:-webkit-gradient(linear, center top, center bottom, from(#bfbfbf), to(#bfbfbf));
	background-image:-webkit-linear-gradient(top, #bfbfbf, #bfbfbf);
	background-image:linear-gradient(top, #bfbfbf, #bfbfbf);
	background-image:linear-gradient(to bottom, #bfbfbf, #bfbfbf);
	background:#bababa url(../../images/background/scrollbar-move-button-image.png) 50% 50% repeat-y !important;
	-moz-background-clip:padding;
	background-clip:padding-box;
	-webkit-background-clip:padding-box;
	cursor:pointer;
}
.jqx-scrollbar-button-state-hover-simple-gray {
	background-color:#e6e6e6;
	border-color:#aaaaaa !important;
	background-image:-moz-linear-gradient(top, #e6e6e6, #e6e6e6);
	background-image:-ms-linear-gradient(top, #e6e6e6, #e6e6e6);
	background-image:-o-linear-gradient(top, #e6e6e6, #e6e6e6);
	background-image:-webkit-gradient(linear, center top, center bottom, from(#e6e6e6), to(#e6e6e6));
	background-image:-webkit-linear-gradient(top, #e6e6e6, #e6e6e6);
	background-image:linear-gradient(top, #e6e6e6, #e6e6e6);
	background-image:linear-gradient(to bottom, #e6e6e6, #e6e6e6);
	background:#bababa url(../../images/background/scrollbar-move-button-image.png) 50% 50% repeat-y !important;
	-moz-background-clip:padding;
	background-clip:padding-box;
	-webkit-background-clip:padding-box
}
.jqx-scrollbar-button-state-pressed-simple-gray {
	background-color:#bfbfbf;
	border-color:#aaaaaa !important;
	background-image:-moz-linear-gradient(top, #bfbfbf, #bfbfbf);
	background-image:-ms-linear-gradient(top, #bfbfbf, #bfbfbf);
	background-image:-o-linear-gradient(top, #bfbfbf, #bfbfbf);
	background-image:-webkit-gradient(linear, center top, center bottom, from(#bfbfbf), to(#bfbfbf));
	background-image:-webkit-linear-gradient(top, #bfbfbf, #bfbfbf);
	background-image:linear-gradient(top, #bfbfbf, #bfbfbf);
	background-image:linear-gradient(to bottom, #bfbfbf, #bfbfbf);
	background:#bababa url(../../images/background/scrollbar-move-button-image.png) 50% 50% repeat-y !important;
	-moz-background-clip:padding;
	background-clip:padding-box;
	-webkit-background-clip:padding-box
}
.jqx-radiobutton-check-checked-simple-gray {
	background:#347a9b;
	width:7px;
	height:7px;
	margin-left:2px;
	margin-top:2px;
	border-width:1px;
	border-style:solid
}
.jqx-rc-tl-simple-gray { 
	-moz-border-radius-topleft:3px;
	-webkit-border-radius-topleft:3px;
	border-radius-topleft:3px
}
.jqx-rc-tr-simple-gray {
	-moz-border-radius-topright:3px;
	-webkit-border-radius-topright:3px;
	border-radius-topright:3px
}
.jqx-rc-bl-simple-gray {
	-moz-border-radius-bottomleft:3px;
	-webkit-border-radius-bottomleft:3px;
	border-radius-bottomleft:3px
}
.jqx-rc-br-simple-gray {
	-moz-border-radius-bottomright:3px;
	-webkit-border-radius-bottomright:3px;
	border-radius-bottomright:3px
}
.jqx-rc-t-simple-gray {
	-moz-border-radius-topleft:3px;
	-webkit-border-top-left-radius:3px;
	border-top-left-radius:3px;
	-moz-border-radius-topright:3px;
	-webkit-border-top-right-radius:3px;
	border-top-right-radius:3px
}
.jqx-rc-b-simple-gray {
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
	border-bottom-left-radius:3px;
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
	border-bottom-right-radius:3px
}
.jqx-rc-r-simple-gray {
	-moz-border-radius-topright:3px;
	-webkit-border-top-right-radius:3px;
	border-top-right-radius:3px;
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
	border-bottom-right-radius:3px
}
.jqx-rc-l-simple-gray {
	-moz-border-radius-topleft:3px;
	-webkit-border-top-left-radius:3px;
	border-top-left-radius:3px;
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
	border-bottom-left-radius:3px
}
.jqx-radiobutton-default-simple-gray, .jqx-radiobutton-simple-gray, .jqx-radiobutton-check-checked-simple-gray, .jqx-radiobutton-hover-simple-gray, .jqx-radiobutton-check-indeterminate-simple-gray, .jqx-radiobutton-check-indeterminate-disabled-simple-gray, .jqx-slider-button-simple-gray {
	-moz-border-radius:100%!important;
	-webkit-border-radius:100%!important;
	border-radius:100%!important
}
.jqx-rc-all-simple-gray, .jqx-tooltip-simple-gray, .jqx-tooltip-text-simple-gray, .jqx-tooltip-main-simple-gray {
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px
}
.jqx-grid-column-sortascbutton-simple-gray, .jqx-expander-arrow-bottom-simple-gray, .jqx-window-collapse-button-simple-gray, .jqx-menu-item-arrow-up-simple-gray, .jqx-menu-item-arrow-top-up-simple-gray, .jqx-icon-arrow-up-simple-gray {
	background-image:url('../../images/img_icons/icon-up-simple-gray.png')
}
.jqx-icon-arrow-up-hover-simple-gray {
	background-image:url('../../images/img_icons/icon-up-simple-gray.png')
}
.jqx-menu-item-arrow-up-selected-simple-gray, .jqx-icon-arrow-up-selected-simple-gray.jqx-expander-arrow-expanded-simple-gray {
	background-image:url('../../images/img_icons/icon-up-simple-gray.png')
}
.jqx-grid-column-menubutton-simple-gray, .jqx-grid-column-sortdescbutton-simple-gray, .jqx-expander-arrow-top-simple-gray, .jqx-window-collapse-button-collapsed-simple-gray, .jqx-menu-item-arrow-down-simple-gray, .jqx-menu-item-arrow-down-simple-gray, .jqx-tree-item-arrow-expand-simple-gray, .jqx-grid-group-expand-simple-gray, .jqx-widget-simple-gray .jqx-grid-group-expand-simple-gray, .jqx-icon-arrow-down-simple-gray {
	background-image:url('../../images/img_icons/icon-down-simple-gray.png')
}
.jqx-icon-arrow-down-hover-simple-gray {
	background-image:url('../../images/img_icons/icon-down-simple-gray.png')
}
.jqx-menu-item-arrow-down-selected-simple-gray, .jqx-icon-arrow-down-selected-simple-gray {
	background-image:url('../../images/img_icons/icon-down-simple-gray.png')
}
.jqx-tabs-arrow-left-simple-gray, .jqx-menu-item-arrow-top-left-simple-gray, .jqx-grid-group-collapse-rtl-simple-gray, .jqx-widget-simple-gray .jqx-grid-group-collapse-rtl-simple-gray, .jqx-icon-arrow-left-simple-gray, .jqx-icon-arrow-down-left-simple-gray {
	background-image:url('../../images/img_icons/icon-left-simple-gray.png')
}
.jqx-icon-arrow-left-hover-simple-gray {
	background-image:url('../../images/img_icons/icon-left-simple-gray.png')
}
.jqx-menu-vertical-simple-gray {
	background:#fff
}
.jqx-menu-item-arrow-left-selected-simple-gray, .jqx-icon-arrow-left-selected-simple-gray {
	background-image:url('../../images/img_icons/icon-left-simple-gray.png')
}
.jqx-tabs-arrow-right-simple-gray, .jqx-menu-item-arrow-top-right-simple-gray, .jqx-menu-item-arrow-collapse-simple-gray, .jqx-grid-group-collapse-simple-gray, .jqx-widget-simple-gray .jqx-grid-group-collapse-simple-gray, .jqx-icon-arrow-right-simple-gray {
	background-image:url('../../images/img_icons/icon-right-simple-gray.png');
}
.jqx-icon-arrow-right-hover-simple-gray {
	background-image:url('../../images/img_icons/icon-right-simple-gray.png')
}
.jqx-menu-item-arrow-right-selected-simple-gray, .jqx-icon-arrow-right-selected-simple-gray {
	background-image:url('../../images/img_icons/icon-right-simple-gray.png')
}
.jqx-window-close-button-simple-gray, .jqx-tabs-close-button-simple-gray, .icon-close-simple-gray {
	background-image:url('images/close.png')
}
.jqx-tabs-close-button-selected-simple-gray {
	background-image:url('images/close.png')
}
.jqx-tabs-close-button-hover-simple-gray {
	background-image:url('images/close.png')
}
.jqx-widget-simple-gray .jqx-grid-column-header-simple-gray, .jqx-widget-simple-gray .jqx-grid-cell-simple-gray, .jqx-widget-simple-gray .jqx-grid-group-cell-simple-gray, .jqx-grid-cell-simple-gray {
	border-color:#e5e5e5;
}
.jqx-checkbox-check-checked-simple-gray {
	background-image:url(../../images/img_icons/check_darkblue.png);
}
.jqx-checkbox-check-indeterminate-simple-gray {
	background-image:url(../../images/img_icons/check_indeterminate_black.png);
}
.jqx-tooltip-simple-gray, .jqx-tooltip-main-simple-gray {
	color:#07485e;
	text-shadow:none;
	border-color:#aadced;
	background-color:#d5edf5
}
.jqx-combobox-content-simple-gray, .jqx-input-simple-gray {
	color:#222;
	text-shadow:none;
	border-color:#d9eae6;
	background-color:#fff
}
.jqx-combobox-input-simple-gray {
	color:#222;
	text-shadow:none
}
.jqx-input-content-simple-gray {
	color:#222;
	text-shadow:none;
	background-color:#fff
}
.jqx-fill-state-focus-simple-gray, .jqx-popup-simple-gray .jqx-fill-state-focus-simple-gray {
	border-color:#d9eae6
}
.jqx-popup-simple-gray.jqx-listbox-simple-gray, .jqx-popup-simple-gray.jqx-calendar-simple-gray, .jqx-menu-dropdown-simple-gray, .jqx-popup-simple-gray.jqx-dropdownbutton-popup-simple-gray {
	color:#222;
	text-shadow:none;
	border-color:#d9eae6;
	background-color:#fff
}
.jqx-menu-item-arrow-right-simple-gray, .jqx-tree-item-arrow-collapse-simple-gray {
	background-image:url('../../images/img_icons/icon-right-simple-gray.png');
}
.jqx-menu-item-arrow-left-simple-gray {
	background-image:url('../../images/img_icons/icon-left-simple-gray.png')
}
.jqx-tree-item-arrow-expand-simple-gray {
	background-image:url('../../images/img_icons/icon-down-simple-gray.png')
}
.jqx-scrollbar-simple-gray .jqx-icon-arrow-up-simple-gray {
	background-image:url('../../images/img_icons/icon-up-simple-gray.png')
}
.jqx-scrollbar-simple-gray .jqx-icon-arrow-left-simple-gray {
	background-image:url('../../images/img_icons/icon-left-simple-gray.png')
}
.jqx-scrollbar-simple-gray .jqx-icon-arrow-right-simple-gray {
	background-image:url('../../images/img_icons/icon-right-simple-gray.png')
}
.jqx-scrollbar-simple-gray .jqx-icon-arrow-bottom-simple-gray {
	background-image:url('../../images/img_icons/icon-bottom-simple-gray.png')
}
.jqx-scrollbar-simple-gray .jqx-icon-arrow-up-hover-simple-gray {
	background-image:url('../../images/img_icons/icon-up-simple-gray.png')
}
.jqx-scrollbar-simple-gray .jqx-icon-arrow-left-hover-simple-gray {
	background-image:url('../../images/img_icons/icon-left-simple-gray.png')
}
.jqx-scrollbar-simple-gray .jqx-icon-arrow-right-hover-simple-gray {
	background-image:url('../../images/img_icons/icon-right-simple-gray.png')
}
.jqx-scrollbar-simple-gray .jqx-icon-arrow-bottom-hover-simple-gray {
	background-image:url('../../images/img_icons/icon-bottom-simple-gray.png')
}
.jqx-scrollbar-simple-gray .jqx-icon-arrow-up-selected-simple-gray {
	background-image:url('../../images/img_icons/icon-up-simple-gray.png')
}
.jqx-scrollbar-simple-gray .jqx-icon-arrow-left-selected-simple-gray {
	background-image:url('../../images/img_icons/icon-left-simple-gray.png')
}
.jqx-scrollbar-simple-gray .jqx-icon-arrow-right-selected-simple-gray {
	background-image:url('../../images/img_icons/icon-right-simple-gray.png')
}
.jqx-scrollbar-simple-gray .jqx-icon-arrow-bottom-selected-simple-gray {
	background-image:url('../../images/img_icons/icon-bottom-simple-gray.png')
}
.jqx-widget-simple-gray .jqx-grid-cell-simple-gray, .jqx-listitem-state-normal-simple-gray, .jqx-menu-item-normal-simple-gray, .jqx-tree-item-normal-simple-gray, .jqx-calendar-cell-simple-gray, .jqx-grid-cell-simple-gray, .jqx-menu-vertical-simple-gray .jqx-menu-item-top-normal-simple-gray, .jqx-input-popup-simple-gray .jqx-fill-state-normal-simple-gray {
	font-family:'맑은 고딕', arial;
}
.jqx-widget-simple-gray .jqx-grid-cell-hover-simple-gray, .jqx-listitem-state-hover-simple-gray, .jqx-menu-item-hover-simple-gray, .jqx-tree-item-hover-simple-gray, .jqx-calendar-cell-hover-simple-gray, .jqx-grid-cell-hover-simple-gray, .jqx-menu-vertical-simple-gray .jqx-menu-item-top-hover-simple-gray, .jqx-input-popup-simple-gray .jqx-fill-state-hover-simple-gray, .jqx-input-button-header-simple-gray, .jqx-input-popup-simple-gray .jqx-fill-state-pressed-simple-gray, .jqx-input-button-header-simple-gray {
	font-family:'맑은 고딕', arial;
}
.jqx-widget-simple-gray .jqx-grid-cell-selected-simple-gray, .jqx-listitem-state-selected-simple-gray, .jqx-menu-item-selected-simple-gray, .jqx-tree-item-selected-simple-gray, .jqx-calendar-cell-selected-simple-gray, .jqx-grid-cell-selected-simple-gray, .jqx-menu-vertical-simple-gray .jqx-menu-item-top-selected-simple-gray, .jqx-grid-selectionarea-simple-gray {
	font-family:'맑은 고딕', arial;
}
.jqx-icon-calendar-simple-gray {
	background-image:url('images/icon-calendar.png')
}
.jqx-icon-calendar-hover-simple-gray {
	background-image:url('images/icon-calendar.png')
}
.jqx-icon-calendar-pressed-simple-gray {
	background-image:url('images/icon-calendar.png')
}
.jqx-icon-first-simple-gray {
	background-image:url('../../images/img_icons/icon-first-simple-gray.png')
}
.jqx-icon-first-hover-simple-gray {
	background-image:url('../../images/img_icons/icon-first-simple-gray.png')
}
.jqx-icon-first-selected-simple-gray {
	background-image:url('../../images/img_icons/icon-first-simple-gray.png')
}
.jqx-icon-last-simple-gray {
	background-image:url('../../images/img_icons/icon-last-simple-gray.png')
}
.jqx-icon-last-hover-simple-gray {
	background-image:url('../../images/img_icons/icon-last-simple-gray.png')
}
.jqx-icon-last-selected-simple-gray {
	background-image:url('../../images/img_icons/icon-last-simple-gray.png')
}
.jqx-grid-cell-simple-gray.jqx-grid-cell-simple-gray>.jqx-grid-group-expand-simple-gray {
	background-image:url('../../images/img_icons/icon-down-simple-gray.png')
}
.jqx-grid-cell-simple-gray.jqx-grid-cell-hover-simple-gray>.jqx-grid-group-expand-simple-gray {
	background-image:url('../../images/img_icons/icon-down-simple-gray.png')
}
.jqx-grid-cell-simple-gray.jqx-grid-cell-selected-simple-gray>.jqx-grid-group-expand-simple-gray {
	background-image:url('../../images/img_icons/icon-down-simple-gray.png')
}
.jqx-grid-cell-simple-gray.jqx-grid-cell-simple-gray>.jqx-grid-group-collapse-simple-gray {
	background-image:url('../../images/img_icons/icon-right-simple-gray.png')
}
.jqx-grid-cell-simple-gray.jqx-grid-cell-hover-simple-gray>.jqx-grid-group-collapse-simple-gray {
	background-image:url('../../images/img_icons/icon-right-simple-gray.png')
}
.jqx-grid-cell-simple-gray.jqx-grid-cell-selected-simple-gray>.jqx-grid-group-collapse-simple-gray {
	background-image:url('../../images/img_icons/icon-right-simple-gray.png')
}
.jqx-grid-cell-simple-gray.jqx-grid-cell-simple-gray>.jqx-grid-group-expand-rtl-simple-gray {
	background-image:url('../../images/img_icons/icon-down-simple-gray.png')
}
.jqx-grid-cell-simple-gray.jqx-grid-cell-hover-simple-gray>.jqx-grid-group-expand-rtl-simple-gray {
	background-image:url('../../images/img_icons/icon-down-simple-gray.png')
}
.jqx-grid-cell-simple-gray.jqx-grid-cell-selected-simple-gray>.jqx-grid-group-expand-rtl-simple-gray {
	background-image:url('../../images/img_icons/icon-down-simple-gray.png')
}
.jqx-grid-cell-simple-gray.jqx-grid-cell-simple-gray>.jqx-grid-group-collapse-rtl-simple-gray {
	background-image:url('../../images/img_icons/icon-left-simple-gray.png')
}
.jqx-grid-cell-simple-gray.jqx-grid-cell-hover-simple-gray>.jqx-grid-group-collapse-rtl-simple-gray {
	background-image:url('../../images/img_icons/icon-left-simple-gray.png')
}
.jqx-grid-cell-simple-gray.jqx-grid-cell-selected-simple-gray>.jqx-grid-group-collapse-rtl-simple-gray {
	background-image:url('../../images/img_icons/icon-left-simple-gray.png')
}
.jqx-grid-column-menubutton-simple-gray, .jqx-grid-column-sortdescbutton-simple-gray {
	background-image:url('../../images/img_icons/icon-down-simple-gray.png')
}
.jqx-grid-column-sortascbutton-simple-gray {
	background-image:url('../../images/img_icons/icon-up-simple-gray.png')
}
.jqx-icon-delete-simple-gray {
	background-image:url('images/icon-delete.png')
}
.jqx-icon-edit-simple-gray {
	background-image:url('images/icon-edit.png')
}
.jqx-icon-save-simple-gray {
	background-image:url('images/icon-save.png')
}
.jqx-icon-cancel-simple-gray {
	background-image:url('images/icon-cancel.png')
}
.jqx-icon-search-simple-gray {
	background-image:url('images/icon-search.png')
}
.jqx-icon-plus-simple-gray {
	background-image:url('images/icon-plus.png')
}

/*추가 treegrid영역 cell 스타일 없애고  treemenu처럼 보이기*/

/*treegrid*/
.treegrid .jqx-widget-simple-gray .jqx-grid-cell-alt-simple-gray, .treegrid .jqx-widget-simple-gray .jqx-grid-cell-sort-alt-simple-gray, .treegrid .jqx-widget-simple-gray .jqx-grid-cell-pinned-alt-simple-gray, .treegrid .jqx-widget-simple-gray .jqx-grid-cell-filter-alt-simple-gray, .treegrid .jqx-grid-cell-alt-simple-gray, .treegrid .jqx-grid-cell-sort-alt-simple-gray, .treegrid .jqx-grid-cell-filter-alt-simple-gray {
    background-color: #fff;
    color: #202020;
    text-shadow: none;
}
.treegrid .jqx-grid-cell-simple-gray, .treegrid .jqx-widget-simple-gray .jqx-grid-cell-simple-gray {
    background-color: #fff;
    color: #484848;
    text-shadow: none;
    cursor: pointer;
}
.treegrid .jqx-fill-state-hover-simple-gray, .treegrid .jqx-widget-simple-gray .jqx-grid-cell-hover-simple-gray {
    color: #fff;
    text-shadow: none;
    border-color: #566274;
    background-color: #566274;
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-background-clip: padding-box;
    font-family: "맑은 고딕", arial;
    font-weight: normal;
}
.treegrid .jqx-fill-state-pressed-simple-gray, .treegrid .jqx-widget-simple-gray .jqx-grid-cell-selected-simple-gray {
    color: #fff;
    text-shadow: none;
    border-color: #566274;
    background-color: #566274;
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-background-clip: padding-box;
    font-family: "맑은 고딕", arial;
    font-weight: normal;
}
.treegrid .jqx-widget-simple-gray .jqx-grid-cell-simple-gray, .treegrid .jqx-widget-simple-gray .jqx-grid-group-cell-simple-gray, .treegrid .jqx-grid-cell-simple-gray {
    border-color: #ddd;
	border-width:0 0 1px 0;
}
