@charset "utf-8";
/* CSS Document */
/*css 추가*/
.jqx-grid-column-header-Lotte-depart, .jqx-grid-columngroup-header-Lotte-depart {
	font-weight:bold;
	font-size:12px;
	text-shadow:none;
	border-color:#4e637f !important;
}
.jqx-grid-cell-Lotte-depart {
	font-size:12px;
}
.jqx-grid-Lotte-depart {
	border-top:1px solid #333d45 !important;
}
.jqx-scrollbar-button-state-normal-Lotte-depart .jqx-icon-arrow-up-Lotte-depart {
	background-image:url(../../images/img_icons/icon-up-scroll-Lotte-depart.png) !important;
}
.jqx-scrollbar-button-state-normal-Lotte-depart .jqx-icon-arrow-down-Lotte-depart {
	background-image:url(../../images/img_icons/icon-down-scroll-Lotte-depart.png) !important;
}
.jqx-scrollbar-button-state-normal-Lotte-depart .jqx-icon-arrow-left-Lotte-depart {
	background-image:url(../../images/img_icons/icon-left-scroll-Lotte-depart.png) !important;
}
.jqx-scrollbar-button-state-normal-Lotte-depart .jqx-icon-arrow-right-Lotte-depart {
	background-image:url(../../images/img_icons/icon-right-scroll-Lotte-depart.png) !important;
}
.jqx-scrollbar-thumb-state-normal-Lotte-depart, .jqx-scrollbar-thumb-state-normal-horizontal-Lotte-depart{
	border-radius:2px !important;
}
/*css 추가 끝*/
.jqx-widget-Lotte-depart {
	font-family:맑은고딕, arial;
}
.jqx-widget-content-Lotte-depart {
	color:#222;
	text-shadow:none;
	border-color:#9c9c9c;
	background:#fff;
	font-family:맑은고딕, arial;
}
.jqx-widget-header-Lotte-depart, .jqx-grid-Lotte-depart .jqx-widget-header-Lotte-depart {
	color:#ffffff;
	text-shadow:none;
	border-color:#576c89;
	background-color:#8297b4;
	background-image:-moz-linear-gradient(top, #8297b4, #7287a4);
	background-image:-ms-linear-gradient(top, #8297b4, #7287a4);
	background-image:-o-linear-gradient(top, #8297b4, #7287a4);
	background-image:-webkit-gradient(linear, center top, center bottom, from(#8297b4), to(#7287a4));
	background-image:-webkit-linear-gradient(top, #8297b4, #7287a4);
	background-image:linear-gradient(top, #8297b4, #7287a4);
	background-image:linear-gradient(to bottom, #8297b4, #7287a4);
	-moz-background-clip:padding;
	background-clip:padding-box;
	-webkit-background-clip:padding-box;
	font-family:맑은고딕, arial;
	;
}
.jqx-grid-column-menubutton-Lotte-depart, .jqx-widget-Lotte-depart.jqx-grid-column-menubutton-Lotte-depart {
	border-color:#a4bdc9
}
.jqx-grid-cell-Lotte-depart, .jqx-widget-Lotte-depart .jqx-grid-cell-Lotte-depart {
	background-color:#fff;
	color:#404040;
	text-shadow:none
}
.jqx-fill-state-normal-Lotte-depart {
	color:#fff;
	text-shadow:none;
	border-color:#E8F1F7;
	background-color:#E8F1F7;
	background-image:-moz-linear-gradient(top, #E8F1F7, #E8F1F7);
	background-image:-ms-linear-gradient(top, #E8F1F7, #E8F1F7);
	background-image:-o-linear-gradient(top, #E8F1F7, #E8F1F7);
	background-image:-webkit-gradient(linear, center top, center bottom, from(#E8F1F7), to(#E8F1F7));
	background-image:-webkit-linear-gradient(top, #E8F1F7, #E8F1F7);
	background-image:linear-gradient(top, #E8F1F7, #E8F1F7);
	background-image:linear-gradient(to bottom, #E8F1F7, #E8F1F7);
	-moz-background-clip:padding;
	background-clip:padding-box;
	-webkit-background-clip:padding-box;
	font-family:맑은고딕, arial;
}
.jqx-button-Lotte-depart {
	color:#fff;
	text-shadow:none;
	border-color:#E8F1F7;
	background-color:#E8F1F7;
	background-image:-moz-linear-gradient(top, #E8F1F7, #E8F1F7);
	background-image:-ms-linear-gradient(top, #E8F1F7, #E8F1F7);
	background-image:-o-linear-gradient(top, #E8F1F7, #E8F1F7);
	background-image:-webkit-gradient(linear, center top, center bottom, from(#E8F1F7), to(#E8F1F7));
	background-image:-webkit-linear-gradient(top, #E8F1F7, #E8F1F7);
	background-image:linear-gradient(top, #E8F1F7, #E8F1F7);
	background-image:linear-gradient(to bottom, #E8F1F7, #E8F1F7);
	-moz-background-clip:padding;
	background-clip:padding-box;
	-webkit-background-clip:padding-box;
	font-family:맑은고딕, arial;
}
.jqx-grid-selectionarea-Lotte-depart {
	border-color:#d6e4e9;
	background-color:#E8F1F7
}
 
.jqx-widget-Lotte-depart .jqx-grid-cell-alt-Lotte-depart, .jqx-widget-Lotte-depart .jqx-grid-cell-sort-alt-Lotte-depart, .jqx-widget-Lotte-depart .jqx-grid-cell-pinned-alt-Lotte-depart, .jqx-widget-Lotte-depart .jqx-grid-cell-filter-alt-Lotte-depart, .jqx-grid-cell-alt-Lotte-depart, .jqx-grid-cell-sort-alt-Lotte-depart, .jqx-grid-cell-filter-alt-Lotte-depart {
	background-color:#E8F1F7;
	color:#222;
	text-shadow:none
}
.jqx-fill-state-hover-Lotte-depart, .jqx-widget-Lotte-depart .jqx-grid-cell-hover-Lotte-depart {
	color:#222;
	text-shadow:none;
	border-color:#E8F1F7;
	background-color:#E8F1F7;
 
	-moz-background-clip:padding;
	background-clip:padding-box;
	-webkit-background-clip:padding-box;
	font-family:맑은고딕, arial;
}
.jqx-fill-state-pressed-Lotte-depart, .jqx-widget-Lotte-depart .jqx-grid-cell-selected-Lotte-depart {
	/*color:#fff;*/
	text-shadow:none;
	border-color:#E8F1F7;
	background-color:#E8F1F7;
 
	-moz-background-clip:padding;
	background-clip:padding-box;
	-webkit-background-clip:padding-box;
	font-family:맑은고딕, arial;
}
.jqx-switchbutton-label-on-Lotte-depart {
	color:#fff;
	text-shadow:none;
	border-color:#E8F1F7;
	background-color:#E8F1F7;
	background-image:-moz-linear-gradient(top, #E8F1F7, #E8F1F7);
	background-image:-ms-linear-gradient(top, #E8F1F7, #E8F1F7);
	background-image:-o-linear-gradient(top, #E8F1F7, #E8F1F7);
	background-image:-webkit-gradient(linear, center top, center bottom, from(#E8F1F7), to(#E8F1F7));
	background-image:-webkit-linear-gradient(top, #E8F1F7, #E8F1F7);
	background-image:linear-gradient(top, #E8F1F7, #E8F1F7);
	background-image:linear-gradient(to bottom, #E8F1F7, #E8F1F7);
	-moz-background-clip:padding;
	background-clip:padding-box;
	-webkit-background-clip:padding-box
}
.jqx-tabs-title-selected-top-Lotte-depart, .jqx-tabs-selection-tracker-top-Lotte-depart {
	color:#222;
	text-shadow:none;
	border-color:#d4e3e8;
	border-bottom:1px solid #fff;
	background-image:none;
	background-color:#fff
}
.jqx-tabs-title-selected-bottom-Lotte-depart, .jqx-tabs-selection-tracker-bottom-Lotte-depart {
	color:#222;
	text-shadow:none;
	border-color:#d4e3e8;
	border-top:1px solid #fff;
	background-image:none;
	background-color:#fff
}
.jqx-splitter-splitbar-hover-Lotte-depart {
	background:#E8F1F7
}
.jqx-splitter-splitbar-vertical-Lotte-depart, .jqx-splitter-splitbar-horizontal-Lotte-depart, .jqx-slider-track-horizontal-Lotte-depart, .jqx-slider-track-vertical-Lotte-depart {
	background:#E8F1F7 
}
.jqx-splitter-collapse-button-horizontal-Lotte-depart, .jqx-splitter-collapse-button-vertical-Lotte-depart, .jqx-slider-rangebar-Lotte-depart {
	background:#E8F1F7 
}   
.jqx-scrollbar-state-normal-Lotte-depart {
	background:#efefef;
	border-color:#f4fbff
}
.jqx-grid-bottomright-Lotte-depart, .jqx-panel-bottomright-Lotte-depart, .jqx-listbox-bottomright-Lotte-depart {
	background-color:#dedede
}
.jqx-scrollbar-thumb-state-normal-Lotte-depart {
	background-color:#ffffff; 
	border-color:#909090;
	background-image:-moz-linear-gradient(left, #d6d6d6, #d6d6d6);
	background-image:-ms-linear-gradient(left, #d6d6d6, #d6d6d6);
	background-image:-o-linear-gradient(left, #d6d6d6, #d6d6d6);
	background-image:-webkit-gradient(linear, left top, right top, from(#d6d6d6), to(#d6d6d6));
	background-image:-webkit-linear-gradient(left, #d6d6d6, #d6d6d6);
	background-image:linear-gradient(left, #d6d6d6, #d6d6d6);
	background-image:linear-gradient(left right, #d6d6d6, #d6d6d6);
}
.jqx-scrollbar-thumb-state-normal-horizontal-Lotte-depart {
	background-color:#ffffff;
	background-color:#ffffff;
	border-color:#909090;
	background-image:-moz-linear-gradient(left, #d6d6d6, #d6d6d6);
	background-image:-ms-linear-gradient(left, #d6d6d6, #d6d6d6);
	background-image:-o-linear-gradient(left, #d6d6d6, #d6d6d6);
	background-image:-webkit-gradient(linear, left top, right top, from(#d6d6d6), to(#d6d6d6));
	background-image:-webkit-linear-gradient(left, #d6d6d6, #d6d6d6);
	background-image:linear-gradient(left, #d6d6d6, #d6d6d6);
	background-image:linear-gradient(left right, #d6d6d6, #d6d6d6);
	-moz-background-clip:padding;
	background-clip:padding-box;
	-webkit-background-clip:padding-box;
}
.jqx-scrollbar-thumb-state-hover-Lotte-depart {
	background-color:#ffffff; 
	background-color:#ffffff;
	border-color:#909090;
	background-image:-moz-linear-gradient(left, #d6d6d6, #d6d6d6);
	background-image:-ms-linear-gradient(left, #d6d6d6, #d6d6d6);
	background-image:-o-linear-gradient(left, #d6d6d6, #d6d6d6);
	background-image:-webkit-gradient(linear, left top, right top, from(#d6d6d6), to(#d6d6d6));
	background-image:-webkit-linear-gradient(left, #d6d6d6, #d6d6d6);
	background-image:linear-gradient(left, #d6d6d6, #d6d6d6);
	background-image:linear-gradient(left right, #d6d6d6, #d6d6d6);
}
.jqx-scrollbar-thumb-state-hover-horizontal-Lotte-depart {
	background-color:#ffffff;
	background-color:#ffffff;
	border-color:#909090;
	background-image:-moz-linear-gradient(left, #d6d6d6, #d6d6d6);
	background-image:-ms-linear-gradient(left, #d6d6d6, #d6d6d6);
	background-image:-o-linear-gradient(left, #d6d6d6, #d6d6d6);
	background-image:-webkit-gradient(linear, left top, right top, from(#d6d6d6), to(#d6d6d6));
	background-image:-webkit-linear-gradient(left, #d6d6d6, #d6d6d6);
	background-image:linear-gradient(left, #d6d6d6, #d6d6d6);
	background-image:linear-gradient(left right, #d6d6d6, #d6d6d6);
	-moz-background-clip:padding;
	background-clip:padding-box;
	-webkit-background-clip:padding-box;
}
.jqx-scrollbar-thumb-state-pressed-Lotte-depart {
	bbackground-color:#aaaaaa;
	border-color:#909090;
	background-image:-moz-linear-gradient(left, #aaaaaa, #aaaaaa);
	background-image:-ms-linear-gradient(left, #aaaaaa, #aaaaaa);
	background-image:-o-linear-gradient(left, #aaaaaa, #aaaaaa);
	background-image:-webkit-gradient(linear, left top, right top, from(#aaaaaa), to(#aaaaaa));
	background-image:-webkit-linear-gradient(left, #aaaaaa, #aaaaaa);
	background-image:linear-gradient(left, #aaaaaa, #aaaaaa);
	background-image:linear-gradient(left right, #aaaaaa, #aaaaaa)
}
.jqx-scrollbar-thumb-state-pressed-horizontal-Lotte-depart {
	background-color:#aaaaaa;
	border-color:#909090;
	background-image:-moz-linear-gradient(left, #aaaaaa, #aaaaaa);
	background-image:-ms-linear-gradient(left, #aaaaaa, #aaaaaa);
	background-image:-o-linear-gradient(left, #aaaaaa, #aaaaaa);
	background-image:-webkit-gradient(linear, left top, right top, from(#aaaaaa), to(#aaaaaa));
	background-image:-webkit-linear-gradient(left, #aaaaaa, #aaaaaa);
	background-image:linear-gradient(left, #aaaaaa, #aaaaaa);
	background-image:linear-gradient(left right, #aaaaaa, #aaaaaa);
	-moz-background-clip:padding;
	background-clip:padding-box;
	-webkit-background-clip:padding-box
}
.jqx-scrollbar-button-state-normal-Lotte-depart {  
	border-color:#aaaaaa;
	background-image:-moz-linear-gradient(top, #bfbfbf, #bfbfbf);
	background-image:-ms-linear-gradient(top, #bfbfbf, #bfbfbf);
	background-image:-o-linear-gradient(top, #bfbfbf, #bfbfbf);
	background-image:-webkit-gradient(linear, center top, center bottom, from(#bfbfbf), to(#bfbfbf));
	background-image:-webkit-linear-gradient(top, #bfbfbf, #bfbfbf);
	background-image:linear-gradient(top, #bfbfbf, #bfbfbf);
	background-image:linear-gradient(to bottom, #bfbfbf, #bfbfbf);
	-moz-background-clip:padding;
	background-clip:padding-box;
	-webkit-background-clip:padding-box
}
.jqx-scrollbar-button-state-hover-Lotte-depart {
	background-color:#e6e6e6;
	border-color:#aaaaaa;
	background-image:-moz-linear-gradient(top, #e6e6e6, #e6e6e6);
	background-image:-ms-linear-gradient(top, #e6e6e6, #e6e6e6);
	background-image:-o-linear-gradient(top, #e6e6e6, #e6e6e6);
	background-image:-webkit-gradient(linear, center top, center bottom, from(#e6e6e6), to(#e6e6e6));
	background-image:-webkit-linear-gradient(top, #e6e6e6, #e6e6e6);
	background-image:linear-gradient(top, #e6e6e6, #e6e6e6);
	background-image:linear-gradient(to bottom, #e6e6e6, #e6e6e6);
	-moz-background-clip:padding;
	background-clip:padding-box;
	-webkit-background-clip:padding-box
}
.jqx-scrollbar-button-state-pressed-Lotte-depart {
	background-color:#bfbfbf;
	border-color:#bfbfbf;
	background-image:-moz-linear-gradient(top, #bfbfbf, #bfbfbf);
	background-image:-ms-linear-gradient(top, #bfbfbf, #bfbfbf);
	background-image:-o-linear-gradient(top, #bfbfbf, #bfbfbf);
	background-image:-webkit-gradient(linear, center top, center bottom, from(#bfbfbf), to(#bfbfbf));
	background-image:-webkit-linear-gradient(top, #bfbfbf, #bfbfbf);
	background-image:linear-gradient(top, #bfbfbf, #bfbfbf);
	background-image:linear-gradient(to bottom, #bfbfbf, #bfbfbf);
	-moz-background-clip:padding;
	background-clip:padding-box;
	-webkit-background-clip:padding-box
}
.jqx-radiobutton-check-checked-Lotte-depart {
	background:#347a9b;
	width:7px;
	height:7px;
	margin-left:2px;
	margin-top:2px;
	border-width:1px;
	border-style:solid
}
.jqx-rc-tl-Lotte-depart {
	-moz-border-radius-topleft:0px;
	-webkit-border-radius-topleft:0px;
	border-radius-topleft:0px
}
.jqx-rc-tr-Lotte-depart {
	-moz-border-radius-topright:0px;
	-webkit-border-radius-topright:0px;
	border-radius-topright:0px
}
.jqx-rc-bl-Lotte-depart {
	-moz-border-radius-bottomleft:0px;
	-webkit-border-radius-bottomleft:0px;
	border-radius-bottomleft:0px
}
.jqx-rc-br-Lotte-depart {
	-moz-border-radius-bottomright:0px;
	-webkit-border-radius-bottomright:0px;
	border-radius-bottomright:0px
}
.jqx-rc-t-Lotte-depart {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px
}
.jqx-rc-b-Lotte-depart {
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px
}
.jqx-rc-r-Lotte-depart {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px
}
.jqx-rc-l-Lotte-depart {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px
}
.jqx-radiobutton-default-Lotte-depart, .jqx-radiobutton-Lotte-depart, .jqx-radiobutton-check-checked-Lotte-depart, .jqx-radiobutton-hover-Lotte-depart, .jqx-radiobutton-check-indeterminate-Lotte-depart, .jqx-radiobutton-check-indeterminate-disabled-Lotte-depart, .jqx-slider-button-Lotte-depart {
	-moz-border-radius:100%!important;
	-webkit-border-radius:100%!important;
	border-radius:100%!important
}
.jqx-rc-all-Lotte-depart, .jqx-tooltip-Lotte-depart, .jqx-tooltip-text-Lotte-depart, .jqx-tooltip-main-Lotte-depart {
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
	border-radius:0px
}
.jqx-grid-column-sortascbutton-Lotte-depart, .jqx-expander-arrow-bottom-Lotte-depart, .jqx-window-collapse-button-Lotte-depart, .jqx-menu-item-arrow-up-Lotte-depart, .jqx-menu-item-arrow-top-up-Lotte-depart, .jqx-icon-arrow-up-Lotte-depart {
	background-image:url('../../images/img_icons/icon-up-Lotte-depart.png')
}
.jqx-icon-arrow-up-hover-Lotte-depart {
	background-image:url('../../images/img_icons/icon-up-Lotte-depart.png')
}
.jqx-menu-item-arrow-up-selected-Lotte-depart, .jqx-icon-arrow-up-selected-Lotte-depart.jqx-expander-arrow-expanded-Lotte-depart {
	background-image:url('../../images/img_icons/icon-up-Lotte-depart.png')
}
.jqx-grid-column-menubutton-Lotte-depart, .jqx-grid-column-sortdescbutton-Lotte-depart, .jqx-expander-arrow-top-Lotte-depart, .jqx-window-collapse-button-collapsed-Lotte-depart, .jqx-menu-item-arrow-down-Lotte-depart, .jqx-menu-item-arrow-down-Lotte-depart, .jqx-tree-item-arrow-expand-Lotte-depart, .jqx-grid-group-expand-Lotte-depart, .jqx-widget-Lotte-depart .jqx-grid-group-expand-Lotte-depart, .jqx-icon-arrow-down-Lotte-depart {
	background-image:url('../../images/img_icons/icon-down-Lotte-depart.png')
}
.jqx-icon-arrow-down-hover-Lotte-depart {
	background-image:url('../../images/img_icons/icon-down-Lotte-depart.png')
}
.jqx-menu-item-arrow-down-selected-Lotte-depart, .jqx-icon-arrow-down-selected-Lotte-depart {
	background-image:url('../../images/img_icons/icon-down-Lotte-depart.png')
}
.jqx-tabs-arrow-left-Lotte-depart, .jqx-menu-item-arrow-top-left-Lotte-depart, .jqx-grid-group-collapse-rtl-Lotte-depart, .jqx-widget-Lotte-depart .jqx-grid-group-collapse-rtl-Lotte-depart, .jqx-icon-arrow-left-Lotte-depart, .jqx-icon-arrow-down-left-Lotte-depart {
	background-image:url('../../images/img_icons/icon-left-Lotte-depart.png')
}
.jqx-icon-arrow-left-hover-Lotte-depart {
	background-image:url('../../images/img_icons/icon-left-Lotte-depart.png')
}
.jqx-menu-vertical-Lotte-depart {
	background:#fff
}
.jqx-menu-item-arrow-left-selected-Lotte-depart, .jqx-icon-arrow-left-selected-Lotte-depart {
	background-image:url('../../images/img_icons/icon-left-Lotte-depart.png')
}
.jqx-tabs-arrow-right-Lotte-depart, .jqx-menu-item-arrow-top-right-Lotte-depart, .jqx-menu-item-arrow-collapse-Lotte-depart, .jqx-grid-group-collapse-Lotte-depart, .jqx-widget-Lotte-depart .jqx-grid-group-collapse-Lotte-depart, .jqx-icon-arrow-right-Lotte-depart {
	background-image:url('../../images/img_icons/icon-right-Lotte-depart.png');
}
.jqx-icon-arrow-right-hover-Lotte-depart {
	background-image:url('../../images/img_icons/icon-right-Lotte-depart.png')
}
.jqx-menu-item-arrow-right-selected-Lotte-depart, .jqx-icon-arrow-right-selected-Lotte-depart {
	background-image:url('../../images/img_icons/icon-right-Lotte-depart.png')
}
.jqx-window-close-button-Lotte-depart, .jqx-tabs-close-button-Lotte-depart, .icon-close-Lotte-depart {
	background-image:url('images/close.png')
}
.jqx-tabs-close-button-selected-Lotte-depart {
	background-image:url('images/close.png')
}
.jqx-tabs-close-button-hover-Lotte-depart {
	background-image:url('images/close.png')
}
.jqx-widget-Lotte-depart .jqx-grid-column-header-Lotte-depart, .jqx-widget-Lotte-depart .jqx-grid-cell-Lotte-depart, .jqx-widget-Lotte-depart .jqx-grid-group-cell-Lotte-depart, .jqx-grid-cell-Lotte-depart {
	border-color:#9f9f9f
}
.jqx-checkbox-check-checked-Lotte-depart {
	background-image:url('images/check_black.png')
}
.jqx-checkbox-check-indeterminate-Lotte-depart {
	background-image:url('images/check_indeterminate_black.png')
}
.jqx-tooltip-Lotte-depart, .jqx-tooltip-main-Lotte-depart {
	color:#07485e;
	text-shadow:none;
	border-color:#aadced;
	background-color:#d5edf5
}
.jqx-combobox-content-Lotte-depart, .jqx-input-Lotte-depart {
	color:#222;
	text-shadow:none;
	border-color:#E8F1F7;
	background-color:#fff
}
.jqx-combobox-input-Lotte-depart {
	color:#222;
	text-shadow:none
}
.jqx-input-content-Lotte-depart {
	color:#222;
	text-shadow:none;
	background-color:#fff
}
.jqx-fill-state-focus-Lotte-depart, .jqx-popup-Lotte-depart .jqx-fill-state-focus-Lotte-depart {
	border-color:#E8F1F7
}
.jqx-popup-Lotte-depart.jqx-listbox-Lotte-depart, .jqx-popup-Lotte-depart.jqx-calendar-Lotte-depart, .jqx-menu-dropdown-Lotte-depart, .jqx-popup-Lotte-depart.jqx-dropdownbutton-popup-Lotte-depart {
	color:#222;
	text-shadow:none;
	border-color:#E8F1F7;
	background-color:#fff 
} 
.jqx-menu-item-arrow-right-Lotte-depart, .jqx-tree-item-arrow-collapse-Lotte-depart {
	background-image:url('../../images/img_icons/icon-right-Lotte-depart.png')
}
.jqx-menu-item-arrow-left-Lotte-depart {
	background-image:url('../../images/img_icons/icon-left-Lotte-depart.png')
}
.jqx-tree-item-arrow-expand-Lotte-depart {
	background-image:url('../../images/img_icons/icon-down-Lotte-depart.png')
}
.jqx-scrollbar-Lotte-depart .jqx-icon-arrow-up-Lotte-depart {
	background-image:url('../../images/img_icons/icon-up-Lotte-depart.png')
}
.jqx-scrollbar-Lotte-depart .jqx-icon-arrow-left-Lotte-depart {
	background-image:url('../../images/img_icons/icon-left-Lotte-depart.png')
}
.jqx-scrollbar-Lotte-depart .jqx-icon-arrow-right-Lotte-depart {
	background-image:url('../../images/img_icons/icon-right-Lotte-depart.png')
}
.jqx-scrollbar-Lotte-depart .jqx-icon-arrow-bottom-Lotte-depart {
	background-image:url('../../images/img_icons/icon-bottom-Lotte-depart.png')
}
.jqx-scrollbar-Lotte-depart .jqx-icon-arrow-up-hover-Lotte-depart {
	background-image:url('../../images/img_icons/icon-up-Lotte-depart.png')
}
.jqx-scrollbar-Lotte-depart .jqx-icon-arrow-left-hover-Lotte-depart {
	background-image:url('../../images/img_icons/icon-left-Lotte-depart.png')
}
.jqx-scrollbar-Lotte-depart .jqx-icon-arrow-right-hover-Lotte-depart {
	background-image:url('../../images/img_icons/icon-right-Lotte-depart.png')
}
.jqx-scrollbar-Lotte-depart .jqx-icon-arrow-bottom-hover-Lotte-depart {
	background-image:url('../../images/img_icons/icon-bottom-Lotte-depart.png')
}
.jqx-scrollbar-Lotte-depart .jqx-icon-arrow-up-selected-Lotte-depart {
	background-image:url('../../images/img_icons/icon-up-Lotte-depart.png')
}
.jqx-scrollbar-Lotte-depart .jqx-icon-arrow-left-selected-Lotte-depart {
	background-image:url('../../images/img_icons/icon-left-Lotte-depart.png')
}
.jqx-scrollbar-Lotte-depart .jqx-icon-arrow-right-selected-Lotte-depart {
	background-image:url('../../images/img_icons/icon-right-Lotte-depart.png')
}
.jqx-scrollbar-Lotte-depart .jqx-icon-arrow-bottom-selected-Lotte-depart {
	background-image:url('../../images/img_icons/icon-bottom-Lotte-depart.png')
}
.jqx-widget-Lotte-depart .jqx-grid-cell-Lotte-depart, .jqx-listitem-state-normal-Lotte-depart, .jqx-menu-item-normal-Lotte-depart, .jqx-tree-item-normal-Lotte-depart, .jqx-calendar-cell-Lotte-depart, .jqx-grid-cell-Lotte-depart, .jqx-menu-vertical-Lotte-depart .jqx-menu-item-top-normal-Lotte-depart, .jqx-input-popup-Lotte-depart .jqx-fill-state-normal-Lotte-depart {
	font-family:맑은고딕, arial;
}
.jqx-widget-Lotte-depart .jqx-grid-cell-hover-Lotte-depart, .jqx-listitem-state-hover-Lotte-depart, .jqx-menu-item-hover-Lotte-depart, .jqx-tree-item-hover-Lotte-depart, .jqx-calendar-cell-hover-Lotte-depart, .jqx-grid-cell-hover-Lotte-depart, .jqx-menu-vertical-Lotte-depart .jqx-menu-item-top-hover-Lotte-depart, .jqx-input-popup-Lotte-depart .jqx-fill-state-hover-Lotte-depart, .jqx-input-button-header-Lotte-depart, .jqx-input-popup-Lotte-depart .jqx-fill-state-pressed-Lotte-depart, .jqx-input-button-header-Lotte-depart {
	font-family:맑은고딕, arial;
}
.jqx-widget-Lotte-depart .jqx-grid-cell-selected-Lotte-depart, .jqx-listitem-state-selected-Lotte-depart, .jqx-menu-item-selected-Lotte-depart, .jqx-tree-item-selected-Lotte-depart, .jqx-calendar-cell-selected-Lotte-depart, .jqx-grid-cell-selected-Lotte-depart, .jqx-menu-vertical-Lotte-depart .jqx-menu-item-top-selected-Lotte-depart, .jqx-grid-selectionarea-Lotte-depart {
	font-family:맑은고딕, arial;
}
.jqx-icon-calendar-Lotte-depart {
	background-image:url('images/icon-calendar.png')
}
.jqx-icon-calendar-hover-Lotte-depart {
	background-image:url('images/icon-calendar.png')
}
.jqx-icon-calendar-pressed-Lotte-depart {
	background-image:url('images/icon-calendar.png')
}
.jqx-icon-first-Lotte-depart {
	background-image:url('../../images/img_icons/icon-first-Lotte-depart.png')
}
.jqx-icon-first-hover-Lotte-depart {
	background-image:url('../../images/img_icons/icon-first-Lotte-depart.png')
}
.jqx-icon-first-selected-Lotte-depart {
	background-image:url('../../images/img_icons/icon-first-Lotte-depart.png')
}
.jqx-icon-last-Lotte-depart {
	background-image:url('../../images/img_icons/icon-last-Lotte-depart.png')
}
.jqx-icon-last-hover-Lotte-depart {
	background-image:url('../../images/img_icons/icon-last-Lotte-depart.png')
}
.jqx-icon-last-selected-Lotte-depart {
	background-image:url('../../images/img_icons/icon-last-Lotte-depart.png')
}
.jqx-grid-cell-Lotte-depart.jqx-grid-cell-Lotte-depart>.jqx-grid-group-expand-Lotte-depart {
	background-image:url('../../images/img_icons/icon-down-Lotte-depart.png')
}
.jqx-grid-cell-Lotte-depart.jqx-grid-cell-hover-Lotte-depart>.jqx-grid-group-expand-Lotte-depart {
	background-image:url('../../images/img_icons/icon-down-Lotte-depart.png')
}
.jqx-grid-cell-Lotte-depart.jqx-grid-cell-selected-Lotte-depart>.jqx-grid-group-expand-Lotte-depart {
	background-image:url('../../images/img_icons/icon-down-Lotte-depart.png')
}
.jqx-grid-cell-Lotte-depart.jqx-grid-cell-Lotte-depart>.jqx-grid-group-collapse-Lotte-depart {
	background-image:url('../../images/img_icons/icon-right-Lotte-depart.png')
}
.jqx-grid-cell-Lotte-depart.jqx-grid-cell-hover-Lotte-depart>.jqx-grid-group-collapse-Lotte-depart {
	background-image:url('../../images/img_icons/icon-right-Lotte-depart.png')
}
.jqx-grid-cell-Lotte-depart.jqx-grid-cell-selected-Lotte-depart>.jqx-grid-group-collapse-Lotte-depart {
	background-image:url('../../images/img_icons/icon-right-Lotte-depart.png')
}
.jqx-grid-cell-Lotte-depart.jqx-grid-cell-Lotte-depart>.jqx-grid-group-expand-rtl-Lotte-depart {
	background-image:url('../../images/img_icons/icon-down-Lotte-depart.png')
}
.jqx-grid-cell-Lotte-depart.jqx-grid-cell-hover-Lotte-depart>.jqx-grid-group-expand-rtl-Lotte-depart {
	background-image:url('../../images/img_icons/icon-down-Lotte-depart.png')
}
.jqx-grid-cell-Lotte-depart.jqx-grid-cell-selected-Lotte-depart>.jqx-grid-group-expand-rtl-Lotte-depart {
	background-image:url('../../images/img_icons/icon-down-Lotte-depart.png')
}
.jqx-grid-cell-Lotte-depart.jqx-grid-cell-Lotte-depart>.jqx-grid-group-collapse-rtl-Lotte-depart {
	background-image:url('../../images/img_icons/icon-left-Lotte-depart.png')
}
.jqx-grid-cell-Lotte-depart.jqx-grid-cell-hover-Lotte-depart>.jqx-grid-group-collapse-rtl-Lotte-depart {
	background-image:url('../../images/img_icons/icon-left-Lotte-depart.png')
}
.jqx-grid-cell-Lotte-depart.jqx-grid-cell-selected-Lotte-depart>.jqx-grid-group-collapse-rtl-Lotte-depart {
	background-image:url('../../images/img_icons/icon-left-Lotte-depart.png')
}
.jqx-grid-column-menubutton-Lotte-depart, .jqx-grid-column-sortdescbutton-Lotte-depart {
	background-image:url('../../images/img_icons/icon-down-Lotte-depart.png')
}
.jqx-grid-column-sortascbutton-Lotte-depart {
	background-image:url('../../images/img_icons/icon-up-Lotte-depart.png')
}
.jqx-icon-delete-Lotte-depart {
	background-image:url('images/icon-delete.png')
}
.jqx-icon-edit-Lotte-depart {
	background-image:url('images/icon-edit.png')
}
.jqx-icon-save-Lotte-depart {
	background-image:url('images/icon-save.png')
}
.jqx-icon-cancel-Lotte-depart {
	background-image:url('images/icon-cancel.png')
}
.jqx-icon-search-Lotte-depart {
	background-image:url('images/icon-search.png')
}
.jqx-icon-plus-Lotte-depart {
	background-image:url('images/icon-plus.png')
}
.jqx-window-header-Lotte-depart {
	background:#5995d2 !important;
	height:20px;
}
.jqx-window-content-Lotte-depart {
	background:#FEFFFF !important;	
}
.jqx-popup-Lotte-depart{
	border-width:0px;
	border-style:none;
}
.jqx-window-close-button-Lotte-depart {
	background-image:url(images/close_white.png);
}
.jqx-window-modal-Lotte-depart{
	/*filter:alpha(opacity=70) !important;*/   
	width:100% !important;
}