@charset "utf-8";
/* CSS Document */
/*css 추가*/
.jqx-grid-column-header-empty-style, .jqx-grid-columngroup-header-empty-style {
    font-size: 12px;
    text-shadow: none;
    border-color: #a5bedc  !important;
    letter-spacing: -0.5px;
	font-weight:bold;
}
.jqx-grid-cell-empty-style {
	font-size:12px;
}
.jqx-grid-empty-style {
    border-top: 3px solid #51657f !important;
}
.jqx-fill-state-pressed-empty-style a, .jqx-widget-empty-style .jqx-grid-cell-selected-empty-style a{
	color:#000 !important;
}
.jqx-fill-state-hover-empty-style a, .jqx-widget-empty-style .jqx-grid-cell-hover-empty-style a{
	color:#000 !important;
}
.jqx-scrollbar-button-state-normal-empty-style .jqx-icon-arrow-up-empty-style {
	background-image:url(../../images/img_icons/icon-up-scroll-empty-style.png) !important;
}
.jqx-scrollbar-button-state-normal-empty-style .jqx-icon-arrow-down-empty-style {
	background-image:url(../../images/img_icons/icon-down-scroll-empty-style.png) !important;
}
.jqx-scrollbar-button-state-normal-empty-style .jqx-icon-arrow-left-empty-style {
	background-image:url(../../images/img_icons/icon-left-scroll-empty-style.png) !important;
}
.jqx-scrollbar-button-state-normal-empty-style .jqx-icon-arrow-right-empty-style {
	background-image:url(../../images/img_icons/icon-right-scroll-empty-style.png) !important;
}
.jqx-scrollbar-thumb-state-normal-empty-style, .jqx-scrollbar-thumb-state-normal-horizontal-empty-style{
	border-radius:2px !important;
}
.jqx-tree-grid-indent-empty-style{
	/*width:10px !important;*/
}
.jqx-tree-grid-collapse-button-empty-style, .jqx-tree-grid-expand-button-empty-style{
/* 	width:12px !important; */
/* 	height:12px !important; */
}
/*css 추가 끝*/
.jqx-widget-empty-style {
	font-family:'맑은 고딕', arial;
}
.jqx-widget-content-empty-style {
	color:#222;
	text-shadow:none;
	/*border-color:#fff;*/
	background:#fff;
	font-family:'맑은 고딕', arial;
}
.jqx-widget-header-empty-style, .jqx-grid-empty-style .jqx-widget-header-empty-style {
    color: #223648;
    text-shadow: none;
    border-color: #91a3b4;
	background-color:#b8d2eb;
 /*   background-image: -moz-linear-gradient(top, #8297b4, #7287a4);
    background-image: -o-linear-gradient(top, #8297b4, #7287a4);
    background-image: -webkit-gradient(linear, center top, center bottom, from(#8297b4), to(#7287a4));
    background-image: -webkit-linear-gradient(top, #8297b4, #7287a4);
    background-image: linear-gradient(top, #8297b4, #7287a4);*/
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    font-family: "맑은 고딕", arial;
}
.jqx-grid-column-menubutton-empty-style, .jqx-widget-empty-style.jqx-grid-column-menubutton-empty-style {
	border-color:#a4bdc9
}
.jqx-grid-cell-empty-style, .jqx-widget-empty-style .jqx-grid-cell-empty-style {
	background-color:#fff;
	color:#404040;
	text-shadow:none
}
.jqx-fill-state-normal-empty-style {
	color:#fff;
	text-shadow:none;
	border-color:#e3e3e3;
	background-color:#d9eae6;
	background-image:-moz-linear-gradient(top, #d9eae6, #d9eae6);
	background-image:-ms-linear-gradient(top, #d9eae6, #d9eae6);
	background-image:-o-linear-gradient(top, #d9eae6, #d9eae6);
	background-image:-webkit-gradient(linear, center top, center bottom, from(#d9eae6), to(#d9eae6));
	background-image:-webkit-linear-gradient(top, #d9eae6, #d9eae6);
	background-image:linear-gradient(top, #d9eae6, #d9eae6);
	background-image:linear-gradient(to bottom, #d9eae6, #d9eae6);
	-moz-background-clip:padding;
	background-clip:padding-box;
	-webkit-background-clip:padding-box;
	font-family:'맑은 고딕', arial;
}
.jqx-button-empty-style {
	color:#fff;
	text-shadow:none;
	border-color:#d9eae6;
	background-color:#d9eae6;
	background-image:-moz-linear-gradient(top, #d9eae6, #d9eae6);
	background-image:-ms-linear-gradient(top, #d9eae6, #d9eae6);
	background-image:-o-linear-gradient(top, #d9eae6, #d9eae6);
	background-image:-webkit-gradient(linear, center top, center bottom, from(#d9eae6), to(#d9eae6));
	background-image:-webkit-linear-gradient(top, #d9eae6, #d9eae6);
	background-image:linear-gradient(top, #d9eae6, #d9eae6);
	background-image:linear-gradient(to bottom, #d9eae6, #d9eae6);
	-moz-background-clip:padding;
	background-clip:padding-box;
	-webkit-background-clip:padding-box;
	font-family:'맑은 고딕', arial;
}
.jqx-grid-selectionarea-empty-style {
	border-color:#d6e4e9;
	background-color:#eaf3f9
}
.jqx-widget-empty-style .jqx-grid-cell-sort-empty-style, .jqx-widget-empty-style .jqx-grid-cell-filter-empty-style, .jqx-widget-empty-style .jqx-grid-cell-pinned-empty-style, .jqx-grid-cell-sort-empty-style, .jqx-grid-cell-filter-empty-style, .jqx-grid-cell-pinned-empty-style {
	background-color:#f3f8fc;
	color:#202020;
	text-shadow:none
}
.jqx-widget-empty-style .jqx-grid-cell-alt-empty-style, .jqx-widget-empty-style .jqx-grid-cell-sort-alt-empty-style, .jqx-widget-empty-style .jqx-grid-cell-pinned-alt-empty-style, .jqx-widget-empty-style .jqx-grid-cell-filter-alt-empty-style, .jqx-grid-cell-alt-empty-style, .jqx-grid-cell-sort-alt-empty-style, .jqx-grid-cell-filter-alt-empty-style {
	background-color:#ffffff;
	color:#202020;
	text-shadow:none
}
.jqx-fill-state-hover-empty-style, .jqx-widget-empty-style .jqx-grid-cell-hover-empty-style {
	color:#000;
	text-shadow:none;
	border-color:#ffffff !important;
	background-color:#ffffff;
	/*background-image:-moz-linear-gradient(top, #d9eae6, #d9eae6);
	background-image:-ms-linear-gradient(top, #d9eae6, #d9eae6);
	background-image:-o-linear-gradient(top, #d9eae6, #d9eae6);
	background-image:-webkit-gradient(linear, center top, center bottom, from(#d9eae6), to(#d9eae6));
	background-image:-webkit-linear-gradient(top, #d9eae6, #d9eae6);
	background-image:linear-gradient(top, #d9eae6, #d9eae6);
	background-image:linear-gradient(to bottom, #d9eae6, #d9eae6);*/
	-moz-background-clip:padding;
	background-clip:padding-box;
	-webkit-background-clip:padding-box;
	font-family:'맑은 고딕', arial;
}
.jqx-fill-state-pressed-empty-style, .jqx-widget-empty-style .jqx-grid-cell-selected-empty-style {
	color:#000;
	text-shadow:none;
	border-color:#ffffff !important;
	background-color:#ffffff;
	/*background-image:-moz-linear-gradient(top, #d9eae6, #d9eae6);
	background-image:-ms-linear-gradient(top, #d9eae6, #d9eae6);
	background-image:-o-linear-gradient(top, #d9eae6, #d9eae6);
	background-image:-webkit-gradient(linear, center top, center bottom, from(#d9eae6), to(#d9eae6));
	background-image:-webkit-linear-gradient(top, #d9eae6, #d9eae6);
	background-image:linear-gradient(top, #d9eae6, #d9eae6);
	background-image:linear-gradient(to bottom, #d9eae6, #d9eae6);*/
	-moz-background-clip:padding;
	background-clip:padding-box;
	-webkit-background-clip:padding-box;
	font-family:'맑은 고딕', arial;
}
.jqx-switchbutton-label-on-empty-style {
	color:#fff;
	text-shadow:none;
	border-color:#d9eae6;
	background-color:#d9eae6;
	background-image:-moz-linear-gradient(top, #d9eae6, #d9eae6);
	background-image:-ms-linear-gradient(top, #d9eae6, #d9eae6);
	background-image:-o-linear-gradient(top, #d9eae6, #d9eae6);
	background-image:-webkit-gradient(linear, center top, center bottom, from(#d9eae6), to(#d9eae6));
	background-image:-webkit-linear-gradient(top, #d9eae6, #d9eae6);
	background-image:linear-gradient(top, #d9eae6, #d9eae6);
	background-image:linear-gradient(to bottom, #d9eae6, #d9eae6);
	-moz-background-clip:padding;
	background-clip:padding-box;
	-webkit-background-clip:padding-box
}
.jqx-tabs-title-selected-top-empty-style, .jqx-tabs-selection-tracker-top-empty-style {
	color:#222;
	text-shadow:none;
	border-color:#d4e3e8;
	border-bottom:1px solid #fff;
	background-image:none;
	background-color:#fff
}
.jqx-tabs-title-selected-bottom-empty-style, .jqx-tabs-selection-tracker-bottom-empty-style {
	color:#222;
	text-shadow:none;
	border-color:#d4e3e8;
	border-top:1px solid #fff;
	background-image:none;
	background-color:#fff
}
.jqx-splitter-splitbar-hover-empty-style {
	background:#d5edf5
}
.jqx-splitter-splitbar-vertical-empty-style, .jqx-splitter-splitbar-horizontal-empty-style, .jqx-slider-track-horizontal-empty-style, .jqx-slider-track-vertical-empty-style {
	background:#eaf3f9
}
.jqx-splitter-collapse-button-horizontal-empty-style, .jqx-splitter-collapse-button-vertical-empty-style, .jqx-slider-rangebar-empty-style {
	background:#d9eae6
}
.jqx-scrollbar-state-normal-empty-style {
	background-color:#ebebeb;
	border-color:#ebebeb
}
.jqx-grid-bottomright-empty-style, .jqx-panel-bottomright-empty-style, .jqx-listbox-bottomright-empty-style {
	background-color:#dedede
}
.jqx-scrollbar-thumb-state-normal-empty-style {
	background-color:#d6d6d6;
	background-color:#d6d6d6;
	border-color:#A4A4A5 ;
	background-image:-moz-linear-gradient(left, #d6d6d6, #d6d6d6);
	background-image:-ms-linear-gradient(left, #d6d6d6, #d6d6d6);
	background-image:-o-linear-gradient(left, #d6d6d6, #d6d6d6);
	background-image:-webkit-gradient(linear, left top, right top, from(#d6d6d6), to(#d6d6d6));
	background-image:-webkit-linear-gradient(left, #d6d6d6, #d6d6d6);
	background-image:linear-gradient(left, #d6d6d6, #d6d6d6);
	background-image:linear-gradient(left right, #d6d6d6, #d6d6d6);
	background:#cccccc url(../../images/background/scrollbar-move-button-image.png) repeat-y !important;
}
.jqx-scrollbar-thumb-state-normal-horizontal-empty-style {
	background-color:#d6d6d6;
	background-color:#d6d6d6;
	border-color:#A4A4A5;
	background-image:-moz-linear-gradient(left, #d6d6d6, #d6d6d6);
	background-image:-ms-linear-gradient(left, #d6d6d6, #d6d6d6);
	background-image:-o-linear-gradient(left, #d6d6d6, #d6d6d6);
	background-image:-webkit-gradient(linear, left top, right top, from(#d6d6d6), to(#d6d6d6));
	background-image:-webkit-linear-gradient(left, #d6d6d6, #d6d6d6);
	background-image:linear-gradient(left, #d6d6d6, #d6d6d6);
	background-image:linear-gradient(left right, #d6d6d6, #d6d6d6);
	-moz-background-clip:padding;
	background-clip:padding-box;
	-webkit-background-clip:padding-box;
	background:#cccccc url(../../images/background/scrollbar-horizontal-move-button-image.png) repeat-x !important;
}
.jqx-scrollbar-thumb-state-hover-empty-style {
	background-color:#d6d6d6;
	background-color:#d6d6d6;
	border-color:#A4A4A5 !important;
	background-image:-moz-linear-gradient(left, #d6d6d6, #d6d6d6);
	background-image:-ms-linear-gradient(left, #d6d6d6, #d6d6d6);
	background-image:-o-linear-gradient(left, #d6d6d6, #d6d6d6);
	background-image:-webkit-gradient(linear, left top, right top, from(#d6d6d6), to(#d6d6d6));
	background-image:-webkit-linear-gradient(left, #d6d6d6, #d6d6d6);
	background-image:linear-gradient(left, #d6d6d6, #d6d6d6);
	background-image:linear-gradient(left right, #d6d6d6, #d6d6d6);
	background:#cccccc url(../../images/background/scrollbar-move-button-image.png) repeat-y !important;
}
.jqx-scrollbar-thumb-state-hover-horizontal-empty-style {
	background-color:#d6d6d6;
	background-color:#d6d6d6;
	border-color:#A4A4A5 !important;
	background-image:-moz-linear-gradient(left, #d6d6d6, #d6d6d6);
	background-image:-ms-linear-gradient(left, #d6d6d6, #d6d6d6);
	background-image:-o-linear-gradient(left, #d6d6d6, #d6d6d6);
	background-image:-webkit-gradient(linear, left top, right top, from(#d6d6d6), to(#d6d6d6));
	background-image:-webkit-linear-gradient(left, #d6d6d6, #d6d6d6);
	background-image:linear-gradient(left, #d6d6d6, #d6d6d6);
	background-image:linear-gradient(left right, #d6d6d6, #d6d6d6);
	background:#cccccc url(../../images/background/scrollbar-horizontal-move-button-image.png) repeat-x !important;
	-moz-background-clip:padding;
	background-clip:padding-box;
	-webkit-background-clip:padding-box;
}
.jqx-scrollbar-thumb-state-pressed-empty-style {
background-color:#d6d6d6;
	background-color:#d6d6d6;
	border-color:#A4A4A5;
	background-image:-moz-linear-gradient(left, #d6d6d6, #d6d6d6);
	background-image:-ms-linear-gradient(left, #d6d6d6, #d6d6d6);
	background-image:-o-linear-gradient(left, #d6d6d6, #d6d6d6);
	background-image:-webkit-gradient(linear, left top, right top, from(#d6d6d6), to(#d6d6d6));
	background-image:-webkit-linear-gradient(left, #d6d6d6, #d6d6d6);
	background-image:linear-gradient(left, #d6d6d6, #d6d6d6);
	background-image:linear-gradient(left right, #d6d6d6, #d6d6d6);
	background:#cccccc url(../../images/background/scrollbar-move-button-image.png) repeat-y !important;
}
.jqx-scrollbar-thumb-state-pressed-horizontal-empty-style {
	background-color:#d6d6d6;
	background-color:#d6d6d6;
	border-color:#A4A4A5;
	background-image:-moz-linear-gradient(left, #d6d6d6, #d6d6d6);
	background-image:-ms-linear-gradient(left, #d6d6d6, #d6d6d6);
	background-image:-o-linear-gradient(left, #d6d6d6, #d6d6d6);
	background-image:-webkit-gradient(linear, left top, right top, from(#d6d6d6), to(#d6d6d6));
	background-image:-webkit-linear-gradient(left, #d6d6d6, #d6d6d6);
	background-image:linear-gradient(left, #d6d6d6, #d6d6d6);
	background-image:linear-gradient(left right, #d6d6d6, #d6d6d6);
	background:#cccccc url(../../images/background/scrollbar-horizontal-move-button-image.png) repeat-x !important;
	-moz-background-clip:padding;
	background-clip:padding-box;
	-webkit-background-clip:padding-box;
}
.jqx-scrollbar-button-state-normal-empty-style {
	background-color:#bfbfbf;
	border-color:#aaaaaa !important;
	background-image:-moz-linear-gradient(top, #bfbfbf, #bfbfbf);
	background-image:-ms-linear-gradient(top, #bfbfbf, #bfbfbf);
	background-image:-o-linear-gradient(top, #bfbfbf, #bfbfbf);
	background-image:-webkit-gradient(linear, center top, center bottom, from(#bfbfbf), to(#bfbfbf));
	background-image:-webkit-linear-gradient(top, #bfbfbf, #bfbfbf);
	background-image:linear-gradient(top, #bfbfbf, #bfbfbf);
	background-image:linear-gradient(to bottom, #bfbfbf, #bfbfbf);
	background:#bababa url(../../images/background/scrollbar-move-button-image.png) 50% 50% repeat-y !important;
	-moz-background-clip:padding;
	background-clip:padding-box;
	-webkit-background-clip:padding-box;
	cursor:pointer;
}
.jqx-scrollbar-button-state-hover-empty-style {
	background-color:#e6e6e6;
	border-color:#aaaaaa !important;
	background-image:-moz-linear-gradient(top, #e6e6e6, #e6e6e6);
	background-image:-ms-linear-gradient(top, #e6e6e6, #e6e6e6);
	background-image:-o-linear-gradient(top, #e6e6e6, #e6e6e6);
	background-image:-webkit-gradient(linear, center top, center bottom, from(#e6e6e6), to(#e6e6e6));
	background-image:-webkit-linear-gradient(top, #e6e6e6, #e6e6e6);
	background-image:linear-gradient(top, #e6e6e6, #e6e6e6);
	background-image:linear-gradient(to bottom, #e6e6e6, #e6e6e6);
	background:#bababa url(../../images/background/scrollbar-move-button-image.png) 50% 50% repeat-y !important;
	-moz-background-clip:padding;
	background-clip:padding-box;
	-webkit-background-clip:padding-box
}
.jqx-scrollbar-button-state-pressed-empty-style {
	background-color:#bfbfbf;
	border-color:#aaaaaa !important;
	background-image:-moz-linear-gradient(top, #bfbfbf, #bfbfbf);
	background-image:-ms-linear-gradient(top, #bfbfbf, #bfbfbf);
	background-image:-o-linear-gradient(top, #bfbfbf, #bfbfbf);
	background-image:-webkit-gradient(linear, center top, center bottom, from(#bfbfbf), to(#bfbfbf));
	background-image:-webkit-linear-gradient(top, #bfbfbf, #bfbfbf);
	background-image:linear-gradient(top, #bfbfbf, #bfbfbf);
	background-image:linear-gradient(to bottom, #bfbfbf, #bfbfbf);
	background:#bababa url(../../images/background/scrollbar-move-button-image.png) 50% 50% repeat-y !important;
	-moz-background-clip:padding;
	background-clip:padding-box;
	-webkit-background-clip:padding-box
}
.jqx-radiobutton-check-checked-empty-style {
	background:#347a9b;
	width:7px;
	height:7px;
	margin-left:2px;
	margin-top:2px;
	border-width:1px;
	border-style:solid
}
.jqx-rc-tl-empty-style {
	-moz-border-radius-topleft:4px;
	-webkit-border-radius-topleft:4px;
	border-radius-topleft:4px
}
.jqx-rc-tr-empty-style {
	-moz-border-radius-topright:4px;
	-webkit-border-radius-topright:4px;
	border-radius-topright:4px
}
.jqx-rc-bl-empty-style {
	-moz-border-radius-bottomleft:4px;
	-webkit-border-radius-bottomleft:4px;
	border-radius-bottomleft:4px
}
.jqx-rc-br-empty-style {
	-moz-border-radius-bottomright:4px;
	-webkit-border-radius-bottomright:4px;
	border-radius-bottomright:4px
}
.jqx-rc-t-empty-style {
	-moz-border-radius-topleft:4px;
	-webkit-border-top-left-radius:4px;
	border-top-left-radius:4px;
	-moz-border-radius-topright:4px;
	-webkit-border-top-right-radius:4px;
	border-top-right-radius:4px
}
.jqx-rc-b-empty-style {
	-moz-border-radius-bottomleft:4px;
	-webkit-border-bottom-left-radius:4px;
	border-bottom-left-radius:4px;
	-moz-border-radius-bottomright:4px;
	-webkit-border-bottom-right-radius:4px;
	border-bottom-right-radius:4px
}
.jqx-rc-r-empty-style {
	-moz-border-radius-topright:4px;
	-webkit-border-top-right-radius:4px;
	border-top-right-radius:4px;
	-moz-border-radius-bottomright:4px;
	-webkit-border-bottom-right-radius:4px;
	border-bottom-right-radius:4px
}
.jqx-rc-l-empty-style {
	-moz-border-radius-topleft:4px;
	-webkit-border-top-left-radius:4px;
	border-top-left-radius:4px;
	-moz-border-radius-bottomleft:4px;
	-webkit-border-bottom-left-radius:4px;
	border-bottom-left-radius:4px
}
.jqx-radiobutton-default-empty-style, .jqx-radiobutton-empty-style, .jqx-radiobutton-check-checked-empty-style, .jqx-radiobutton-hover-empty-style, .jqx-radiobutton-check-indeterminate-empty-style, .jqx-radiobutton-check-indeterminate-disabled-empty-style, .jqx-slider-button-empty-style {
	-moz-border-radius:100%!important;
	-webkit-border-radius:100%!important;
	border-radius:100%!important
}
.jqx-rc-all-empty-style, .jqx-tooltip-empty-style, .jqx-tooltip-text-empty-style, .jqx-tooltip-main-empty-style {
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
	border-radius:4px
}
.jqx-grid-column-sortascbutton-empty-style, .jqx-expander-arrow-bottom-empty-style, .jqx-window-collapse-button-empty-style, .jqx-menu-item-arrow-up-empty-style, .jqx-menu-item-arrow-top-up-empty-style, .jqx-icon-arrow-up-empty-style {
	background-image:url('../../images/img_icons/icon-up-empty-style.png')
}
.jqx-icon-arrow-up-hover-empty-style {
	background-image:url('../../images/img_icons/icon-up-empty-style.png')
}
.jqx-menu-item-arrow-up-selected-empty-style, .jqx-icon-arrow-up-selected-empty-style.jqx-expander-arrow-expanded-empty-style {
	background-image:url('../../images/img_icons/icon-up-empty-style.png')
}
.jqx-grid-column-menubutton-empty-style, .jqx-grid-column-sortdescbutton-empty-style, .jqx-expander-arrow-top-empty-style, .jqx-window-collapse-button-collapsed-empty-style, .jqx-menu-item-arrow-down-empty-style, .jqx-menu-item-arrow-down-empty-style, .jqx-tree-item-arrow-expand-empty-style, .jqx-grid-group-expand-empty-style, .jqx-widget-empty-style .jqx-grid-group-expand-empty-style, .jqx-icon-arrow-down-empty-style {
	background-image:url('../../images/img_icons/icon-down-empty-style.png')
}
.jqx-icon-arrow-down-hover-empty-style {
	background-image:url('../../images/img_icons/icon-down-empty-style.png')
}
.jqx-menu-item-arrow-down-selected-empty-style, .jqx-icon-arrow-down-selected-empty-style {
	background-image:url('../../images/img_icons/icon-down-empty-style.png')
}
.jqx-tabs-arrow-left-empty-style, .jqx-menu-item-arrow-top-left-empty-style, .jqx-grid-group-collapse-rtl-empty-style, .jqx-widget-empty-style .jqx-grid-group-collapse-rtl-empty-style, .jqx-icon-arrow-left-empty-style, .jqx-icon-arrow-down-left-empty-style {
	background-image:url('../../images/img_icons/icon-left-empty-style.png')
}
.jqx-icon-arrow-left-hover-empty-style {
	background-image:url('../../images/img_icons/icon-left-empty-style.png')
}
.jqx-menu-vertical-empty-style {
	background:#fff
}
.jqx-menu-item-arrow-left-selected-empty-style, .jqx-icon-arrow-left-selected-empty-style {
	background-image:url('../../images/img_icons/icon-left-empty-style.png')
}
.jqx-tabs-arrow-right-empty-style, .jqx-menu-item-arrow-top-right-empty-style, .jqx-menu-item-arrow-collapse-empty-style, .jqx-grid-group-collapse-empty-style, .jqx-widget-empty-style .jqx-grid-group-collapse-empty-style, .jqx-icon-arrow-right-empty-style {
	background-image:url('../../images/img_icons/icon-right-empty-style.png');
}
.jqx-icon-arrow-right-hover-empty-style {
	background-image:url('../../images/img_icons/icon-right-empty-style.png')
}
.jqx-menu-item-arrow-right-selected-empty-style, .jqx-icon-arrow-right-selected-empty-style {
	background-image:url('../../images/img_icons/icon-right-empty-style.png')
}
.jqx-window-close-button-empty-style, .jqx-tabs-close-button-empty-style, .icon-close-empty-style {
	background-image:url('images/close.png')
}
.jqx-tabs-close-button-selected-empty-style {
	background-image:url('images/close.png')
}
.jqx-tabs-close-button-hover-empty-style {
	background-image:url('images/close.png')
}
.jqx-widget-empty-style .jqx-grid-column-header-empty-style, .jqx-widget-empty-style .jqx-grid-cell-empty-style, .jqx-widget-empty-style .jqx-grid-group-cell-empty-style, .jqx-grid-cell-empty-style {
	border-color:#fff;
}
.jqx-checkbox-check-checked-empty-style {
	background-image:url(../../images/img_icons/check_blue.png);
}
.jqx-checkbox-check-indeterminate-empty-style {
	background-image:url('images/check_indeterminate_black.png')
}
.jqx-tooltip-empty-style, .jqx-tooltip-main-empty-style {
	color:#07485e;
	text-shadow:none;
	border-color:#aadced;
	background-color:#d5edf5
}
.jqx-combobox-content-empty-style, .jqx-input-empty-style {
	color:#222;
	text-shadow:none;
	border-color:#d9eae6;
	background-color:#fff
}
.jqx-combobox-input-empty-style {
	color:#222;
	text-shadow:none
}
.jqx-input-content-empty-style {
	color:#222;
	text-shadow:none;
	background-color:#fff
}
.jqx-fill-state-focus-empty-style, .jqx-popup-empty-style .jqx-fill-state-focus-empty-style {
	border-color:#d9eae6
}
.jqx-popup-empty-style.jqx-listbox-empty-style, .jqx-popup-empty-style.jqx-calendar-empty-style, .jqx-menu-dropdown-empty-style, .jqx-popup-empty-style.jqx-dropdownbutton-popup-empty-style {
	color:#222;
	text-shadow:none;
	border-color:#d9eae6;
	background-color:#fff
}
.jqx-menu-item-arrow-right-empty-style, .jqx-tree-item-arrow-collapse-empty-style {
	background-image:url('../../images/img_icons/icon-right-empty-style.png')
}
.jqx-menu-item-arrow-left-empty-style {
	background-image:url('../../images/img_icons/icon-left-empty-style.png')
}
.jqx-tree-item-arrow-expand-empty-style {
	background-image:url('../../images/img_icons/icon-down-empty-style.png')
}
.jqx-scrollbar-empty-style .jqx-icon-arrow-up-empty-style {
	background-image:url('../../images/img_icons/icon-up-empty-style.png')
}
.jqx-scrollbar-empty-style .jqx-icon-arrow-left-empty-style {
	background-image:url('../../images/img_icons/icon-left-empty-style.png')
}
.jqx-scrollbar-empty-style .jqx-icon-arrow-right-empty-style {
	background-image:url('../../images/img_icons/icon-right-empty-style.png')
}
.jqx-scrollbar-empty-style .jqx-icon-arrow-bottom-empty-style {
	background-image:url('../../images/img_icons/icon-bottom-empty-style.png')
}
.jqx-scrollbar-empty-style .jqx-icon-arrow-up-hover-empty-style {
	background-image:url('../../images/img_icons/icon-up-empty-style.png')
}
.jqx-scrollbar-empty-style .jqx-icon-arrow-left-hover-empty-style {
	background-image:url('../../images/img_icons/icon-left-empty-style.png')
}
.jqx-scrollbar-empty-style .jqx-icon-arrow-right-hover-empty-style {
	background-image:url('../../images/img_icons/icon-right-empty-style.png')
}
.jqx-scrollbar-empty-style .jqx-icon-arrow-bottom-hover-empty-style {
	background-image:url('../../images/img_icons/icon-bottom-empty-style.png')
}
.jqx-scrollbar-empty-style .jqx-icon-arrow-up-selected-empty-style {
	background-image:url('../../images/img_icons/icon-up-empty-style.png')
}
.jqx-scrollbar-empty-style .jqx-icon-arrow-left-selected-empty-style {
	background-image:url('../../images/img_icons/icon-left-empty-style.png')
}
.jqx-scrollbar-empty-style .jqx-icon-arrow-right-selected-empty-style {
	background-image:url('../../images/img_icons/icon-right-empty-style.png')
}
.jqx-scrollbar-empty-style .jqx-icon-arrow-bottom-selected-empty-style {
	background-image:url('../../images/img_icons/icon-bottom-empty-style.png')
}
.jqx-widget-empty-style .jqx-grid-cell-empty-style, .jqx-listitem-state-normal-empty-style, .jqx-menu-item-normal-empty-style, .jqx-tree-item-normal-empty-style, .jqx-calendar-cell-empty-style, .jqx-grid-cell-empty-style, .jqx-menu-vertical-empty-style .jqx-menu-item-top-normal-empty-style, .jqx-input-popup-empty-style .jqx-fill-state-normal-empty-style {
	font-family:'맑은 고딕', arial;
}
.jqx-widget-empty-style .jqx-grid-cell-hover-empty-style, .jqx-listitem-state-hover-empty-style, .jqx-menu-item-hover-empty-style, .jqx-tree-item-hover-empty-style, .jqx-calendar-cell-hover-empty-style, .jqx-grid-cell-hover-empty-style, .jqx-menu-vertical-empty-style .jqx-menu-item-top-hover-empty-style, .jqx-input-popup-empty-style .jqx-fill-state-hover-empty-style, .jqx-input-button-header-empty-style, .jqx-input-popup-empty-style .jqx-fill-state-pressed-empty-style, .jqx-input-button-header-empty-style {
	font-family:'맑은 고딕', arial;
}
.jqx-widget-empty-style .jqx-grid-cell-selected-empty-style, .jqx-listitem-state-selected-empty-style, .jqx-menu-item-selected-empty-style, .jqx-tree-item-selected-empty-style, .jqx-calendar-cell-selected-empty-style, .jqx-grid-cell-selected-empty-style, .jqx-menu-vertical-empty-style .jqx-menu-item-top-selected-empty-style, .jqx-grid-selectionarea-empty-style {
	font-family:'맑은 고딕', arial;
}
.jqx-icon-calendar-empty-style {
	background-image:url('images/icon-calendar.png')
}
.jqx-icon-calendar-hover-empty-style {
	background-image:url('images/icon-calendar.png')
}
.jqx-icon-calendar-pressed-empty-style {
	background-image:url('images/icon-calendar.png')
}
.jqx-icon-first-empty-style {
	background-image:url('../../images/img_icons/icon-first-empty-style.png')
}
.jqx-icon-first-hover-empty-style {
	background-image:url('../../images/img_icons/icon-first-empty-style.png')
}
.jqx-icon-first-selected-empty-style {
	background-image:url('../../images/img_icons/icon-first-empty-style.png')
}
.jqx-icon-last-empty-style {
	background-image:url('../../images/img_icons/icon-last-empty-style.png')
}
.jqx-icon-last-hover-empty-style {
	background-image:url('../../images/img_icons/icon-last-empty-style.png')
}
.jqx-icon-last-selected-empty-style {
	background-image:url('../../images/img_icons/icon-last-empty-style.png')
}
.jqx-grid-cell-empty-style.jqx-grid-cell-empty-style>.jqx-grid-group-expand-empty-style {
	background-image:url('../../images/img_icons/icon-down-empty-style.png')
}
.jqx-grid-cell-empty-style.jqx-grid-cell-hover-empty-style>.jqx-grid-group-expand-empty-style {
	background-image:url('../../images/img_icons/icon-down-empty-style.png')
}
.jqx-grid-cell-empty-style.jqx-grid-cell-selected-empty-style>.jqx-grid-group-expand-empty-style {
	background-image:url('../../images/img_icons/icon-down-empty-style.png')
}
.jqx-grid-cell-empty-style.jqx-grid-cell-empty-style>.jqx-grid-group-collapse-empty-style {
	background-image:url('../../images/img_icons/icon-right-empty-style.png')
}
.jqx-grid-cell-empty-style.jqx-grid-cell-hover-empty-style>.jqx-grid-group-collapse-empty-style {
	background-image:url('../../images/img_icons/icon-right-empty-style.png')
}
.jqx-grid-cell-empty-style.jqx-grid-cell-selected-empty-style>.jqx-grid-group-collapse-empty-style {
	background-image:url('../../images/img_icons/icon-right-empty-style.png')
}
.jqx-grid-cell-empty-style.jqx-grid-cell-empty-style>.jqx-grid-group-expand-rtl-empty-style {
	background-image:url('../../images/img_icons/icon-down-empty-style.png')
}
.jqx-grid-cell-empty-style.jqx-grid-cell-hover-empty-style>.jqx-grid-group-expand-rtl-empty-style {
	background-image:url('../../images/img_icons/icon-down-empty-style.png')
}
.jqx-grid-cell-empty-style.jqx-grid-cell-selected-empty-style>.jqx-grid-group-expand-rtl-empty-style {
	background-image:url('../../images/img_icons/icon-down-empty-style.png')
}
.jqx-grid-cell-empty-style.jqx-grid-cell-empty-style>.jqx-grid-group-collapse-rtl-empty-style {
	background-image:url('../../images/img_icons/icon-left-empty-style.png')
}
.jqx-grid-cell-empty-style.jqx-grid-cell-hover-empty-style>.jqx-grid-group-collapse-rtl-empty-style {
	background-image:url('../../images/img_icons/icon-left-empty-style.png')
}
.jqx-grid-cell-empty-style.jqx-grid-cell-selected-empty-style>.jqx-grid-group-collapse-rtl-empty-style {
	background-image:url('../../images/img_icons/icon-left-empty-style.png')
}
.jqx-grid-column-menubutton-empty-style, .jqx-grid-column-sortdescbutton-empty-style {
	background-image:url('../../images/img_icons/icon-down-empty-style.png')
}
.jqx-grid-column-sortascbutton-empty-style {
	background-image:url('../../images/img_icons/icon-up-empty-style.png')
}
.jqx-icon-delete-empty-style {
	background-image:url('images/icon-delete.png')
}
.jqx-icon-edit-empty-style {
	background-image:url('images/icon-edit.png')
}
.jqx-icon-save-empty-style {
	background-image:url('images/icon-save.png')
}
.jqx-icon-cancel-empty-style {
	background-image:url('images/icon-cancel.png')
}
.jqx-icon-search-empty-style {
	background-image:url('images/icon-search.png')
}
.jqx-icon-plus-empty-style {
	background-image:url('images/icon-plus.png')
}
