/* default */

@font-face { font-family:"fontawesome"; src: url("/resources/font/fontawesome-webfont.eot"); }
@font-face {
  font-family: 'fontawesome';
  src: url('/resources/font/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
       url('/resources/font/fontawesome-webfont.woff') format('woff'),
       url('/resources/font/fontawesome-webfont.ttf') format('truetype'),
       url('/resources/font/fontawesome-webfont.svg#fontawesome-webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*{margin:0; padding:0; font-family:"Malgun Gothic", '맑은고딕', Tahoma, Gulim, AppleGothic, sans-serif;}*/
*{margin:0; padding:0; font-family:"dotum",'돋움', Tahoma, Gulim, AppleGothic, sans-serif;}
body {_text-align:center;} 

a {text-decoration:none; }
hr {display:none;}
img,fieldset {border:0 none;}
dl,ul,ol,li {list-style: none;}
h1,h2,h3,h4,h5,dl,dt,dd,ul,li,ol,th,td,p,blockquote,form,fieldset,legend {margin:0; padding:0;}
legend {display:none;}
table {border-collapse:collapse;}
input,select,textarea {font-size:100%;}
body,td {font-size:12px; color:#999999;}
img {border:0 none; margin:0; padding:0; overflow:hidden;}
button {cursor:pointer;}

/* 대체텍스트용 */
.comment{position:absolute;left:-10000px;width:1px;height:1px;overflow:hidden;}
.clear{display:block; float:none; clear:both; height:0; width:100%; font-size:0 !important; line-height:0 !important; overflow:hidden; margin:0 !important; padding:0 !important;}

/* UI Object */
#wrap{width:100%}

/* HEADER Start */
#header{
    width:100%; 
    height:50px; 
    background: #2b465a;
	position:fixed;
	/* border-bottom:3px solid #8fd222; */
}

.logo{
    float:left; 
    width:210px; 
    background: white;   
    border-right:1px solid #1b2f3d;
	text-align:center;
	/*padding-top:15px;*/
	/*height:35px;*/
}

.left_hide {
    float:left;
    border-right:1px solid #458bba;
    border-left:1px solid #8bb5e0;
    width:40px;
    height:33px;
	cursor:pointer;
	padding-top:17px;
	text-align:center;
    
}

.left_hide i{
	color:#c3e1ff;
	font-size:18px;
	height:32px;   
}

.left_hide i:hover{
	color:#fff;
	font-size:18px;
	height:32px;  
}

.navi_gnb{
    margin-left:211px;
}
.navi_area{
    position:relative; 
    text-align:left; 


}
.navi{
	position:absolute;
    float:left;  
    z-index:2;

}
.navi_cont { 
    color:#cccccc; 
    float:left; 
}
.navi_cont li{
    float:left; 
    position:relative; 
    z-index:1; 
    font-size:14px; 
    font-weight:bold; 
    color:#fff;
    border-right:1px solid #1b2f3d;
    border-left:1px solid #4c6171;
	letter-spacing:-0.5px;
	background:#2b465a;
}
.navi_cont li span.on{
    display:inline-block; 
    height:14px; 
    color:#fff000;
    padding:18px 15px; 
}
.navi_cont li span.off{
    display:inline-block; 
    height:14px;
    padding:18px 15px;
}
.navi_cont a{
    color:#fff; 
    cursor:pointer; 
    text-decoration:none !important;
    display:inline-block;
}
.navi_cont a:hover{
    color:#fff000;
}

.gnb_area{
    float:left;
    width:210px; 
    height:24px;
    background:#6b6b6b;
    padding-top:6px;
}
.gnb_area li{
    float:left;
}
.gnb_area li.end{
    padding:0 10px 0 0;
    height:10px;
}
.btn_toggle {
    float:left;
    cursor:pointer;
}
.btn_area {
    float:right;
    cursor:pointer;
}
.btn_area ul li {
    float:left; 
    border-right:1px solid #1b2f3d;
    border-left:1px solid #4c6171;
    color:#fff;
    height:50px;   
}

.btn_area ul li.user {
    float:left; 
    border-right:1px solid #1b2f3d;
    border-left:none;
    color:#efefef;
    /* width:200px; */
    height:35px;
    padding:15px 10px 0 0;
    font-size:14px;
    text-align:right;
}
.btn_area ul li.ico{
    float:left;    
}

.btn_area ul li.ico i{
    color:#7fd4f3;
	font-size:16px;
	height:32px;
    padding:18px 10px 0 10px;
	}

.btn_area ul li.ico i:hover{
	color:#fff;
	height:32px;
    padding:18px 10px 0 10px;
	}



.btn_area ul li.user {font-size:11px; padding-top:20px;height:30px;}
.btn_area ul li.user span.name {color:#fff000; font-size:12px; font-weight:bold;}

/* HEADER End */


#container{_display:inline-block;width:100%; padding-top:50px;}
#container:after{display:block;clear:both;content:''}


/* Left Menu */

.snb{
    float:left; 
    width:210px; 
    height:100%; 
    position: fixed;
    border-right:1px solid #adadc1;
    background: #ffffff;
	
}

.snb_Tab_area {
    float:left;
    width:200px;
    background: #f5f5f5;
	border-bottom:1px solid #d8d9df;
	height:30px;
	padding:5px 5px 0 5px;
}
.snb_Tab_contents {		
	float:left;
	font-size:14px;
	font-weight:bold;
	color:#fff;
	background:#4480be;
	/*border:1px solid #33679c;*/
	border-bottom:none;
	width:152px;
	cursor:pointer;
	text-align:center;
	height:22px;
	padding-top:8px;
	border-radius:5px 5px 0 0;
} 
 
.snb_Fav_contents {
	float:left;
	color:#53687f;
	/*background:#aac8e6;*/
	/*border:1px solid #bccfe3;*/
	border-bottom:none;
	width:42px;
	font-size:16px;
	cursor:pointer;
	text-align:center;
	height:25px;
	padding-top:6px;
	margin-left:5px;
	background-image:url(/resources/img/theme/07/leftsecondtab.png);   
}
.snb_Fav_contents:hover {
	float:left;
	color:#fff;
	background:#4480be;
	/*border:1px solid #33679c;*/
	border-bottom:none;
	width:42px;
	font-size:16px;
	text-align:center;
	height:25px;
	padding-top:6px;
	margin-left:5px;
	cursor:pointer;
	background-image:url(/resources/img/theme/07/leftsecondtab_hover.png);   
}



.snb_Tab_contents i {margin-right:5px;}

.snb_Tab_Area {
	float:left;
	width:210px;
	height:40px;
	background:#4d525f;
}

.snb_Tab {
	float:left;
	color:#fff;
	font-size:16px;
	font-weight:bold;
	padding:7px 0 0 10px;
}

.snb_navi{
    color:#555555; 
    float:left; 
    position:relative;
    height:100%;
}

.snb_navi li{
	background-color:#dbeff4 ;
	color:#11252a ; 
	border:1px solid #e7e7e7;
}

.snb_navi li a{
	padding:7px 0 7px 15px;
    width:197px;
    cursor:pointer; 
	color:#11252a;
	font-weight:bold;
    text-decoration:none;
    display:inline-block;
}

.snb_navi li a:hover{
	padding:7px 0 7px 15px;
    width:195px;
    /* background:#8197b3; ; */
	color:#ffffff !important;
    font-weight:bold !important;
	background:#1096b8 !important;
} 

.snb_navi li.open{
    float:left; 
    width:210px;
    position:relative; 
    border-bottom:0px solid #1096b8 !important; 
	border-top:0px solid #1096b8 !important; 
    color:#ffffff !important; 
    font-size:12px;   
	background:#1096b8;
}

.snb_navi li.open a{
    padding:7px 0 7px 15px;
    width:195px;
    cursor:pointer; 
	color:#fff;
	font-weight:bold;
    text-decoration:none;
    display:inline-block;
}

.snb_navi .menu{
    float:left;
    background: #ffffff !important;
	padding:8px 0;
}

.snb_navi .menu li{
	background:#ffffff;
    padding:2px 0 2px 2px !important;
    width:190px;
    border:none;
    font-size:12px;
    cursor:pointer; 
}

.snb_navi .menu li a{
	padding:2px 0 2px 0 !important;
    color:#d5e1ef;
	font-weight:normal;
}

.snb_navi .menu li a:hover{
	padding:2px 0 2px 0 !important;
    color:#fff !important;
	background:none;
	font-weight:bold;
}

.snb_navi li i{float:left; margin:3px 6px 0 0;}

.border_end {border-bottom:none !important;}

/* Left Menu End */

/*#content{margin-left:211px;}*/

.Tab_Area{
    float:left; 
    font-size:12px;
	width:100%;
	background: #f5f5f5;
	height:30px;
	border-bottom:1px solid #ccc;
	padding-top:5px;
}

.Tab_Area li {
	float:left;
	border:1px solid #ccc;
	border-bottom:none;
	background:#efefef;
	color:#666;
	padding:9px 15px 0 15px;
	height:24px;
	margin-right:3px;
	
}

.Tab_Area li.first {
	margin-left:5px;	
}

.Tab_Area li:hover {
	float:left;
	border:1px solid #ccc;
	border-top:2px solid #2a8ebf;
	border-bottom:none;
	background:#fff;
	color:#222;
	padding:9px 15px 0 15px;
	height:24px;
	margin-right:3px;
	cursor:pointer;
	/*font-weight:bold;*/
} 

.Tab_Area li.select { 
	float:left;
	border:1px solid #ccc;
	border-top:2px solid #1096b8;
	border-bottom:none;
	background:#fff;
	color:#1096b8;
	padding:9px 15px 0 15px;
	height:24px;
	margin-right:3px;
	/*font-weight:bold;*/
}


.sitemap_Area{
    float:left; 
    font-size:12px;
	width:100%;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 39%, #ffffff 39%, #efefef 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #ffffff 39%,#ffffff 39%,#efefef 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #ffffff 39%,#ffffff 39%,#efefef 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#efefef',GradientType=0 ); /* IE6-9 */
	height:30px;
	border-bottom:1px solid #dfdfdf;
}
.sitemap_Area .sitemap {
	float:left;
	color:#666;
	padding:10px 0 0 10px;
	
}

.sitemap_Area .sitemap span.sel{
    font-weight:bold;
    color:#333;
    font-size:12px;    
}

.sitemap_Area .btn_Area {float:right; margin:4px 15px 0 0;}
.sitemap_Area .btn_Area .sub_btn {
	float:left; 
	margin-left:5px;
	border: 1px solid #919191; 
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #d6d6d6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#d6d6d6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#d6d6d6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#d6d6d6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#d6d6d6 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#d6d6d6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d6d6d6',GradientType=0 ); /* IE6-9 */
	padding: 2px 6px;
	font-size:12px; 
	border-radius:3px;
	
}
.sitemap_Area .btn_Area .sub_btn:hover {
	float:left; 
	margin-left:5px;
	border: 1px solid #919191; 
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d9d9d9+0,ffffff+99 */
background: #d9d9d9; /* Old browsers */
background: -moz-linear-gradient(top,  #d9d9d9 0%, #ffffff 99%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #d9d9d9 0%,#ffffff 99%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #d9d9d9 0%,#ffffff 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9d9d9', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */


	padding: 2px 6px;
	font-size:12px; 
	border-radius:3px;
}



.Main_Title_Area {float:left;}
.Main_Title_Area .title {
	height:30px;  float:left; margin:0; text-align:left;  
	font-size:14px; background:url(/resources/img/title_ico.png) no-repeat scroll 0 12px transparent; 
	font-weight:bold; padding:12px 0 0 25px; color:#2f2f2f;
	font-family:"dotum",'돋움', Tahoma, Gulim, AppleGothic, sans-serif;
	/* border-bottom:1px dashed #dfdfdf; background:#f2f2f2; */
}

.box_type{float:left; width:100%; border-top:2px solid #828e9f; border-bottom:1px solid #e0e0e0; height:1%; margin-bottom:5px;}
.box_first{border:1px solid #bbbbbb; height:1%;}
.box_second{
    border:1px solid #fff;
    background: #f0f0f1; 
    height:1%; 
    padding:5px 0;}
.box_second:after{display:block; clear:both; content:'';}

.lm_select_left {float:left; font-size:12px; padding-left:14px;}
.lm_select_left ul {clear:both; display:block;}
.lm_select_left li {float:left; font-size:12px; color:#666666; margin:4px 0; padding:0 5px 0 0;}
.lm_select_left li.search_title {font-weight:bold; padding-left:10px; color:black;}

 
.lm_select_left li.m_left_15{margin-left:15px;}

.m_left5{margin-left:5px;}
.popup_radio{vertical-align:middle; background:none;}
.popup_check{vertical-align:middle; background:none; height:15px;}

.button_Area {float:right; border:none; margin-right:5px; margin-top:10px;} 

.Contents_button_Area {float:right; border:none; margin-top:5px;}

.search_input {border:1px solid #dfdfdf; background:#fff;}

.Grid_Area {float:left; width:100%; margin:5px 0 7px 0;}
.Grid_Area .table_Type1 {width:100%;border-collapse:collapse; table-layout:fixed; border-top:1px solid #3c454d;}
.Grid_Area .table_Type1 thead th {color:#fff; height:25px; font-size:12px;  background:#8197b3;  border:1px solid #576c89; text-align:center;line-height:100%; border-top:none; }
.Grid_Area .table_Type1 thead th .2deth {background:#95846d;  border:1px solid #4c5b72; text-align:center;line-height:100%; border-top:none; }
.Grid_Area .table_Type1 td {height:25px; color:#555;border:1px solid #bfbfbf; font-size:12px; text-align:center; }
.Grid_Area .table_Type1 tr.on{background:#e8f1f7; border:1px solid #e4eaf0;}
.Grid_Area .table_Type1 td.on_td{color:#5b96d2; font-weight:bold; border:1px solid #bfbfbf; text-align:right; padding-right:5px; border-bottom:1px solid #e4eaf0;}
.Grid_Area .table_Type1 td.head {background:#fdfdfd; text-align:center; font-weight:bold;}
.Grid_Area .table_Type1 td.head1 {background:#f4f4f4; text-align:center;}
.Grid_Area .table_Type1 td.head2 {background:#eaeaea; text-align:right; padding-right:5px;}
.Grid_Area .table_Type1 td.num {text-align:right; padding-right:5px;}
.Grid_Area .table_Type1 td.bol {font-weight:bold;}
.Grid_Area .table_Type1 td.bol1 {font-weight:bold; color:#ff0000; }
.Grid_Area .table_Type1 td.sum_td {font-weight:bold; color:#b58349; border:1px solid #eeceb1; text-align:right; padding-right:5px;}
.Grid_Area .table_Type1 tr.sum {background:#fff7e4;}


 
.Grid_Area {float:left; width:100%; margin:5px 0 7px 0;}
.Grid_Area .table_Type2 {width:100%;border-collapse:collapse; table-layout:fixed; border-top:1px solid #3c454d;}
.Grid_Area .table_Type2 th {color:#fff; height:25px; font-size:12px;  background:#8197b3;  border:1px solid #576c89; text-align:center;line-height:100%; border-top:none; }
.Grid_Area .table_Type2 th .2deth {background:#95846d;  border:1px solid #4c5b72; text-align:center;line-height:100%; border-top:none; }
.Grid_Area .table_Type2 td {height:25px; color:#555;border:1px solid #bfbfbf; font-size:12px; text-align:center; }
.Grid_Area .table_Type2 tr.on{background:#e8f1f7; border:1px solid #e4eaf0;}
.Grid_Area .table_Type2 td.on_td{color:#5b96d2; font-weight:bold; border:1px solid #bfbfbf; text-align:right; padding-right:5px; border-bottom:1px solid #e4eaf0;}
.Grid_Area .table_Type2 td.head {background:#fdfdfd; text-align:center; font-weight:bold;}
.Grid_Area .table_Type2 td.head1 {background:#f4f4f4; text-align:center;}
.Grid_Area .table_Type2 td.head2 {background:#eaeaea; text-align:right; padding-right:5px;}
.Grid_Area .table_Type2 td.num {text-align:right; padding-right:5px;}
.Grid_Area .table_Type2 td.bol {font-weight:bold;}
.Grid_Area .table_Type2 td.bol1 {font-weight:bold; color:#ff0000; }
.Grid_Area .table_Type2 td.sum_td {font-weight:bold; color:#b58349; border:1px solid #eeceb1; text-align:right; padding-right:5px;}
.Grid_Area .table_Type2 tr.sum {background:#fff7e4;}


.Grid_Area {float:left; width:100%; margin:5px 0 7px 0;}
.Grid_Area .helper {width:100%;border-collapse:collapse; table-layout:fixed; border-top:1px solid #3c454d;}
.Grid_Area .helper th {color:#fff; height:25px; font-size:12px;  background:#8197b3;  border:1px solid #576c89; text-align:center;line-height:100%; border-top:none; }
.Grid_Area .helper th .2deth {background:#95846d;  border:1px solid #4c5b72; text-align:center;line-height:100%; border-top:none; }
.Grid_Area .helper td {color:black; border:1px solid #bfbfbf; }
.Grid_Area .helper td.head {background:#fdfdfd; text-align:center; font-weight:bold;}
.Grid_Area .helper td.head1 {background:#f4f4f4; text-align:center;}
.Grid_Area .helper td.head2 {background:#eaeaea; text-align:right; padding-right:5px;}
.Grid_Area .helper td.num {text-align:right; padding-right:5px;}
.Grid_Area .helper td.bol {font-weight:bold;}
.Grid_Area .helper td.bol1 {font-weight:bold; color:#ff0000; }
.Grid_Area .helper td.sum_td {font-weight:bold; color:#b58349; border:1px solid #eeceb1; text-align:right; padding-right:5px;}
.Grid_Area .helper tr.sum {background:#fff7e4;}

.Grid_Area_FIXEDHEADER {float:left; width:100%; margin:5px 0 7px 0;}
.Grid_Area_FIXEDHEADER  {width:100%;border-collapse:collapse; table-layout:fixed; border-top:1px solid #3c454d;}
.Grid_Area_FIXEDHEADER  th {color:#fff; height:25px; font-size:12px;  background:#8197b3;  border:1px solid #576c89; text-align:center;line-height:100%; border-top:none; }
.Grid_Area_FIXEDHEADER  th .2deth {background:#95846d;  border:1px solid #4c5b72; text-align:center;line-height:100%; border-top:none; }
.Grid_Area_FIXEDHEADER  td {color:black; border:1px solid #bfbfbf; }
.Grid_Area_FIXEDHEADER  td.head {background:#fdfdfd; text-align:center; font-weight:bold;}
.Grid_Area_FIXEDHEADER  td.head1 {background:#f4f4f4; text-align:center;}
.Grid_Area_FIXEDHEADER  td.head2 {background:#eaeaea; text-align:right; padding-right:5px;}
.Grid_Area_FIXEDHEADER  td.num {text-align:right; padding-right:5px;}
.Grid_Area_FIXEDHEADER  td.bol {font-weight:bold;}
.Grid_Area_FIXEDHEADER  td.bol1 {font-weight:bold; color:#ff0000; }
.Grid_Area_FIXEDHEADER  td.sum_td {font-weight:bold; color:#b58349; border:1px solid #eeceb1; text-align:right; padding-right:5px;}
.Grid_Area_FIXEDHEADER  tr.sum {background:#fff7e4;}


.button_Style { 
border: 1px solid #5e6779; box-shadow: 0 1px 2px 0 #9ca6b3 inset; -webkit-box-shadow: 0 1px 2px 0 #9ca6b3 inset; -moz-box-shadow: 0 1px 2px 0 #9ca6b3 inset;
background: #8c97a6;
background: -moz-linear-gradient(top,  #8c97a6 0%, #596171 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8c97a6), color-stop(100%,#596171));
background: -webkit-linear-gradient(top,  #8c97a6 0%,#596171 100%);
background: -o-linear-gradient(top,  #8c97a6 0%,#596171 100%);
background: -ms-linear-gradient(top,  #8c97a6 0%,#596171 100%);
background: linear-gradient(top,  #8c97a6 0%,#596171 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8c97a6', endColorstr='#596171',GradientType=0 );
 
color:#fff;

}
.button_Style:hover{ 
background: #6d7787; 
box-shadow: 0 0 2px #707070 inset, 0 1px 0 #fff; 
-webkit-box-shadow: 0 0 2px #707070 inset, 0 1px 0 #fff; 
-moz-box-shadow: 0 0 2px #707070 inset, 0 1px 0 #fff; 
}

.button_txt {
    cursor: pointer;
	color:#fff !important;
    padding: 1px 6px 3px 7px;
    text-transform: uppercase;
	border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;
	margin-left:1px;
	font-size:12px;
	display:inline-block;
    text-transform:capitalize;
	font-weight:bold;

}
/*
아이플랜비즈 장민수 추가분.
*/


.jqx-tabs-close-button { 
	background-repeat:no-repeat;
}

#content .jqx-fill-state-pressed {
	border-top:2px solid #2a8ebf !important;
	
}
.Tab_Area a{
	color:#666;
}
.Tab_Area li.select a{
	color:#1096b8;
}
 
.snb_Tab_contents{ 
	/*-moz-border-radius-topleft: 10px; 
	-webkit-border-top-left-radius: 10px; 
	-khtml-border-top-left-radius: 10px; 
	border-top-left-radius: 10px;
	border-radius: 10px;*/
	
	background-image:url(/resources/img/theme/07/left_tab0_select-405.png);   
	color:#ffffff;
}
 
 
 .btnlotte { 
 	/*background-image:url(/resource/img/btnlotte.png);*/   
	float:left; 
	margin-left:5px; 
	border-width:1px;
	border-color:#919191;
	border-style:solid;
	border-radius:3px;
	padding: 2px 6px;
	font-size:12px;
}


.btnlotte:hover { 
	float:left; 
	margin-left:5px;
	border-width:1px; 
	border-color:#919191;
	border-style:solid;
	border-radius:3px;
	padding: 2px 6px;
	font-size:12px;
}
.jqx-listitem-state-normal{
	font-weight:normal !important;
}

#bookNavi li:hover{
	background:#1096b8 !important;
	color:#ffffff !important;
}

.ui-tabs-paging-prev{
	padding:9px 0px 0px 5px !important;
}
.ui-tabs-paging-next{
	padding:9px 0px 0px 5px !important;
}

.ui-tabs-paging-prev:hover{
	border-top:1px solid #ccc;
}
.ui-tabs-paging-next:hover{
	border-top:1px solid #ccc;
}

.ui-tabs-paging-prev .select{
	border-top:1px solid #ccc;
}
.ui-tabs-paging-next .select{
	border-top:1px solid #ccc;
}

.ui-state-focus {
	float:left;
	border:1px solid #ccc;
	border-top:2px solid #2a8ebf;
	border-bottom:none;
	background:#fff;
	color:#222; 
	padding:9px 15px 0 15px;
	height:24px;
	margin-right:3px;
	/*font-weight:bold;*/
}
input[type="radio"]{
	vertical-align:middle;  
	margin-left:7px;
}
.jqx-window-content-Lotte-depart {
	overflow:hidden !important; 
}

.hyperlink{
	color:#2a8ebf; 
}
.jqx-widget-content-ui-redmond{
	border-color: #ffffff !important;
    background: #ffffff !important;
}

.jqx-rc-all-ui-redmond{
	background:#ffffff !important;
	border-color:#ffffff !important;
	color:#666666 !important;
}
.jqx-tree-item-selected-ui-redmond{
	color:#1096b8 !important;
	font-weight:bold;
}
.jqx-tree-item-hover-ui-redmond{
	color:#1096b8 !important;
	font-weight:bold;
}


