#iv_effect_hider
    {
        position:absolute;
        top: 0%;
        left: 0%;
        width:100%;
        height:100%;
        
        /*
        z- index must be lower than pop up box
       */
       
        z-index:9999;
       background-color:black;
      
       opacity:0.7; 
       filter:alpha(opacity=70) !important;  
 
       
 
    }
#iv_confirm_area
{
	z-index:10000;
	position:absolute;
	top:50%;
	left:50%;
	width:380px;
	/*height:110px;*/
	margin-top:-55px;
	margin-left:-190px;
	padding-bottom:10px;
	color:black; 
	background:#FEFFFF;
}
#iv_confirm_title
{
	background:#5995D2;
	font-size:100%;
	/*text-align:center;*/
	color:#ffffff;
	/*font-weight:bold;*/
	height:20px;
	padding-left:10px;padding-top:10px;
	border-bottom:1px solid #696969;
	display:block;
 
}

#iv_confirm_msg
{
	font-size:100%;color:black;text-align:center;
}
#iv_confirm_btnarea{
	font-size:100%;color:black;text-align:center;
}

#iv_progressbar_area
{
	z-index:10000;
	position:absolute;
	top:50%;
	left:50%;
	width:380px;
	height:110px;
	margin-top:-55px;
	margin-left:-190px;
	border:2px solid #e0e0e0;
	background:#4A4B4A;
}


#iv_progressbar_title
{
	font-size:100%;
	color:#ffffff;
	font-weight:bold;
	text-align:center;
	height:20px;background:#5995D2;
	padding-left:10px;padding-top:10px;
	border-bottom:1px solid #696969;
	display:block;
	font-family:'돋움';
}
#iv_progressbar_msg
{
	font-size:100%;color:black;text-align:center;
}
#iv_progress_msg
{
	font-size:100%;color:black;text-align:center;
}
#iv_progressbar_btnarea{
	font-size:100%;color:black;text-align:center;
}

.progressbar span{
 position:absolute;
	display:block;
	width:35px;
	height:35px;
	background:url(sqarecircle_loadingicon.gif) no-repeat 0 0;
	top:0px;
	left:40px;
	overflow:hidden;
	text-indent:-8000px;
}
.progressbar p{
	font-size:12px;
	color:black;
	text-align:center;
	padding-left:45px;
	height:35px;
	line-height:32px;
}


#iv_message_area
{
	z-index:10000;
	position:absolute;
	top:50%;
	left:50%;
	width:380px;
	/*height:180px;*/
	margin-top:-55px;
	margin-left:-190px;
	padding-bottom:10px;
	background:#FEFFFF;
}

#iv_message_title
{
	
	font-size:100%;
	color:#ffffff;
	/*font-weight:bold;*/
	/*text-align:center;*/
	height:20px;
	background:#5995D2;
	padding-left:10px;padding-top:10px;
	border-bottom:1px solid #696969;
	display:block;
	font-family:'돋움';
}
#iv_message_msg
{
	font-size:100%;color:black;text-align:center;
}

#iv_message_btnarea{
	font-size:100%;color:black;text-align:center;padding-left:15px;
}