.iv_button_confirm {

   background: #f1f1f1;
   background: -webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#dbdbdb));
   background: -webkit-linear-gradient(top, #f1f1f1, #dbdbdb);
   background: -moz-linear-gradient(top, #f1f1f1, #dbdbdb);
   background: -ms-linear-gradient(top, #f1f1f1, #dbdbdb);
   background: -o-linear-gradient(top, #f1f1f1, #dbdbdb);
/*    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a0809', endColorstr='#302c2f',GradientType=0 ); IE6-8 */
   padding: 4px 12px;
   -webkit-border-radius: 6px;
   -moz-border-radius: 6px;
   border-radius: 6px;

   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #202020;
   font-family: Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   
   display:inline;
   vertical-align:middle;

	cursor:pointer;
	position:relative;
	border:1px solid #202020;
	text-shadow:0px 1px 0px #ffffff;
	font-size:1.05em !important;
	border-radius:10px;
	-moz-border-radius:10px;
	-ms-border-radius:10px;
	-o-border-radius:10px;
	-webkit-border-radius:10px;
	line-height:17px;
	
	margin-right: 10px;
   }
.iv_button_confirm:hover {
   text-shadow:none;
	background: #0a0809; /* Old browsers */
	background: -moz-linear-gradient(top,  #0a0809 0%, #0a0e0a 49%, #3b3e3f 50%, #302c2f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0a0809), color-stop(49%,#0a0e0a), color-stop(50%,#3b3e3f), color-stop(100%,#302c2f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #0a0809 0%,#0a0e0a 49%,#3b3e3f 50%,#302c2f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #0a0809 0%,#0a0e0a 49%,#3b3e3f 50%,#302c2f 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #0a0809 0%,#0a0e0a 49%,#3b3e3f 50%,#302c2f 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #0a0809 0%,#0a0e0a 49%,#3b3e3f 50%,#302c2f 100%); /* W3C */
/* 	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a0809', endColorstr='#302c2f',GradientType=0 ); IE6-8 */
/*    border-top-color: #28597a; */
/*    background: #28597a; */
   color: #ffffff;
   }
.iv_button_confirm:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }