@charset "utf-8";
/* CSS Document */

/*-------------reset------------------*/

*, html, body {
	font-family:"맑은 고딕", Malgun Gothic, "돋움", Verdana,, Arial;
	margin:0;
	padding:0;
}
*, html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, input, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display:block;
}
nav ul {
	list-style:none;
}
blockquote, q {
	quotes:none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content:'';
	content:none;
}
a {
	margin:0;
	padding:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
}
/* change colours to suit your needs */
ins {
	background-color:#ff9;
	color:#000;
	text-decoration:none;
}
/* change colours to suit your needs */
mark {
	background-color:#ff9;
	color:#000;
	font-style:italic;
	font-weight:bold;
}
del {
	text-decoration: line-through;
}
abbr[title], dfn[title] {
	border-bottom:1px dotted;
	cursor:help;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
/* change border colour to suit your needs */
hr {
	display:block;
	height:1px;
	border:0;
	border-top:1px solid #cccccc;
	margin:1em 0;
	padding:0;
}
img {
	border:0;
	outline:0;
}
label, input, select, img {
	vertical-align:middle;
}
p {
	word-break:break-all;
	margin:0;
	padding:0;
}
ul, li, ol {
	list-style:none;
}
a, a:link, a:visted, a:hover, a:active {
 color:#202020;
 text-decoration:none;
 outline:0;
 border:0;
}
textarea, input {
	outline:0;
}
/*-------------reset끝------------------*/

body {
	margin:0;
	padding:0;
	background:#ffffff;
	width:100%;
	height:100%;
	overflow-x:hidden;
	overflow-y:auto;
	min-height:10px;
	cursor:default;
	line-height:100%;
}
/*wrap*/
.wrap {
	width:100%;
	height:100%;
	/*max-width:1040px;*/
	position:relative;
	z-index:50;
	margin:0 auto;
	padding:0;
	overflow:hidden;
}
.header {
	width:980px;
	max-width:980px;
	max-height:100px;
	padding:50px 0 20px 0;
	margin:0 auto;
	background:none;
}
.container {
	width:100%;
	height:100%;
}
.content01{
	width:100%;
	height:342px;
	float:left;
	background:#ededed url(../../../img/login/idas_Ktoto/login_bg.png) repeat-x ;
}
.content01 .visual{
	width:980px;
	max-width:980px;
	max-height:342px;
	margin:0 auto;
	background:none;
}
.content02{
	width:100%;
	height:120px;
	float:left;
	background:#003663;
}
.content02 .info{
	width:980px;
	max-width:980px;
	max-height:120px;
	margin:0 auto;
	background:#f36910;
}
.content02 .info{
	width:980px;
	max-width:980px;
	max-height:120px;
	margin:0 auto;
	background:#f36910;
	position:relative;
}
.content02 .info .form{
	width:790px;
	float:right;
}
.content02 .info .form legend{
	display:none;
}
.content02 .info h1{
	float:left; 
	padding:29px 0;
	margin:0 20px;
}
.content02 .info .logbox{
	float:left;
	font-weight:normal;
}
.content02 .info .logbox label{
	font-size:13px;
	color:#ffffff;
	font-weight:normal;
}
.content02 .info .logbox .uid label {
    font-size: 13px;
    color: #ffffff;
    text-align: right;
    font-weight: normal;
    width: 60px;
    float: left;
    margin-right: 8px;
    /* line-height: 23px; */
    padding: 5px 0;
}
.content02 .info .logbox .pwd label{
	 font-size: 13px;
    color: #ffffff;
    text-align: right;
    font-weight: normal;
    width: 60px;
    float: left;
    margin-right: 8px;
    /* line-height: 23px; */
    padding: 5px 0;
}
.content02 .info .logbox  input{
	font-size:13px;
	color:#ffffff;
	text-align:left;
	font-weight:normal;
}
.content02 .info .logbox .uid{
	margin-top:20px;
	letter-spacing:-1px;
}
.content02 .info .logbox .uid  input{
	width:180px;
	height:26px;
	font-size:13px;
	color:#ffffff;
	text-align:left;
	font-weight:normal;
	border:1px solid #6188a8;
	background:#003663;
	text-indent:5px;
}
.content02 .info .logbox .pwd{
	margin-top:10px;
	letter-spacing:-1px;
}
.content02 .info .logbox .pwd  input{
	width:180px;
	height:26px;
	font-size:13px;
	color:#ffffff;
	text-align:left;
	font-weight:normal;
	border:1px solid #6188a8;
	background:#003663;
	text-indent:5px;
}
.content02 .info .logbox .chk{
	margin-left:68px;
	margin-top:5px;
	letter-spacing:-1px;
}
.content02 .info .logbox .btn{
	font-size:13px;
	color:#ffffff;
	text-align:center;
	font-weight:normal;
	background:#001d35;
	width:92px;
	min-height:65px;
	position:absolute;
	top:20px;
	right:230px;
	border:1px solid #6188a8;
	border-radius:2px;
	letter-spacing:-1px;
}
.content02 .info .logbox  .btn input{
	font-size:13px;
	color:#ffffff;
	text-align:center;
	font-weight:normal;
	background:#001d35;
	border-radius:10px;
	cursor:pointer;
	width:100%;
	height:100%;
	padding:23px 0;
	border:0;
	border-radius:2px;
	letter-spacing:-1px;
}

/*-------------noice 추가--------------*/
.notice{
	clear:both;
	background:#f4f4f4;
	padding:20px 0 25px 0;
}
.notice .list {
	width:980px;
	max-width:980px;
	max-height:120px;
	margin:0 auto;
	position:relative;
}
.notice .list h2 {
	display:inline;
	margin: 0 20px 0 0;
	font-size:22px;
	font-weight:normal;
	letter-spacing:-1px;
	color:#2b2e31;
	vertical-align:middle;
    background:url(../../../img/login/idas_Ktoto/notice_ico_tit.png) no-repeat right 12px;
	padding-right:20px;
}
.notice .list  p {
	display:inline;
	margin: 0 0 0 20px;
	font-size:15px;
	font-weight:normal;
	letter-spacing:-1px;
	color:#666666;
	vertical-align:middle;
    background:url(../../../img/login/idas_Ktoto/notice_ico_list.png) no-repeat 0 10px;
	padding-left:10px;
}
/*-------------//noice 추가--------------*/

.footer{
	clear:both;
	text-align:center;
}
.footer p{
	padding:20px 0;
	padding-top:40px;
}
/*header*/
.header h1 {
	margin: 0 0 0 20px;
	display:inline;
	vertical-align:middle;
}
.header h2 {
	display:inline;
	margin: 20px 0 0 0;
	font-size:17px;
	font-weight:normal;
	letter-spacing:-1px;
	color:#2b2e31;
	vertical-align:middle;
    float: right;
}