@charset "utf-8";
/* CSS Document */

/*font*/
body {
	font-family:'나눔고딕', "NanumGothic", "맑은고딕", Malgun Gothic, "돋움", Arial;
}
 @font-face {
 font-family:'나눔고딕';
 src: url('../../../font/NanumGothic.ttf'), url('../../../font/NanumGothic.eot'), url('../../../font/NanumGothic.woff');
}
@font-face {
 font-family:'나눔고딕2';
 src:url('../../../font/NanumGothicBold.eot');
 src:url('../../../font/NanumGothicBold.eot?#iefix') format('embedded-opentype'), url('../../../font/NanumGothicBold.woff') format('woff'), url('../../../font/NanumGothicBold.ttf') format('trueType');
}
@font-face {
 font-family:'나눔고딕3';
 src:url('../../../font/NanumGothicExtraBold.eot');
 src:url('../../../font/NanumGothicExtraBold.eot?#iefix') format('embedded-opentype'), url('../../../font/NanumGothicExtraBold.woff') format('woff'), url('../../../font/NanumGothicExtraBold.ttf') format('trueType');
}
/* reset */
* {
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-family:'나눔고딕';
	font-size:12px;
	background:#fff;
	overflow:hidden;
}
html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, textarea, p, blockquote, input, select, textarea, button, section, i, img, a, table, tr, thead, tbody, tfoot, th, td, span {
	margin:0;
	padding:0;
}
ul, li {
	list-style:none;
}
a {
	text-decoration:none;
	color:#333;
	outline:0;
}
img {
	border:none;
	vertical-align:middle;
}
input {
	vertical-align:middle;
}
a, a:link, a:visted, a:hover, input, textarea, button, image {/*클릭시 등 파랑선 없애기*/
 outline:0;
}
textarea { /*크롬에서 사이즈조정 막기*/
	resize:none;
}
legend {
	display:none;
}
/*reset 끝*/

/*layout_iDQ_KORUS*/
.layout_iDQ_KORUS #wrap {
	width:100%;
	margin: 12% auto;
}
.layout_iDQ_KORUS #header {
	width:750px;
	margin:0 auto;
}
.layout_iDQ_KORUS #header .logo {
	margin-left:20px;
}
.layout_iDQ_KORUS #content {
	width:100%;
	height:290px;
	margin:20px 0 50px 0;
	background:#edf5f8;/*border-top:6px solid #0654a4;
	border-bottom:1px solid #e5e5e5;*/
}
.layout_iDQ_KORUS .visual {
	width:750px;
	height:100%;
	margin:0 auto;
	background:#edf5f8 url(../../../img/login/iDQ_KORUS/login_image.png) left 10px no-repeat;
}
.layout_iDQ_KORUS .form {
	position: relative;
	float: right;
	margin: 0px 0px 0px 0px;
	background: #dedede;
	height: 100%;
	padding: 25px 20px;
}
.layout_iDQ_KORUS .form fieldset {
	border:0;
}
.layout_iDQ_KORUS .form h1 {
	font-size:19px;
	color:#242525;
	line-height:1.5em;
	font-family:'나눔고딕3';
	background:url(../../../img/login/iDQ_KORUS/login_icon_key.png) right no-repeat;
	margin-right:15px;
	padding-bottom:5px;
	border-bottom:1px solid #ccc;
}
.layout_iDQ_KORUS .form p.loginTip {
	font-size:13px;
	color:#7f7f7f;
	padding:5px 0;
	margin-top:20px;
}
.layout_iDQ_KORUS .form table {
	margin:10px 0;
	border-bottom:0;
}
.layout_iDQ_KORUS .form table th {
	width:50px;
	font-family:'나눔고딕2';
}
.layout_iDQ_KORUS .form table td {
	padding-bottom:8px;
}
.layout_iDQ_KORUS .form table th.psw {
	vertical-align:top;
	padding-top:8px;
}
.layout_iDQ_KORUS .form table td.chk .labelStyle {
	padding-left: 3px;
	font-size: 12px;
	color: #707070;
	font-family: "나눔고딕";
	vertical-align: bottom;
}
.layout_iDQ_KORUS .form .loginInfo {
	text-align: left;
	color: #27538e;
	font-size: 12px;
	font-family: "나눔고딕2";
	font-weight: normal;
}
.layout_iDQ_KORUS .form .inputStyle {
	font-size: 12px;
	width: 180px;
	border: 1px solid #c1c1be;
	text-indent: 3px;
	color: #222;
	/*font-family: "나눔고딕";*/
    padding: 5px 3px;
	background:#fff;
}
.layout_iDQ_KORUS .btn .type1 {
	width:91px;
	height:64px;
	border:0;
	margin-left:15px;
	color:#fff;
	background:#344886;
	cursor:pointer;
	font-size:14px;
	font-family:'나눔고딕2'
}
#footer {
	clear:both;
	text-align:center;
}
#footer p {
	font-size:10px;
	color:#606060;
}
#footer p span {
	color:#2a9ed5;
}
/*jquery ui style add*/
/*selectmenu*/
.layout_iDQ_KORUS .ui-button.ui-selectmenu-button {
	width: 180px;
	width:285px;
	outline:0;
	padding:0.4em 3px;
	background:#fff;
}
.layout_iDQ_KORUS .ui-selectmenu-icon {
	background-image:url("../../../images/ui-icons_777777_256x240.png");
}
.layout_iDQ_KORUS .ui-state-hover .ui-icon,  .layout_iDQ_KORUS .ui-state-focus .ui-icon, .layout_iDQ_KORUS  .ui-button:hover .ui-icon, .layout_iDQ_KORUS  .ui-button:focus .ui-icon, .layout_iDQ_KORUS .ui-state-default .ui-icon {
	background-image:url("../../../images/ui-icons_777777_256x240.png");
}
.layout_iDQ_KORUS .ui-selectmenu-menu .ui-menu {
	height:180px;
}
.layout_iDQ_KORUS .ui-selectmenu-text {
	color: #333;
	font-size: 13px;
	font-family: "나눔고딕";
}
.layout_iDQ_KORUS .ui-menu .ui-menu-item-wrapper{
	padding:3px 1em 5px .4em !important;
}
.layout_iDQ_KORUS  .ui-state-active{
	border:1px solid #27538e;
	background:#27538e;
}
