@charset "utf-8";

@import url("button.css");/* css initialize */

* {
	margin:0;
	padding:0;
	font-size:12px;

}

body {
	font-family:Tahoma,Verdana,Arial,Helvetica,sans-serif, "돋움" !important;
}

.selectBox { behavior:url('./selectbox.htc'); margin-right:20px;}

a:link		{color:black;text-decoration:none}
a:visited	{color:black;text-decoration:none}
a:hover		{color:black;text-decoration:none}
a:active	{color:black;text-decoration:none}

h1{
	font-size:18px;
	font-weight:bold;
	padding:20px 20px 0 20px;
}
p#search_box{
	border:2px solid #ccc;
	margin:10px 0px;
	padding:10px;

}
p#text_box{
	border:0px solid #ccc;+
	margin: 2px 7px 3px 20px;
	padding:10px;

}
p span{
	padding-right:15px;
	}
span.text{
	background:url(./images/body/bullet_orange.gif) no-repeat left center;
	padding-left:12px;
	}

div#header {
	width: 100%;
	height:100px;

		}
div#header_Table {
	width: 100%;
	height:60px;

	}
		
div#container {
		position: relative;
		width: 100%;
		}
div#content {
		float: right;
		width: 60%;
		height:500px;

		}
div#sidebar {
		position: absolute;
		top: 0;
		left: 0;
		width: 40%;
		height:500px;

		}
div#footer {
		
		}
div.ivision_listArea{
	overflow:auto;
	height:400px;
	border:1px solid #B2B2B2;
}

.fullSize{
	width:95%;
	text-align:left;
}

table {
	margin:0px 0px 0px 0px;
	border-collapse:collapse;
	border:1px solid #B2B2B2;
	width:100%;
	}

table caption{
	margin: 0;
	padding: 8px 20px;
	text-align: left;
}

th, td {
	padding:3px 7px;
	text-align:center;
	font-size:12px;
	border:1px solid #ccc;
	height:20px;
	}
th.form {
	background:#FFFFFF url(./images/body/bar.gif) repeat-x left center;
	height:30px;
	width:150px;
	}

#s_tit_box{
	margin-left:0px;
	margin-right:35px;
}

col {
	border-right:1px solid #ccc;
	}
 
#albumtCol {
	border-right:none;
	}

thead {
	background:#ccc url(./images/body/bar.gif) repeat-x left center;
	border-bottom:1px solid #ccc;
	}

.odd {
	background:#edf5ff;
	}

#listCol {
	width:70px;
	}

.tr_hover:hover {
	background:#3d80df;
	color:#fff;
	}

.btn_left {
	float:left;
	margin-left:20px;
	}
	
.btn_right {
	float:right;
	margin-right:20px;
	}
.btn_center {
	float: right; 
    position: relative; 
    left: -48%; 
	}	

div.copyright_left {
	float:left;
}
div.copyright_right {
float:right;
margin-right:20px;
}

#Table_master th{
	border-bottom:1px solid #ccc;
}

#Table_master td{
	border-bottom:1px solid #ccc;
	text-align : left;
}

#Table_master tr:hover {
	background:none;
	color:#333;
	}

#Table_master input{
	margin:5px 2px 0px 0px;
	}

/* Jeong Chan Myeong(dece24@gmail.com) */
/* Button Reset */
.button,
.button a,
.button button,
.button input { position:relative; margin:0; display:-moz-inline-stack; display:inline-block; text-decoration:none !important; border:0; font-size:12px; font-family:Verdana,Arial,Helvetica,sans-serif, "돋움"; white-space:nowrap; background:url(./images/buttonWhite.gif) no-repeat; overflow:visible; color:#333;}
.button { height:23px; padding:0; vertical-align:middle; margin-right:2px; background-position:left top;}
.button a,
.button button,
.button input{ left:2px; vertical-align:top; cursor:pointer;}

/* Button Size */
.button.large { height:29px; background-position:left -30px; }
.button.xLarge { height:35px; background-position:left -65px; }
.button.small { height:18px; background-position:left -107px; }
.button a,
.button button,
.button input { height:23px; padding:0 10px 0 8px; font-size:12px; line-height:23px; background-position:right top;}
.button.large a,
.button.large button,
.button.large input { height:30px; padding:0 10px 0 8px; font-size:16px; line-height:29px; background-position:right -30px;}
.button.xLarge a,
.button.xLarge button,
.button.xLarge input { height:35px; padding:0 10px 0 8px; font-size:20px; line-height:35px; background-position:right -65px;}
.button.small a,
.button.small button,
.button.small input { height:18px; padding:0 6px 0 4px; font-size:11px; line-height:18px; background-position:right -107px;}

/* Button Text Color */
.button *:hover,
.button *:active,
.button *:focus{ color:#690;}
.button.green,
.button.green a,
.button.green button,
.button.green input { background-image:url(./images/buttonGreen.gif); color:#fff;}
.button.green *:hover,
.button.green *:active,
.button.green *:focus{ color:#ff0;}
.button.black,
.button.black a,
.button.black button,
.button.black input { background-image:url(./images/buttonBlack.gif); color:#fff;}
.button.black *:hover,
.button.black *:active,
.button.black *:focus{ color:#ff0;}
.button.red,
.button.red a,
.button.red button,
.button.red input { background-image:url(./images/buttonRed.gif); color:#fff;}
.button.red *:hover,
.button.red *:active,
.button.red *:focus{ color:#ff0;}
.button.blue,
.button.blue a,
.button.blue button,
.button.blue input { background-image:url(./images/buttonBlue.gif); color:#fff;}
.button.blue *:hover,
.button.blue *:active,
.button.blue *:focus{ color:#ff0;}

/* Button Text Strong */
.button.strong * { font-weight:bold !important;}

/* Button Text Margin */
.button.margin { margin:5px 5px 5px 5px }

/* modal */\
#mask {
  position:absolute;
  left:0;
  top:0;
  z-index:9000;
  background-color:#000;
  display:none;
}
  
#boxes .window {
  position:fixed;
  left:0;
  top:0;
  width:440px;
  height:200px;
  display:none;
  z-index:9999;
  padding:20px;
}

#boxes #dialog {
  width:80%; 
  height:80%;
  padding:10px;
  background-color:#ffffff;
}

input.right{text-align:right; padding-right:1px}
input.center{text-align:center; padding-right:1px}

/* Table Sort Css */
table.tablesorter thead tr .header {
	background-image: url(./images/body/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(./images/body/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(./images/body/desc.gif);
}

/*rmate Css*/
.rMateHtml{
	height:100%;
}
html.rMateHtml body{
	height:100%;
}