@charset "utf-8";
/* CSS Document */

body,div,h1,p,img,ul,li,a,form,fieldset,label,input{ 
	margin:0; 
	padding:0; 
	font-size:12px; 
	font-family: '돋움', 'Arial';
    
}
ul,li{list-style:none;}
a{text-decoration:none; color:#333;}
img{border:none;}
body{
	height:100%; 
	width:100%;
	background:#ffffff;
	overflow:hidden;
	min-width:1040px;
	min-height:980px;
}

/* 배경이미지*/

#wrap{ 
	height:100%;
	/*min-height:493px;*/
	width:900px;
	margin: 20px auto; 
	
	
}



/*logo*/
#logo{
	padding-top:20px;
	padding-left:10px;
	position:relative;
	z-index:9999 !important;
	
}

/*image*/
#bg{
	position:absolute;
	top:70px !important;
	z-index:9990 !important;
}

/*login box*/
#box{
	position:relative;
	top:180px;
	height:368px;
	width:200px;
	float:right;
	margin-right:105px;
	z-index:9999;
	

}
#loginForm{
	margin-top:0px;
	margin-right:0px;
}
legend{ display:none;}
fieldset{ 
	border:none;
	/*border-radius:7px;
	-moz-border-radius:7px;
	-ms-border-radius:7px;
	-o-border-radius:7px;
	-webkit-border-radius:7px;
	padding:20px 17px;	*/
	background:none;
}

#login_box h1 span{ visibility:visible; }
#login_box h1{
	padding-bottom:10px; 
	margin-bottom:10px;
	font-size:15px; 
	color:#3E96BE; /*Login 폰트색상*/
	/*background:url(../../../img/login/idas_340/login_line.png) bottom no-repeat;*/
	background:none;
	border-bottom:1px solid #3E96BE;

}
#login_box p{ 
	color:#202020; /*Login 폰트색상*/
	font-weight:normal;
	padding-top:10px;
	padding-left:15px;

}

.cust_title span{
	font-weight:bold;
	
}
.check_ID{
	padding-left:0px; 
	vertical-align:middle;
	padding-top:5px !important;
}
.check_ID input{
	width:10px !important;
}
.labelStyle{
	display:block; 
	/*width:70px;  
	float:left; */
}
.login_inputbox{
	color:#656a70;
	border-left:1px solid #cccccc;
	border-top:1px solid #cccccc;
	border-bottom:1px solid #cccccc;
	border-right:1px solid #cccccc;
	vertical-align:middle;
	padding-top:3px;
	width:160px;
	padding-right:5px;
	text-indent:5px;
}

#btn{ 
	text-align:left;
	 margin-top:5px;
}
.btn_login{ 
		border:none;		
		border-radius:0px;
		width:80px;
		height:30px;
		color:#ffffff;
		background:#3E96BE;
		font-weight:normal;
		cursor:pointer;
		border:1px solid #3E96BE;
}
#btn .btn_login:hover{ 
	color:#ffffff;
	background:#3E96BE;
}

/*bottom*/
#bottom{ clear:both;  margin-top:480px; z-index:9999; position:relative; }
#bottom p{text-align:center; font-size:11px;}