@charset "utf-8";
/* 메인CSS */

/* 팝업전체박스 및 테두리영역*/
#popup_box{
	border:15px solid #ffffff;
}

.popupLine{
	outline:1px solid  #78c4ff;
	border: 8px solid #e3f0fb;
}

/* table - 폼 */
.table_form{
	border:0px solid #395f8f;
	background-color:#ffffff; 
	height:0px;
}
.th_form{
	border-bottom:2px solid #e5ebf1; 
	vertical-align:bottom;
	font-weight:bold;
	color:#333333;
	background:#ffffff;
	padding:10px 10px; 
	text-align:left; 
	margin-left:2%;
}
/* 물음표 아이콘*/
.th_form img{ 
	vertical-align:middle; 
	padding-right:5px;
	padding-bottom:2px;
}
.th2_form{
	border-bottom:2px solid #e5ebf1;
	vertical-align:bottom;
	font-weight:normal;
	color:#505050;
	background:#ffffff; 
	padding:5px 0px;
	text-align:right; 
	
}

/*경로: 작은원형 아이콘*/
.th2_form img{ 
	vertical-align:bottom; 
	padding-right:8px; 
	padding-bottom:6px;
}

/* iframe */ 
.iframe_area{
/*	border-bottom:2px dashed #e5ebf1;*/
	padding-bottom:0px;
	
}
.iframe_area iframe{
	
}
.top_view{
	float:right;
	/*color:#4d7fdc;
	text-decoration:underline;*/
	height:18px;
	position:relative;
	top:5px;
	left:12px;
	z-index:50;
}
.top_view a{
	color:#4d7fdc;

}
#close_button{
	
}

