@charset "utf-8";
/* popup 초기화CSS */

/* css 초기화 */
html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
b,u,i,center,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,embed, 
figure,figcaption,footer,header,hgroup, 
menu,nav,output,ruby,section,summary,
time,mark,audio,video,input,button,img{
	outline:0px;
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {display:block;}
ol,ul{list-style:none;}
table {border-collapse: collapse;border-spacing:0;}

/* 기본font */
body,.font_basic{font-family:Tahoma,Verdana,Arial,Helvetica,sans-serif, "돋움";font-size:12px;font-style:normal;font-weight:normal;line-height:normal;letter-spacing:normal;color:#333333}
a:link{color:#333333;font-weight:normal;text-decoration:none}
a:visited{color:#333333;font-weight:normal;text-decoration:none}
a:hover{color:#333333;font-weight:normal;text-decoration:underline}
.bold{font-weight:bold}


html,body{
	overflow:hidden;

}
