@charset "utf-8";
/* CSS Document */

/*폰트*/
*,html,body{
	font-family:"맑은 고딕", "돋움", Verdana, Malgun Gothic, Arial !important;
}

/*폰트 끝*/

body{
	margin:0;
	padding:0;
	background:#ECF0F3 url(../../images/background/body-patterngray-bg-SophisticatedLayout.png)  !important;
	width:100%;
	height:100%;
	overflow-x:hidden;
	/*overflow-y:auto;*/     /*변경*/
	min-height:10px;


}

.bg{
	min-height:100%;
	min-width:100%;
	
	position:fixed;
	top:0;
	left:0;
	
	position:absolute;
	z-index:1;
	
	
}


img{
	border:0;
	vertical-align: middle;
}
span{
	vertical-align:middle;
}
p{
	word-break:break-all;
}
ul, li, ol{
	list-style:none;
}
a{
	color:#ffffff;
	text-decoration:none;
}


/*wrap*/
.wrap{
	width:98% !important;
	height:100%;
	position:relative;
	z-index:50;

	
}

/*wrap*/
.headertop{
	border-top:1px solid #6B7A90;
	border-right:1px solid #6B7A90;
	border-bottom:1px solid #475365;
	border-left:1px solid #808080;
	padding:10px 0;
	border-radius:5px;
	/*background:#CFE0F7 ;*/
	background:#B1BAC7 url(../../images/background/headertop_bg.png) 50% 50% repeat-x;
}
.label-1{
	margin-left:10px;
}
.label-2, .label-3{
	background:url(../../images/img_icons/simple-dot-violet-icon-SophisticatedLayout.png) left 5px top 10px no-repeat !important;
}

.label-4 .iwidget_grid_tip{
	height:30px;
	font-size:12px;
	background:url(../../images/img_icons/simple-Comment-blue-icon-SophisticatedLayout.png) left no-repeat !important;
	padding-bottom:8px;
	padding-left:25px;
	color:#30638D;
}

.i-DQ  .label-bg{
	background:url(../../images/img_icons/simple-arrow-blue-icon-SophisticatedLayout.png) left  no-repeat;
	font-size:13px !important;
	padding-left:15px;
	line-height:24px !important;
	color:#103da4 !important;
	margin-right:2px;
	font-weight:bold;
	padding-bottom: 2.5px;

}
.label-5{
	background:url(../../images/img_icons/bu_sqr_blue.gif) left  no-repeat !important;
	padding-left:7px !important;
	margin-right:25px !important; 
	font-size:13px !important;
	line-height:24px !important;
	color:#103da4 !important;
	font-weight:bold;
	
}
.i-DQ  .label-2{
	padding-right:20px;
}
.colorchange{
	color:#202020 !important;
}
.label-colorchange{
	color:#112E77 !important;
	font-weight:normal;
	vertical-align:baseline;
}
/*버튼*/
.buttonStyle{
	cursor:pointer !important;
		
}
.jqx-grid-pager button{
	width:10px !important;
}
button.jqx-button, input[type=button].jqx-button, input[type=submit].jqx-button{
	background:url(../../images/background/button-deepbluegradient-bg-SophisticatedLayout.png) 50% 50% repeat-x !important;
	color:#ffffff !important;
	font-weight:bold !important;
	font-size:12px;/*변경*/
	border-top:1px solid #A4B3BF !important;
	border-left:1px solid #A4B3BF !important;
	border-right:0 !important;
	border-bottom:1px solid #1C415E !important;
	cursor:pointer !important;
	border-radius:5px !important;
	padding:5px 10px !important;
	width: auto !important;
	

}
.headerbutton button.jqx-button, .headerbutton input[type=button].jqx-button, headerbutton input[type=submit].jqx-button{
	background:url(../../images/background/skybluegradient-inputstyle-bg-SophisticatedLayout.png) 50% 50% repeat-x !important;
	color:#0F275E !important;
	margin-right:10px !important;
	border-top:1px solid #729AC4 !important;
	border-left:1px solid #729AC4 !important;
	border-right:1px solid #729AC4 !important;
	border-bottom:1px solid #729AC4 !important;
	font-weight:bold !important;
	font-size:12px;/*변경*/
	cursor:pointer !important;
	border-radius:7px !important;
	padding:5px 10px !important;
}

.iwidget_grid{
	margin-bottom:45px !important;

}




/*table*/
.table_Area .i-DQ-table{
	border-top:3px solid #30638d !important;
	border-right:1px solid #A1BAD9 !important;
	border-left:1px solid #A1BAD9 !important;
	border-bottom:1px solid #A1BAD9 !important;
	background:#ffffff;
}
.table_Area1 .i-DQ-table{
	border-top:3px solid #30638d !important;
	border-right:1px solid #A1BAD9 !important;
	border-left:1px solid #A1BAD9 !important;
	border-bottom:1px solid #A1BAD9 !important;
	background:#ffffff;
}
.table_Area2 .i-DQ-table{
	border-top:3px solid #30638d !important;
	border-right:1px solid #A1BAD9 !important;
	border-left:1px solid #A1BAD9 !important;
	border-bottom:1px solid #A1BAD9 !important;
	background:#ffffff;
}
.table_Area3 .i-DQ-table{
	border-top:3px solid #30638d !important;
	border-right:1px solid #A1BAD9 !important;
	border-left:1px solid #A1BAD9 !important;
	border-bottom:1px solid #A1BAD9 !important;
	background:#ffffff;
}
.table_Area4 .i-DQ-table{
	border-top:3px solid #30638d !important;
	border-right:1px solid #A1BAD9 !important;
	border-left:1px solid #A1BAD9 !important;
	border-bottom:1px solid #A1BAD9 !important;
	background:#ffffff;
}
.i-DQ-table{
/* 	margin-bottom:20px !important; */
	
}
.i-DQ-table input{
	text-align:left;
	 text-indent:5px;
}
.inputNormal{
	border: 0px !important;
	padding-left: 5px;

}
.i-DQ-table .textareaStyle{
	 line-height:1.5em;
	 background:#fefee8;
	 text-align:left !important;
	 text-indent:5px !important;
	 border:1px solid #eeeeee !important;
	 padding:0 !important;
	 font-size:12px;
	 width:100%;  /*추가*/
	 height:100%;  /*추가*/
}
.textareaStyle2{
	 line-height:1.5em;
	 background:#fefee8;
	 text-align:left !important;
	 text-indent:5px !important;
	 height:70px !important;
	 border:1px solid #eeeeee !important;
	 padding:0 !important;
}
.i-DQ-table .activetable{
	/*background:#dbe8f2  !important;*/
	border-bottom:1px  solid #A1BAD9 !important;
}
.inputtable{
	/* border-left:2px solid #c3b389 !important;
	 border-top:1px solid #c3b389 !important;
	  border-right:none !important;
	  border-bottom:none !important; */
	 /*background:#f7eebd;*/
	 background:#fefee8;
	 text-align:left;
	 color:#2a2f3f !important;
	 vertical-align:middle;
	 border:1px solid #eeeeee !important;
	 float:left;
	 vertical-align:middle; 
	 margin:0 5px;
/* 	 width:99%; */     /*변경:input 사이즈*/
	 font-size:12px;
}
.inputColorStyle{
	height:22px;
	line-height:1.5em;
	 background:#fefee8;
	 text-align:left !important;
	 text-indent:5px !important;
	 border:1px solid #eeeeee !important;
	 padding:0 !important;
	 font-size:12px;
	 float:left;
}
.inputPercent{
	text-align:center !important;
	text-indent:0 !important;
	 width:35px !important;
}
.inputtable img{
	cursor:pointer !important;
}
/*.table_Area .i-DQ-table tr:nth-child(even) {
	background:#F0F5F9 !important;
}*/
.table_Area .i-DQ-table th{
	height:30px;
	font-size:13px !important;
	color:#223648;
	font-weight:bold !important ;  /*변경:bold처리*/
	border-right:1px solid #91a3b4 !important;
	border-right:1px solid #91a3b4 !important;
	border-bottom:1px solid #A1BAD9 !important;
	background:#B8D2EB;
	text-align:center;
	

	/*display:table; position:absolute; table-layout:fixed; */
}
.table_Area .i-DQ-table th .text_left{
	text-align:left;
	padding-left:14%;
}
.table_Area .i-DQ-table td.text_left{
	text-align:left;
	padding-left:2% !important;
}

.textareaHeight{
	height:100px !important;
}

.dhtmlHeight{
 min-height:50px !important; 
}
.td_number{ 
	text-align:ccenter !important;
}
.letterSpacing{
	letter-spacing:-1px;
}
.button_plus_minus{
	cursor:pointer;
}
.table_Area .i-DQ-table td{
/*	width:35%;*/
	height:20px;
	font-size:12px !important;
	border-right:1px solid #e1e1e1 !important;
	border-bottom:1px solid #e1e1e1 ;
	color:#010101 !important;
	background:#ffffff !important;
	padding:5px;
	vertical-align:middle;
	padding-left:5px !important;

}
.td-in-table-style{ /*td안 테이블 스타일  변경*/
	font-size:12px !important;
	border-right:1px solid #e1e1e1 !important;
	border-bottom:1px solid #e1e1e1 ;
	color:#010101 !important;
	background:#ffffff !important;
	padding:0px !important;
	vertical-align:middle;
	padding-left:0px !important;
	padding-top:0px !important;

}
.td-in-table-style table{
	height: 100% !important;
}
.td_side_left{
	padding-left:10px !important;

}
.td_side_left  img{  /*추가:달력이미지 위치조정*/
	float:left;
	padding-top: 4px;
	padding-left: 5px;
	cursor: pointer;
}
.td_side_center{
	text-align:center !important;
	
}
.td_side_center a{
	color:#101010 !important;
}
.activeStyle{
	background:#e4e9ee !important;
	color:#53687c !important;
}
.table_Area .i-DQ-table td p{
/*	width:180px;	*/
}

/* 테이블 셀 hover 시*/	
/*.table_Area .i-DQ-table tr:nth-child(odd) td{
	background:#F0F5F9 !important;
}
.table_Area .i-DQ-table tr:hover td{
	 background:#2b6897 !important;
	 color:#ffffff !important;
}
*/
.imagetable{
	width:4% !important;
	cursor:pointer;
}

/*셀렉트옵션*/
.styled_select {
	text-align:left !important;
	text-indent:5px !important;
  	/* background:url(../../images/img_icons/simple-combo-downarrow-gray-icon-SophisticatedLayout.png) no-repeat right #FFFFC1;*/
    border: 1px solid #dadada !important;
    margin:0 auto;
    background:#FEFEE8;
    color:#000000 !important;
    float:left;
	vertical-align:middle;
	width:120px;
	font-size:12px;


}
.table_input_style{
	width:100%;
	height:100%;
	padding:0 !important;
	border:1px solid #dadada !important;
	vertical-align:middle;
	font-size:12px !important;
	color:#444444 !important;
	/*border-radius:5px;
	-moz-border-radius:5px;
	-ms-border-radius:5px;
	-o-border-radius:5px;
	-webkit-border-radius:5px;*/
}

/*셀이동 테이블*/
.move_table tr:hover td{
	background:#2b6897 !important;
	color:#ffffff !important;
	border-color:#2b6897 !important;
}
.move_button li{
	margin:5px 0 !important;
}

/*달력사이즈*/
.ui-datepicker{
/* 	width:180px !important; */
	font-size: 12px !important;
}

/*리스트테이블 및 추가*/
.table_Area .i-DQ-table-list{
/* 	border-top:3px solid #30638d !important; */
/* 	border-right:0 !important; */
/* 	border-left:1px solid #A1BAD9 !important; */
/* 	border-bottom:1px solid #A1BAD9 !important; */
/* 	background:#ffffff; */
}
.i-DQ-table-list{
/* 	margin-bottom:20px !important; */
	
}


.i-DQ-table-list .textareaStyle{
	line-height:1.5em;
	  /*border-left:2px solid #c3b389 !important;
	 border-top:1px solid #c3b389 !important;
	  border-right:none !important;
	  border-bottom:none !important; */
	 background:#fefee8;
	 text-align:left !important;
	  text-indent:5px !important;
	 height:100px !important;
	 border:1px solid #eeeeee !important;
	 padding:0 !important;
}

.i-DQ-table-list .activetable{
	/*background:#dbe8f2  !important;*/
	border-bottom:1px  solid #A1BAD9 !important;
}


.i-DQ-table-list .activetable input[type=button]{ /* 테이블 셀 안 버튼 디자인*/
  		padding: 2px 9px 4px 5px !important;
  		background: #E2EFFF !important;
  		border: 1px solid #A1BAD9 !important;
  		vertical-align: middle !important;
  		text-align: center !important;
  		color: #204aaa !important;
  		font-weight: normal !important;
  		
}

.table_Area .i-DQ-table-list th{

	height: 0px !important;
	font-size:13px !important;
	color:#223648 !important;
	font-weight:normal  !important;
	border-right:1px solid #91a3b4 !important;
	border-right:1px solid #91a3b4 !important;
	border-bottom:1px solid #A1BAD9 !important;
	background:#B8D2EB !important;
/* 	text-align: center !important; */
/*  	padding: 2px 0 !important; */
	text-align:center !important;
	padding: 0 !important;
	margin: 0 !important;


}
.table_Area .i-DQ-table-list td{ /* 추가*/
	height:20px  !important;
	padding:5px 0 !important;
	vertical-align:middle !important;
	font-size:12px !important;
	text-align:center !important;
	border-top:1px solid #e1e1e1 !important;
	border-right:1px solid #e1e1e1 !important;
	border-bottom:none  !important;
	border-left:0 !important;
	margin: 5px !important;

}
.table_Area .i-DQ-table-list td.text_left 
{
	text-align:left !important;
	padding-left:10px !important;
	cursor:pointer !important;
	color:#101010 !important;
}
.table_Area .i-DQ-table-list td.text_left  a
{
	cursor:pointer !important;
	color:#101010 !important;
}
.table_Area .i-DQ-table-list td.text_left a:hover{
	cursor:pointer !important;
	color:darkblue !important;
	text-decoration:underline !important;
}
.table_Area .i-DQ-table-list tr:nth-child(odd) td{
	background:#F0F5F9 !important;
}
.table_Area .i-DQ-table-list td .inputtable{
	width:95% !important;
	margin:0 5px !important;
	
}
.table_Area .i-DQ-table-list .imagetable{
	width:10% !important;
	cursor:pointer !important;
	padding: 0 !important;
}
.table_Area .i-DQ-table-list .imagetable img{
	text-align: center !important;
}

.popup_top_title{
	font-size:13px !important;
	color:#223648 !important;
	background:url(../../images/img_icons/popup_List_icon.png) left no-repeat !important;
	padding-left:20px !important;
	vertical-align:middle !important;
	margin-bottom: 10px !important;
}
.th_left_line{
	border-left:1px solid #91a3b4 !important;
}

.th_header_top_line{
	border-top:3px double #4C709C !important; 
}
/*테이블 헤더영역 고정*/
.wrap_table{
	width:100% !important;
	height:100% !important;
	margin:0 auto !important;
	position:relative !important;
	border-top:3px solid #30638d !important;
	border-right:1px solid #A1BAD9 !important;
	border-left:1px solid #A1BAD9 !important;
	border-bottom:1px solid #A1BAD9 !important;
	background:#ffffff !important;
	
}

.header_table{
	position:absolute; 
	left:0; 
	top:0; 
	width:100%; 
	height:35px !important ;
	border:0!important;
	background:#0E508D url(../../images/background/header-right-button-bg.png)   50% 50% repeat-x !important;
}
.body_table{
	overflow-x:hidden !important; 
	overflow-y:scroll !important; 
	width:100%!important; 
	height:100% !important;  

}
.body_table th{
	padding:0 !important;
	height: 25px !important;
}
.i-DQ-table-list{
	background-color: white; 
	width: 100%; 
	overflow-x: hidden; 
	overflow-y: scroll;
	height: 0 !important;
}
.i-DQ-table-list th{height:0px;}
.th-inner{
	position: absolute;
	 top:0; 
	 line-height: 35px; 
	 text-align: left;
	 vertical-align:middle;
	font-size:13px !important;
	color:#ffffff !important;
	font-weight:bold !important;
	padding-left:10px;
	margin-left:10px;
	background:url(../../images/img_icons/two_circel_blue_icon.png) left no-repeat;
	left:5px;
}

/*테이블조회스타일*/
.search_table tr:hover td{
	background:#2b6897 !important;
	border-right:1px solid transparent !important;
	color:#ffffff !important;
}
.search_table tr:nth-child(odd) td{ 
	background:#F0F5F9 !important;
}
.search_table tr:nth-child(odd):hover td{ 
	background:#2b6897 !important;
	
}

.search_table tr:hover td a{
 	color:#ffffff !important;
	text-decoration:underline !important;
	cursor:pointer;
}
.underline-t{
	color:#007755 !important;
	font-size:12px;
	text-decoration:underline !important;
	cursor:pointer;
}
.underline-t:hover{
	color:#ffffff !important;
	font-size:12px;
	text-decoration:underline !important;
	cursor:pointer;
}
.search_table td, .search_table2 td{
	letter-spacing:-1px;
}
.underline-d{
	color:#007755 !important;
	font-size:12px;
	text-decoration:underline !important;
	cursor:pointer;
}
.underline-d:hover{
	color:red !important;
	font-size:12px;
	text-decoration:underline !important;
	cursor:pointer;
}
