.jqx-rc-all-ui-redmond{
	background:#557698;
	color:#d5e1ef !important;
	 
	font-size:12px;
	font-family:"dotum",돋움, Tahoma, Gulim, AppleGothic, sans-serif;
	border-width:0px !important;
	border-color:#557698 !important; 
} 
.jqx-tree-item-li-ui-redmond{
	background:#557698;
	color:#d5e1ef !important; 
	 
	font-size:12px;
	font-family:"dotum",돋움, Tahoma, Gulim, AppleGothic, sans-serif;
	border-width:0px !important;
	border-color:#557698 !important;
} 
 
.jqx-grid-cell-ui-redmond{
	background:#557698;
	color:#d5e1ef;
	 
	font-size:12px;
	font-family:"dotum",돋움, Tahoma, Gulim, AppleGothic, sans-serif;
	border-width:0px !important;
	border-color:#557698 !important;
}
.jqx-grid-cell-ui-redmond:hover{
	background:#557698;
	color:#fff000; 
	font-weight:bold;
	font-size:12px;
	font-family:"dotum",돋움, Tahoma, Gulim, AppleGothic, sans-serif;
	border-width:0px !important;
	border-color:#557698 !important;
}
.jqx-widget-content-ui-redmond{
	border-color:#557698 !important;
	background:#557698 !important;
	
}
.jqx-icon-arrow-right-ui-redmond{
	background-image:url(images/icon-right-ui-redmond.png) !important;
	top:-3px;
}
.jqx-icon-arrow-down-ui-redmond{
	background-image:url(images/icon-down-ui-redmond.png) !important;
	top:-3px;
}