@charset "utf-8";
/* CSS Document */

/*reset*/
html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
b,u,i,center,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,embed, 
figure,figcaption,footer,header,hgroup, 
menu,nav,output,ruby,section,summary,
time,mark,audio,video,input,button{
outline:0px;
margin:0;
padding:0;
font-size:100%;
font:inherit;
vertical-align:baseline;
}
body{ 
	background:#fffffff; 
	font-family:"굴림",gulim,Helvetica,Verdana,sans-serif; 
	font-size:12px; 
	font-style:normal;
	font-weight:normal;
	line-height:normal;
	letter-spacing:normal;
	min-width:1028px;
	min-height:1024px;
	height:100%;
	width:100%;
	/*position:relative;*/
	
}

img{ border:none;}
ol,ul{list-style:none;}
table {border-collapse: collapse;border-spacing:0;}
.clear{clear:both;}

/*상단 바*/
#top_bar{ width:100%; background:#F4F4F4; height:33px; border-bottom:1px solid #dddddd;}
.top_btn{ float:right; position:relative; top:-27px; left:-30px;}

/* ************content************* */
#content{
	border-top:5px solid #b2bfcc; 
	margin-top:5px;
} 
#content_btn{}
#content h1{ font-weight:bold; color:#333333;}
#content p{font-weight:bold; color:#777777;}

/*테이블(Portlet Layout)*/
input#uName{ 
	padding:4px 29% 1px 10%; 
	margin-left:2%;
	border:1px solid #d7d7d7;
}
#height {
	border:1px solid #d7d7d7;
	margin-left:2%;
	font-size:12px;
	padding:4px 2% 1px 2%;
}
#upload{
	border:none;
	margin-left:2%;
	font-size:12px;
	padding:5px 2% 1px 2%;
	background:#E7E4E4;
	vertical-align:top;
}
input#url{ 
	padding:4px 29% 1px 10%; 
	margin-left:2%;
	border:1px solid #d7d7d7;
}
input[type="radio"]{margin:0 2% 2% 2%; vertical-align:top;}
.radioStyle input{
	margin: 0 2% 0% 2%;
	/*float:right;*/
}

/*left영역*/
.left{
}
.grayBox{
	width:91%;
	height:100%;
	margin:0 auto;
	border:2px solid #cccccc;
	margin-bottom:7px;
	background:#F2F2F2;
	
}
.grayBox label{ background:url(../images/bu_sqr.gif) no-repeat left; padding-left:3%;}
.left form h1{
	padding-bottom:20px;
	border-bottom:1px solid #E0E0E0; 
	margin-bottom:10px; 
	width:15%; 
	margin-left:5%;
}
.left form h1 span{
	position:relative;
	top:15px;
	color:#555555;
}
.left form p{ 
	padding-top:20px;
	padding-bottom:20px;
	 width:90%; 
	 margin:0 auto;
	 vertical-align:middle;
}
.left form p span{ 
	font-weight:normal;
	/*text-align:right;*/
}

/*rigth영역*/
.right{ /*border-left:1px solid #eeeeee; */margin-top:-15px;}
.layout1{
	text-align:center;
	vertical-align:middle; 
	margin:0 auto;
}
.layout2{
	text-align:center; 
	vertical-align:middle; 
}
.layoutbox_right{
	display:inline-block; 
	margin-right:2%; 
	
}
.layoutbox{ 
	padding:1%; 
	border:2px solid #eeeeee; 
	background:#F4F4F4; 
	display:inline-block; 
	margin-right:2%;
	margin-top:10px;
}

#previewBox{
	border-top:2px solid #B1B2B3;
	background:#C3C7CC; 
	width:100%; 
	height:1024px; 

	/*transform:scale(0,0.8); 
	-moz-transform:scale(0,0.8); 
	-ms-transform:scale(0,0.8); 
	-o-transform:scale(0,0.8); 
	-webkit-transform:scale(0,0.8);*/
}