@charset "utf-8";
/* CSS Document */
/* ********** 텍스트 정렬 CSS*********** */

/*시스템 > 메뉴관리 및 도움말관리*/
#mainList .text_left{ text-align:left;}
#dataTable .text_left{ text-align:left;}
.table_df .text_left{ text-align:left;}

/*시스템 > 사용자관리*/
#userListTable .text_left{text-align:left; padding-left: 5%;}

/*시스템 > 그룹관리*/
#partList .text_left{ text-align: left; padding-left: 34%;}

/*시스템 >  Role관리*/
#groupList .text_left{ text-align: left; padding-left: 43%;}
#partAll .text_left{ text-align:left; padding-left: 43%;}
#partSection .text_left{ text-align:left; padding-left: 43%;}

/*시스템 >  메뉴권한관리*/
#nonPermissionUser .text_left{ text-align:left; padding-left: 5%;}
#permissionUser .text_left{ text-align:left; padding-left: 5%;}
#nonPermissionGroup .text_left{ text-align:left; padding-left: 5%;}
#permissionGroup .text_left{ text-align:left; padding-left: 5%;}
#nonPermissionRole .text_left{ text-align: left;}
#PermissionRole .text_left{ text-align: left;}

/*사용자Log*/
#text_right{text-align:right;}
