@charset "utf-8";
/* CSS Document */

/* table - 폼 */
.table_form{border:0px solid #e5e5e5;background-color:#ffffff}
.th_form{border-bottom:1px solid #e5e5e5;vertical-align:middle;font-weight:bold;color:#777777;background:#f4f4f4}
.td_form{border-bottom:1px solid #e5e5e5;vertical-align:middle;padding:15px 10px; background:#ffffff}
.th_form_must{background:#f4f4f4 url(/resource/img/ico_must.gif) no-repeat 15px 50%}

.warn_form_must{display:inline-block;padding:10px 0 10px 30px;background:url(../../../resource/img/ico_must.gif) no-repeat 15px 50%;color:#bd2d2d}

fieldset{
	padding:10px;	
	border: 1px solid #ccc;
}

fieldset p{
	margin-top:5px;
}