@charset "utf-8";
/* CSS Document */
.wrap_fix{width:1030px;} /*1280 고정 폭*/
.mg_top10{margin-top:10px}
.mg_top20{margin-top:20px}
.mg_lft10{margin-left:10px}
.mg_rgt10{margin-right:10px}
.mg_btm5{margin-bottom:5px}
.mg_btm10{margin-bottom:10px}
.pd_top0{padding-top:0}
.pd_top20{padding-top:20px}
.pd_rgt10{padding-right:10px}
.pd_btm5{padding-bottom:5px}
.pd_trb10{padding:10px 10px 10px 0}
.clear{clear:both}
.center {text-align:center}
.over_scr {overflow:auto}
.warn{padding:10px 0 10px 24px; background:url(../../../resource/img/ico_warn.gif) no-repeat 9px 7px;color:#bd2d2d}
.link{cursor:pointer}
.al_v_mdd{vertical-align:middle}
.al_v_top{vertical-align:top}

input[type="radio"]{vertical-align:middle;margin-left:2px;margin-right:2px;}
input[type="text"]{padding-bottom:1px;padding-top:4px;margin-left:2px;margin-right:2px;}

/* 옵션 바 */

.bar_opt_top{height:40px;border-top:1px solid #dddddd;border-bottom:1px solid #dddddd;background:#f8f8f8;vertical-align:middle;}
.bar_opt_top form{margin-top:5px;}
.bar_opt_top select{vertical-align:middle;}

.bar_opt_btm{height:40px;border-top:2px solid #ededed;border-bottom:1px solid #dddddd;background:#f7f7f7}
.bar_opt_btm form{margin-top:5px;}
.bar_opt_in{height:37px;border-top:2px solid #ededed;background:#f7f7f7;vertical-align:middle}

.padding_top {padding-top:2px;}
.bar_opt_in form input{vertical-align:middle}
.bar_opt_in form select{vertical-align:middle}



.bar_opt_table{height:37px;border-top:2px solid #ededed;border-bottom:1px solid #e3e3e3;background:#f7f7f7;}
.bar_opt_table form{margin-top:5px;}
.bar_opt_table form input{vertical-align:middle;}
.bar_opt_table form select{vertical-align:middle;}
.bar_label{
	display:inline-block;
	vertical-align:middle;
	margin-top:6px;
	margin-bottom:6px;
	padding-left:30px;
	background:url(../../../resource/img/bu_sqr.gif) no-repeat 20px 50%;
	color:#666666;
	padding-top:2px;
	}

/* 그라데이션 */
.bg_grd{
background: #f8f8f8;
background: -moz-linear-gradient(top,  #f8f8f8 0%, #e4e4e4 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e4e4e4), color-stop(100%,#e4e4e4));
background: -webkit-linear-gradient(top,  #f8f8f8 0%,#e4e4e4 100%);
background: -o-linear-gradient(top,  #f8f8f8 0%,#e4e4e4 100%);
background: -ms-linear-gradient(top,  #f8f8f8 0%,#e4e4e4 100%);
background: linear-gradient(top,  #f8f8f8 0%,#e4e4e4 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#e4e4e4',GradientType=0 )}

/* 옵션 바 - 버튼 */
.btn_top_right {float:right;margin-right:20px;}
.btn_btm_right {float:right;margin-right:20px;margin-top:8px;margin-bottom:5px}

/* input 스타일 */
.text_df{height:13px; border:1px solid #d7d7d7;font-size:12px;padding:0px 0px 0px 5px;vertical-align:middle;margin-bottom:0px;}
.td_w .text_in{width:100px}
.text_page{width:30px}
.opt_srch{width:90px}
.text_full{width:80%}
.text_file{border:none;background:#dedede;height:20px;padding-top:5px;}
.text_area{width:80%;height:300px}
.select_df{height:20px}

/* table 관련 기본스타일 */
td{color:#777777}
.odd{background:#ededed}
.odd2{background:#f7f7f7}
.tr_hover:hover{background:#dedede}
.bg_gray{background-color:#f8f8f8}
caption.cap{margin:0 0 5px 10px;text-align:left;color:#666666}

/* 기본 테이블 */
.table_df{width:100%;border-bottom:1px solid #e5e5e5;clear:both}
.th_df{height:30px;background:#f0f0f0;border-top:1px solid #dedede;border-bottom:1px solid #e5e5e5;font-weight:bold;text-align:center;vertical-align:middle;color:#777777;}
.td_df{height:26px;text-align:center;vertical-align:middle}

/* 다단 table */
.table_multi{width:100%;border:1px solid #e0e0e0;clear:both} 
.th_1st{height:30px;border:1px solid #dddddd;background:#ededed;font-weight:bold;text-align:center;vertical-align:middle;color:#777777;}
.th_2nd{height:30px;border:1px solid #dddddd;background:#f7f7f7;font-weight:bold;text-align:center;vertical-align:middle;color:#777777;}
.td_multi{height:26px;border:1px solid #dddddd;text-align:center;vertical-align:middle;color:#777777}

/* 고정폭 레이아웃 table */
.table_layout_fix{width:100%}
.td_layout{border-right:1px solid #dddddd;border-bottom:1px solid #dddddd}

.table_layout_in{width:100%;border-top:1px solid #e3e3e3;margin-bottom:10px}
.td_layout_in{width:100%}

.table_side{border-top:1px solid #dedede;}
.th_side{height:40px;background:#f0f0f0;font-weight:bold;text-align:center;vertical-align:middle;color:#777777;border:1px solid #dedede;border-bottom:1px solid #dedede}
.td_side{height:32px;text-align:left;vertical-align:middle;padding-left:20px;border-bottom:1px solid #e5e5e5; background:url(/resource/img/bu_sqr2.gif) no-repeat 12px 12px}
.selected{background-color:#eaf4fb}

/* 소팅 아이콘 Th */
th.sort,th.sort_down,th.sort_up{padding:0 15px}
/* th.sort{background:#f0f0f0 url(../../../resource/img/ico_sort.gif) no-repeat right 50%} */
/* th.sort_down{background:#f0f0f0 url(../../../resource/img/ico_sort_down.gif) no-repeat right 50%} */
/* th.sort_up{background:#f0f0f0 url(../../../resource/img/ico_sort_up.gif) no-repeat right 50%} */
.td_w{height:40px}

/* 버튼 */
.page_con{padding:0 5px!important;font-weight:bold;font-family:Tahoma,Verdana,Arial,Helvetica,sans-serif, "돋움";font-size:11px !important;color:#999999 !important}/* 페이지 컨트롤 버튼 */

span.btn_mdd,
span.btn_sm,
button.mdd,
button.sm{margin:0;padding:0;border:0;display:inline-block}

span.btn_mdd,
span.btn_sm,
button.mdd,
button.sm{background:url(../../../resource/img/button/btn_bg.png) no-repeat;border:0}

/* 버튼- span */
span.btn_mdd{background-position:top left;margin-right:5px !important;vertical-align:middle;margin-right:2px;}
span.btn_sm{background-position:top left;margin-right:7px !important}
span.btn_mdd{background-position:top left;line-height:1.2em}
span.btn_sm{background-position:left -34px;vertical-align:middle;}

/* 버튼- button */
button.mdd,
button.sm{position:relative;left:2px;cursor:pointer;font-size:12px;color:#666666}
button.mdd{height:24px;background-position:right top;padding:3px 8px 3px 6px}
button.sm{height:20px;background-position:right -34px;padding:2px 5px 0 3px}

/* table - 폼 */
.table_form{border:0px solid #e5e5e5;background-color:#ffffff}
.th_form{border-bottom:1px solid #e5e5e5;vertical-align:middle;font-weight:bold;color:#777777;background:#f4f4f4}
.td_form{border-bottom:1px solid #e5e5e5;vertical-align:middle;padding:15px 10px; background:#ffffff}
.th_form_must{background:#f4f4f4 url(../../../resource/img/ico_must.gif) no-repeat 15px 50%}

.warn_form_must{display:inline-block;padding:10px 0 10px 30px;background:url(../../../resource/img/ico_must.gif) no-repeat 15px 50%;color:#bd2d2d}

