@charset "utf-8";
/* #header */
#header{background:#0e3e74}/* 헤더bg컬러 사용자지정 */
/* logo */
#logo {background-color:#ffffff;text-align:center}/* 로고bg컬러 사용자 지정 */
/* #gnb */
#gnb table.table_gnb td {font-size:12px;}
#gnb table.table_gnb td.gnb_bg1_on {

}/* gnb 버튼bg - 스타일1 */
#gnb table.table_gnb td.gnb_bg2_on {background:url(../../../resource/img/background/gnb_bg2_on.gif) no-repeat 50% 38px}/* gnb 버튼 bg- 스타일2 */
a.gnb_type1_on:link{color:#0e3e74; font-weight:bold; text-decoration:none}/* 스타일1 - 메뉴 폰트컬러 사용자지정 */
a.gnb_type1_on:visited{color:#0e3e74; font-weight:bold; text-decoration:none}
a.gnb_type1_off:link{color:#dddddd; font-weight:bold; text-decoration:none}
a.gnb_type1_off:visited{color:#dddddd; font-weight:bold; text-decoration:none}

a.gnb_type2_on:link{color:#ffffff; font-weight:bold; text-decoration:none}/* 스타일2 - 폰트컬러 고정 */
a.gnb_type2_on:visited{color:#ffffff; font-weight:bold; text-decoration:none}
a.gnb_type2_off:link{color:#dddddd; font-weight:bold; text-decoration:none}
a.gnb_type2_off:visited{color:#dddddd; font-weight:bold; text-decoration:none}
/* #top_menu */
#top_menu{color:#000000;font-size:12px;font-weight:normal;line-height:12px;}
#top_menu .box_search{
	border:1px solid #bfbfbf;
	border-radius:10px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	behavior: url(./pie.htc);
	background:#ffffff url(../../../resource/img/background/bg_search.gif) no-repeat 130px 3px;
}
#top_menu input.top_search{border:none;color:#6c94c0;font-size:12px;line-height:1.5em}
.my{
	cursor:pointer	
}
span.my:link{color:#000000;font-weight:normal;text-decoration:none}
span.my:visited{color:#000000;font-weight:normal;text-decoration:none}
span.my:hover{color:#888888;font-weight:normal;text-decoration:none}
/* #snb */
#snb{background:#e7e7e7;font:larger}
/* .snb_title */
.wrap_snb_title{height:37px;padding-left:12px;background:url(../../../resource/img/background/bg_leftTitle.gif) repeat-x top}
.wrap_snb_title .snb_title{background:url(../../../resource/img/bullet/bu_snb_title.gif) no-repeat left 14px;font-size:13px;font-weight:bold;line-height:14px;color:#ffffff}
#snb #snb_menu{line-height:1.3em;letter-spacing:normal;color:#333333;font-size:12px !important;}
/* #content */
#wrap_tab_menu{background:url(../../../resource/img/background/bg_tab_menu.gif) repeat-x top}
/* #content #iframe_content */
#lnb{background:url(../../../resource/img/background/@tmp_bg_lnb.gif) repeat-x top}
/* #content #iframe_content #iframe_cognus */


/* 기본font */
textarea{font-family:Tahoma,Verdana,Arial,Helvetica,sans-serif, "돋움" !important;}
body,.font_basic{font-family:Tahoma,Verdana,Arial,Helvetica,sans-serif, "돋움";font-size:12px;font-style:normal;font-weight:normal;line-height:normal;letter-spacing:normal;color:#333333}
a:link{color:#333333;font-weight:normal;text-decoration:none}
a:visited{color:#333333;font-weight:normal;text-decoration:none}
a:hover{color:#333333;font-weight:normal;text-decoration:underline}
.bold{font-weight:bold}

/*그라디언트스타일_예제(크로스브라우징코드)*/
.gradient{
width:200px;
height:31px;
background:#2865aa;/* for non-css3 browsers */
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2865aa', endColorstr='#0e3e74'); /* for IE */
background: -webkit-gradient(linear, left top, left bottom, from(#2865aa), to(#0e3e74)); /* for webkit browsers */
background: -moz-linear-gradient(top,  #2865aa,  #0e3e74); /* for firefox 3.6+ */ 
}


