@charset "utf-8";
/* CSS Document */
body {
	font-family:"맑은고딕", Verdana, Arial, Helvetica, sans-serif, "돋움" !important;
	-webkit-text-size-adjust:100%;
	background:#ffffff;
}
html, body {
	width: 100%;
	height: 100%;
}
*, html, body{
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	outline:0;
}
img, fieldset, iframe {
	border-top-color: currentColor;
	border-right-color: currentColor;
	border-bottom-color: currentColor;
	border-left-color: currentColor;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
img {
	margin:0;
	padding:0;
	outline:0;
	border:0;
}
a {
	text-decoration:none;
}
li {
	list-style-type: none;
	list-style-position: outside;
	list-style-image: none;
}
a:link {
	text-decoration:none;
	color:#202020;
}
a:visited {
	text-decoration:none;
	color:#202020;
	outline:0;
}
a:active {
	text-decoration:none;
	color:#202020;
	outline:0;
}
a:hover {
	text-decoration:none;
	color:#202020;
	outline:0;
}
a:link {
	outline:none;
}
a:focus {
	outline:none;
}
i, em, address {
	font-style: normal;
}
.hide {
	display: none;
}
table th, table td {
	word-break:break-all;
}
#container::after {
 clear: both;
 display: block;
 content: "";
}
.hidden {
	display:none;
}
/*form01*/
.form01 .form {
	width:100%;
	float:left;
	margin:-10px 0px;
	min-width:150px;
	white-space:nowrap;
}
.form01 .form table {
	border:0;
}
.form01 .form table th {
	font-size:12px;
	background:#C7DAE9;
	color:#005BB0;
	font-weight:normal;
	padding:6px 0;
	background:#C7DAE9;
}
.form01 .form table td {
	border-bottom:1px solid #C7DAE9;
	padding:3px 0;
	height:28px;
	
}
.form01 .form table td p {
	font-size:12px;
	color:#545653 !important;
}

.form01 .form table td.txt {
	text-align:left;
	text-indent:5px;
}
.form01 .form table td.date {
	text-align:right;
	padding-right:5px;
	width:10%;
	text-indent:5px;
	color:#909090;
}
/*form02*/
.form02 .form {
	width:31%;
	float:left;
	margin:20px 10px;
	min-width:150px;
	white-space:nowrap;
}
.form02 .form .header span {
	float:right;
	position:relative;
}
.form02 .form .header span img {
	position:absolute;
	bottom:5px;
	right:10px;
}
.form02 .form table {
	border:1px solid #dddddd;
}
.form02 .form table td {
	font-size:13px;
	color:#545653;
	padding:6px 0;
}
.form02 .form table td.txt {
	text-align:left;
	text-indent:5px;
}
.form02 .form table td.date {
	text-align:right;
	padding-right:5px;
}
.form02 .form table tr:nth-child(even) {
background: #F2F2F2;
}
