@charset "utf-8";
/* CSS Document */

body,div,h1,p,img,ul,li,a,form,fieldset,label,input{ 
	margin:0; 
	padding:0; 
	font-size:12px; 
	font-family: '돋움', 'Arial';
    
}
ul,li{list-style:none;}
a{text-decoration:none; color:#333;}
img{border:none;}
body{
	height:100%; 
	width:100%;
	background:#ffffff;
	overflow:hidden;
	min-width:1040px;
	min-height:980px;
}

/* 배경이미지*/

#wrap{ 
	height:100%;
	/*min-height:493px;*/
	width:980px;
	margin: 20px auto; 
	
	
}



/*logo*/
#logo{
	padding-top:0px;
	padding-left:10px;
	
}

/*login box*/
#box{
	float:right;
	margin-top:-200px;
}
#loginForm{
	float:right;
	margin-top:0px;
	margin-right:50px;
	}
legend{ display:none;}
fieldset{ border:5px solid #F3F3F1;
	border-radius:7px;
	-moz-border-radius:7px;
	-ms-border-radius:7px;
	-o-border-radius:7px;
	-webkit-border-radius:7px;
	padding:20px 17px;	
	background:#ffffff;
}

#login_box h1 span{ visibility:hidden; }
#login_box h1{background:url(/resource/img/login/adminlogin_kaya.png) no-repeat; padding-bottom:15px;}
#login_box p{ 
	color:#33AACC; 
	font-weight:bold;
	padding-top:10px;
	
}
#login_box #id01, #pwd01 {
	margin-bottom:5px; 
	border:1px solid #ccc; 
	width:140px; 
	height:20px; 
	background:#fff; 
	margin-top:-5px; 
	margin-left:-5px;
}

.labelStyle{
	display:block; 
	width:70px;  
	float:left; 
}

#btn{ text-align:center; margin-top:7px;}
.btn_login{ 
		border:none;
		background: rgb(131,179,211); /* Old browsers */
		background: -moz-linear-gradient(top,  rgba(131,179,211,1) 0%, rgba(32,124,202,1) 0%, rgba(33,118,175,1) 49%, rgba(29,101,149,1) 51%, rgba(29,101,149,1) 99%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(131,179,211,1)), color-stop(0%,rgba(32,124,202,1)), color-stop(49%,rgba(33,118,175,1)), 				                              color-stop(51%,rgba(29,101,149,1)), color-stop(99%,rgba(29,101,149,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(131,179,211,1) 0%,rgba(32,124,202,1) 0%,rgba(33,118,175,1) 49%,rgba(29,101,149,1) 51%,rgba(29,101,149,1) 99%); /*                                  Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(131,179,211,1) 0%,rgba(32,124,202,1) 0%,rgba(33,118,175,1) 49%,rgba(29,101,149,1) 51%,rgba(29,101,149,1) 99%); /* Opera 11.10+                                   */
		background: -ms-linear-gradient(top,  rgba(131,179,211,1) 0%,rgba(32,124,202,1) 0%,rgba(33,118,175,1) 49%,rgba(29,101,149,1) 51%,rgba(29,101,149,1) 99%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(131,179,211,1) 0%,rgba(32,124,202,1) 0%,rgba(33,118,175,1) 49%,rgba(29,101,149,1) 51%,rgba(29,101,149,1) 99%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#83b3d3', endColorstr='#1d6595',GradientType=0 ); /* IE6-8 */
		border-radius:5px;
	-moz-border-radius:5px;
	-ms-border-radius:5px;
	-o-border-radius:5px;
	-webkit-border-radius:5px;
	width:150px;
	height:30px;
	color:#ffffff;
	font-weight:bold;
}
#btn .btn_login{cursor:pointer;}
#btn .btn_login:hover{ background:#2B7CB4;}

/*bttom*/
#bottom{ clear:both;  padding-top:480px; z-index:9998;}
#bottom p{text-align:center; font-size:11px;}