@charset "utf-8";
/* CSS Document */
html, body {
	font-family: "맑은 고딕", arial, sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	line-height:1.5;
}
*, html, body {
	margin: 0;
	padding:0;
}
ul li {
	list-style:none;
}
a {
	text-decoration:none;
}
a, a:link, a:visted, a:hover, input, textarea, button, image {
 outline: 0;
}
textarea { /*크롬에서 사이즈조정 막기*/
	resize:none;
}
button, input, optgroup, select, textarea {
	margin: 0;
}
button, .button {
	overflow: visible;
	cursor:pointer;
}
input {
	line-height: normal;
	vertical-align:middle;
}
img {
	border: 0;
	vertical-align:middle;
}
#header {
	width: 100%;
	min-width:600px;
	position: absolute;
	top: 0px;
	z-index: 1;
	display: block;
	height: 70px;
	position:fixed;
	background:#e1e1e1;
	background:#ffffff;
	border-bottom:1px solid #f0f0f0;
	border-bottom:1px solid #e1e1e1;
}
.logo {
	float: left;
	margin: 5px 0 0 0px;
	width: 250px;
	text-align: center;
}
/*search-bar*/
.search-bar {
	float:right;
	margin:20px 20px 0 20px;
}
.search-bar input.search-field {
	float:left;
	border:1px solid #ccc;
	width:200px;
	height:25px;
	text-indent:5px;
	color:#808080;
	font-size:13px;
	border-radius:3px;
}
.search-submit {
	float:left;
	padding-left:5px;
}
.search-bar .search-submit .search-submit-btn .search-submit-icon {
	font-size:15px;
	color:#707070;
}
/*contents*/
#contents {
	width: 100%;
	min-width:600px;
	overflow:hidden;
}
/*nav*/
.nav {
	letter-spacing:-0.5px;
}
.sidenav {
	z-index:3;
	width:250px;
	height:100%;
	background:#fff !important;
	position:fixed !important;
	top:71px;
	overflow:auto;
	height:calc(100vh - 70px);
	bottom:0;
	padding:0px 0px;
	border-right:1px solid #e1e1e1;
}
.nav-button {
	position: fixed;
	z-index: 9999;
	top: 50%;
	left: 250px;
}
.nav-button button.button {
	background:#4b4b4b;
	border:1px solid #2b2b2b;
	padding:8px 2px;
	margin:0;
}
.nav-button button.button .fa-angle-left, .nav-button button.button .fa-angle-right {
	font-size:15px;
	color:#eee;
	text-align:center;
}
.sidenav h4 {
	margin:5px;
	display:none;
}
.package-list {
	margin:5px 10px;
}
.package-list {
	font-size:13px;
}
.package-list .nav-header a {
	font-size:13px;
	color:#303030;/*font-weight:bold;*/
}
.package-list .fa-folder {
	color:#606060;
	font-size:13px;
	padding:0;
}
.package-list .fa-folder-open {
	color:#606060;
	font-size:13px;
	padding:0;
}
.nav-list {
	padding-left:0px;
	margin-bottom:10px;
	font-size:12px;
}
.nav-list li {
	background:none;
	padding-left:20px;
	margin:1px 0;
}
.nav-list-02 li {
	background:none;
	padding-left:15px;
}
.nav-list li:hover, .nav-list-02 li:hover {
	background:none;
}
.nav-list li a {
	font-size:12px;
	color:#505050;
	background:none;
	padding:0.5px 5px 3px 5px;
	border-radius:2px;
}
.nav-list li a:hover, .nav-list li a.active {
	color:#005fbd;
	background:#dff1ff;
	padding:0.5px 5px 3px 5px;
	border-radius:2px;
}
.nav-list .fa-file-text, .nav-list .fa-folder {
	color:#b8d5f1;
	font-size:12px;
	padding:0;
}

/*main*/
.main {
	background:#fff;
	margin-left:250px;
	margin-top:71px;
 transition:margin-left .4s;
}
.breadcrumbsBox {
	margin: 0px;
	background: #f0f0f0;
	padding: 0 0 5px 10px;
}
.breadcrumbsBox a.breadcrumbsBoxLink {
	font-size:12px;
	color:#5473a0;
}
.breadcrumbsBox span.breadcrumbs {
	font-size:12px;
	color:#000000;
}
.breadcrumbsBox span.breadcrumbsBoxArrow {
	font-size:12px;
	color:#808080;
}
.button-group {
	float:right;
	margin-right:10px;
}
.button-group .button-group-container button {
	background:none;
	border:none;
	margin:0 5px;
	font-size:15px;
	color:#707070;
}
.main .container {
	padding:20px;
	padding-left:35px;
}
.main .container h1 {
	color: #000000;
	font-weight: normal;
	font-size: 32px;
	border-bottom: 1px solid #ddd;
	padding-bottom: 5px;
	margin-bottom:20px;
}
.main .container h2 {
	color: #222222;
	font-weight: normal;
	font-size: 25px;
}
.main .container h2 .fa-circle {
	font-size:7px;
	vertical-align:middle;
	padding-right:5px;
}
.main .container p {
	color: #222222;
	font-weight: normal;
	font-size: 15px;
	padding: 10px 0;
	letter-spacing:-0.5px;
}
.main .container .note {
	padding: 0.01em 16px;
	margin-top: 16px !important;
	margin-bottom: 16px !important;
	background-color: #ffffcc;
	border-left: 6px solid #ffeb3b;
}
.main .container .note p {
	color: #222222;
	font-weight: normal;
	font-size: 14px;
	letter-spacing:-0.5px;
}
.main .container .details {
}
.main .container .details p.details-title {
	color: #222222;
	font-weight: normal;
	font-size: 14px;
	margin:15px 0 5px 0;
}
.main .container .details p {
	color: #222222;
	font-weight: normal;
	font-size: 14px;
	padding:0px;
	letter-spacing:-0.5px;
}
.main .container p.details-img {
	margin:20px 0;
}
/*footer*/
/*footer{
	position:fixed;
	bottom:0;
	width:100%;
}*/
.padding-35 {
	padding-top: 35px !important;
	padding-bottom: 35px !important;
}
.padding-20 {
	padding-top: 20px !important;
	padding-bottom: 20px !important;
}
.center {
	text-align: center !important;
}
.pagination {
	display: inline-block;
	padding: 0;
	margin: 0;
}
.pagination li {
	display: inline;
}
.pagination li a {
	text-decoration: none;
	color: #000;
	float: left;
	padding: 8px 15px;
	font-size: 11px;
}
.black, .hover-black:hover {
	color: #fff !important;
	background-color: #000 !important;
}
.footer-container {
	content:"";
	clear:both;
}
.theme-l2 {
	padding: 10px 20px;
	color: #666666 !important;
	background-color: #ffffff !important;
	border-top:1px solid #e1e1e1;
}
.theme-l2 p {
	font-size:12px;
	color:#666666;
	text-align:center;
}
.theme-l1 {
	color: #ccc !important;
	background-color: #fff !important;
}
.theme-l1 h4 {
	font-size:20px;
	font-weight:normal;
	text-align:center;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
	display: block;
}
