@charset "utf-8";
/* CSS Document */
/*blueish-system*/

/*Rounded Corners*/
/*top-left rounded Corners*/
.jqx-rc-tl-blueish-system {
	-moz-border-radius-topleft: 2px;
	-webkit-border-top-left-radius: 2px;
	border-top-left-radius: 2px;
}
/*top-right rounded Corners*/
.jqx-rc-tr-blueish-system {
	-moz-border-radius-topright: 2px;
	-webkit-border-top-right-radius: 2px;
	border-top-right-radius: 2px;
}
/*bottom-left rounded Corners*/
.jqx-rc-bl-blueish-system {
	-moz-border-radius-bottomleft: 2px;
	-webkit-border-bottom-left-radius: 2px;
	border-bottom-left-radius: 2px;
}
/*bottom-right rounded Corners*/
.jqx-rc-br-blueish-system {
	-moz-border-radius-bottomright: 2px;
	-webkit-border-bottom-right-radius: 2px;
	border-bottom-right-radius: 2px;
}
/*top rounded Corners*/
.jqx-rc-t-blueish-system {
	-moz-border-radius-topleft: 2px;
	-webkit-border-top-left-radius: 2px;
	border-top-left-radius: 2px;
	-moz-border-radius-topright: 2px;
	-webkit-border-top-right-radius: 2px;
	border-top-right-radius: 2px;
}
/*bottom rounded Corners*/
.jqx-rc-b-blueish-system {
	-moz-border-radius-bottomleft: 3px;
	-webkit-border-bottom-left-radius: 3px;
	border-bottom-left-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	-webkit-border-bottom-right-radius: 3px;
	border-bottom-right-radius: 3px;
}
/*right rounded Corners*/
.jqx-rc-r-blueish-system {
	-moz-border-radius-topright: 3px;
	-webkit-border-top-right-radius: 3px;
	border-top-right-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	-webkit-border-bottom-right-radius: 3px;
	border-bottom-right-radius: 3px;
}
/*left rounded Corners*/
.jqx-rc-l-blueish-system {
	-moz-border-radius-topleft: 3px;
	-webkit-border-top-left-radius: 3px;
	border-top-left-radius: 3px;
	-moz-border-radius-bottomleft: 3px;
	-webkit-border-bottom-left-radius: 3px;
	border-bottom-left-radius: 3px;
}
/*all rounded Corners*/
.jqx-rc-all-blueish-system {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.jqx-widget {
	font-size:12px !important;
}
.jqx-widget-blueish-system, .jqx-widget-content, .jqx-widget-header, .jqx-input-blueish-system {
	-webkit-transition: box-shadow linear 0.2s;
	-moz-transition: box-shadow linear 0.2s;
	-o-transition: box-shadow linear 0.2s;
	transition: box-shadow linear 0.2s;
}
.jqx-listitem-state-normal-blueish-system, .jqx-listitem-state-hover-blueish-system, .jqx-listitem-state-selected-blueish-system, .jqx-tabs-title-selected-top-blueish-system, .jqx-tabs-title-selected-bottom-blueish-system {
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition: none;
	font-size:12px !important;
}
.jqx-fill-state-normal-blueish-system {
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08), inset 0 1px 2px rgba(255, 255, 255, 0.75);
	;
	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08), inset 0 1px 2px rgba(255, 255, 255, 0.75);
	;
	-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08), inset 0 1px 2px rgba(255, 255, 255, 0.75);
	;
}
.jqx-widget-header-blueish-system, .jqx-fill-state-normal-blueish-system {
	text-shadow: 0 1px 0 rgb(240, 240, 240);
	border-color: #b2b2b2;
	border-color: rgba(0, 0, 0, 0.25);
	color: #444;
	background-color: #f0f0f0;
	background-image: linear-gradient(#ededed, #ededed 38%, #dedede);
	background-image: -webkit-linear-gradient(#ededed, #ededed 38%, #dedede);
	background-image: -moz-linear-gradient(#ededed, #ededed 38%, #dedede);
	background-image: -o-linear-gradient(#ededed, #ededed 38%, #dedede);
	-webkit-transition: color 200ms;
}
.jqx-widget-content-blueish-system {
	border-color: #b2b2b2;
	border-color: rgba(0, 0, 0, 0.25);
	font-size:12px !important;
}
.jqx-fill-state-hover-blueish-system {
	text-shadow: 0 1px 0 rgb(240, 240, 240);
	border-color: #b2b2b2;
	border-color: rgba(0, 0, 0, 0.3);
	color: black;
	background-color: #f0f0f0;
	background-image: linear-gradient(#f0f0f0, #f0f0f0 38%, #e0e0e0);
	background-image: -webkit-linear-gradient(#f0f0f0, #f0f0f0 38%, #e0e0e0);
	background-image: -moz-linear-gradient(#f0f0f0, #f0f0f0 38%, #e0e0e0);
	background-image: -o-linear-gradient(#f0f0f0, #f0f0f0 38%, #e0e0e0);
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.12), inset 0 1px 2px rgba(255, 255, 255, 0.95);
	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.12), inset 0 1px 2px rgba(255, 255, 255, 0.95);
	-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.12), inset 0 1px 2px rgba(255, 255, 255, 0.95);
	-webkit-transition: color 200ms;
}
.jqx-fill-state-pressed-blueish-system {
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	text-shadow: none;
	background-color: #f0f0f0;
	background-image: linear-gradient(#e7e7e7, #e7e7e7 38%, #d7d7d7);
	background-image: -webkit-linear-gradient(#e7e7e7, #e7e7e7 38%, #d7d7d7);
	background-image: -moz-linear-gradient(#e7e7e7, #e7e7e7 38%, #d7d7d7);
	background-image: -o-linear-gradient(#e7e7e7, #e7e7e7 38%, #d7d7d7);
	-webkit-transition: color 200ms;
}
.jqx-grid-column-menubutton-blueish-system {
	background-color: transparent;
}
.jqx-calendar-row-header-blueish-system, .jqx-calendar-top-left-header-blueish-system {
	background-color: #f0f0f0;
	border: 0px solid #f2f2f2;
}
.jqx-calendar-column-header-blueish-system {
	background-color: #FFF;
	border-top: 1px solid #FFF;
	border-bottom: 1px solid #e9e9e9;
}
.jqx-scrollbar-state-normal-blueish-system {
	background-color: #f0f0f0;
	border: 1px solid #f0f0f0;
}
.jqx-grid-cell-hover-blueish-system {
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}
.jqx-scrollbar-thumb-state-normal-blueish-system {
	background-color: #f0f0f0;
	background-image: linear-gradient(left, #ededed, #ededed 38%, #dedede);
	background-image: -webkit-linear-gradient(left, #ededed, #ededed 38%, #dedede);
	background-image: -moz-linear-gradient(left, #ededed, #ededed 38%, #dedede);
	background-image: -o-linear-gradient(left, #ededed, #ededed 38%, #dedede);
	background-image: -ms-linear-gradient(left, #ededed, #ededed 38%, #dedede);
}
.jqx-scrollbar-thumb-state-hover-blueish-system {
	background-color: #f0f0f0;
	background-image: linear-gradient(left, #f0f0f0, #f0f0f0 38%, #e0e0e0);
	background-image: -webkit-linear-gradient(left, #f0f0f0, #f0f0f0 38%, #e0e0e0);
	background-image: -moz-linear-gradient(left, #f0f0f0, #f0f0f0 38%, #e0e0e0);
	background-image: -o-linear-gradient(left, #f0f0f0, #f0f0f0 38%, #e0e0e0);
	background-image: -ms-linear-gradient(left, #f0f0f0, #f0f0f0 38%, #e0e0e0);
}
.jqx-splitter-collapse-button-vertical-blueish-system, .jqx-splitter-collapse-button-horizontal-blueish-system {
	background: #b2b2b2;
}
.jqx-scrollbar-thumb-state-pressed-blueish-system, .jqx-progressbar-value-vertical-blueish-system {
	background-color: #f0f0f0;
	background-image: linear-gradient(left, #e7e7e7, #e7e7e7 38%, #d7d7d7);
	background-image: -webkit-linear-gradient(left, #e7e7e7, #e7e7e7 38%, #d7d7d7);
	background-image: -moz-linear-gradient(left, #e7e7e7, #e7e7e7 38%, #d7d7d7);
	background-image: -o-linear-gradient(left, #e7e7e7, #e7e7e7 38%, #d7d7d7);
	background-image: -ms-linear-gradient(left, #e7e7e7, #e7e7e7 38%, #d7d7d7);
}
.jqx-grid-column-sortdescbutton-blueish-system, jqx-grid-column-filterbutton-blueish-system, .jqx-grid-column-sortascbutton-blueish-system {
	background-color: transparent;
	border-style: solid;
	border-width: 0px 0px 0px 0px;
	border-color: #b2b2b2;
}
.jqx-slider-rangebar-blueish-system {
	background: #C3C3C3;
}
.jqx-menu-vertical-blueish-system {
	background: #f5f5f5;
	filter: none;
}
.jqx-checkbox-check-checked-blueish-system {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAYAAACprHcmAAAAcklEQVQY02NgwA/YoJgoEA/Es4DYgJBCJSBeD8SboRinBiYg7kZS2IosyQ/Eakh8LySFq4FYHFlxGRBvBOJYqMRqJMU+yApNkSRAeC0Sux3dfSCTetE0wKyXxOWhMKhTYIr9CAUXyJMzgLgBagBBgDPGAI2LGdNt0T1AAAAAAElFTkSuQmCC');
}
.jqx-combobox-content-blueish-system, .jqx-input-blueish-system {
	border-color: #b2b2b2;/*box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);*/
}
.jqx-combobox-content-blueish-system {
	border-color: #b2b2b2;
	border-color: rgba(0, 0, 0, 0.25);
}
.jqx-fill-state-focus-blueish-system, .jqx-combobox-content-focus-blueish-system, .jqx-numberinput-focus-blueish-system {
	outline: none;
	border-color: #777777;
}
.jqx-dropdownbutton-popup-blueish-system.jqx-fill-state-focus-blueish-system {
}
.jqx-grid-bottomright-blueish-system, .jqx-panel-bottomright-blueish-system, .jqx-listbox-bottomright-blueish-system {
	background-color: #efefef;
}
.jqx-tabs-title-selected-top-blueish-system, .jqx-tabs-selection-tracker-top-blueish-system {
	border-color: #b2b2b2;
	border-bottom: 1px solid #fff;
	text-shadow: 0 1px 0 #f2f2f2;
	filter: none;
	color: #222;
	background: #fff;
}
.jqx-tabs-title-selected-bottom-blueish-system, .jqx-tabs-selection-tracker-bottom-blueish-system {
	border-color: #b2b2b2;
	border-top: 1px solid #fff;
	text-shadow: 0 1px 0 #f2f2f2;
	filter: none;
	color: #222;
	background: #fff;
}
.jqx-popup-blueish-system {
	-webkit-box-shadow: 4px 4px 23px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 4px 4px 23px rgba(0, 0, 0, 0.15);
	box-shadow: 4px 4px 23px rgba(0, 0, 0, 0.15);
}
.jqx-menu-popup-blueish-system>div:first-child {
	padding-bottom: 15px !important;
	padding-right: 15px !important;
}
.jqx-menu-popup-clear-blueish-system>div:first-child {
	padding-bottom: 0px !important;
}
.jqx-window-blueish-system, .jqx-tooltip-blueish-system {
	-webkit-box-shadow: 0 4px 23px 5px rgba(0, 0, 0, 0.2), 0 2px 6px rgba(0,0,0,0.15);
	-moz-box-shadow:  0 4px 23px 5px rgba(0, 0, 0, 0.2), 0 2px 6px rgba(0,0,0,0.15);
	box-shadow: 0 4px 23px 5px rgba(0, 0, 0, 0.2), 0 2px 6px rgba(0,0,0,0.15);
}
.jqx-docking-blueish-system .jqx-window-blueish-system {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}
.jqx-docking-panel-blueish-system .jqx-window-blueish-system {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.jqx-radiobutton-blueish-system {
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
	border-radius: 100%;
	background-repeat: no-repeat;
	background: none;
}
.jqx-radiobutton-blueish-system-blueish-system, .jqx-radiobutton-hover-blueish-system {
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
	border-radius: 100%;
	background-repeat: no-repeat;
}
.jqx-radiobutton-check-checked-blueish-system {
	filter: none;
	background: #666;
	background-repeat: no-repeat;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
	border-radius: 100%;
}
.jqx-radiobutton-check-indeterminate-blueish-system {
	filter: none;
	background: #999;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
	border-radius: 100%;
}
.jqx-radiobutton-check-indeterminate-disabled-blueish-system {
	filter: none;
	background: #999;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
	border-radius: 100%;
}
.jqx-slider-track-horizontal-blueish-system, .jqx-slider-track-vertical-blueish-system {
	border-color: #b2b2b2;
	background: #f0f0f0;
}
.jqx-slider-button-blueish-system {
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
	border-radius: 100%;
}
.jqx-widget-blueish-system {
	font-family: "맑은 고딕", Malgun Gothic;
}
.jqx-widget-content-blueish-system {
	color: #222222;
	text-shadow: none;
	border-color: #91A3B4;
	background: #FEFEFE;
	font-family: Malgun Gothic;
}
.jqx-widget-header-blueish-system, .jqx-grid-blueish-system .jqx-widget-header-blueish-system {
	color: #223648;
	text-shadow: none;
	border-color: #91A3B4;
	background:#B8D2EB url(../images/background/header-bg.png) 50% 50% repeat-x;
	-moz-background-clip: padding;
	background-clip: padding-box;
	-webkit-background-clip: padding-box;
	font-family: Malgun Gothic;/* background-color: #ededed;
  background-image: -moz-linear-gradient(top, #ededed, #dedede);
  background-image: -ms-linear-gradient(top, #ededed, #dedede);
  background-image: -o-linear-gradient(top, #ededed, #dedede);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#ededed), to(#dedede));
  background-image: -webkit-linear-gradient(top, #ededed, #dedede);
  background-image: linear-gradient(top, #ededed, #dedede);
  background-image: linear-gradient(to bottom, #ededed, #dedede);*/
	font-size:12px;
	font-weight:bold;
}
.jqx-grid-column-menubutton-blueish-system, .jqx-widget-blueish-system.jqx-grid-column-menubutton-blueish-system {
	border-color: #91A3B4;
}
.jqx-grid-cell-blueish-system, .jqx-widget-blueish-system .jqx-grid-cell-blueish-system {
	background-color: #FEFEFE;
	color: #000000;
	text-shadow: none;
	border-color:#e1e1e1 !important;
	font-size:12px;
}
.jqx-fill-state-normal-blueish-system {
	color: #222222;
	text-shadow: none;
	border-color: #204AAA;
	background-color: #ffffff;
	/*background-image: -moz-linear-gradient(top, #D1E6F7, #D1E6F7);
  background-image: -ms-linear-gradient(top, #D1E6F7, #D1E6F7);
  background-image: -o-linear-gradient(top, #D1E6F7, #D1E6F7);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#D1E6F7), to(#D1E6F7));
  background-image: -webkit-linear-gradient(top, #D1E6F7, #D1E6F7);
  background-image: linear-gradient(top, #D1E6F7, #D1E6F7);
  background-image: linear-gradient(to bottom, #D1E6F7, #D1E6F7);*/
  -moz-background-clip: padding;
	background-clip: padding-box;
	-webkit-background-clip: padding-box;
	font-family: Malgun Gothic;
}
.jqx-grid-selectionarea-blueish-system {
	border-color: #204AAA;
	background-color: #D1E6F7;
}
.jqx-widget-blueish-system .jqx-grid-cell-sort-blueish-system, .jqx-widget-blueish-system .jqx-grid-cell-filter-blueish-system, .jqx-widget-blueish-system .jqx-grid-cell-pinned-blueish-system, .jqx-grid-cell-sort-blueish-system, .jqx-grid-cell-filter-blueish-system, .jqx-grid-cell-pinned-blueish-system {
	background-color: #D9E4EE;
	color: #222222;
	text-shadow: none;
}
.jqx-widget-blueish-system .jqx-grid-cell-alt-blueish-system, .jqx-widget-blueish-system .jqx-grid-cell-sort-alt-blueish-system, .jqx-widget-blueish-system .jqx-grid-cell-pinned-alt-blueish-system, .jqx-widget-blueish-system .jqx-grid-cell-filter-alt-blueish-system, .jqx-grid-cell-alt-blueish-system, .jqx-grid-cell-sort-alt-blueish-system, .jqx-grid-cell-filter-alt-blueish-system {
	background-color: #F0F5F9;
	color: #000000;
	text-shadow: none;
}
.jqx-fill-state-hover-blueish-system, .jqx-widget-blueish-system .jqx-grid-cell-hover-blueish-system {
	color: #FFFFFF;
	text-shadow: none;
	border-color: #376BA1;
	background-color: #376BA1;
	background-image: -moz-linear-gradient(top, #376BA1, #376BA1);
	background-image: -ms-linear-gradient(top, #376BA1, #376BA1);
	background-image: -o-linear-gradient(top, #376BA1, #376BA1);
	background-image: -webkit-gradient(linear, center top, center bottom, from(#376BA1), to(#376BA1));
	background-image: -webkit-linear-gradient(top, #376BA1, #376BA1);
	background-image: linear-gradient(top, #376BA1, #376BA1);
	background-image: linear-gradient(to bottom, #376BA1, #376BA1);
	-moz-background-clip: padding;
	background-clip: padding-box;
	-webkit-background-clip: padding-box;
	font-family: Malgun Gothic;
}
.jqx-fill-state-pressed-blueish-system, .jqx-widget-blueish-system .jqx-grid-cell-selected-blueish-system {
	color: #FFFFFF;
	text-shadow: none;
	border-color: #376BA1;
	background-color: #376BA1;
	background-image: -moz-linear-gradient(top, #376BA1, #376BA1);
	background-image: -ms-linear-gradient(top, #376BA1, #376BA1);
	background-image: -o-linear-gradient(top, #376BA1, #376BA1);
	background-image: -webkit-gradient(linear, center top, center bottom, from(#376BA1), to(#376BA1));
	background-image: -webkit-linear-gradient(top, #376BA1, #376BA1);
	background-image: linear-gradient(top, #376BA1, #376BA1);
	background-image: linear-gradient(to bottom, #376BA1, #376BA1);
	-moz-background-clip: padding;
	background-clip: padding-box;
	-webkit-background-clip: padding-box;
	font-family: Malgun Gothic;
}
.jqx-switchbutton-label-on-blueish-system {
	color: #FFFFFF;
	text-shadow: none;
	border-color: #376BA1;
	background-color: #376BA1;
	background-image: -moz-linear-gradient(top, #376BA1, #376BA1);
	background-image: -ms-linear-gradient(top, #376BA1, #376BA1);
	background-image: -o-linear-gradient(top, #376BA1, #376BA1);
	background-image: -webkit-gradient(linear, center top, center bottom, from(#376BA1), to(#376BA1));
	background-image: -webkit-linear-gradient(top, #376BA1, #376BA1);
	background-image: linear-gradient(top, #376BA1, #376BA1);
	background-image: linear-gradient(to bottom, #376BA1, #376BA1);
	-moz-background-clip: padding;
	background-clip: padding-box;
	-webkit-background-clip: padding-box;
}
.jqx-tabs-blueish-system {
	border:0;
}
.jqx-splitter-splitbar-hover-blueish-system {
	background: #376BA1;
}
.jqx-splitter-splitbar-vertical-blueish-system, .jqx-splitter-splitbar-horizontal-blueish-system, .jqx-slider-track-horizontal-blueish-system, .jqx-slider-track-vertical-blueish-system {
	background: #D1E6F7;
}
.jqx-splitter-collapse-button-horizontal-blueish-system, .jqx-splitter-collapse-button-vertical-blueish-system, .jqx-slider-rangebar-blueish-system {
	background: #376BA1;
}
.jqx-scrollbar-state-normal-blueish-system {
	background-color: #EFEFEF;
	border-color: #E1E1E1;
}
.jqx-grid-bottomright-blueish-system, .jqx-panel-bottomright-blueish-system, .jqx-listbox-bottomright-blueish-system {
	background-color: #EFEFEF;
}
.jqx-scrollbar-thumb-state-normal-blueish-system {
	background-color: #E00DB6;
	background-color: #E00DB6;
	background-image: -moz-linear-gradient(left, #E00DB6, #CF0CD6);
	background-image: -ms-linear-gradient(left, #E00DB6, #CF0CD6);
	background-image: -o-linear-gradient(left, #E00DB6, #CF0CD6);
	background-image: -webkit-gradient(linear, left top, right top, from(#E00DB6), to(#CF0CD6));
	background-image: -webkit-linear-gradient(left, #E00DB6, #CF0CD6);
	background-image: linear-gradient(left, #E00DB6, #CF0CD6);
	background-image: linear-gradient(left right, #E00DB6, #CF0CD6);
	background:#cccccc url(../images/background/scrollbar-move-button-image.png) repeat-y !important;
	border-left:1px solid #A4A4A5 !important;
	border-right:1px solid #A4A4A5 !important;
	border-top:1px solid #9D9DA0 !important;
	border-bottom:1px solid #9D9DA0 !important;
}
.jqx-scrollbar-thumb-state-normal-horizontal-blueish-system {
	background-color: #E00DB6;
	background-color: #E00DB6;
	background-image: -moz-linear-gradient(left, #E00DB6, #CF0CD6);
	background-image: -ms-linear-gradient(left, #E00DB6, #CF0CD6);
	background-image: -o-linear-gradient(left, #E00DB6, #CF0CD6);
	background-image: -webkit-gradient(linear, left top, right top, from(#E00DB6), to(#CF0CD6));
	background-image: -webkit-linear-gradient(left, #E00DB6, #CF0CD6);
	background-image: linear-gradient(left, #E00DB6, #CF0CD6);
	background-image: linear-gradient(left right, #E00DB6, #CF0CD6);
	background:#cccccc url(../images/background/scrollbar-horizontal-move-button-image.png) repeat-x !important;
	border-left:1px solid #A4A4A5 !important;
	border-right:1px solid #A4A4A5 !important;
	border-top:1px solid #9D9DA0 !important;
	border-bottom:1px solid #9D9DA0 !important;
	-moz-background-clip: padding;
	background-clip: padding-box;
	-webkit-background-clip: padding-box;
}
.jqx-scrollbar-thumb-state-hover-blueish-system {
	background-color: #CCCCCC;
	border-color: #CCCCCC;
	background-image: -moz-linear-gradient(left, #CCCCCC, #CCCCCC);
	background-image: -ms-linear-gradient(left, #CCCCCC, #CCCCCC);
	background-image: -o-linear-gradient(left, #CCCCCC, #CCCCCC);
	background-image: -webkit-gradient(linear, left top, right top, from(#CCCCCC), to(#CCCCCC));
	background-image: -webkit-linear-gradient(left, #CCCCCC, #CCCCCC);
	background-image: linear-gradient(left, #CCCCCC, #CCCCCC);
	background-image: linear-gradient(left right, #CCCCCC, #CCCCCC);
}
.jqx-scrollbar-thumb-state-hover-horizontal-blueish-system {
	ackground-color: #CCCCCC;
	border-color: #CCCCCC;
	background-image: -moz-linear-gradient(top, #CCCCCC, #CCCCCC);
	background-image: -ms-linear-gradient(top, #CCCCCC, #CCCCCC);
	background-image: -o-linear-gradient(top, #CCCCCC, #CCCCCC);
	background-image: -webkit-gradient(linear, center top, center bottom, from(#CCCCCC), to(#CCCCCC));
	background-image: -webkit-linear-gradient(top, #CCCCCC, #CCCCCC);
	background-image: linear-gradient(top, #CCCCCC, #CCCCCC);
	background-image: linear-gradient(to bottom, #CCCCCC, #CCCCCC);
}
.jqx-scrollbar-thumb-state-pressed-blueish-system {
	background-color: #A4A4A5;
	border-color: #A4A4A5;
	background-image: -moz-linear-gradient(left, #A4A4A5, #EFEFEF);
	background-image: -ms-linear-gradient(left, #A4A4A5, #EFEFEF);
	background-image: -o-linear-gradient(left, #A4A4A5, #EFEFEF);
	background-image: -webkit-gradient(linear, left top, right top, from(#A4A4A5), to(#EFEFEF));
	background-image: -webkit-linear-gradient(left, #A4A4A5, #EFEFEF);
	background-image: linear-gradient(left, #A4A4A5, #EFEFEF);
	background-image: linear-gradient(left right, #A4A4A5, #EFEFEF);
	-moz-background-clip: padding;
	background-clip: padding-box;
	-webkit-background-clip: padding-box;
}
.jqx-scrollbar-thumb-state-pressed-horizontal-blueish-system {
	background-color: #A4A4A5;
	border-color: #A4A4A5;
	background-image: -moz-linear-gradient(left, #A4A4A5, #EFEFEF);
	background-image: -ms-linear-gradient(left, #A4A4A5, #EFEFEF);
	background-image: -o-linear-gradient(left, #A4A4A5, #EFEFEF);
	background-image: -webkit-gradient(linear, left top, right top, from(#A4A4A5), to(#EFEFEF));
	background-image: -webkit-linear-gradient(left, #A4A4A5, #EFEFEF);
	background-image: linear-gradient(left, #A4A4A5, #EFEFEF);
	background-image: linear-gradient(left right, #A4A4A5, #EFEFEF);
}
.jqx-scrollbar-button-state-normal-blueish-system {
	background-color: #CECFD5;
	border-color: #bababa;
	background-image: -moz-linear-gradient(top, #CECFD5, #CECFD5);
	background-image: -ms-linear-gradient(top, #CECFD5, #CECFD5);
	background-image: -o-linear-gradient(top, #CECFD5, #CECFD5);
	background-image: -webkit-gradient(linear, center top, center bottom, from(#CECFD5), to(#CECFD5));
	background-image: -webkit-linear-gradient(top, #CECFD5, #CECFD5);
	background-image: linear-gradient(top, #CECFD5, #CECFD5);
	background-image: linear-gradient(to bottom, #CECFD5, #CECFD5);
	-moz-background-clip: padding;
	background-clip: padding-box;
	-webkit-background-clip: padding-box;
	background:#bababa url(../images/background/scrollbar-move-button-image.png) 50% 50% repeat-y !important;
	border:1px solid #A4A4A5 !important;
	cursor:pointer;
}
.jqx-scrollbar-button-state-hover-blueish-system {
	background-color: #CECFD5;
	border-color: #A4A4A5;
	background-image: -moz-linear-gradient(top, #CECFD5, #CECFD5);
	background-image: -ms-linear-gradient(top, #CECFD5, #CECFD5);
	background-image: -o-linear-gradient(top, #CECFD5, #CECFD5);
	background-image: -webkit-gradient(linear, center top, center bottom, from(#CECFD5), to(#CECFD5));
	background-image: -webkit-linear-gradient(top, #CECFD5, #CECFD5);
	background-image: linear-gradient(top, #CECFD5, #CECFD5);
	background-image: linear-gradient(to bottom, #CECFD5, #CECFD5);
	-moz-background-clip: padding;
	background-clip: padding-box;
	-webkit-background-clip: padding-box;
	border:1px solid #999999 !important;
}
.jqx-scrollbar-button-state-pressed-blueish-system {
	background-color: #CECFD5;
	border-color: #A4A4A5;
	background-image: -moz-linear-gradient(top, #CECFD5, #CECFD5);
	background-image: -ms-linear-gradient(top, #CECFD5, #CECFD5);
	background-image: -o-linear-gradient(top, #CECFD5, #CECFD5);
	background-image: -webkit-gradient(linear, center top, center bottom, from(#CECFD5), to(#CECFD5));
	background-image: -webkit-linear-gradient(top, #CECFD5, #CECFD5);
	background-image: linear-gradient(top, #CECFD5, #CECFD5);
	background-image: linear-gradient(to bottom, #CECFD5, #CECFD5);
	-moz-background-clip: padding;
	background-clip: padding-box;
	-webkit-background-clip: padding-box;
}
.jqx-radiobutton-check-checked-blueish-system {
	background: #376BA1;
	width: 7px;
	height: 7px;
	margin-left: 2px;
	margin-top: 2px;
	border-width: 1px;
	border-style: solid;
}
.jqx-rc-tl-blueish-system {
	-moz-border-radius-topleft: 3px;
	-webkit-border-radius-topleft: 3px;
	border-radius-topleft: 3px;
}
.jqx-rc-tr-blueish-system {
	-moz-border-radius-topright: 3px;
	-webkit-border-radius-topright: 3px;
	border-radius-topright: 3px;
}
.jqx-rc-bl-blueish-system {
	-moz-border-radius-bottomleft: 3px;
	-webkit-border-radius-bottomleft: 3px;
	border-radius-bottomleft: 3px;
}
.jqx-rc-br-blueish-system {
	-moz-border-radius-bottomright: 3px;
	-webkit-border-radius-bottomright: 3px;
	border-radius-bottomright: 3px;
}
.jqx-rc-t-blueish-system {
	-moz-border-radius-topleft: 3px;
	-webkit-border-top-left-radius: 3px;
	border-top-left-radius: 3px;
	-moz-border-radius-topright: 3px;
	-webkit-border-top-right-radius: 3px;
	border-top-right-radius: 3px;
}
.jqx-rc-b-blueish-system {
	-moz-border-radius-bottomleft: 3px;
	-webkit-border-bottom-left-radius: 3px;
	border-bottom-left-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	-webkit-border-bottom-right-radius: 3px;
	border-bottom-right-radius: 3px;
}
.jqx-rc-r-blueish-system {
	-moz-border-radius-topright: 3px;
	-webkit-border-top-right-radius: 3px;
	border-top-right-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	-webkit-border-bottom-right-radius: 3px;
	border-bottom-right-radius: 3px;
}
.jqx-rc-l-blueish-system {
	-moz-border-radius-topleft: 3px;
	-webkit-border-top-left-radius: 3px;
	border-top-left-radius: 3px;
	-moz-border-radius-bottomleft: 3px;
	-webkit-border-bottom-left-radius: 3px;
	border-bottom-left-radius: 3px;
}
.jqx-radiobutton-default-blueish-system, .jqx-radiobutton-blueish-system, .jqx-radiobutton-check-checked-blueish-system, .jqx-radiobutton-hover-blueish-system, .jqx-radiobutton-check-indeterminate-blueish-system, .jqx-radiobutton-check-indeterminate-disabled-blueish-system, .jqx-slider-button-blueish-system {
	-moz-border-radius: 100% !important;
	-webkit-border-radius: 100% !important;
	border-radius: 100% !important;
}
.jqx-rc-all-blueish-system, .jqx-tooltip-blueish-system, .jqx-tooltip-text-blueish-system, .jqx-tooltip-main-blueish-system {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}
.jqx-tooltip-blueish-system, .jqx-tooltip-text-blueish-system {
	background:url(../../images/background/skybluegradient-inputstyle-bg.png) 50% 50% repeat-x !important;
	color:#000000 !important;
	font-size:12px;
}
.jqx-grid-column-sortascbutton-blueish-system, .jqx-expander-arrow-bottom-blueish-system, .jqx-window-collapse-button-blueish-system, .jqx-menu-item-arrow-up-blueish-system, .jqx-menu-item-arrow-top-up-blueish-system, .jqx-icon-arrow-up-blueish-system {
	background-image: url('images/icon-up.png');
}
.jqx-icon-arrow-up-hover-blueish-system {
	background-image: url('images/icon-up.png');
}
.jqx-menu-item-arrow-up-selected-blueish-system, .jqx-icon-arrow-up-selected-blueish-system.jqx-expander-arrow-expanded-blueish-system {
	background-image: url('images/icon-up.png');
}
.jqx-grid-column-menubutton-blueish-system, .jqx-grid-column-sortdescbutton-blueish-system, .jqx-expander-arrow-top-blueish-system, .jqx-window-collapse-button-collapsed-blueish-system, .jqx-menu-item-arrow-down-blueish-system, .jqx-menu-item-arrow-down-blueish-system, .jqx-tree-item-arrow-expand-blueish-system, .jqx-grid-group-expand-blueish-system, .jqx-widget-blueish-system .jqx-grid-group-expand-blueish-system, .jqx-icon-arrow-down-blueish-system {
	background-image:url(../images/img_icons/simple-blue-downarrow.png) !important;
	background-repeat:no-repeat;
	background-position:center;
}
.jqx-icon-arrow-down-hover-blueish-system {
	background-image:url(../images/img_icons/simple-blue-downarrow.png) !important;
}
.jqx-menu-item-arrow-down-selected-blueish-system, .jqx-icon-arrow-down-selected-blueish-system {
	background-image:url(../images/img_icons/simple-blue-downarrow.png) !important;
}
.jqx-tabs-arrow-left-blueish-system, .jqx-menu-item-arrow-top-left-blueish-system, .jqx-grid-group-collapse-rtl-blueish-system, .jqx-widget-blueish-system .jqx-grid-group-collapse-rtl-blueish-system, .jqx-icon-arrow-left-blueish-system, .jqx-icon-arrow-down-left-blueish-system {
	background-image:url(../images/img_icons/simple-blue-leftarrow.png) !important;
	margin:0 !important;
}
.jqx-icon-arrow-left-hover-blueish-system {
	background-image:url(../images/img_icons/simple-blue-leftarrow.png) !important;
}
.jqx-menu-vertical-blueish-system {
	background: #ffffff;
}
.jqx-menu-item-arrow-left-selected-blueish-system, .jqx-icon-arrow-left-selected-blueish-system {
	background-image:url(../images/img_icons/simple-blue-leftarrow.png) !important;
}
.jqx-tabs-arrow-right-blueish-system, .jqx-menu-item-arrow-top-right-blueish-system, .jqx-menu-item-arrow-collapse-blueish-system, .jqx-grid-group-collapse-blueish-system, .jqx-widget-blueish-system .jqx-grid-group-collapse-blueish-system, .jqx-icon-arrow-right-blueish-system {
	background-image:url(../images/img_icons/simple-blue-rightarrow.png) !important;
	margin:0 !important;
}
.jqx-icon-arrow-right-hover-blueish-system {
	background-image:url(../images/img_icons/simple-blue-rightarrow.png) !important;
}
.jqx-menu-item-arrow-right-selected-blueish-system, .jqx-icon-arrow-right-selected-blueish-system {
	background-image:url(../images/img_icons/simple-blue-rightarrow.png) !important;
}
.jqx-window-close-button-blueish-system, .jqx-tabs-close-button-blueish-system, .icon-close-blueish-system {
	background-image: url('images/close.png');
}
.jqx-tabs-close-button-selected-blueish-system {
	background-image: url('images/close.png');
}
.jqx-tabs-close-button-hover-blueish-system {
	background-image: url('images/close.png');
}
.jqx-widget-blueish-system .jqx-grid-column-header-blueish-system, .jqx-widget-blueish-system .jqx-grid-cell-blueish-system, .jqx-widget-blueish-system .jqx-grid-group-cell-blueish-system, .jqx-grid-cell-blueish-system {
	border-color: #A1BAD9;
}
.jqx-checkbox-default {
	background:none !important;
	border-radius:2px;
	-moz-border-radius:2px;
	-ms-border-radius:2px;
	-o-border-radius:2px;
	-webkit-border-radius:2px;
}
.jqx-checkbox-check-checked-blueish-system {
	background-image: url('images/check_black.png');
	background-image:url(../images/img_icons/check_darkblue.png) !important;
}
.jqx-checkbox-check-indeterminate-blueish-system {
	background-image: url('images/check_indeterminate_black.png');
}
.jqx-tooltip-blueish-system, .jqx-tooltip-main-blueish-system {
	color: #222222;
	text-shadow: none;
	border-color: #a4bed4;
	-moz-background-clip: padding;
	background-clip: padding-box;
	-webkit-background-clip: padding-box;
}
.jqx-combobox-content-blueish-system, .jqx-input-blueish-system {
	color: #222222;
	text-shadow: none;
	background-color:#D2E7F7;
	border-color:#4271ac;/*	min-height:21px !important;*/
	/*text-indent:10px;*/
}
.jqx-combobox-input-blueish-system {
	color: #171819;
	text-shadow: none;
	background-color:#D2E7F7;
	text-indent:5px;
	vertical-align:middle !important;
}
.jqx-input-content-blueish-system {
	color: #222222;
	text-shadow: none;
	background-color: #D1E6F7;
}
.jqx-fill-state-focus-blueish-system, .jqx-popup-blueish-system .jqx-fill-state-focus-blueish-system {
	border-color: #002c90;
}
.jqx-popup-blueish-system.jqx-listbox-blueish-system, .jqx-popup-blueish-system.jqx-calendar-blueish-system, .jqx-menu-dropdown-blueish-system, .jqx-popup-blueish-system.jqx-dropdownbutton-popup-blueish-system {
	color: #222222;
	text-shadow: none;
	border-color: #2B6897;
	background-color: #FFFFFF;
}
.jqx-menu-item-arrow-right-blueish-system, .jqx-tree-item-arrow-collapse-blueish-system {
	background-image: url('images/icon-right.png');
	background-image:url(../images/img_icons/simple-blue-rightarrow.png);
}
.jqx-menu-item-arrow-left-blueish-system {
	background-image: url('images/icon-left.png');
	background-image:url(../images/img_icons/simple-blue-leftarrow.png);
}
.jqx-tree-item-arrow-expand-blueish-system {
	background-image: url('images/icon-down.png');
	background-image:url(../images/img_icons/simple-blue-downarrow.png);
}
.jqx-scrollbar-blueish-system .jqx-icon-arrow-up-blueish-system {
	background-image: url('images/icon-up.png');
	background-image:url(../images/img_icons/simple-blue-uparrow.png);
}
.jqx-scrollbar-blueish-system .jqx-icon-arrow-left-blueish-system {
	background-image: url('images/icon-left.png');
	background-image:url(../images/img_icons/simple-blue-leftarrow.png);
}
.jqx-scrollbar-blueish-system .jqx-icon-arrow-right-blueish-system {
	background-image: url('images/icon-right.png');
	background-image:url(../images/img_icons/simple-blue-rightarrow.png);
}
.jqx-scrollbar-blueish-system .jqx-icon-arrow-bottom-blueish-system {
	background-image: url('images/icon-bottom.png');
	background-image:url(../images/img_icons/simple-blue-botttomarrow.png);
}
.jqx-scrollbar-blueish-system .jqx-icon-arrow-up-hover-blueish-system {
	background-image: url('images/icon-up.png');
	background-image:url(../images/img_icons/simple-blue-uparrow.png);
}
.jqx-scrollbar-blueish-system .jqx-icon-arrow-left-hover-blueish-system {
	background-image: url('images/icon-left.png');
	background-image:url(../images/img_icons/simple-blue-leftarrow.png);
}
.jqx-scrollbar-blueish-system .jqx-icon-arrow-right-hover-blueish-system {
	background-image: url('images/icon-right.png');
	background-image:url(../images/img_icons/simple-blue-rightarrow.png);
}
.jqx-scrollbar-blueish-system .jqx-icon-arrow-bottom-hover-blueish-system {
	background-image: url('images/icon-bottom.png');
}
.jqx-scrollbar-blueish-system .jqx-icon-arrow-up-selected-blueish-system {
	background-image: url('images/icon-up.png');
	background-image:url(../images/img_icons/simple-blue-uparrow.png);
}
.jqx-scrollbar-blueish-system .jqx-icon-arrow-left-selected-blueish-system {
	background-image: url('images/icon-left.png');
	background-image:url(../images/img_icons/simple-blue-leftarrow.png);
}
.jqx-scrollbar-blueish-system .jqx-icon-arrow-right-selected-blueish-system {
	background-image: url('images/icon-right.png');
	background-image:url(../images/img_icons/simple-blue-rightarrow.png);
}
.jqx-scrollbar-blueish-system .jqx-icon-arrow-bottom-selected-blueish-system {
	background-image: url('images/icon-bottom.png');
}
.jqx-calendar-blueish-system .jqx-icon-arrow-up-blueish-system, .jqx-tabs-header-blueish-system .jqx-icon-arrow-up-blueish-system {
}
.jqx-calendar-blueish-system .jqx-icon-arrow-left-blueish-system, .jqx-tabs-header-blueish-system .jqx-icon-arrow-left-blueish-system {
}
.jqx-calendar-blueish-system .jqx-icon-arrow-right-blueish-system, .jqx-tabs-header-blueish-system .jqx-icon-arrow-right-blueish-system {
}
.jqx-calendar-blueish-system .jqx-icon-arrow-bottom-blueish-system, .jqx-tabs-header-blueish-system .jqx-icon-arrow-bottom-blueish-system {
}
.jqx-widget-blueish-system .jqx-grid-cell-blueish-system, .jqx-listitem-state-normal-blueish-system, .jqx-menu-item-normal-blueish-system, .jqx-tree-item-normal-blueish-system, .jqx-calendar-cell-blueish-system, .jqx-grid-cell-blueish-system, .jqx-menu-vertical-blueish-system .jqx-menu-item-top-normal-blueish-system, .jqx-input-popup-blueish-system .jqx-fill-state-normal-blueish-system {
	font-family: Malgun Gothic;
	font-size:12px;
}
.jqx-widget-blueish-system .jqx-grid-cell-hover-blueish-system, .jqx-listitem-state-hover-blueish-system, .jqx-menu-item-hover-blueish-system, .jqx-tree-item-hover-blueish-system, .jqx-calendar-cell-hover-blueish-system, .jqx-grid-cell-hover-blueish-system, .jqx-menu-vertical-blueish-system .jqx-menu-item-top-hover-blueish-system, .jqx-input-popup-blueish-system .jqx-fill-state-hover-blueish-system, .jqx-input-button-header-blueish-system, .jqx-input-popup-blueish-system .jqx-fill-state-pressed-blueish-system, .jqx-input-button-header-blueish-system {
	font-family: Malgun Gothic;
	font-size:12px;
}
.jqx-widget-blueish-system .jqx-grid-cell-selected-blueish-system, .jqx-listitem-state-selected-blueish-system, .jqx-menu-item-selected-blueish-system, .jqx-tree-item-selected-blueish-system, .jqx-calendar-cell-selected-blueish-system, .jqx-grid-cell-selected-blueish-system, .jqx-menu-vertical-blueish-system .jqx-menu-item-top-selected-blueish-system, .jqx-grid-selectionarea-blueish-system {
	font-family: Malgun Gothic;
	font-size:12px;
}
.jqx-icon-calendar-blueish-system {
	background-image: url('images/icon-calendar.png');
}
.jqx-icon-calendar-hover-blueish-system {
	background-image: url('images/icon-calendar.png');
}
.jqx-icon-calendar-pressed-blueish-system {
	background-image: url('images/icon-calendar.png');
}
.jqx-icon-first-blueish-system {
	background-image: url('images/icon-first.png');
}
.jqx-icon-first-hover-blueish-system {
	background-image: url('images/icon-first.png');
}
.jqx-icon-first-selected-blueish-system {
	background-image: url('images/icon-first.png');
}
.jqx-icon-last-blueish-system {
	background-image: url('images/icon-last.png');
}
.jqx-icon-last-hover-blueish-system {
	background-image: url('images/icon-last.png');
}
.jqx-icon-last-selected-blueish-system {
	background-image: url('images/icon-last.png');
}
.jqx-grid-cell-blueish-system, .jqx-grid-cell-blueish-system, .jqx-grid-group-expand-blueish-system {
	background-image: url('images/icon-down.png');
	background-image:url(../images/img_icons/simple-blue-downarrow.png) !important;
	background-image:none !important;
}
.jqx-grid-cell-blueish-system, .jqx-grid-cell-hover-blueish-system, .jqx-grid-group-expand-blueish-system {
	background-image: url('images/icon-down.png');
	background-image:url(../images/img_icons/simple-blue-downarrow.png) !important;
	background-image:none !important;
}
.jqx-grid-cell-blueish-system, .jqx-grid-cell-selected-blueish-system, .jqx-grid-group-expand-blueish-system {
	background-image: url('images/icon-down.png');
	background-image:url(../images/img_icons/simple-blue-downarrow.png) !important;
	background-image:none !important;
}
.jqx-grid-cell-blueish-system, .jqx-grid-cell-blueish-system, .jqx-grid-group-collapse-blueish-system {
	background-image: url('images/icon-right.png');
	background-image:url(../images/img_icons/simple-blue-rightarrow.png) !important;
	background-image:none !important;
}
.jqx-grid-cell-blueish-system, .jqx-grid-cell-hover-blueish-system, .jqx-grid-group-collapse-blueish-system {
	background-image: url('images/icon-right.png');
	background-image:url(../images/img_icons/simple-blue-rightarrow.png) !important;
	background-image:none !important;
}
.jqx-grid-cell-blueish-system, .jqx-grid-cell-selected-blueish-system, .jqx-grid-group-collapse-blueish-system {
	background-image: url('images/icon-right.png');
	background-image:url(../images/img_icons/simple-blue-rightarrow.png) !important;
	background-image:none !important;
}
.jqx-grid-cell-blueish-system, .jqx-grid-cell-blueish-system, .jqx-grid-group-expand-rtl-blueish-system {
	background-image: url('images/icon-down.png');
	background-image:url(../images/img_icons/simple-blue-downarrow.png) !important;
	background-image:none !important;
}
.jqx-grid-cell-blueish-system, .jqx-grid-cell-hover-blueish-system, .jqx-grid-group-expand-rtl-blueish-system {
	background-image: url('images/icon-down.png');
	background-image:url(../images/img_icons/simple-blue-downarrow.png) !important;
	background-image:none !important;
}
.jqx-grid-cell-blueish-system, .jqx-grid-cell-selected-blueish-system, .jqx-grid-group-expand-rtl-blueish-system {
	background-image: url('images/icon-down.png');
	background-image:url(../../images/img_icons/simple-blue-downarrow.png) !important;
	background-image:none !important;
}
.jqx-grid-cell-blueish-system, .jqx-grid-cell-blueish-system, .jqx-grid-group-collapse-rtl-blueish-system {
	background-image: url('images/icon-left.png');
	background-image:url(../images/img_icons/simple-blue-leftarrow.png) !important;
	background-image:none !important;
}
.jqx-grid-cell-blueish-system, .jqx-grid-cell-hover-blueish-system, .jqx-grid-group-collapse-rtl-blueish-system {
	background-image: url('images/icon-left.png');
	background-image:url(../images/img_icons/simple-blue-leftarrow.png) !important;
	background-image:none !important;
}
.jqx-grid-cell-blueish-system, t.jqx-grid-cell-selected-blueish-system, .jqx-grid-group-collapse-rtl-blueish-system {
	background-image: url('images/icon-left.png');
	background-image:url(../images/img_icons/simple-blue-leftarrow.png) !important;
	background-image:none !important;
}
.jqx-grid-column-menubutton-blueish-system, .jqx-grid-column-sortdescbutton-blueish-system {
	background-image: url('images/icon-down.png');
	background-image:url(../images/img_icons/simple-blue-downarrow.png) !important;
	background-image:none !important;
}
.jqx-grid-column-sortascbutton-blueish-system {
	background-image: url('images/icon-up.png');
	background-image:url(../images/img_icons/simple-blue-uparrow.png) !important;
	background-image:none !important;
}
.jqx-icon-delete-blueish-system {
	background-image: url('images/icon-delete.png');
}
.jqx-icon-edit-blueish-system {
	background-image: url('images/icon-edit.png');
}
.jqx-icon-save-blueish-system {
	background-image: url('images/icon-save.png');
}
.jqx-icon-cancel-blueish-system {
	background-image: url('images/icon-cancel.png');
}
.jqx-icon-search-blueish-system {
	background-image: url('images/icon-search.png');
}
.jqx-icon-plus-blueish-system {
	background-image: url('images/icon-plus.png');
}
/*-------------------------------------add style------------------------------------------------------------------*/

/*button*/
.buttonStyle {
	cursor:pointer !important;
}
.jqx-grid-pager button {
	width:10px !important;
}
.jqx-button-blueish-system {
	margin: 0 0 0 10px !important;
	background:#225886 url(../images/background/button-deepbluegradient-bg.png) 50% 50% repeat-x !important;
	color:#ffffff !important;
	border-top:1px solid #729AC4 !important;
	border-left:1px solid #729AC4 !important;
	border-right:1px solid #729AC4 !important;
	border-bottom:1px solid #729AC4 !important;
	font-weight:normal !important;
	font-size:12px;
	cursor:pointer !important;
	border-radius:7px !important;
	padding:3px 10px 5px 10px !important;
	width:auto !important;
	margin-top:3px !important;
}
/*header(top) area button*/ 
.headerbutton .jqx-button-blueish-system {
	margin: 0 10px 0 0 !important;
	background:#CFE4F6 url(../images/background/button-skygradient-bg.png) 50% 50% repeat-x !important;
	color:#0F275E !important;
	border-top:1px solid #729AC4 !important;
	border-left:1px solid #729AC4 !important;
	border-right:1px solid #729AC4 !important;
	border-bottom:1px solid #729AC4 !important;
	font-weight:bold !important;
	font-size:12px;
	cursor:pointer !important;
	border-radius:7px !important;
	padding:3px 10px 5px 10px !important;
}
/*button in grid cell*/ 
.iwidget_grid_button button.jqx-button, .iwidget_grid_button input[type=button].jqx-button, .iwidget_grid_button input[type=submit].jqx-button {
	border-radius:10px !important;
	border:1px solid black !important;
	padding:0 10px 0px 10px !important;
	margin-left:15px !important;
	background:#225886 url(../images/background/button-deepbluegradient-bg.png) 50% 50% repeat-x !important;
	color:#ffffff !important;
	margin-top:2px !important;
	width:auto !important;
}
.iwidget_grid button.jqx-button, .iwidget_grid input[type=button].jqx-button, .iwidget_grid input[type=submit].jqx-button {
	margin: 0 0 0 10px !important;
	background:#225886 url(../images/background/button-deepbluegradient-bg.png) 50% 50% repeat-x !important;
	color:#ffffff !important;
	border-top:1px solid #729AC4 !important;
	border-left:1px solid #729AC4 !important;
	border-right:1px solid #729AC4 !important;
	border-bottom:1px solid #729AC4 !important;
	font-weight:bold !important;
	font-size:12px;
	cursor:pointer !important;
	border-radius:5px !important;
	padding:2px 10px !important;
	margin-top:2px !important;
	position:relative !important;
}
.editButton {
	margin: 0 0 0 10px !important;
	background:#cccccc url(../images/background/jqxNavigationBar_header_bg.gif) 50% 50% repeat-x !important;
	color:#225886 !important;
	border-top:1px solid #729AC4 !important;
	border-left:1px solid #729AC4 !important;
	border-right:1px solid #729AC4 !important;
	border-bottom:1px solid #729AC4 !important;
	font-weight:bold !important;
	font-size:11px !important;
	cursor:pointer !important;
	border-radius:4px !important;
	padding:2px 10px !important;
	margin-top:3px !important;
	position:relative !important;
	text-indent:0 !important;
}
.editButton:hover {
	margin: 0 0 0 10px !important;
	background:#cccccc url(../images/background/jqxNavigationBar_button_hover_bg.png) 50% 50% repeat-x !important;
	color:#225886 !important;
	border-top:1px solid #729AC4 !important;
	border-left:1px solid #729AC4 !important;
	border-right:1px solid #729AC4 !important;
	border-bottom:1px solid #729AC4 !important;
	font-weight:bold !important;
	font-size:11px !important;
	cursor:pointer !important;
	border-radius:4px !important;
	padding:2px 10px !important;
	margin-top:3px !important;
	position:relative !important;
}
/*Group Button */
.jqxbuttonGroup .jqx-fill-state-normal {
	background:-ms-linear-gradient(top, #ffffff 0%, #efeff1 1%, #ededf0 4%, #d2d2d8 100%) !important;
 -moz-linear-gradient(top, #ffffff 0%, #efeff1 1%, #ededf0 4%, #d2d2d8 100%) !important;
 -o-linear-gradient(top, #ffffff 0%, #efeff1 1%, #ededf0 4%, #d2d2d8 100%) !important;
 -webkit-linear-gradient(top, #ffffff 0%, #efeff1 1%, #ededf0 4%, #d2d2d8 100%) !important;
 linear-gradient(top, #ffffff 0%, #efeff1 1%, #ededf0 4%, #d2d2d8 100%) !important;
	border:1px solid #8e8e97 !important;
	color:#000000;
	box-shadow:0px 2px 3px rgba(0,0,0,0.15) !important;
	height:17px !important;
	font-size:12px !important;
	cursor:pointer !important;
}
.jqxbuttonGroup .jqx-fill-state-pressed {
	background:-ms-linear-gradient(top, #058cf5 0%, #0385f3 19%, #0167e9 72%, #015de6 100%) !important;
 -moz-linear-gradient(top, #058cf5 0%, #0385f3 19%, #0167e9 72%, #015de6 100%) !important;
 -o-linear-gradient(top, #058cf5 0%, #0385f3 19%, #0167e9 72%, #015de6 100%) !important;
 -webkit-linear-gradient(top, #058cf5 0%, #0385f3 19%, #0167e9 72%, #015de6 100%) !important;
 linear-gradient(top, #058cf5 0%, #0385f3 19%, #0167e9 72%, #015de6 100%) !important;
	border:1px solid #014ab8 !important;
	color:#ffffff !important;
	height:17px !important;
	font-size:12px !important;
}
.buttonStyle_deldete.jqx-button, .buttonStyle_deldete input[type=button].jqx-button, buttonStyle_deldete input[type=submit].jqx-button {
	background:#C00000 url(../images/background/button-deepred-bg.png) 50% 50% repeat-x!important;
	color:#ffffff !important;
	border-top:1px solid #d46464 !important;
	border-left:1px solid #d46464 !important;
	border-right:1px solid #d46464 !important;
	border-bottom:1px solid #d46464 !important;
	font-weight:normal !important;
	font-size:12px;
	cursor:pointer !important;
	border-radius:7px !important;
	padding:3px 10px 5px 10px !important;
	width:auto !important;
	/* margin-top:3px !important; */
}
.buttonStyle_2 button.jqx-button, .buttonStyle_2 input[type=button].jqx-button, buttonStyle_2 input[type=submit].jqx-button {
	background:#B8D2EB url(../images/img_icons/content_button_icon_add.png) center no-repeat !important;
	vertical-align:middle;
	color:#606060 !important;
	font-weight:normal !important;
	font-size:12px !important;
	border-top:1px solid #cccccc !important;
	border-left:1px solid #c0c0c0 !important;
	border-right:1px solid #c0c0c0 !important;
	border-bottom:1px solid #cacaca !important;
	cursor:pointer !important;
	border-radius:5px !important;
	padding:5px 15px !important;
	width: auto !important;
	border-top-right-radius:0 !important;
	border-top-left-radius:0 !important;
	border-bottom-right-radius:0 !important;
	border-bottom-left-radius:0 !important;
}
.buttonStyle_3 button.jqx-button, .buttonStyle_3 input[type=button].jqx-button, buttonStyle_3 input[type=submit].jqx-button {
	background:#B8D2EB url(../images/img_icons/content_button_icon_delete.png) center no-repeat !important;
	vertical-align:middle;
	color:#606060 !important;
	font-weight:normal !important;
	font-size:12px !important;
	border-top:1px solid #cccccc !important;
	border-left:1px solid #c0c0c0 !important;
	border-right:1px solid #c0c0c0 !important;
	border-bottom:1px solid #cacaca !important;
	cursor:pointer !important;
	border-radius:5px !important;
	padding:5px 15px 5px 19px !important;
	width: auto !important;
	border-top-right-radius:0 !important;
	border-top-left-radius:0 !important;
	border-bottom-right-radius:0 !important;
	border-bottom-left-radius:0 !important;
}
.buttonStyle_5 button.jqx-button, .buttonStyle_5 input[type=button].jqx-button, buttonStyle_5 input[type=submit].jqx-button {
	background:#DFDFDF url(../images/background/bottom_button_bg.png) 50% 50% repeat-x!important;
	vertical-align:middle;
	color:#606060 !important;
	font-weight:normal !important;
	font-size:12px !important;
	border-top:1px solid #cccccc !important;
	border-left:1px solid #c0c0c0 !important;
	border-right:1px solid #c0c0c0 !important;
	border-bottom:1px solid #cacaca !important;
	font-size:12px;
	cursor:pointer !important;
	border-radius:5px !important;
	padding:2px 10px 4px 10px !important;
	width: auto !important;
}
/* .buttonStyle_deldete.jqx-button, .buttonStyle_deldete input[type=button].jqx-button, buttonStyle_deldete input[type=submit].jqx-button{  */
/* 	background:#DFDFDF url(../images/img_icons/icon-delete.png) 50% 50% no-repeat!important; */
/* 	vertical-align:middle; */
/* 	color:#606060 !important; */
/* 	font-weight:normal !important; */
/* 	font-size:12px !important; */
/* 	border-top:1px solid #cccccc !important; */
/* 	border-left:1px solid #c0c0c0 !important; */
/* 	border-right:1px solid #c0c0c0 !important; */
/* 	border-bottom:1px solid #cacaca !important; */
/* 	font-size:12px; */
/* 	cursor:pointer !important; */
/* 	border-radius:5px !important; */
/* 	padding:4px 15px 4px 15px !important; */
/* 	width: auto !important; */

/* } */

/*Pager.*/
.jqx-grid-pager-blueish-system {
	background:#ffffff url(../images/background/skybluegradient-bg.png) 50% 50% repeat-x!important;
	font-weight:normal !important;
}
.jqx-grid-pager-blueish-system .jqx-input {
	text-align:center !important;
	text-indent:0 !important;
}
.jqx-icon {
	margin-right:2px;
}
.jqx-grid-pager .jqx-button-blueish-system {
	background:#f4f4f4 !important;
	color:#ffffff !important;
	border:0 !important;
	font-weight:normal !important;
	font-size:12px;
	cursor:pointer !important;
	border-radius:0px !important;
	width:auto !important;
	margin:0 5px !important;
	padding:0 5px !important;
	width:27px;
}
.jqx-grid-pager .jqx-button-blueish-system:hover {
	background:#e2e2e2 !important;
	color:#ffffff !important;
	border:0 !important;
	font-weight:normal !important;
	font-size:12px;
	cursor:pointer !important;
	border-radius:0px !important;
	width:auto !important;
	margin:0 5px !important;
	padding:0 5px !important;
	width:27px;
}
/*grid*/
.jqx-grid {
	border-top:3px solid #30638d !important;
}
.iwidget_treegrid .jqx-grid {
	border-top:0 !important;
}
.iwidget_grid {
	/*border-right:1px solid #A1BAD9 !important;
	border-left:1px solid #A1BAD9 !important;*/
	border-bottom:1px solid #A1BAD9 !important;
	border-bottom-left-radius:3px !important;
	-moz-border-bottom-left-radius:3px !important;
	-ms-border-bottom-left-radius:3px !important;
	-o-border-bottom-left-radius:3px !important;
	-webkit-border-bottom-left-radius:3px !important;
	border-bottom-right-radius:3px !important;
	-moz-border-bottom-right-radius:3px !important;
	-ms-border-bottom-right-radius:3px !important;
	-o-border-bottom-right-radius:3px !important;
	-webkit-border-bottom-right-radius:3px !important;
	margin-bottom:20px !important;
}
/*gird cell checkbox*/
.iwidget_grid .jqx-checkbox-check-indeterminate-blueish-system {
	background-image:url(../images/img_icons/icon_must.png) !important;
}
.iwidget_grid .jqx-checkbox-default-blueish-system {
	border-color:#cccccc !important;
	background:#ffffff !important;
}
/*grid cell*/
.jqx-fill-state-hover-blueish-system, .jqx-widget-blueish-system .jqx-grid-cell-hover-blueish-system {
	border-color:#376BA1 !important;
}
.jqx-fill-state-pressed-blueish-system, .jqx-widget-blueish-system .jqx-grid-cell-selected-blueish-system {
	border-color:#376BA1 !important;
}
/*treegrid*/
.iwidget_treegrid .jqx-widget-header-blueish-system {
	padding: 0 !important;
	background:#0A3B63 !important;
	width:100% !important;
	border-bottom:1px solid #0A3B63 !important;
	font-size:13px;
	color:#ffffff;
	padding-left:10px;
	margin:0;
}
.iwidget_treegrid_headtitle {
	font-size:13px;
	color:#ffffff;
	padding-left:10px;
	margin:0;
}
.iwidget_treegrid .jqx-grid-cell-blueish-system {
	border:0 !important;
	padding:0px !important;
	width:100% !important;
	background:none !important;
	height:23px; /*크롬에서 좁아지는 셀 늘림.*/
}
.iwidget_treegrid .jqx-tree-grid-title-blueish-system {
	background:none !important;
	padding:2px 4px !important;
	border:1px solid transparent !important;
	cursor:pointer;
}
.iwidget_treegrid .jqx-grid-cell-hover-blueish-system .jqx-tree-grid-title-blueish-system {
	background:#ffffff url(css/images/background/bg_grid_header.png) 50% 50% repeat-x !important;
	border:1px solid #A1BAD9 !important;
	color:#17487a !important;
}
.iwidget_treegrid .jqx-grid-cell-selected-blueish-system .jqx-tree-grid-title-blueish-system {
	background:#b6cbe4 url(css/images/background/skybluegradient-bg.png) 50% 50% repeat-x !important;
	border:1px solid #7DA2CE !important;
	color:#0a3867 !important;
}
/*aggregates Grid*/
.iwidget_grid_sum .jqx-grid-cell-pinned-blueish-system, .iwidget_grid_sum .jqx-right-align-blueish-system {
	background:#bfd4e7 !important;
	border-color:#bfd4e7 !important;
	color:#204AAA !important;
}
/*combobox*/
.table-style .jqx-combobox-input-blueish-system {
	background:#eeeeee !important;
}
.table-style .jqx-combobox-arrow-normal-blueish-system, .table-style .jqx-action-button-blueish-system {
	background:#eeeeee !important;
}
.table-style .jqx-combobox-state-normal-blueish-system {
	border:1px solid #cccccc !important;
	border-radius:3px !important;
	-moz-border-radius:3px !important;
	-ms-border-radius:3px !important;
	-o-border-radius:3px !important;
	-webkit-border-radius:3px !important;
}
.table-style .jqx-listitem-state-selected-blueish-system {
	background:none !important;
	border:none !important;
}
.table-style .jqx-combobox-content-blueish-system {
	border-color:#cccccc !important;
}
.table-style .jqx-icon-arrow-down-blueish-system, .table-style .jqx-icon-arrow-down-hover-blueish-system, .table-style .jqx-icon-arrow-down-selected-blueish-system {
	background:url(../images/img_icons/simple-gray-downarrow.png) center no-repeat !important;
}
.table-style .jqx-listbox-blueish-system {
	border-color:#cccccc !important;
}
.jqx-combobox-state-normal-blueish-system {
	border:1px solid #4271ac !important;
	border-radius:5px;
	-ms-border-radius:5px;
	-o-border-radius:5px;
	-webkit-order-radius:5px;
	-moz-border-radius:5px;
}
.jqx-combobox-arrow-normal-blueish-system, .jqx-action-button-blueish-system {
	background:#D2E7F7 url(../images/background/skybluegradient-inputstyle-bg.png) 50% 50% repeat-x;
}
.jqx-combobox-content-blueish-system {
	background:#ebf2f8 url(../images/background/skybluegradient-inputstyle-bg.png) 50% 50% repeat-x;
}
.jqx-combobox-input-blueish-system {
	color: #171819;
	font-size:12px;
	text-shadow: none;
	background-color:#D2E7F7;
	background-image:url(../images/background/skybluegradient-inputstyle-bg.png) 50% 50% repeat-x;
	/*text-indent:10px;*/
	vertical-align:middle !important;
}
/*input*/
.jqx-input-blueish-system {
	text-indent:5px !important;
}
/*popupWindow*/
.iwidget_popupWindow {
	position:absolute;
	top:500px;
	left:1067px;
	z-index:9999;
	width:180px;
	height:210px;
	border:1px solid #b9c2ca;
	padding:0px;
	background:#cbdef0 url(../images/background/popupWindow_bg.png);
	border-radius:3px;
}
.iwidget_popupWindow_head {
	height:0px;
}
.iwidget_popupWindow img {
	border:2px solid #ffffff;
	margin-top:10px;
	border-radius:6px;
	width:131px;
	height:161px;
}
.jqx-listitem-state-hover-blueish-system, .jqx-listitem-state-selected-blueish-system {
	background:#E2EFFF url(../images/background/bg_grid_header.png) 50% 50% repeat-x !important;
	color:#000000 !important;
	border:1px solid #A1BAD9 !important;
}
/*tab's title*/
.jqx-tabs-blueish-system {
	background:none !important;
}
.jqx-tabs-header-blueish-system {
	background:none !important;
	border:0 !important;
}
.jqx-tabs-content-blueish-system {
	height:100% !important;
}
.jqx-tabs-content-element-blueish-system {
	border:0;
}
.jqx-tabs-title-blueish-system {
	background:#bfdbf3 !important;
	border:1px solid #a2c5e2 !important;
	color:#202020 !important;
	padding-bottom:7px !important;
	margin-right:5px !important;
	margin-left:0 !important;
	font-weight:normal;
}
.jqx-tabs-title-hover-top-blueish-system {
	color: #ffffff !important;
	text-shadow: none;
	background-image: none;
	font-weight:normal;
	outline: none;
	border: 1px solid transparent;
	padding-bottom:7px;
	background:#1765a6 !important;
	border:1px solid #30638D !important;
}
.jqx-tabs-title-selected-top-blueish-system, .jqx-tabs-selection-tracker-top-blueish-system {
	color: #ffffff !important;
	text-shadow: none;
	background-image: none;
	font-weight:normal;
	outline: none;
	border: 1px solid transparent;
	padding-bottom:7px;
	background:#073F6D !important;
	border:1px solid #30638D !important;
}
.jqx-tabs-title-selected-bottom-blueish-system, .jqx-tabs-selection-tracker-bottom-blueish-system {
	color: #222222;
	text-shadow: none;
	border-color: #91A3B4;
	border-top: 1px solid #FEFEFE;
	background-image: none;
	background-color: #FEFEFE;
	font-weight:normal;
}
/*expander*/
.jqx-expander-header-blueish-system {
	background:#B8D2EB url(../images/background/header-bg.png) 50% 50% repeat-x !important;
	color:#223648 !important;
	border-color:#A1BAD9 !important;
	font-size:12px !important;
	font-weight:bold;
	border-top:3px solid #30638d !important;
}
.jqx-expander-content-blueish-system {
	border-bottom:none !important;
}
.jqx-menu-item-arrow-right-blueish-system, .jqx-tree-item-arrow-collapse-blueish-system {
	background-image:url(../images/img_icons/simple-blue-rightarrow.png);
}
.jqx-menu-item-arrow-left-blueish-system {
	background-image:url(../images/img_icons/simple-blue-leftarrow.png);
}
.jqx-tree-item-arrow-expand-blueish-system {
	background-image:url(../images/img_icons/simple-blue-downarrow.png);
}
/*tree*/
.jqx-tree-item-blueish-system {
	font-size:11px;
	padding:2px !important;
	vertical-align:middle;
}
.jqx-tree-item-hover-blueish-system {
	background:#ffffff !important;
	border:1px solid #7DA2CE !important;
	color:#0a3867 !important;
}
.jqx-tree-item-selected-blueish-system {
	background:#b6cbe4 url(css/images/background/skybluegradient-bg.png) 50% 50% repeat-x !important;
	border:1px solid #7DA2CE !important;
	color:#0a3867 !important;
}
/*조회용 input style*/
.jqx-fill-state-disabled-blueish-system {
	opacity:1 !important;
	filter:Alpha(Opacity=100) !important; /*적용?*/
	color:#606060 !important;
	background:#e1e1e1 !important;
	border-color:#B5C3D1 !important;
}
.jqx-fill-state-disabled-blueish-system {
	color: #222222;
	text-shadow: none;
	background-color:#deecf6;
	border-color:#4271ac;
}
/*Editor*/
.jqx-editor-blueish-system {
	border-color:#cfcfcf !important;
}
.jqx-editor-container-blueish-system {
	background:#f2f2f2 !important;
	box-shadow:none !important;
}
.jqx-editor-toolbar {
	background:#f2f2f2 !important;
}
.jqx-editor-toolbar-group-blueish-system {
	box-shadow:none !important;
	border:0 !important;
}
.jqx-editor-toolbar-button-blueish-system {
	padding:0 !important;
	border-radius:3px !important;
	border-color:#cccccc !important;
}
.jqx-editor-toolbar-group-blueish-system .jqx-fill-state-normal.jqx-editor-toolbar-button-blueish-system {
	background:#f2f2f2 !important;
	border-color:#f2f2f2 !important;
}
.jqx-editor-toolbar-group .jqx-editor-toolbar-button-blueish-system:hover, .jqx-editor-toolbar-group .jqx-editor-toolbar-button-blueish-system:active {
	z-index: 55;
 background:#E3F1FE url(../images/background/bg_grid_header.png) 50% 50% repeat-x !important !important;
	border-color:#A1BAD9 !important;
}
.jqx-editor-toolbar-button-blueish-system {
	background:#E3F1FE !important;
	border-color:#A9BFDB !important;
}
.jqx-editor-toolbar-item-blueish-system, .jqx-editor-dropdownlist-blueish-system {
	background:#ffffff !important;
	border-color:#A9BFDB !important;
	color:#000000 !important;
	font-weight:normal !important;
	box-shadow:none !important;
}
/*dashboard*/
/*jqxGauge Style*/
.jqx-gauge-label, .jqx-gauge-caption {
	fill: #333333;
	color: #333333;
	font-size: 11px;
	font-family: Verdana;
}
/*jqxChart Style*/
.jqx-chart-axis-text, .jqx-chart-label-text, {
 fill: #1E4D78 !important;
 color:#1E4D78 !important;
 font-size: 11px;
 font-weight:normal;
/*font-family: Verdana;*/
}
.jqx-chart-legend-text {
	fill: #1E4D78 !important;
	color:#1E4D78 !important;
	font-size: 12px;
	font-weight:bold;
}
.jqx-chart-tooltip-text {
	fill:#1E4D78 !important;
	color:#1E4D78 !important;
	font-size:11px !important;
}
.jqx-chart-axis-description {
	fill: #555555;
	color: #555555;
	font-size: 11px;
	font-family: Verdana;
}
.jqx-chart-title-text {
	fill: #111111;
	color: #111111;
	font-size: 14px;
	font-weight: bold;
	font-family: Verdana;
}
.jqx-chart-title-description {
	fill: #111111;
	color: #111111;
	font-size: 12px;
	font-weight: normal;
	font-family: Verdana;
}
/*grid 안 a:link hover시 폰트색상*/
.jqx-grid-cell-hover-blueish-system a:hover {
	color:#ffffff;
}
.jqx-grid-cell-hover-blueish-system a, .jqx-fill-state-pressed-blueish-system a, .jqx-widget-blueish-system a .jqx-grid-cell-selected-blueish-system a {
	color:#ffffff !important;
	width:100%;
}
