@charset "utf-8";
/* CSS Document */
/*jqx  css*/
.jqx-widget-blueish {
	font-family:'맑은 고딕', arial;
}
.jqx-widget-content-blueish {
	color:#222;
	text-shadow:none;
	border-color:#91a3b4 !important;
	background:#fff;
	font-family:'맑은 고딕', arial;
	font-size:12px !important;
	letter-spacing:-0.5px;
}
.jqx-widget-header-blueish, .jqx-grid-blueish .jqx-widget-header-blueish {
    color: #223648;
    text-shadow: none;
    border-color: #91A3B4;
    background-color: #B8D2EB;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    font-family: "맑은 고딕", arial;
}
.jqx-grid-column-menubutton-blueish, .jqx-widget-blueish.jqx-grid-column-menubutton-blueish {
	border-color:#a4bdc9
}
.jqx-grid-cell-blueish, .jqx-widget-blueish .jqx-grid-cell-blueish {
	background-color:#FEFEFE;
	color:#222;
	text-shadow:none;
	cursor:pointer; 
}
.jqx-fill-state-normal-blueish {
    color: #000;
    text-shadow: none;
    border-color: #4271ac !important;
    background-color: #d2e7f7;
/*    background-image: -moz-linear-gradient(top, #8d9198, #747981);
    background-image: -ms-linear-gradient(top, #8d9198, #747981);
    background-image: -o-linear-gradient(top, #8d9198, #747981);
    background-image: -webkit-gradient(linear, center top, center bottom, from(#8d9198), to(#747981));
    background-image: -webkit-linear-gradient(top, #8d9198, #747981);
    background-image: linear-gradient(top, #8d9198, #747981);
    background-image: linear-gradient(to bottom, #8d9198, #747981);*/
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-background-clip: padding-box;
    font-family: "맑은 고딕", arial;
}
.jqx-button-blueish {
	color:#fff !important;
	text-shadow:none;
	border-color:#729AC4 !important;
	background-color:#225884;
/*background-image:-moz-linear-gradient(top, #8d9198, #747981);
	background-image:-ms-linear-gradient(top, #8d9198, #747981);
	background-image:-o-linear-gradient(top, #8d9198, #747981);
	background-image:-webkit-gradient(linear, center top, center bottom, from(#8d9198), to(#747981));
	background-image:-webkit-linear-gradient(top, #8d9198, #747981);
	background-image:linear-gradient(top, #8d9198, #747981);
	background-image:linear-gradient(to bottom, #8d9198, #747981);*/
	background:#225884 url(../img/bg-deepblue-blueish.png) 50% 50% repeat-x;
	-moz-background-clip:padding;
	background-clip:padding-box;
	-webkit-background-clip:padding-box;
	font-family:'맑은 고딕', arial;
}
.jqx-grid-selectionarea-blueish {
	border-color:#d6e4e9;
	background-color:#eaf3f9
}
.jqx-widget-blueish .jqx-grid-cell-sort-blueish, .jqx-widget-blueish .jqx-grid-cell-filter-blueish, .jqx-grid-cell-sort-blueish, .jqx-grid-cell-filter-blueish {
	background-color:#d9e4ee;
	color:#202020;
	text-shadow:none
}
.jqx-widget-blueish .jqx-grid-cell-alt-blueish, .jqx-widget-blueish .jqx-grid-cell-sort-alt-blueish, .jqx-widget-blueish .jqx-grid-cell-filter-alt-blueish, .jqx-grid-cell-alt-blueish, .jqx-grid-cell-sort-alt-blueish, .jqx-grid-cell-filter-alt-blueish {
	background-color:#F0F5F9;
	color:#202020;
	text-shadow:none
}
.jqx-widget-blueish .jqx-grid-cell-pinned-blueish, .jqx-grid-cell-pinned-blueish, .jqx-widget-fresh .jqx-grid-cell-pinned-alt-blueish{
	background-color:#d9e4ee;
	color:#222222;
	text-shadow:none
	font-weight:normal;
}
/*.jqx-widget-blueish .jqx-grid-cell-alt-blueish {
	background-color:#F0F5F9;
	color:#202020;
	text-shadow:none
}
.jqx-widget-blueish .jqx-grid-cell-sort-blueish, .jqx-widget-blueish .jqx-grid-cell-filter-blueish, .jqx-widget-blueish .jqx-grid-cell-pinned-blueish, .jqx-grid-cell-sort-blueish, .jqx-grid-cell-filter-blueish, .jqx-grid-cell-pinned-blueish {
	background-color:#e7f0f7;
	color:#000 ;
	text-shadow:none;
	font-weight:normal;
}*/
.jqx-fill-state-hover-blueish, .jqx-widget-blueish .jqx-grid-cell-hover-blueish {
	color:#fff;
	text-shadow:none;
	border-color:#376BA1  !important;
	background-color:#376BA1 ;
	/*background-image:-moz-linear-gradient(top, #d9eae6, #d9eae6);
	background-image:-ms-linear-gradient(top, #d9eae6, #d9eae6);
	background-image:-o-linear-gradient(top, #d9eae6, #d9eae6);
	background-image:-webkit-gradient(linear, center top, center bottom, from(#d9eae6), to(#d9eae6));
	background-image:-webkit-linear-gradient(top, #d9eae6, #d9eae6);
	background-image:linear-gradient(top, #d9eae6, #d9eae6);
	background-image:linear-gradient(to bottom, #d9eae6, #d9eae6);*/
	-moz-background-clip:padding;
	background-clip:padding-box;
	-webkit-background-clip:padding-box;
	font-family:'맑은 고딕', arial;
}
.jqx-fill-state-pressed-blueish, .jqx-widget-blueish .jqx-grid-cell-selected-blueish {
    color: #fff;
    text-shadow: none;
    border-color: #376BA1  !important;
    background-color: #376BA1 ;
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-background-clip: padding-box;
    font-family: "맑은 고딕", arial;
}
.jqx-switchbutton-label-on-blueish {
	color:#fff;
	text-shadow:none;
	border-color:#cccccc;
	background-color:#dadada;
	background-image:-moz-linear-gradient(top, #d9eae6, #d9eae6);
	background-image:-ms-linear-gradient(top, #d9eae6, #d9eae6);
	background-image:-o-linear-gradient(top, #d9eae6, #d9eae6);
	background-image:-webkit-gradient(linear, center top, center bottom, from(#d9eae6), to(#d9eae6));
	background-image:-webkit-linear-gradient(top, #d9eae6, #d9eae6);
	background-image:linear-gradient(top, #d9eae6, #d9eae6);
	background-image:linear-gradient(to bottom, #d9eae6, #d9eae6);
	-moz-background-clip:padding;
	background-clip:padding-box;
	-webkit-background-clip:padding-box
}
.jqx-tabs-title-selected-top-blueish, .jqx-tabs-selection-tracker-top-blueish {
    color: #fff;
    text-shadow: none;
    border-color: #073F6D !important;
    border-bottom: 1px solid #fff;
    background-image: none;
    background-color: #073F6D;
}
.jqx-tabs-title-selected-bottom-blueish, .jqx-tabs-selection-tracker-bottom-blueish {
	  color: #fff;
    text-shadow: none;
    border-color: #073F6D !important;
    border-bottom: 1px solid #fff;
    background-image: none;
    background-color: #073F6D;
}
.jqx-splitter-splitbar-hover-blueish {
	background:#376BA1
}
.jqx-splitter-splitbar-vertical-blueish, .jqx-splitter-splitbar-horizontal-blueish, .jqx-slider-track-horizontal-blueish, .jqx-slider-track-vertical-blueish {
	background:#ECF2F8 ;
	border-color:#A1BAD9 !important;
}
.jqx-splitter-collapse-button-horizontal-blueish, .jqx-splitter-collapse-button-vertical-blueish, .jqx-slider-rangebar-blueish {
	background:#ECF2F8;
}
.jqx-scrollbar-state-normal-blueish {
	background-color: #EFEFEF;
	border-color: #E1E1E1;
}
.jqx-grid-bottomright-blueish, .jqx-panel-bottomright-blueish, .jqx-listbox-bottomright-blueish {
	background-color:#EFEFEF
}
.jqx-scrollbar-thumb-state-normal-blueish {
	background-color:#d6d6d6;
	background-color:#d6d6d6;
	border-color:#A4A4A5 ;
	background-image:-moz-linear-gradient(left, #d6d6d6, #d6d6d6);
	background-image:-ms-linear-gradient(left, #d6d6d6, #d6d6d6);
	background-image:-o-linear-gradient(left, #d6d6d6, #d6d6d6);
	background-image:-webkit-gradient(linear, left top, right top, from(#d6d6d6), to(#d6d6d6));
	background-image:-webkit-linear-gradient(left, #d6d6d6, #d6d6d6);
	background-image:linear-gradient(left, #d6d6d6, #d6d6d6);
	background-image:linear-gradient(left right, #d6d6d6, #d6d6d6);
	background:#cccccc url(../img/bg-scrollbar-thumb-blueish.png) repeat-y !important;
}
.jqx-scrollbar-thumb-state-normal-horizontal-blueish {
	background-color:#d6d6d6;
	background-color:#d6d6d6;
	border-color:#A4A4A5;
	background-image:-moz-linear-gradient(left, #d6d6d6, #d6d6d6);
	background-image:-ms-linear-gradient(left, #d6d6d6, #d6d6d6);
	background-image:-o-linear-gradient(left, #d6d6d6, #d6d6d6);
	background-image:-webkit-gradient(linear, left top, right top, from(#d6d6d6), to(#d6d6d6));
	background-image:-webkit-linear-gradient(left, #d6d6d6, #d6d6d6);
	background-image:linear-gradient(left, #d6d6d6, #d6d6d6);
	background-image:linear-gradient(left right, #d6d6d6, #d6d6d6);
	-moz-background-clip:padding;
	background-clip:padding-box;
	-webkit-background-clip:padding-box;
	background:#cccccc url(../img/bg-scrollbar-thumb-horizontal-blueish.png)  repeat-x !important;
}
.jqx-scrollbar-thumb-state-hover-blueish {
	background-color:#d6d6d6;
	background-color:#d6d6d6;
	border-color:#A4A4A5 !important;
	background-image:-moz-linear-gradient(left, #d6d6d6, #d6d6d6);
	background-image:-ms-linear-gradient(left, #d6d6d6, #d6d6d6);
	background-image:-o-linear-gradient(left, #d6d6d6, #d6d6d6);
	background-image:-webkit-gradient(linear, left top, right top, from(#d6d6d6), to(#d6d6d6));
	background-image:-webkit-linear-gradient(left, #d6d6d6, #d6d6d6);
	background-image:linear-gradient(left, #d6d6d6, #d6d6d6);
	background-image:linear-gradient(left right, #d6d6d6, #d6d6d6);
	background:#cccccc url(../img/bg-scrollbar-thumb-blueish.png) repeat-y !important;
}
.jqx-scrollbar-thumb-state-hover-horizontal-blueish {
	background-color:#d6d6d6;
	background-color:#d6d6d6;
	border-color:#A4A4A5 !important;
	background-image:-moz-linear-gradient(left, #d6d6d6, #d6d6d6);
	background-image:-ms-linear-gradient(left, #d6d6d6, #d6d6d6);
	background-image:-o-linear-gradient(left, #d6d6d6, #d6d6d6);
	background-image:-webkit-gradient(linear, left top, right top, from(#d6d6d6), to(#d6d6d6));
	background-image:-webkit-linear-gradient(left, #d6d6d6, #d6d6d6);
	background-image:linear-gradient(left, #d6d6d6, #d6d6d6);
	background-image:linear-gradient(left right, #d6d6d6, #d6d6d6);
	background:#cccccc url(../img/bg-scrollbar-thumb-horizontal-blueish.png)  repeat-x !important;
	-moz-background-clip:padding;
	background-clip:padding-box;
	-webkit-background-clip:padding-box;
}
.jqx-scrollbar-thumb-state-pressed-blueish {
background-color:#d6d6d6;
	background-color:#d6d6d6;
	border-color:#A4A4A5;
	background-image:-moz-linear-gradient(left, #d6d6d6, #d6d6d6);
	background-image:-ms-linear-gradient(left, #d6d6d6, #d6d6d6);
	background-image:-o-linear-gradient(left, #d6d6d6, #d6d6d6);
	background-image:-webkit-gradient(linear, left top, right top, from(#d6d6d6), to(#d6d6d6));
	background-image:-webkit-linear-gradient(left, #d6d6d6, #d6d6d6);
	background-image:linear-gradient(left, #d6d6d6, #d6d6d6);
	background-image:linear-gradient(left right, #d6d6d6, #d6d6d6);
	background:#cccccc url(../img/bg-scrollbar-thumb-blueish.png) repeat-y !important;
}
.jqx-scrollbar-thumb-state-pressed-horizontal-blueish {
	background-color:#d6d6d6;
	background-color:#d6d6d6;
	border-color:#A4A4A5;
	background-image:-moz-linear-gradient(left, #d6d6d6, #d6d6d6);
	background-image:-ms-linear-gradient(left, #d6d6d6, #d6d6d6);
	background-image:-o-linear-gradient(left, #d6d6d6, #d6d6d6);
	background-image:-webkit-gradient(linear, left top, right top, from(#d6d6d6), to(#d6d6d6));
	background-image:-webkit-linear-gradient(left, #d6d6d6, #d6d6d6);
	background-image:linear-gradient(left, #d6d6d6, #d6d6d6);
	background-image:linear-gradient(left right, #d6d6d6, #d6d6d6);
	background:#cccccc url(../img/bg-scrollbar-thumb-horizontal-blueish.png)  repeat-x !important;
	-moz-background-clip:padding;
	background-clip:padding-box;
	-webkit-background-clip:padding-box;
}
.jqx-scrollbar-button-state-normal-blueish {
	background-color:#bfbfbf;
	border-color:#aaaaaa !important;
	background-image:-moz-linear-gradient(top, #bfbfbf, #bfbfbf);
	background-image:-ms-linear-gradient(top, #bfbfbf, #bfbfbf);
	background-image:-o-linear-gradient(top, #bfbfbf, #bfbfbf);
	background-image:-webkit-gradient(linear, center top, center bottom, from(#bfbfbf), to(#bfbfbf));
	background-image:-webkit-linear-gradient(top, #bfbfbf, #bfbfbf);
	background-image:linear-gradient(top, #bfbfbf, #bfbfbf);
	background-image:linear-gradient(to bottom, #bfbfbf, #bfbfbf);
	background:#cccccc url(../img/bg-scrollbar-thumb-blueish.png) repeat-y !important;
	-moz-background-clip:padding;
	background-clip:padding-box;
	-webkit-background-clip:padding-box;
	cursor:pointer;
}
.jqx-scrollbar-button-state-hover-blueish {
	background-color:#e6e6e6;
	border-color:#aaaaaa !important;
	background-image:-moz-linear-gradient(top, #e6e6e6, #e6e6e6);
	background-image:-ms-linear-gradient(top, #e6e6e6, #e6e6e6);
	background-image:-o-linear-gradient(top, #e6e6e6, #e6e6e6);
	background-image:-webkit-gradient(linear, center top, center bottom, from(#e6e6e6), to(#e6e6e6));
	background-image:-webkit-linear-gradient(top, #e6e6e6, #e6e6e6);
	background-image:linear-gradient(top, #e6e6e6, #e6e6e6);
	background-image:linear-gradient(to bottom, #e6e6e6, #e6e6e6);
	background:#cccccc url(../img/bg-scrollbar-thumb-blueish.png) repeat-y !important;
	-moz-background-clip:padding;
	background-clip:padding-box;
	-webkit-background-clip:padding-box
}
.jqx-scrollbar-button-state-pressed-blueish {
	background-color:#bfbfbf;
	border-color:#aaaaaa !important;
	background-image:-moz-linear-gradient(top, #bfbfbf, #bfbfbf);
	background-image:-ms-linear-gradient(top, #bfbfbf, #bfbfbf);
	background-image:-o-linear-gradient(top, #bfbfbf, #bfbfbf);
	background-image:-webkit-gradient(linear, center top, center bottom, from(#bfbfbf), to(#bfbfbf));
	background-image:-webkit-linear-gradient(top, #bfbfbf, #bfbfbf);
	background-image:linear-gradient(top, #bfbfbf, #bfbfbf);
	background-image:linear-gradient(to bottom, #bfbfbf, #bfbfbf);
	background:#cccccc url(../img/bg-scrollbar-thumb-blueish.png) repeat-y !important;
	-moz-background-clip:padding;
	background-clip:padding-box;
	-webkit-background-clip:padding-box
}
.jqx-radiobutton-check-checked-blueish {
	background:#396ca2;
	width:7px;
	height:7px;
	margin-left:2px;
	margin-top:2px;
	border-width:1px;
	border-style:solid
}
.jqx-rc-tl-blueish { 
	-moz-border-radius-topleft:3px;
	-webkit-border-radius-topleft:3px;
	border-radius-topleft:3px
}
.jqx-rc-tr-blueish {
	-moz-border-radius-topright:3px;
	-webkit-border-radius-topright:3px;
	border-radius-topright:3px
}
.jqx-rc-bl-blueish {
	-moz-border-radius-bottomleft:3px;
	-webkit-border-radius-bottomleft:3px;
	border-radius-bottomleft:3px
}
.jqx-rc-br-blueish {
	-moz-border-radius-bottomright:3px;
	-webkit-border-radius-bottomright:3px;
	border-radius-bottomright:3px
}
.jqx-rc-t-blueish {
	-moz-border-radius-topleft:3px;
	-webkit-border-top-left-radius:3px;
	border-top-left-radius:3px;
	-moz-border-radius-topright:3px;
	-webkit-border-top-right-radius:3px;
	border-top-right-radius:3px
}
.jqx-rc-b-blueish {
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
	border-bottom-left-radius:3px;
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
	border-bottom-right-radius:3px
}
.jqx-rc-r-blueish {
	-moz-border-radius-topright:3px;
	-webkit-border-top-right-radius:3px;
	border-top-right-radius:3px;
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
	border-bottom-right-radius:3px
}
.jqx-rc-l-blueish {
	-moz-border-radius-topleft:3px;
	-webkit-border-top-left-radius:3px;
	border-top-left-radius:3px;
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
	border-bottom-left-radius:3px
}
.jqx-radiobutton-default-blueish, .jqx-radiobutton-blueish, .jqx-radiobutton-check-checked-blueish, .jqx-radiobutton-hover-blueish, .jqx-radiobutton-check-indeterminate-blueish, .jqx-radiobutton-check-indeterminate-disabled-blueish, .jqx-slider-button-blueish {
	-moz-border-radius:100%!important;
	-webkit-border-radius:100%!important;
	border-radius:100%!important
}
.jqx-rc-all-blueish, .jqx-tooltip-blueish, .jqx-tooltip-text-blueish, .jqx-tooltip-main-blueish {
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px
}
.jqx-grid-column-sortascbutton-blueish, .jqx-expander-arrow-bottom-blueish, .jqx-window-collapse-button-blueish, .jqx-menu-item-arrow-up-blueish, .jqx-menu-item-arrow-top-up-blueish, .jqx-icon-arrow-up-blueish {
	background-image:url(../img/icon-up-blueish.png)
}
.jqx-icon-arrow-up-hover-blueish {
	background-image:url(../img/icon-up-blueish.png)
}
.jqx-menu-item-arrow-up-selected-blueish, .jqx-icon-arrow-up-selected-blueish.jqx-expander-arrow-expanded-blueish {
	background-image:url(../img/icon-up-blueish.png)
}
.jqx-grid-column-menubutton-blueish, .jqx-grid-column-sortdescbutton-blueish, .jqx-expander-arrow-top-blueish, .jqx-window-collapse-button-collapsed-blueish, .jqx-menu-item-arrow-down-blueish, .jqx-menu-item-arrow-down-blueish, .jqx-tree-item-arrow-expand-blueish, .jqx-grid-group-expand-blueish, .jqx-widget-blueish .jqx-grid-group-expand-blueish, .jqx-icon-arrow-down-blueish {
	background-image:url(../img/icon-down-blueish.png)
}
.jqx-icon-arrow-down-hover-blueish {
	background-image:url(../img/icon-down-blueish.png)
}
.jqx-menu-item-arrow-down-selected-blueish, .jqx-icon-arrow-down-selected-blueish {
	background-image:url(../img/icon-down-blueish.png)
}
.jqx-tabs-arrow-left-blueish, .jqx-menu-item-arrow-top-left-blueish, .jqx-grid-group-collapse-rtl-blueish, .jqx-widget-blueish .jqx-grid-group-collapse-rtl-blueish, .jqx-icon-arrow-left-blueish, .jqx-icon-arrow-down-left-blueish {
	background-image:url(../img/icon-left-blueish.png)
}
.jqx-icon-arrow-left-hover-blueish {
	background-image:url(../img/icon-left-blueish.png)
}
.jqx-menu-vertical-blueish {
	background:#fff
}
.jqx-menu-item-arrow-left-selected-blueish, .jqx-icon-arrow-left-selected-blueish {
	background-image:url(../img/icon-left-blueish.png)
}
.jqx-tabs-arrow-right-blueish, .jqx-menu-item-arrow-top-right-blueish, .jqx-menu-item-arrow-collapse-blueish, .jqx-grid-group-collapse-blueish, .jqx-widget-blueish .jqx-grid-group-collapse-blueish, .jqx-icon-arrow-right-blueish {
	background-image:url(../img/icon-right-blueish.png)
}
.jqx-icon-arrow-right-hover-blueish {
	background-image:url(../img/icon-right-blueish.png)
}
.jqx-menu-item-arrow-right-selected-blueish, .jqx-icon-arrow-right-selected-blueish {
	background-image:url(../img/icon-right-blueish.png)
}
.jqx-window-close-button-blueish, .jqx-tabs-close-button-blueish, .icon-close-blueish {
	background-image:url('images/close.png')
}
.jqx-tabs-close-button-selected-blueish {
	background-image:url('images/close.png')
}
.jqx-tabs-close-button-hover-blueish {
	background-image:url('images/close.png')
}
.jqx-widget-blueish .jqx-grid-column-header-blueish, .jqx-widget-blueish .jqx-grid-cell-blueish, .jqx-widget-blueish .jqx-grid-group-cell-blueish, .jqx-grid-cell-blueish {
	border-color:#e1e1e1;
}
.jqx-checkbox-check-checked-blueish {
	background-image:url(../img/icon-check-blueish.png);
}
.jqx-checkbox-check-indeterminate-blueish {
	background-image:url(../img/icon-indeterminate-blueish.png);
}
.jqx-tooltip-blueish, .jqx-tooltip-main-blueish {
	color:#223648;
	text-shadow:none;
	border-color:#aadced;
	background-color:#d5edf5
}
.jqx-combobox-content-blueish, .jqx-input-blueish {
	color:#222;
	text-shadow:none;
	border-color:#d9eae6;
	background-color:#fff
}
.jqx-combobox-input-blueish {
	color:#222;
	text-shadow:none
}
.jqx-input-content-blueish {
	color:#222;
	text-shadow:none;
	background-color:#fff
}
.jqx-fill-state-focus-blueish, .jqx-popup-blueish .jqx-fill-state-focus-blueish {
	border-color:#d9eae6
}
.jqx-popup-blueish.jqx-listbox-blueish, .jqx-popup-blueish.jqx-calendar-blueish, .jqx-menu-dropdown-blueish, .jqx-popup-blueish.jqx-dropdownbutton-popup-blueish {
	color:#222;
	text-shadow:none;
	border-color:#2B6897;
	background-color:#fff
}
.jqx-menu-item-arrow-right-blueish, .jqx-tree-item-arrow-collapse-blueish {
	background-image:url(../img/icon-right-blueish.png)
}
.jqx-menu-item-arrow-left-blueish {
	background-image:url(../img/icon-left-blueish.png)
}
.jqx-tree-item-arrow-expand-blueish {
	background-image:url(../img/icon-down-blueish.png)
}
.jqx-scrollbar-blueish .jqx-icon-arrow-up-blueish {
	background-image:url(../img/icon-up-blueish.png)
}
.jqx-scrollbar-blueish .jqx-icon-arrow-left-blueish {
	background-image:url(../img/icon-left-blueish.png)
}
.jqx-scrollbar-blueish .jqx-icon-arrow-right-blueish {
	background-image:url(../img/icon-right-blueish.png)
}
.jqx-scrollbar-blueish .jqx-icon-arrow-bottom-blueish {
	background-image:uurl(../img/icon-bottom-blueish.png)
}
.jqx-scrollbar-blueish .jqx-icon-arrow-up-hover-blueish {
	background-image:url(../img/icon-up-blueish.png)
}
.jqx-scrollbar-blueish .jqx-icon-arrow-left-hover-blueish {
	background-image:url(../img/icon-left-blueish.png)
}
.jqx-scrollbar-blueish .jqx-icon-arrow-right-hover-blueish {
	background-image:url(../img/icon-right-blueish.png)
}
.jqx-scrollbar-blueish .jqx-icon-arrow-bottom-hover-blueish {
	background-image:url(../img/icon-bottom-blueish.png)
}
.jqx-scrollbar-blueish .jqx-icon-arrow-up-selected-blueish {
	background-image:url(../img/icon-up-blueish.png)
}
.jqx-scrollbar-blueish .jqx-icon-arrow-left-selected-blueish {
	background-image:url(../img/icon-left-blueish.png)
}
.jqx-scrollbar-blueish .jqx-icon-arrow-right-selected-blueish {
	background-image:url(../img/icon-right-blueish.png)
}
.jqx-scrollbar-blueish .jqx-icon-arrow-bottom-selected-blueish {
	background-image:url(../img/icon-bottom-blueish.png)
}
.jqx-widget-blueish .jqx-grid-cell-blueish, .jqx-listitem-state-normal-blueish, .jqx-menu-item-normal-blueish, .jqx-tree-item-normal-blueish, .jqx-calendar-cell-blueish, .jqx-grid-cell-blueish, .jqx-menu-vertical-blueish .jqx-menu-item-top-normal-blueish, .jqx-input-popup-blueish .jqx-fill-state-normal-blueish {
	font-family:'맑은 고딕', arial;
}
.jqx-widget-blueish .jqx-grid-cell-hover-blueish, .jqx-listitem-state-hover-blueish, .jqx-menu-item-hover-blueish, .jqx-tree-item-hover-blueish, .jqx-calendar-cell-hover-blueish, .jqx-grid-cell-hover-blueish, .jqx-menu-vertical-blueish .jqx-menu-item-top-hover-blueish, .jqx-input-popup-blueish .jqx-fill-state-hover-blueish, .jqx-input-button-header-blueish, .jqx-input-popup-blueish .jqx-fill-state-pressed-blueish, .jqx-input-button-header-blueish {
	font-family:'맑은 고딕', arial;
}
.jqx-widget-blueish .jqx-grid-cell-selected-blueish, .jqx-listitem-state-selected-blueish, .jqx-menu-item-selected-blueish, .jqx-tree-item-selected-blueish, .jqx-calendar-cell-selected-blueish, .jqx-grid-cell-selected-blueish, .jqx-menu-vertical-blueish .jqx-menu-item-top-selected-blueish, .jqx-grid-selectionarea-blueish {
	font-family:'맑은 고딕', arial;
}
.jqx-icon-calendar-blueish {
	background-image:url(../../../../../image/icon-calendar.png)
}
.jqx-icon-calendar-hover-blueish {
	background-image:url(../../../../../image/icon-calendar.png)
}
.jqx-icon-calendar-pressed-blueish {
	background-image:url(../../../../../image/icon-calendar.png)
}
.jqx-icon-first-blueish {
	background-image:url(../img/icon-first-blueish.png)
}
.jqx-icon-first-hover-blueish {
	background-image:url(../img/icon-first-blueish.png)
}
.jqx-icon-first-selected-blueish {
	background-image:url(../img/icon-first-blueish.png)
}
.jqx-icon-last-blueish {
	background-image:url(../img/icon-last-blueish.png)
}
.jqx-icon-last-hover-blueish {
	background-image:url(../img/icon-last-blueish.png)
}
.jqx-icon-last-selected-blueish {
	background-image:url(../img/icon-last-blueish.png)
}
.jqx-grid-cell-blueish.jqx-grid-cell-blueish>.jqx-grid-group-expand-blueish {
	background-image:url(../img/icon-down-blueish.png)
}
.jqx-grid-cell-blueish.jqx-grid-cell-hover-blueish>.jqx-grid-group-expand-blueish {
	background-image:url(../img/icon-down-blueish.png)
}
.jqx-grid-cell-blueish.jqx-grid-cell-selected-blueish>.jqx-grid-group-expand-blueish {
	background-image:url(../img/icon-down-blueish.png)
}
.jqx-grid-cell-blueish.jqx-grid-cell-blueish>.jqx-grid-group-collapse-blueish {
	background-image:url(../img/icon-right-blueish.png)
}
.jqx-grid-cell-blueish.jqx-grid-cell-hover-blueish>.jqx-grid-group-collapse-blueish {
	background-image:url(../img/icon-right-blueish.png)
}
.jqx-grid-cell-blueish.jqx-grid-cell-selected-blueish>.jqx-grid-group-collapse-blueish {
	background-image:url(../img/icon-right-blueish.png)
}
.jqx-grid-cell-blueish.jqx-grid-cell-blueish>.jqx-grid-group-expand-rtl-blueish {
	background-image:url(../img/icon-down-blueish.png)
}
.jqx-grid-cell-blueish.jqx-grid-cell-hover-blueish>.jqx-grid-group-expand-rtl-blueish {
	background-image:url(../img/icon-down-blueish.png)
}
.jqx-grid-cell-blueish.jqx-grid-cell-selected-blueish>.jqx-grid-group-expand-rtl-blueish {
	background-image:url(../img/icon-down-blueish.png)
}
.jqx-grid-cell-blueish.jqx-grid-cell-blueish>.jqx-grid-group-collapse-rtl-blueish {
	background-image:url(../img/icon-left-blueish.png)
}
.jqx-grid-cell-blueish.jqx-grid-cell-hover-blueish>.jqx-grid-group-collapse-rtl-blueish {
	background-image:url(../img/icon-left-blueish.png)
}
.jqx-grid-cell-blueish.jqx-grid-cell-selected-blueish>.jqx-grid-group-collapse-rtl-blueish {
	background-image:url(../img/icon-left-blueish.png)
}
.jqx-grid-column-menubutton-blueish, .jqx-grid-column-sortdescbutton-blueish {
	background-image:url(../img/icon-down-blueish.png)
}
.jqx-grid-column-sortascbutton-blueish {
	background-image:url(../img/icon-up-blueish.png)
}
.jqx-icon-delete-blueish {
	background-image:url('images/icon-delete.png')
}
.jqx-icon-edit-blueish {
	background-image:url('images/icon-edit.png')
}
.jqx-icon-save-blueish {
	background-image:url('images/icon-save.png')
}
.jqx-icon-cancel-blueish {
	background-image:url('images/icon-cancel.png')
}
.jqx-icon-search-blueish {
	background-image:url('images/icon-search.png')
}
.jqx-icon-plus-blueish {
	background-image:url('images/icon-plus.png')
}

/*------------------------------------------css 추가*/
/*grid*/
.jqx-grid-column-header-blueish, .jqx-grid-columngroup-header-blueish {
    font-size: 12px;
    text-shadow: none;
    border-color: #A1BAD9 !important;
    letter-spacing: -0.5px;
    font-weight: bold;
}
.jqx-grid-cell-blueish {
	font-size:12px;
}
.jqx-grid-blueish {
	border: 1px solid #A1BAD9 !important;
    border-top: 3px solid #30638d  !important;
}
.jqx-fill-state-pressed-blueish a, .jqx-widget-blueish .jqx-grid-cell-selected-blueish a{
	color:#fff;
}
.jqx-fill-state-hover-blueish a, .jqx-widget-blueish .jqx-grid-cell-hover-blueish a{
	color:#fff;
}
.jqx-tree-grid-collapse-button-blueish, .jqx-tree-grid-expand-button-blueish{
	width:12px !important;
	height:12px !important;
}
/*grid pager*/
.jqx-grid-pager-blueish{
	background:url(../img/bg-pager.png) 50% 50% repeat-x;
}
.jqx-grid-pager-blueish .jqx-button-blueish{
	background:#f4f4f4  !important;
	border-color:#99b8d7 !important;
}
/*combobox*/
.jqx-combobox-state-normal-blueish {
	border:1px solid #4271ac !important;
	border-radius:5px;
	-ms-border-radius:5px;
	-o-border-radius:5px;
	-webkit-order-radius:5px;
	-moz-border-radius:5px;
}
.jqx-combobox-arrow-normal-blueish, .jqx-action-button-blueish {
	background:#D2E7F7 url(../img/bg-combo-skyblue.png) 50% 50% repeat-x !important;
}
.jqx-combobox-content-blueish, .jqx-input-blueish {
    color: #222222;
    text-shadow: none;
    background-color: #D2E7F7;
    border-color: #4271ac !important;
}
.jqx-combobox-input-blueish {
	color: #171819;
	font-size:12px;
	text-shadow: none;
	background:url(../img/bg-combo-skyblue.png) 50% 50% repeat-x !important;
	text-indent:3px;
	vertical-align:middle !important;
	padding-bottom:3px !important;
}
.jqx-listitem-state-hover-blueish, .jqx-listitem-state-selected-blueish {
    background: #e2efff !important;
    color: #000000 !important;
    border: 1px solid #A1BAD9 !important;
	font-weight:normal !important;
}
/*table 안 combobox
.blueish .combobox.type1 .jqx-combobox-state-normal-blueish {
	border:1px solid #ccc !important;
	border-radius:5px;
	-ms-border-radius:5px;
	-o-border-radius:5px;
	-webkit-order-radius:5px;
	-moz-border-radius:5px;
}
.blueish .combobox.type1 .jqx-combobox-arrow-normal-blueish, .blueish .combobox.type1 .jqx-action-button-blueish {
	background:#eee !important;
}
.blueish .combobox.type1 .jqx-combobox-content-blueish, .blueish .combobox.type1 .jqx-input-blueish {
    color: #222222;
    text-shadow: none;
    background-color: #eee;
    border-color: #ccc;
}
.blueish .combobox.type1 .jqx-combobox-input-blueish {
	color: #222222;
	font-size:12px;
	text-shadow: none;
	background:#eee !important;
	text-indent:3px;
	vertical-align:middle !important;
}
.blueish .combobox.type1  .jqx-listitem-state-hover-blueish, .blueish .combobox.type1 .jqx-listitem-state-selected-blueish {
    background: #eee !important;
    color: #000000 !important;
    border: 1px solid #ccc !important;
	font-weight:normal !important;
}
*/
/*input*/
.jqx-input-blueish {
	text-indent:3px !important;
}
/*tabs*/
.jqx-tabs-blueish {
    background: none !important;
   border:0 ;
   border-bottom:1px solid #91a3b4;
}
.jqx-tabs-header-blueish {
	background:none !important;
	border:0 !important;
}
.jqx-tabs-content-blueish {
	background:#fff !important;
	/*border:1px solid #91a3b4 !important;*/
	width:100% !important;
}
.blueish .tabs_content{
	border:1px solid #91a3b4 ;
}
.jqx-tabs-title-blueish {
    background: #bfdbf3;
    border: 1px solid #a2c5e2;
	border-bottom:0 !important;
    color: #202020 ;
	padding-left:6px;
	padding-right:6px;
    padding-bottom: 6px;
    margin-right: 5px;
    margin-left: 0px;
    font-weight: normal;
	border-top-right-radius:5px;
	-ms-border-top-right-radius:5px;
	-o-border-top-right-radius:5px;
	-webkit-border-top-right-radius:5px;
	border-top-left-radius:5px;
	-ms-border-top-left-radius:5px;
	-o-border-top-left-radius:5px;
	-webkit-border-top-left-radius:5px;
}
.jqx-tabs-title-hover-top-blueish {
	color: #ffffff;
	text-shadow: none;
	background-image: none;
	font-weight:normal;
	outline: none;
	border: 1px solid transparent;
	background:#1765a6;
	border:1px solid #30638D ;
}
.jqx-tabs-title-selected-top-blueish, .jqx-tabs-selection-tracker-top-blueish {
    color: #fff;
    text-shadow: none;
    border-color: #073F6D;
    border-bottom: 1px solid #fff;
    background-image: none;
    background-color: #073F6D;
}
/*tree*/
.jqx-tree-item-blueish {
	font-size:12px;
	padding:2px !important;
	vertical-align:middle;
}
.jqx-tree-item-hover-blueish {
	background:#ffffff !important;
	border:1px solid #7DA2CE !important;
	color:#0a3867 !important;
}
.jqx-tree-item-selected-blueish {
	background:#b6cbe4  !important;
	border:1px solid #7DA2CE !important;
	color:#0a3867 !important;
}
/*treegrid*/
.treegrid .jqx-widget-blueish .jqx-grid-column-header-blueish, .treegrid .jqx-widget-blueish .jqx-grid-cell-blueish, .treegrid .jqx-widget-blueish .jqx-grid-group-cell-blueish, .treegrid .jqx-grid-cell-blueish {
    border-color: #ffffff;
	border-color: transparent;
}

/*button*/
/*하늘색(헤더)버튼*/
.blueish .button.type1 .jqx-button-blueish {
	margin: 0 !important;
	background: #CFE4F6 url(../img/bg-btn-skyblue.png) 50% 50% repeat-x !important;
	color: #0f275e !important;
	border-top: 1px solid #729AC4 !important;
	border-left: 1px solid #729AC4 !important;
	border-right: 1px solid #729AC4 !important;
	border-bottom: 1px solid #729AC4 !important;
	font-weight: bold !important;
	font-size: 12px;
	cursor: pointer !important;
	border-radius: 6px !important;
	padding: 3px 10px 5px 10px !important;
	-moz-background-clip:padding;
	background-clip:padding-box;
	-webkit-background-clip:padding-box;
    box-shadow: 0px 1px 0px rgba(0,0,0,0.08), inset 0px 1px 2px rgba(255,255,255,0.75);
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08), inset 0 1px 2px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08), inset 0 1px 2px rgba(255, 255, 255, 0.75);
}
/*파랑( 컨텐츠)버튼*/	
.blueish .button.type2 .jqx-button-blueish{
	margin: 0 !important;
	background: #225886 url(../img/bg-btn-deepblue.png) 50% 50% repeat-x !important;
	color: #fff !important;
	border-top: 1px solid #729AC4 !important;
	border-left: 1px solid #729AC4 !important;
	border-right: 1px solid #729AC4 !important;
	border-bottom: 1px solid #729AC4 !important;
	font-weight: normal !important;
	font-size: 12px;
	cursor: pointer !important;
	border-radius: 6px !important;
	padding: 3px 10px 5px 10px !important;
	-moz-background-clip:padding;
	background-clip:padding-box;
	-webkit-background-clip:padding-box;
	 box-shadow: 0px 1px 0px rgba(0,0,0,0.08), inset 0px 1px 2px rgba(255,255,255,0.75);
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08), inset 0 1px 2px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08), inset 0 1px 2px rgba(255, 255, 255, 0.75);
	} 
/*빨강(삭제)버튼*/	
.blueish .button.type3 .jqx-button-blueish {
	margin: 0 !important;
	background: #C00000 url(../img/bg-btn-deepred.png) 50% 50% repeat-x !important;
	color: #fff !important;
	border-top: 1px solid #d46464 !important;
	border-left: 1px solid #d46464 !important;
	border-right: 1px solid #d46464 !important;
	border-bottom: 1px solid #d46464 !important;
	font-weight: normal !important;
	font-size: 12px;
	cursor: pointer !important;
	border-radius: 6px !important;
	padding: 3px 10px 5px 10px !important;
	-moz-background-clip:padding;
	background-clip:padding-box;
	-webkit-background-clip:padding-box;
	 box-shadow: 0px 1px 0px rgba(0,0,0,0.08), inset 0px 1px 2px rgba(255,255,255,0.75);
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08), inset 0 1px 2px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08), inset 0 1px 2px rgba(255, 255, 255, 0.75);
}	
/*초록 버튼*/	
.blueish .button.type4 .jqx-button-blueish {
	margin: 0 !important;
	background: #31aeaf;
	background-image:-moz-linear-gradient(top, #4db7b8, #31aeaf);
	background-image:-ms-linear-gradient(top, #4db7b8, #31aeaf);
	background-image:-o-linear-gradient(top, #4db7b8, #31aeaf);
	background-image:-webkit-gradient(linear, center top, center bottom, from(#4db7b8), to(#31aeaf));
	background-image:-webkit-linear-gradient(top, #4db7b8, #31aeaf);
	background-image:linear-gradient(top, #4db7b8, #31aeaf);
	background-image:linear-gradient(to bottom, #4db7b8, #31aeaf);
	color: #fff !important;
	border-top: 1px solid #2bacad !important;
	border-left: 1px solid #2bacad !important;
	border-right: 1px solid #2bacad !important;
	border-bottom: 1px solid #2bacad !important;
	font-weight: normal !important;
	font-size: 12px;
	cursor: pointer !important;
	border-radius: 6px !important;
	padding: 3px 10px 5px 10px !important;
	-moz-background-clip:padding;
	background-clip:padding-box;
	-webkit-background-clip:padding-box;
	 box-shadow: 0px 1px 0px rgba(0,0,0,0.08), inset 0px 1px 2px rgba(255,255,255,0.75);
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08), inset 0 1px 2px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08), inset 0 1px 2px rgba(255, 255, 255, 0.75);
}	
/*전체선택및해제 버튼*/	
.blueish .type5.button .jqx-button-blueish {
    padding: 0px 5px 2px 5px !important;
    letter-spacing: -1px !important;
    margin: 1px 0;
    font-size: 10.5px !important;
    color: #2b5172 !important;
    text-shadow: none;
    border-color: #97b0c7 !important;
    background: #d5dfe9;
    border-radius: 3px !important;
    -moz-border-radius: 3px !important;
    -o-border-radius: 3px !important;
    -ms-border-radius: 3px !important;
    -webkit-border-radius: 3px !important;
    cursor: pointer;
	font-weight: normal !important;
	font-size: 11px;
}	
/*전체선택 버튼*/	
.blueish .type_all.button .jqx-button-blueish {
    padding: 0px 5px 2px 5px !important;
    letter-spacing: -1px !important;
    margin: 1px 0;
    font-size: 10.5px !important;
    color: #2b5172 !important;
    text-shadow: none;
    border-color: #7ca1c4 !important;
    background: #a1d1ff;
    border-radius: 3px !important;
    -moz-border-radius: 3px !important;
    -o-border-radius: 3px !important;
    -ms-border-radius: 3px !important;
    -webkit-border-radius: 3px !important;
    cursor: pointer;
	font-weight: normal !important;
	font-size: 11px;
}	
/*투명 버튼*/	
.blueish .splitter .button.type5 .jqx-button-blueish {
	margin: 0 !important;
	background-color:#ffffff;
/*	background-image:-moz-linear-gradient(top, #4db7b8, #31aeaf);
	background-image:-ms-linear-gradient(top, #4db7b8, #31aeaf);
	background-image:-o-linear-gradient(top, #4db7b8, #31aeaf);
	background-image:-webkit-gradient(linear, center top, center bottom, from(#4db7b8), to(#31aeaf));
	background-image:-webkit-linear-gradient(top, #4db7b8, #31aeaf);
	background-image:linear-gradient(top, #4db7b8, #31aeaf);
	background-image:linear-gradient(to bottom, #4db7b8, #31aeaf);*/
	color: #333 !important;
	border-top: 1px solid #cbcbcb !important;
	border-left: 1px solid #cbcbcb !important;
	border-right: 1px solid #cbcbcb !important;
	border-bottom: 1px solid #cbcbcb !important;
	font-weight: bold !important;
	font-size: 12px;
	cursor: pointer !important;
	border-radius: 0px !important;
	padding: 3px 10px 5px 10px !important;
	-moz-background-clip:padding;
	background-clip:padding-box;
	-webkit-background-clip:padding-box;
	 box-shadow: 0;
    -webkit-box-shadow: 0;
    -moz-box-shadow: 0;
}	

/*dateinput*/
.jqx-datetimeinput-blueish{
    color: #222222;
    text-shadow: none;
    background-color: #fff;
    border-color: #ccc !important;
}
.jqx-datetimeinput-blueish .jqx-action-button-blueish{
	background:#fff !important;
	border-left:1px solid #fff !important;
}
.jqx-datetimeinput-blueish .jqx-icon-calendar-blueish{
	width:16px !important;
}
/*splitter*/
.jqx-splitter-collapse-button-vertical-blueish {
	background:#ECF2F8 url(../img/btn_splitter_collapse_vertical.png) no-repeat center !important;
}
.jqx-splitter-collapse-button-horizontal-blueish {
	background:#ECF2F8 url(../img/btn_splitter_collapse_horizontal.png) no-repeat center !important;
}
/*checkbox*/
.jqx-checkbox-default-blueish{
	background:#fff;
	border-color:#ccc;
 }
 /*calendar*/
.jqx-calendar-cell-today {
    color: #005682;
    background-color: #dff1ff;
    border: 1px solid #009ef0;
    margin: 0 0 0 0;
    cursor: pointer;
}
/*slider*/
.jqx-slider-button-blueish{
	border-color:#aaa !important;
	background:#cccccc url(../img/bg-scrollbar-thumb-blueish.png) repeat-y !important;
}
.jqx-slider-slider-blueish {
	border-color:#17487a !important;
	background:#376ba1 !important;
}
/*cell editor*/
.jqx-grid-cell-blueish .jqx-cell-editor-blueish{
	background:#ffffff ;
}
.jqx-grid-cell-alt-blueish .jqx-cell-editor-blueish{
	background:#f0f5f9 ;
}
/*jqx-dropdownlist-state-normal-blueish
.jqx-dropdownlist-state-normal-blueish{
	background:none;
	color:#202020;
}*/
/*numericInput*/
.numericInputStyle.jqx-combobox-content-blueish, .numericInputStyle.jqx-input-blueish {
    background-color: #ffffff !important;
}
/*combobox type2*/
.combobox.type2{
	height:18px !important;
	border-color:#4271ac !important;
}
.combobox.type2 .jqx-combobox-input-blueish{
	background:#ffffff !important;
}
.combobox.type2 .jqx-icon-arrow-down-blueish{
	background: url(../../blueish/img/simple-arrow-down-icon.png) no-repeat center !important;
}
.combobox.type2 .jqx-combobox-arrow-normal-blueish, .combobox.type2 .jqx-action-button-blueish {
    background: #ffffff !important;
}
.combobox.type2 .jqx-combobox-content-blueish, .combobox.type2 .jqx-input-blueish {
    border-color: #ffffff !important;
}

/*listbox*/
.listbox .jqx-listbox-blueish, .listbox .jqx-widget-content-blueish {
	border-color:#CAD3DE !important;
	background:#ffffff !important;
	color:#666 !important;
}
.listbox .jqx-listitem-state-hover-blueish, .listbox .jqx-listitem-state-selected-blueish{
	background:#eee !important;
	border-color:#ccc !important;
	color:#000 !important;
}
.listbox .jqx-scrollbar-blueish .jqx-icon-arrow-up-blueish{
	background-image:url(../../blueish/img/icon-listbox-up-blueish.png) !important;
}
.listbox .jqx-scrollbar-blueish .jqx-icon-arrow-down-blueish{
	background-image:url(../../blueish/img/icon-listbox-down-blueish.png) !important;
}
.listbox .jqx-scrollbar-blueish .jqx-icon-arrow-left-blueish{
	background-image:url(../../blueish/img/icon-listbox-left-blueish.png) !important;
}
.listbox .jqx-scrollbar-blueish .jqx-icon-arrow-right-blueish{
	background-image:url(../../blueish/img/icon-listbox-right-blueish.png) !important;
}
.listbox .jqx-scrollbar-state-normal-blueish{
	background: #efefef !important;
    border-color: #efefef !important;
}
.listbox .jqx-scrollbar-button-state-normal-blueish {
    background: #efefef !important;
    border-color: #efefef !important;
}
.listbox .jqx-scrollbar-thumb-state-normal-blueish {
    background: #a9b3c0 !important;
    border-color: #818C99 !important;
    border-radius: 4px !important;
}
.listbox .jqx-scrollbar-thumb-state-normal-horizontal-blueish {
    background: #a9b3c0 !important;
    border-color: #818C99 !important;
    border-radius: 4px !important;
}
.listbox .jqx-scrollbar-thumb-state-hover-blueish {
	background:#bac5d3 !important;
	border-color:#818C99 !important;
}
.listbox .jqx-scrollbar-thumb-state-hover-horizontal-blueish {
	background:#bac5d3 !important;
	border-color:#818C99 !important;
}

/*checkbox*/
.checkbox.jqx-checkbox-blueish{
	font-size:12px !important;
	line-height:22px !important;
}
/*css 추가 끝------------------------------------------*/