
.wrapper { background: white; padding:0 0 10px 0; -webkit-border-radius:7px; -moz-border-radius:7px; border-radius:7px; -webkit-box-shadow: 0px 0px 2px rgba(0,0,0,0.3); -moz-box-shadow: 0px 0px 2px rgba(0,0,0,0.3); box-shadow: 0px 0px 8px rgba(0,0,0,0.3); box-shadow: 0px 0px 2px rgba(0,0,0,0.3); position: relative; z-index: 90;}


/* Theme 1 */
.ui-widget-content-1 { border: 1px solid #dddddd; background: #f4f4f4; color: #000000; }

.portlet-header-1 { 
	margin: 0.2em; 
	padding-bottom: 4px; 
	padding-left: 0.2em; 
	font-size:12px;
	font-weight:bold;
	background-color:#ffffff;
}
.portlet-header-1 .ui-icon { float: right; }
/* Theme 1 */

/* Theme 2 */
.ui-widget-content-2 { border: 1px solid #dddddd; color: #000000;}

.portlet-header-2 { 
	margin: 0.2em; 
	padding-bottom: 4px; 
	padding-left: 0.2em; 
	font-size:12px;
	font-weight:bold;
	background-color:#ffffff;
}
.portlet-header-2 .ui-icon { float: right; }
/* Theme 2 */

/* Theme 3 */
.ui-widget-content-3 { border: 0px solid #dddddd; color: #000000; border-bottom:1px solid #dddddd}

.portlet-header-3 { 
	margin: 0.2em; 
	padding-bottom: 4px; 
	padding-left: 0.2em; 
	font-size:12px;
	font-weight:bold;
	background-color:#ffffff;
}
.portlet-header-3 .ui-icon { float: right; }
/* Theme 3 */

/* Theme 4 */
.ui-widget-content-4 { border: 1px solid #009999; color: #FFFFFF; }

.portlet-header-4 { 
	margin: 0.2em; 
	padding-bottom: 4px; 
	padding-left: 0.2em; 
	font-size:12px;
	font-weight:bold;
	background-color:#ffffff;
}
.portlet-header-4 .ui-icon { float: right; }
/* Theme 4 */


/* Theme 5 */
.portlet_5{
	background:url(../../img/portletThemeImage/portlet_header_img_01_bg.png) top right no-repeat;
	position: relative;
}

.portlet_5 .button_right img {
	width:11px;height:9px; border:0;
}
.portlet_5 .tit_left	{ 
	background:url(../../img/portletThemeImage/portlet_header_img_01_left.png) top left no-repeat; 
	height:25px; 
	vertical-align:top; 
	padding:7px 0 0 0px;
	_padding:8px 0 0 0px; 
	color:#fff; 
	font-size:12px; 
	font-weight:bold; 
	letter-spacing:-1px; 
	text-align:center;
}
.portlet_5 .tit_right	{ 
	background:url(../../img/portletThemeImage/portlet_header_img_01_right.png) top right no-repeat; 
	height:25px; 
/* 	width:170px; */
	width:50%;
	}
.portlet_5 .button_right{
	visibility:visible; 	
	position:absolute;
	top:5px;	
	right:10px;	
	margin:2px 0 0 0;
}
.ui-widget-content-5 { }
.portlet-header-5 { 
}
.portlet-header-5 .ui-icon { float: right; }
.portlet-header-5 .ui-icon_off{cursor:pointer;}
.portlet-header-5 .ui-icon_on {float: right;cursor:pointer;padding-top:3px;padding-left:3px}
/* Theme 5 */

/* Theme 6 */
.portlet_6 {
	border:1px solid #cc6666;
	padding: 10px 0px 0px 0;  
	position: relative;
}
.portlet_6 .button_right img {
	width:13px;height:13px; border:0;
}
.portlet_6 .tit_left	{ 
	background:url(../../img/portletThemeImage/portlet_header_img_02_left.png) top left no-repeat;
	height:36px;
	vertical-align:top;
	padding:7px 0 0 0px;
	_padding:8px 0 0 0px;
	color:#fff;
	font-size:12px;
	font-weight:bold;
	letter-spacing:-1px;
	text-align:left;
	text-indent:30px;
}
.portlet_6 .tit_right	{
	background:url(../../img/portletThemeImage/portlet_header_img_02_right.png) top right no-repeat;
	height:36px;
}
.portlet_6 .button_right{
	visibility:visible; 	
	position:absolute;	
	top:2px; 
	right:23px;	
	margin:15px 0 0 0;
}
.ui-widget-content-6 {}
.portlet-header-6 {}
.portlet-header-6 .ui-icon { 
	float: right; 
}
.portlet-header-6 .ui-icon_off{cursor:pointer;}
.portlet-header-6 .ui-icon_on {float: right;cursor:pointer;padding-top:1px;padding-left:3px}
/* Theme 6 */


/* Theme 7 */
.portlet_7 {
	border-top:0px solid #eeeeee; 
	border-bottom:1px solid #eeeeee; 
	border-right:1px solid #eeeeee; 
	border-left:1px solid #eeeeee;
	padding: 0;
	position: relative;
}
.portlet_7 .button_right img {
	width:4px;height:7px; border:0;margin-top:6px;
}
.portlet_7 .tit_left	{
	background:url(../../img/portletThemeImage/portlet_header_img_03_left.png) top left no-repeat;
	height:36px;
	vertical-align:top;
	padding:7px 0 0 0px;
	_padding:8px 0 0 0px;
	color:#000;
	font-size:12px;
	font-weight:bold;
	letter-spacing:-1px;
	text-align:left;
	text-indent:30px;
}
.portlet_7 .tit_right	{
	background:url(../../img/portletThemeImage/portlet_header_img_03_right.png) top right no-repeat;
	height:36px;
}
.portlet_7 .button_right{
	visibility:visible;
	position:absolute;
	padding-top:4px;
	right:8px;
	margin:0;
}
.ui-widget-content-7 {}
.portlet-header-7 {}
.portlet-header-7 .ui-icon {
	float: right; 
}
.portlet-header-7 .ui-icon-closethick{
	margin-right:12px;
}

.portlet-header-7 .ui-icon_off{cursor:pointer;}
.portlet-header-7 .ui-icon_on {float: right;cursor:pointer;}
/* Theme 7 */

/* Theme 8 */
.portlet_8 {
	border:0px solid #eeeeee;
	position: relative;
}
.portlet_8 .button_right img {
	width:23px;height:13px; border:0;
}
.portlet_8 .tit_left	{
	background:url(../../img/portletThemeImage/portlet_header_img_04_left.png) top left no-repeat;
	height:34px;
	vertical-align:top;
	padding:7px 0 0 0px;
	_padding:8px 0 0 0px;
	color:#000;
	font-size:12px;
	font-weight:bold;
	letter-spacing:-1px;
	text-align:left;
	text-indent:30px;
	border-top:1px solid #eeeeee; 
}
.portlet_8 .tit_right	{
	background:url(../../img/portletThemeImage/portlet_header_img_04_right.png) top right no-repeat;
	height:35px;
	border-bottom:1px solid #eeeeee;
}
.portlet_8 .button_right{
	visibility:visible;
	position:absolute;
	right:15px;
	margin:0;
}
.ui-widget-content-8 {}
.portlet-header-8 {}
.portlet-header-8 .ui-icon {
	float: right; 
	margin-top:8px;
}
.portlet-header-8 .ui-icon_off{cursor:pointer;}
.portlet-header-8 .ui-icon_on {float: right;cursor:pointer;}
/* Theme 8 */

/* Theme 9 */
.portlet_9{
	background:url(../../img/portletThemeImage/portlet_header_img_05_bg.png) top right no-repeat; 
	position: relative;
}
.portlet_9 .button_right img {
	width:4px;height:7px; border:0;
}
.portlet_9 .tit_left	{ 
	background:url(../../img/portletThemeImage/portlet_header_img_05_left.png) top left no-repeat;
	height:39px;
	vertical-align:top; 
	padding:12px 0 0 0px;
	_padding:13px 0 0 0px; 
	color:#fff; 
	font-size:12px; 
	font-weight:bold; 
	letter-spacing:-1px; 
	text-align:left;  
	text-indent:15px;
}
.portlet_9 .tit_right	{ 
	background:url(../../img/portletThemeImage/portlet_header_img_05_right.png) top right no-repeat; 
	height:39px; 
/* 	width:170px; */
	width:50%;
}
.portlet_9 .button_right{
	visibility:visible;
	position:absolute; 		
	top:12px;	
	right:10px;	
	margin:0;
}
.ui-widget-content-9 {}
.portlet-header-9 {}
.portlet-header-9 .ui-icon { 
	float: right; 
}
.portlet-header-9 .ui-icon_off{cursor:pointer;}
.portlet-header-9 .ui-icon_on {float: right;cursor:pointer;padding-top:5px;padding-left:3px}
/* Theme 9 */


