.ui-widget-content { border: 0px solid #dddddd; color: #000000; border-bottom:1px solid #dddddd}

.portlet-header { 
	margin: 0.2em; 
	padding-bottom: 4px; 
	padding-left: 0.2em; 
	font-size:12px;
	font-weight:bold;
	background-color:#ffffff;
}

.portlet-header .ui-icon { float: right; }
