.ui-widget-content { border: 1px solid #009999; color: #FFFFFF; }

.portlet-header { 
	margin: 0.2em; 
	padding-bottom: 4px; 
	padding-left: 0.2em; 
	font-size:12px;
	font-weight:bold;
	background-color:#ffffff;
}
.portlet-header .ui-icon { float: right; }
